<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/navbar.ejs'); %>
  <!--header-->
<header>

  <section class="container">
            <h1 class="h1-blog"> error 404 lo sentimos esta pagina no existe </h1>
            <p>rehabilitacion en la comodidad de tu hogar</p>
  </section>

  
</header>   
<!-- contenido y servicios -->
  <!-- section main-->
  <main class="main-blog">
    <h2>error 404 pagina no encontrada</h2>

<!-- contenido y servicios -->

<h2>si deseas otra informacion sigue las siguientes categorias</h2> 

<h3> categorias y articulos  te pueden interesar</h3>

  </main>
  <%- include('partial/precios.ejs'); %>
  <%- include('partial/comentarios.ejs'); %>
  <%- include('partial/footer.ejs'); %>
  <%- include('partial/boton.ejs'); %>
  </body>
  <script src="../js/action.min.js"></script>      
  </html>

