<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>
<%- include('partial/navbar.ejs'); %>
<body>
  <%- include('partial/tagmanager.ejs'); %>
<div class="section container">
    <h1 class="grey-text text-darken-3  flow-text"><%= tiTuloh1%></h1></div>
   
    <%- include('partial/slideer.ejs'); %>
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>