<!DOCTYPE html>
<html lang="es-CL">

 

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#317EFB">
    <!-- meta etiquetas de region especifica del sitio -->
    <meta name="google-site-verification" content="k0ifTL9HEpSv6O2o5-koMb6yDs9HI_Z2hLJRUNrDto8">
    <meta name="geo.region" content="CL-RM">
    <meta name="geo.placename" content="Santiago">
    <meta name="geo.position" content="-33.44889;-70.669265">
    <meta name="ICBM" content="-33.44889, -70.669265">
    <meta name="robots" content=" noindex ">
    <meta name="keywords" content="kinesiologo a domicilio, kinesiologia, kinesiologo, acupuntura, rehabilitacion, respiratorio, traumatologia, neurologia, deportivo, adulto mayor, medicina china">
    <meta name="description" content=" error 404 pagina no encontrada ">
    <link rel="canonical" href=" error 404">
    <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.png">
    <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.png"/>
    <!--   metas de redes sociales-->
    <meta property="fb:app_id" content="342670069681285">
    <meta property="og:locale" content="es_CL">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
    <meta property="og:image:type" content="image/webp">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="300">
    <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
    <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
    <meta property="og:url" content="http://www.kinesishouse.cl/">
    <meta property="og:site_name" content="kinesis house">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
    <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
   
       <!--precarga de fuentes-->
   <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
   <link rel="dns-prefetch" href="https://fonts.gstatic.com/"">

    
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--preload css y js-->
   <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link rel="preload" href="/public/css/style.min.css">
   <link rel="preload" href="/public/css/media.min.css">
   <link rel="preload" href="https://code.jquery.com/jquery-2.1.1.min.js" as="script">
   <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" as="script">

   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">  
   <link rel="stylesheet" href="/public/css/style.css">
   <link rel="stylesheet" href="/public/css/media.css" media="screen and (min-width: 375px) and (max-width: 891px)">

    
    
   <script async type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "LocalBusiness",
        "name" : "kinesiólogo a Domicilio",
        "description": "Servicio de kinesiologia a Domicilio en sector oriente de la capital, patologias de traumatologia, respiratoria y neurologia,
        "image" : "http://www.kinesishouse.cl/images/Respiratoria_jpg.webp",
        "telephone" : "+56956833633",
        "email" : "kinesishouse@gmail.com",
        "address" : {
        "@type" : "PostalAddress",
        "addressLocality" : "Vitacura Región Metropolitana",
        "addressRegion" : "metropolitana",
        "addressCountry" : "chile",
        "postalCode" : "8320000",
        "geo": {
            "latitude": -33.4247879,
            "longitude": -70.5174976075393
        }
        },
        "openingHoursSpecification" : {
        "@type" : "OpeningHoursSpecification",
        "dayOfWeek" : {
        "@type" : "DayOfWeek",
        "name" : "Lunes a Sábado 8:00-20:00"
        }
        },
        "url" : "http://www.kinesishouse.cl/",
        "review" : {
        "@type" : "Review",
        "author" : {
        "@type" : "Person",
        "name" : "Paulo Silva"
        },
        "reviewBody" : "servicio de kinesiología a domicilio  en las comunas del sector oriente de la capital"
        "reviewRating": {
            "ratingValue": 5,
            "bestRating": 5
            }
         }
        }
</script>

    <title>lo sentimos esta pagina no existe</title>
       
</head>

<body>
  <%- include('navbar/navbar.ejs'); %>


  <%- include('botones/menu-flotante.ejs'); %>


	<main>
		<!-- Sección de presentación de servicios -->
		<section class="section">
			<div class="container">
				<h2 class="center-align">Nuestros servicios</h2>
				<div class="row">
					<div class="col s12 m4">
						<div class="card">
							<div class="card-content">
								<span class="card-title">Acupuntura Tradicional China</span>
								<p>La acupuntura es una técnica milenaria que consiste en la inserción de agujas en puntos específicos del cuerpo con el fin de equilibrar la energía y promover la curación natural del organismo.</p>
							</div>
							<div class="card-action">
								<a href="#">Más información</a>
							</div>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="card">
							<div class="card-content">
								<span class="card-title">Auriculoterapia</span>
								<p>La auriculoterapia es una técnica que utiliza la estimulación de puntos específicos del oído para tratar diversas afecciones del cuerpo y de la mente.</p>
							</div>
							<div class="card-action">
								<a href="#">Más información</a>
							</div>
						</div>
					</div>
        	<div class="col s12 m4">
						<div class="card">
							<div class="card-content">
								<span class="card-title">Acupuntura Tradicional China</span>
								<p>La acupuntura es una técnica milenaria que consiste en la inserción de agujas en puntos específicos del cuerpo con el fin de equilibrar la energía y promover la curación natural del organismo.</p>
							</div>
							<div class="card-action">
								<a href="#">Más información</a>
							</div>
						</div>
					</div>
          <br>
          <br><br><br><br>
        
          <section class="container">
            <h3>Preguntas Frecuentes</h3>
            <ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">help_outline</i>¿Qué es la acupuntura?</div>
                <div class="collapsible-body"><span>La acupuntura es una técnica milenaria originaria de China que consiste en la inserción de agujas delgadas en puntos específicos del cuerpo para estimular el flujo de energía y promover la curación.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">help_outline</i>¿Cómo funciona la acupuntura?</div>
                <div class="collapsible-body"><span>La acupuntura funciona estimulando los nervios, músculos y tejidos conectivos del cuerpo para aumentar el flujo de sangre y oxígeno y promover la curación natural.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">help_outline</i>¿Cuáles son los beneficios de la acupuntura?</div>
                <div class="collapsible-body"><span>La acupuntura puede ayudar a tratar una amplia variedad de condiciones de salud, como el dolor de espalda, la ansiedad, el insomnio, la migraña y más. También puede ser utilizada como un complemento de la kinesiología para ofrecer un tratamiento más completo y efectivo.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">help_outline</i>¿Qué es la medicina china?</div>
                <div class="collapsible-body"><span>La medicina china es un sistema completo de atención médica que se basa en la teoría del yin y el yang, y la idea de que el cuerpo está compuesto por cinco elementos: madera, fuego, tierra, metal y agua. La medicina china incluye técnicas como la acupuntura, la moxibustión, la terapia herbal y más.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">help_outline</i>¿Cómo se combina la acupuntura y la kinesiología?</div>
                <div class="collapsible-body"><span>La acupuntura y la kinesiología se complementan muy bien, ya que ambas técnicas se centran en el bienestar físico y emocional del paciente. La acupuntura puede ser utilizada para tratar dolores musculares y articulares, mientras que la kinesiología puede ayudar a identificar y corregir desequilibrios en el cuerpo que puedan estar causando el dolor.</span></div>
              </li>
            </ul>
          </section>
        
        
        
  

  


      <%- include('partial/precios.ejs'); %>
      <%- include('partial/comentarios.ejs'); %>
    
      <%- include('botones/boton.ejs'); %>

      <%- include('footers/footer.ejs'); %>
    
      </body>
      
      </html>