<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>
<%- include('partial/navbar.ejs'); %>
<body>
  <%- include('partial/tagmanager.ejs'); %>
<div class="section container">
    <h1 class="grey-text text-darken-3  flow-text"><%= tiTuloh1%></h1></div>
     <%- include('partial/slideer.ejs'); %>
    <div class="container">
     <div class="row">
       <div class="col s12 m10 offset-m1 l9 offset-l1">
           <h2 class="flow-text">Kinesiología en geriatría (adulto mayor)</h2>
           <p>
            

Esta es una <strong>kinesiología</strong>  que busca enfocar un tratamiento de manera integral al adulto mayor ya que el kinesiólogo es el único profesional preparado que puede indicar y aplicar ejercicios a pacientes con
 patologías musculo, esqueléticas, respiratorias, neurológicas o metabólicas.

Los pacientes <strong>geriátricos</strong>  presentan muchas alteraciones funcionales, por lo mismo aquí el tratamiento debe enfocarse en las necesidades integrales y multidisciplinarias. <strong>El kinesiólogo</strong>  debe saber 
adaptar las sesiones según las necesidades del paciente, por lo mismo las evaluaciones deben ser constantes por lo mismo el tratamiento debe ser interdisciplinario
 <strong>La terapia</strong> puede ser enfocada a hogares de ancianos, grupos de adultos mayores, 
<strong>atención a domicilio</strong>  todo donde sea más cómodo para el paciente
Este tipo de enfoque de tratamiento es ideal para pacientes que presenten poca movilidad o <strong>condición de postrados</strong> 
Además que se pueden enfocar tratamientos específicos como programas de ejercicios  o entrenamiento personalizado para mejorar factores metabólicos como resistencia a la insulina, diabetes,
 enfermedades cardiovasculares etc. Con objetivos de mejorar factores de riesgos que son recurrentes en personas mayores o adultos jóvenes como HTA (hipertensión arterial).
La OMS recomienda como mínimo realizar 3 veces a la semana ejercicios con un mínimo de 30 min.
La implementación de ejercicios en adultos mayores es enfocada también para reducir los riesgos de caída, mejorar la coordinación, junto con la secreción de endorfinas endógenas que pueden ayudar a mejorar el bienestar general
El tratamiento que aplica la <strong>kinesiología del adulto mayor</strong>  se basa en:
<ul>
    <li>Movilización articular.</li>
    <li>Ejercicios de activación.</li>
    <li>Ejercicios respiratorios</li>
    <li>Educación cuidadores y familiares</li>
    <li>Terapias específicas según sea el caso</li>
</ul>

<h2>Patologías frecuentes en geriatría y su enfoque de tratamiento en kinesiología</h2>

<h3>Artrosis: </h3>es una lesión que consiste en la destrucción del cartílago articular, por daño traumático acumulativo (el dolor por lo general se asocia al daño al hueso subcondral donde se encuentran las terminales nerviosas sensitivas). En el interior de las articulaciones existe, generalmente, un fluido llamado líquido sinovial que es producido por la membrana sinovial. Los extremos óseos que se unen para formar la articulación están recubiertos por el cartílago articular.
Cuando este cartílago articular se lesiona, se produce dolor, rigidez e incapacidad funcional. Normalmente la artrosis se localiza en la columna cervical y lumbar, algunas articulaciones del hombro y de los dedos de las manos, la cadera, la rodilla y la articulación del comienzo del dedo gordo del pie.
 La artrosis por lo general cursa con rigidez articular y dolor producto de la deformación articular es más recurrente en adultos mayores, a diferencia de la artritis reumatoide que es una enfermedad autoinmune inflamatoria y que puede ocurrir en cualquier edad. Existen factores de riesgos que pueden predisponer a la aparición de esta enfermedad como la obesidad y el sedentarismo
<h3>Patologías respiratorias:</h3> las más recurrentes son EPOC, fibrosis pulmonar, neumonías, bronquitis
<h3>Accidentes cerebro vascular:</h3> generalmente debido a factores de riesgo como HTA, DMII, dislipidemias, arterioesclerosis, patologías cardiacas
<h3>Patologías cardiovasculares:</h3> todas en la que se incluya alguna alteración de la función cardiaca, como arritmias, infartos agudos al miocardio, cardiomegalia. Todos ellos condicionan una alteración en la funcionalidad global del paciente provocando alteraciones de disnea al esfuerzo
<h3>Patologías metabólicas: </h3>obesidad, diabetes mellitus, condiciones generales que fomentes la falta de actividad física 
<h3>Parkinson:</h3> patología neurológica degenerativa La enfermedad de Parkinson es una enfermedad progresiva del sistema nervioso esto quiere decir que con el paso del tiempo sus síntomas irán aumentando y empeorando esta afecta el movimiento, incluyendo marcha y equilibrio, los cuales son hitos importantes en los procesos de independencia. Los síntomas comienzan gradualmente. A veces, comienza con un temblor apenas perceptible en una sola mano. Los temblores son habituales, aunque la enfermedad también suele causar rigidez o disminución del movimiento. Por lo general los pacientes se benefician del enfoque de tratamiento en disminuir los riesgos de caídas, rigidez musculares, tendinosa o articulares, adquieren mayor estrategia para las actividades de la vida diaria. En las últimas fases de esta patología el paciente cursara con un proceso de inmovilidad total, en esta fase requerida la máxima ayuda por el proceso de postración que producirá
<h3>Alsaimer:</h3> patología neurológica degenerativa donde la persona puede la memoria progresivamente, afectando el lenguaje, el juicio y todas las condiciones y funciones de la vida diaria en caso de que progrese más la enfermedad

Como ayudar en casa a mi familiar
Para mayor independencia de los usuarios de la kinesiología a domicilio se incluirá aquí  mismo un programa mínimo para que puedan seguir en casa que contara con algunas recomendaciones de ejercicios con mínimos de riesgos para los pacientes pero que ayudara a la mantención de ciertos patrones básicos para poder lograr reducir los efectos del reposo prolongado o el sedentarismo


<h2>Ejercicios para extremidad superior </h2>
<ul>
    <li>Movilizar en círculo los hombros hacia adelante y atrás repetir 10 veces : la idea con esto es activar de manera parcial la musculatura rotadora de hombro para estimular articulaciones tendones y músculos</li>
    <li>Subir y bajar los hombros :activar la musculatura de trapecios</li>
    <li>Rotaciones de cabeza: básicamente consiste en girar suavemente la cabeza y cuello en sentido horario y anti – horario para trabajar la musculatura de cuello y mejorar su flexibilidad, ideal ejecutar el ejercicio sentado para no generar problemas de mareos o sintomatología en el sistema vestibular que pudiese generar alguna caída</li>
    <li>Con los brazos en flexión anterior y codos extendidos abrir  y cerrar dedos en máxima velocidad para poder estimular la musculatura de antebrazo. Este ejercicio ideal ejecutarlo entre 1 minuto a 30 segundos</li>
    <li>Rotación de cadera y tronco: la finalidad es estimular el movimiento de la musculatura de cadera para lograr mayor flexibilidad y elasticidad del componente musculo tendineo</li>
    <li>Ejercicios con mancuernas de flexión de codo 20 repeticiones por lado (si no posee mancuernas con botellas plásticas de 500cc agregando arena puede lograr una mancuerna artesanal) </li>
</ul>

Se compone su ejecución de 10 rotaciones en sentido horario y anti horario

<h2>Ejercicios para extremidad inferior</h2>
<ul>
    <li>Sentadillas: ideal esta ejecución realizarla de pocas series (ideal entre 10 a 15) y repetir 3 veces, el objetivo es fortalecer la musculatura de cuádriceps para reducir con ello los riesgos de caídas y mejorar la condiciones cardiovasculares (ideal controlar factores como presión arterial y frecuencia cardiaca)</li>
    <li>Elevación con punta de pies: ideal lograr un máximo de 15 a 20 repeticiones</li>
    <li>Flexión de cadera apoyado en una silla, ideal lograr 20 a 30 repeticiones por lados, el objetivo es fortalecer la musculatura de cadera y aumentar la resistencia al esfuerzo</li>
    <li>Abducción de cadera en posición de pie afirmado de una silla: la musculatura abductora de cadera es un principal actor en el equilibrio dinámico de la extremidad inferior, por lo mismo es ideal fortalecerlo constantemente</li>
    <li>Ejercicios de puente para mejorar la activación de musculatura glútea, abdominal y lumbar</li>
</ul>

Ideal mantener la posición isométrica durante 30 segundos a 1 minuto

<h2>Estiramientos músculos tendineos</h2>
Estiramientos básicos de extremidad inferior con ayuda externa (pasivo asistido)
Este ejercicio se puede realizar con la ayuda de algún familiar en que se buscara generar una flexión de la cadera con la rodilla extendida para estimular el estiramiento de la musculatura de la corva

Ahora si se cuenta con mayor independencia se puede usar una sabanilla para lograr la extensión de la zona
Ideal mantener la posición por lo menos 20 segundos, repetir 3 veces cada zona
<h2>Estiramiento de muñecas</h2>

Con el brazo (codo) extendido se colocara la mano en pronación (como en la imagen) flectando la muñeca y manteniendo la posición por un periodo de 20 segundos, repetir por 3 veces 
Para estirar los flexores de muñeca el movimiento es contrario, mano en supinación se lleva muñeca y dedos hacia la extensión, mantener la posición por 20 segundos y repetir 3 veces

<h2>Estiramiento de trapecio básico</h2>
Esto va enfocado a la musculatura de cuello lateral
Se posiciona la cabeza de manera lateral con el objetivo de acercar la oreja al hombro
Se tensa la posición con la ayuda de la mano del mismo lado que se quiera estirar 
Mantener la posición por 20 segundos y repetir 3 veces

Esto todo es en estricta medida algo muy básico para realizar en casa , siempre es ideal contar con la ayuda del kinesiólogo el cual puede estar pendiente de las patologías asociada que puede presentar el paciente para así poder evitar lesiones o alteraciones que gatillen alguna respuesta no deseada
Esto es un instructivo a modo de ayuda para los pacientes ya que la organización mundial de la salud (OMS) recomienda como mínimo un total de ejercicios de 3 veces por semana con un horario mínimo de 30 minutos

Hola a todos soy kinesiólogo titulado el año 2014, he realizado muchos cursos y post títulos. Este sitio webs está enfocado en las personas que buscan soluciones a sus procesos de rehabilitación de manera fácil, se publicaran algunos post donde se explicaran patologías y sus enfoques de tratamiento además de algunas recomendaciones que puedan implementan en casa


           </p>
    
    
    
      </div>
      
      <div class="container left-align">

        <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
        </div>
    
       </div>
     </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>