<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>

   <!-- <%- include('partial/slideer.ejs'); %>-->
>
   <div class="container">
     <div class="row">
      <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a  y ARTROSIS DE RODILLA</h2>
           <p>
               
La artrosis de rodilla es una lesión acumulada en el tiempo por lo general es habitual y evidente en pacientes adultos mayores aun así esta comienza a manifestarse a edades más tempranas, la causa es consecuencia de deportes de impacto repetitivos sin posibilidad para el organismo de una adecuada recuperación como el fútbol o el correr (runners), por lo que se recomienda usar el equipamiento necesario que ayudará a prevenir el desgaste del cartílago además de la dosificación pertinente en los métodos de entrenamiento o trabajo físico.

<h2>QUE ES EL CARTILAGO Y COMO SE DISTRIBUYE NE LA RODILLA</h2>
La Artrosis de Rodilla es el daño y desgaste del cartílago  y  hueso subcondral se establece que lo que duele es principalmente esta última zona por sus terminaciones nerviosas ya que el cartílago no pose inervación sensitiva. El cartílago se forma durante el periodo de gestación y cubre las zonas Oseas que articulan con otro, siendo un elemento que ayuda a la amortiguación o disminución del roce, éstas superficies son muy lisas, además que contiene una pequeña cantidad de líquido sinovial (producido por las membranas sinoviales), permiten que el coeficiente de roce articular sea mínimo y no se produzca desgaste de estas superficies articulares.
La rodilla está compuesta por tres estructuras: el Fémur, la Tibia y la Rótula o Patela, lo que la divide en tres zonas: Femorotibial Medial, Lateral y femoralPatelar. En la artrosis de rodilla se pueden involucrar uno, dos o los tres compartimentos.
Se denomina Osteocondritis a lesiones localizadas del cartílago, que comprenden  desde un ablandamiento (Grado I), evolucionando a surcos y Fasciculaciones, terminando en Grado 4  que se produce exposición ósea (Artrosis). El término Condromalacia se asocia a la Osteocondritis, que se produce en la superficie articular de la Rótula.
<br>
<br>
<h2>¿COMO QUÉ SE PRODUCE LA ARTROSIS DE RODILLA?</h2>
Es por dos principales factores:
En primer lugar aquella que se produce en adultos mayores y factores hederitarios, afectando a varias articulaciones o enfocadas en zonas de mayor estimulo, principalmente en aquellas que son de carga y en las pequeñas como las de las manos y los pies, lo que se denomina Enfermedad Artrósica. La Rodilla es una de las más comúnmente afectadas y habitualmente involucra los tres compartimentos en forma simultánea esta habitualmente se la conoce como gonartrosis o gonalgia términos asociados a artrosis de rodilla o dolor en la rodilla.
Otra forma de provocar esta lesión son las Artrosis Secundarias que provienen del desgaste inducido por alguna alteración estructural. Estas alteraciones estructurales pueden ser Biomecánicas o Post-Traumáticas.
Se llaman Biomecánicas a aquellas generadas por una alteración anatómica de la distribución de las cargas de peso o trabajo de la articulación, por ejemplo cuando un usuario presenta un Genu Varo (incurvacion de las rodillas hacia afuera, común en niños hasta los 3 a 4 años), en que el ángulo generado entre la zona femoro-tibial a nivel de la rodilla es abierto a medial, lo cual lleva a que el eje mecánico de carga sea mayor en el compartimento femoro-tibial medial provocando un mayor desgaste en esa zona de la rodilla, dañando  el cartílago progresivamente hasta llegar a una artrosis del compartimento medial (por lo general es la zona más dañada ya que en cualquier condición siempre es la zona que recibe mayor carga de peso).
Las artrosisTraumáticas son aquellas en que el daño es generado por la modificación de la cohesión articular productos de una fractura que puede ser de impacto directo en la articulación o una fractura intertransversa que termine afectando la continuidad articular, es decir que las superficies colindantes tengan una relación perfecta, desgarros meniscales que generan un flap, como una lengüeta, van a sobreponerse en el movimiento de la rodilla, generando un roce anormal y por consiguiente un daño acelerado de la superficie articular. Las fracturas que comprometan la superficie articular y no queden perfectamente reducidas, colocadas en su posición original, provocaran un desgaste anormal y llevarán a una artrosis de rodilla.
 

<h2>¿QUE DEPORTES QUE SON PROPENSOS A GENERAR FUTURA ARTROSIS?</h2>
Las actividades deportivas  que más generan daño a la rodilla son aquellos de impacto repetitivo, 
especialmente de contacto y que involucran rotaciones y flexiones repetitivas, esto evita la capacidad del 
organismo de auto reparación y compensación frente a la carga de trabajo generando el daño ya sea progresivamente o de inmediato en el proceso de una fractura directa  en la zona. Se califican entre ellos el fútbol, artes marciales y runners, entre otros. Cabe destacar que los deportes competitivos en general provocan gran daño de los cartílagos de la rodilla.
<h2>SÍNTOMAS ARTROSIS DE RODILLA</h2>
Generalmente las dolencias son al comenzar la actividad de la caminata, al pararse después de un largo periodo sentado o al bajar de la cama. También se refieren dolores progresivos durante las actividades de la vida diaria, con o sin aumento de edema, pero que van disminuyendo la capacidad funcional.
Otro síntoma normal de la artrosis de rodilla es la disminución de la movilidad, se altera la movilidad en sus rangos máximos y hay aumento de volumen de edemas posterior  de hacer una actividad física mayor.
<h2>DIAGNÓSTICO GONOARTROSIS</h2>
Todo dependerá del daño. El diagnóstico de radiografía  es más tardío en cuanto a lo que se espera en evitar la sintomatología o daño por gonartrosis, o sea, cuando ya uno ve en imágenes radiográficas con esclerosis (mayor condensación cálcicas, por lo que la radiografía se ve más blanca), osteofitos estructuras como picos de loro o quistes subcondrales, por lo general ya es una artrosis más avanzada.
En estadios precoces se diagnostican con Resonancia Magnética, en la cual se puede ver la lesión del cartílago, ya sea localizada como una Osteocondritis o Difusa en las Artrosis Tricompartimentales.
 

<h2>TERAPIA Y REHABILITACION</h2>
Puede ser Médico-Kinésico o Quirúrgico.
En las situaciones en que hay una artrosis difusa sin una causa corregible quirúrgicamente, los usuarios podrán realizar un tratamiento farmacológico que incluye el uso de antiinflamatorios a largo plazo, kinesiterapia con fortalecimiento de la musculatura, que de alguna manera es un amortiguador, el uso de medicamentos fortalecedores del cartílago, tales como la Glucosamina o el Ácido Hialurónico, que se implemente como suplemento junto con el colágeno. 
Cuando existe artrosis unicompartimental, la cual se encuentra asociada a una secuela traumática o deformación, se sugiere realizar cirugía, especialmente si son jóvenes, corrigiendo estas alteraciones del eje biomecánico con alguna osteotomía femoral o tibial, o por otro lado alguna corrección de la posición de la rótula.
En general no es recomendable la inactividad física es algo que debe estudiarse caso a caso. Obviamente los deportes de impacto o de contacto en los usuarios con artrosis van a generar muchos problemas, aun así hay que analizar cuál es la necesidad que tiene en el deporte ese paciente.
Ahora lo primero que se debe solucionar es calidad de vida, de alguna manera regular que el deporte que practique sea de menor impacto.
La solución quirúrgica definitiva para una gonartrosis es el recambio protésico (quitar hueso y cartílago dañado por una estructura mecánica completa), que va a permitir eliminar el dolor y mantener un cierto grado de movilidad que será funcional para las actividades básicas de la vida diaria. Por lo general la recuperación en estos casos en completa y funcional a los 6 meses pudiendo el paciente practicar actividades deportivas recreacionales no competitivas
<h2>REHABILITACION kinesica</h2>
La artrosis de rodilla tendrá un manejo diferente según el daño al cartílago siendo cualquier aplicación terapéutica solo compensatoria en el corto plazo, si se siguen las indicaciones médicas y de kinesiología se puede evitar la progresión de la patología en casos moderados a leves, ya en casos avanzados en necesaria la cirugía. 
En los otros casos se buscara eliminar dolor, inflamación, mejorar flexibilidad y fortalecimiento 
<h2>REHABILITACIÓN KINESIOLOGIA</h2>
<h3>0.- FASE PREOPERATORIA</h3>
OBJETIVO: MEJORAR FLEXIBILIDAD, DISMINUIR DOLOR, FORTALECER CUADRICEP, ISQUIOTIBIAL, ADUCTORES Y MUSCULATURA GLUTEA EN GENERAL, ESTAS ESTRUCTURAS FUERTES Y FLEXIBLES FAVORECERAN A LA ESTUCTURA COMO UNOS AMORTIGUADORES, REDUCIENDO EL AVANCE DE LA PATOLOGIA Y PREPARARAN EN CASO FUTURO DE OPERACIÓN QUIRURGICA
<h3>1.- FASE I POSTOPERATORIA (DÍA 1 A 10)</h3>
<br>
Objetivos: Lograr la contracción activa del músculo cuádriceps, lograr caminata independiente y segura (control isométrico), lograr extender pasiva de la rodilla a 0 grados, lograr flexión de rodilla mínimo de 90 grados y controlar inflamación, dolor, edema y sangramiento
En esta base como medida general se aplican todos los elementos básicos en fisioterapia como lo son crioterapia, vendaje, electro estimulación, ultrasonido
Técnicas de masajes como drenaje linfático manual 
Fortalecimiento de musculatura anexa (glúteo, gastronemios etc.)
<br>
Día 1 a 2 Ejercicios: Flexo-extensión de tobillo paciente acostado con elevación de pierna a 45 grados para bombeo de edema, trabajo  de extensión pasiva de rodilla, electro estimulación de cuádriceps, movilización de pierna con rodilla extendida, estimulación de cuádriceps, flexibilizaciones ligeras de isquiotibiales.
<br>
Día 4 a 10 Ejercicios: continuar con ejercicios de bombeo de tobillo para reducir edemas, extensión pasiva de rodilla para mejorar en la extensión completa, flexión activa-asistida aplicada con ayuda del kinesiólogo, elevaciones de la pierna con rodilla extendida, abducción y aducción de cadera.
Pd. Posterior a la cirugía por experiencia el elemento que genera mayor impotencia funcional edema y dolor en la hinchazón de la rodilla, proceso natural producto de la operación, la media antitrombotica que indican los médicos como  elemento momentáneo para evitar trombos es muy efectiva para el control del edema durante los primeros 2 meses
<h3>2.- FASE II DEL MOVIMIENTO (SEMANA 2-6)</h3>
Objetivos: Mejorar el rango articular, aumentar la fuerza-potencia y resistencia muscular, lograr la estabilidad dinámica de la rodilla, disminuir el edema y la inflamación, establecer el retorno a las actividades funcionales, en esta fase ya se pueden aplicar ejercicios de cadena cinética cerrada, como squad, bicicleta estática para mejorar la movilidad activa de la rodilla y con ellos mejorar la funcionalidad.
Pd. aun así se siguen aplicando inicialmente los elementos tradicionales de fisioterapia
<br>
Semana 2-4 Ejercicios: Fortalecimiento de cuádriceps, ejercicios de extensión de rodilla con rango de 0-90 grados, elevación de EEII con rodilla extendida, abducción y aducción de cadera, entrenamiento de isquiotibiales, squad etc.
<h3>>3.- FASE III INTERMEDIA (SEMANA 5-12)</h3>
Objetivos: mejorar fuerza-potencia y resistencia, control excéntrico y concéntrico de la extensión de rodilla, entrenamiento cardiovascular, desarrollar actividades funcionales.
<br>
Semana 5-10 rehabilitación: seguir con la secuencia de las fases I y II, inicio de un programa de marcha progresivo, inicio de programa de resistencia en cardio-respiratoria, progresar a fortalecimiento de extremidad inferior completa, volver a las actividades funcionales y mejorar  en el control funcional excéntrico y concéntrico de la rodilla.
<h3>4.- FASE IV DE ACTIVIDAD AVANZADA (SEMANA 10-26)</h3>
Objetivos: ideal paciente adulto joven que dese practicar actividad física recreacional (no competitiva), mantener y mejorar la fuerza -resistencia global, retornar al estilo de vida normal.
Ejercicios: Continuar realizando el programa de fisioterapia y mantención, fortalecimiento de EEII de manera global, elevaciones de miembro inferior con rodilla extendida, aducción y abducción de cadera, squad , subir peldaños de lado de frente y bajarlos, ejercicios con carga en maquina según sea tolerado, elongaciones con extensión de rodilla a 0° y con flexión de esta a 105°, inicio gradual de la realización de deportes recreacionales.
PREVENCIÓN
<br>
En general se puede prevenir la progresión de la artrosis. El impacto durante las actividades deportivas, la musculatura débil y falta  de flexibilidad, el sobrepeso y la falta de actividad física son factores que empeoran el pronóstico, 
Además siempre hay que hacer deportes con la indumentaria adecuada, como calzados  que tengan algún sistema de amortiguación evitar superficies demasiado duras y deportes de mucho contacto y golpes, realizarlo en superficies más blandas como arcilla o pasto, medidas que van a disminuir el daño

           </p>
      </div>
      
      <div class="container left-align">

        <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
        </div>
    
       </div>
     </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>