<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>
   <!-- breadcumbs-->
   <nav > 
    <div class="nav-wrapper container">
        <div class="col s12">
          <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/bursitis-trocanter-mayor" class="breadcrumb">bursistis trocanter mayor</a>

        </div>
      </div>
</nav>

<!--fin breadcumbs-->

 

   <div class="container">
     <div class="row">
      <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a  y  BURSITIS DEL TROCÁNTER MAYOR</h2>

           <p>
              
La Bursitis trocanteriana es una afección a la cadera y es muy común en mujeres y también en sujetos que posen alguna constitución anatómica que la provoca.
<h2>¿QUÉ ES LA BURSISTIS DE TROCANTER MAYOR?</h2>
La Bursitis trocánter mayor es la inflamación de la Bursa que cubre la zona anatómica lateral al trocánter mayor. 
Se ubica en la región lateral del muslo, específicamente entre el glúteo y la ingle, este se encarga de evitar el roce excesivo entre los tendones y las estructuras Oseas.
El dolor es muy grande y la molestia se entiende habitualmente en una sintomatología que es persistente o intermitente, pudiendo presentarse en actividades funcionales de la vida diaria y a veces en reposo.
Es una patología cuya irritación es fácilmente activable al esfuerzo o roce, por ejemplo con el uso de ropa muy apretada, estando sedente en el  auto o con estructuras que provoquen compresión local entre la dermis,
la fascia lata (músculo que cubre al trocánter mayor) y las estructuras que están sobre la zona ósea

<h2>¿POR QUÉ SE PRODUCE?</h2>
por lo general es una lesión que se provoca por el efecto de sobre uso, en sencillas palabras el roce repetitivo entre tendones que no soporta la capacidad natural de recuperación de los tejidos termina por provocar este tipo de lesión inflamatoria en la Bursa trocanteria. Por lo general son los tendones de la fascia lata, el tendón del glúteo medio  que son estructuras que se insertan en la zona del trocánter mayor. Por lo general la lesión es frecuente en deportistas, en particular en los futbolistas y rugbistas, quienes por la intensidad de juego tienden a lesionarse
Puede ser de origen traumático por fuertes golpes en la zona o de razón idiopática.
Este tipo de bursitis es más común en mujeres, también en sujetos que tienen alguna constitución anatómica que la provoca, como tener la banda iliotibial con algún contacto anatómico anómalo, que hace que se produzca la mayor fricción, siendo está causa algo más segundaria
<h2>SIGNOS Y SÍNTOMAS </h2>
Los principales síntomas de esta lesión son dolor lateral del muslo referido a la zona del trocánter mayor, irritación por alguna prenda de vestir, un poco de marcha claudicante, dificultad para subir o bajar escaleras, dolor al estar sentado, dolor al cruzar las piernas y dolor al  agacharse, etc.
Además esto es fácil detectarlo con imagenologia de tejidos blandos (ecografía)
<h2>DIAGNÓSTICO</h2>
El diagnóstico de esto es por segunda instancia, toda vez que se evalúa otras patologías que tienen mayor importancia o que generan  mayor daño en la zona y recién ahí se diagnostica la bursitis trocanteriana, cuando se ha descartado otra lesión.
Realizar una ecografía de tejidos blandos que permitirá detectar un aumento de volumen de, de edemas o de alguna señal que confirme la lesión. Además se puede realizar un examen más sofisticado como una tomografía o una resonancia nuclear magnética, que servirán para descartar patologías más graves.


<h2>TRATAMIENTO o terapia</h2> 
Es una lesión de tratamiento lento y largo ya que la Bursa es una estructura inflamada que está cerrada si se puede decir en cierta manera, lo que provocara muchas veces que los elementos farmacológicos indicados por el médico no sean de mucho efecto, esto genera a la larga que el paciente sienta que los esfuerzos no son efectivos y tienda a probar otras cosas es posible además que con el tiempo la lesión pase.

Como en muchos casos la causa detonante no se conoce, se empieza por la parte básica del tratamiento, que es la aplicación de farmacología antiinflamatoria, analgésico, crioterapia, evitar el sobre esfuerzo que gatille la lesión, tanto en los músculos abductores y glúteos. Evitar condiciones  que produzcan lesión o dolor en la región de la cadera.
Dentro del tratamiento convencional muchos pacientes se recuperan pero en menor porcentaje siendo una buena opción la infiltración
La aplicación terapéutica implementada por el profesional de la kinesiología consistirá en 
Electro estimulación sensitiva, ultrasonido y crioterapia, como mecanismo para disminuir el dolor y los procesos inflamatorios, además de ejercicios de masajes en algunas condiciones locales o distales
Ejercicios de reeducación de las condiciones que general la lesión
Otros elementos muy buenos es la aplicación de acupuntura para disminuir el dolor y efectos inflamatorios
Por último, en casos escasos se llega a la cirugía, aunque los médicos no  aseguran que tendrá éxito la cirugía.
<h2>RECUPERACIÓN</h2>
Por lo general el periodo de tratamiento para este tipo de patologías contempla entre 3 a 4 meses en la forma convencional, ya ahora si es por medios de medidas quirúrgicas estas pueden tomar como entre 6b a meses a 1 año Con en cuanto  a los resultados, esta lesión es de tipo recurrente por lo que puede mejorar y volver constantemente, ya que dependerá de los factores biomecánicos que provocaron el exceso de roce sobre la estructura generando el aumento del roce y con ellos la bursitis
<h2>PREVENCIÓN</h2>
Lo recomendable inicialmente es tener una buena rutina de flexibilización de la musculatura en general para evitar que un exceso de roce por falta de flexibilidad genere la lesión
Es importante además tener un buen fortalecimiento de la musculatura encargada de estabilizar la estructura como lo es glúteo medio y su componente  de estabilizador dinámico, y en general toda la musculatura del CORE.
En ocasiones es ideal además poder contar con alguna sesiones con masajista para liberar de manera más específica y profesional las estructuras musculo tendinosa
Se suma además una adecuada técnica de entrenamiento en caso de deporte, esto incluye vestimenta, superficies de entrenamiento y dosis de entrenamiento.

Si en cualquier caso presentan este tipo de lesiones y las medidas profilácticas tradicionales no son efectiva también es bueno recurrir a elementos no tan comunes, como lo es la medicina tradicional china que en los últimos años ha presentado resultados importantes en diversas patologías, tanto así que la misma OMS ya la acepta como un elemento terapéutico 


           </p>

      </div>
      
      <div class="container left-align">

        <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
        </div>
    
       </div>
     </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>