<html lang="es-CL">

<%- include('heads/head.ejs'); %>

<body>
  <%- include('navbar/navbar.ejs'); %>
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/fractura-rotula" class="breadcrumb">fractura rotula</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

 

   <div class="container">
     <div class="row">
      <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a  en FRACTURA DE RÓTULA  </h2>


           <p class="p_blog">
              Esta como tipo de lesión de fractura tomara alrededor de 6 a 12 semanas, esto dependerá del daño y si existen elementos de osteosíntesis
           </p>
             <h3>DEFINICIÓN</h3> 
             <p class="p_blog">
              La fractura de la rótula es observada frecuentemente en los servicios de urgencia el tipo de lesión va a depender en cuantos fragmentos se fractura esta estructura pueden variar desde un fragmento hasta una lesión conminuta
              Generalmente el mayor número de este tipo de lesiones se asocia a lesiones en el vehículo, pues no son las únicas ya que también se presenta en determinados deportes.
             </p>

             <h3> ¿QUÉ MECANISMO DE LESION LA PROVOCAN?</h3>
             <p class="p_blo">
              La forma de fractura en esta estructura es por un golpe directo, por una tracción excesiva en el tendón o por una combinación de ambos factores.
              En las condiciones más habituales se observa en accidentes automovilísticos, de motocicleta, o deportes de mayor contacto como el rugby o futbol.
              Según el tipo de lesión
              <ul>
                <li>	Transversas, esta es La más frecuente </li>
                <li>Verticales, el trazo de la lesión en como su nombre lo dice vertical</li>
                <li> Marginales, es como decir que solo fragmentos de los extremos terminan por lesionarse</li>
                <li>Osteocondrales, lesión al cartílago que existe bajo la patela </li>
                <li>Conminutas esto se refiere a lesión de varios fragmentos que son inestables</li>
              </ul>
             </p>

              <h3> DIAGNÓSTICO</h3>
              <p class="p_blog">
              A simple viste existe aumento de volumen e impotencia funcional de la extremidad afectada
              Aumento de volumen dolor e impotencia funcional serán unos de los primeros signos clínicos en evidenciar la lesión además a la palpación se puede percibir la inestabilidad de la estructura
              Por regla general lo primero es la toma de radiografía para evidencia la lesión, mas excautivo es la toma de tomografía que puede dar una visión de mejor calidad o la resonancia magnética, esto ya para determinar el tipo de intervención quirúrgica.
              .
              Durante el examen físico se debe evaluar dirigidamente la capacidad de extensión activa de la pierna (al menos contra gravedad), ya que, de no poder efectuar ese movimiento, tendrá una indicación de cirugía.
              Una vez sospechada la presencia de fractura de rótula, se procede a corroborar el diagnóstico mediante radiografías simples en posición antero-posterior, lateral y axial. Estas últimas ayudan a definir la presencia de fracturas osteocondrales.
              </p>

             <h3>TRATAMIENTO GLOBAL</h3>
             <p class="p_">
              El tratamiento deberá seguir los lineamientos por lo general del tipo quirúrgico y conservador de manera conjunto, en el esquema quirúrgico se buscara anclar con elementos de osteosíntesis los fragmentos desplazados para poder lograr estabilizar la fractura
              Se esperara por un periodo de 4 semanas inicialmente para poder trabajar con la kinesiología y comenzar con el estándar de tratamiento de fractura en que se buscara
              Disminuir inflamación, dolor y mejorar movilidad articular
              Para a futuro mejorar los rangos de fuerza y funcionalidad global del paciente
              El periodo global de recuperación rondara entre las 8 semanas.
            </p>
              <h3>¿COMPLICACIONES?</h3> 
              <p class="p_blog">
              Complicaciones como la seudo artrosis (no consolidación de la fractura) pueden ocurrir pero no son muy frecuentes, limitación en los rangos articulares se pueden evitar con el correcto tratamiento de rehabilitación, otras pueden ser infecciones que son comunes y posibles riesgos en cualquier intervención quirúrgica.
            </p>
              <h3>  REINTEGRO FUNCIONAL </h3>
              <p class="p_blog">
              Los objetivos de rehabilitación serán enfocados progresivamente en disminuir el dolor y edema
              Se buscara mejorar las condiciones de rangos articulares flexibilidad y fuerza, incluyendo elementos de propiocepcion para recuperar el equilibrio

              </p>
        </div>
      
     
     </div>
    </div>
   
    <%- include('botones/boton.ejs'); %>      
    <%- include('botones/menu-flotante.ejs'); %>      

    <%- include('footers/footer.ejs'); %>
    </body>
    
    </html>