<%- include('head'); -%>	
<%- include('navbar'); -%>

<body>
  <%- include('tagmanager'); -%>

    <h1 class="grey-text text-darken-3  flow-text"><%= tiTuloh1%></h1>
    <%- include('slider'); -%>
<<<<<<< HEAD
  
=======
>>>>>>> develop
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
         
          <div class="row center">
            <h2 class="header grey-text text-darken-3  flow-text">rehabilitacion en la comodidad de tu hogar</h2>
          </div>
          
          <br><br>
    
        </div>
      </div>
    <hr>

      <div class="container">
        <div class="section">
    
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                <h3 class="center">atencion 1 hr</h3>
    
                <p class="light">dedicacion exlcusiva al paciente con total interes en sus necesidades</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">kinesiologia integral</i></h2>
                <h3 class="center">tratamiento en base a traumatologia, respiratorio, neurologia</h3>
    
                <p class="light">capacidad profesional de adaptar el tratamiento a secuela multi-patologicas</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">equipos e insumos</i></h2>
                <h3 class="center">portatil</h3>
    
                <p class="light">todo el qeuipamiento nesario en aspectos de fisioterapia para la maxima recuperación</p>
              </div>
            </div>
          </div>
    
        </div>
        <br><br>
      </div>

 <hr>
 <div class="section white" id="features">

  <div class="row">
      <div class="col s12 m6 l6 center" >
          <img class="responsive-img" src="images/Neurologia.webp">
        </div>
    <div class="col s12 m6 l6">
      <h2 class="grey-text text-darken-3  flow-text">Kinesiologia en Rehabilitación Neurológica a domicilio</h2>
      <p class="grey-text text-darken-3  flow-text text-justify">

        ¿a quien va dirigido? aplicaciones de terapia que se incluyen en el servicio,
        se enfoca a pacientes con todo tipo de alteraciones neurológicas, entre las más
        comunes están: accidentes cerebro vasculares,
        traumatismos encéfalo-craneanos y medulares, paraplejías, apoplejías,
        secuelados de meningitis, etc.), como periféricas (túnel carpiano, neuro praxias, etc),
        parálisis cerebrales en niños, alteración del desarrollo sicomotor etc. la terapia se enfocara en:
        
        Psicomotricidad y neurorehabilitación, enfocado en modelos del
         control motor buscando restablecer el control de la postura
        El equilibrio y los desplazamientos. Principalmente en mejorar 
        la funcionalidad del paciente con trastornos neurológicos, pasando por 
        todos los aspectos motrices básicos(tecnicas de rehabilitación). 
        Esto quiere decir enfocados a que el paciente logre su máxima independencia.
        mejorar la funcionalidad y control motor del tronco (CORE)
        Educar a la familia en aspecto básicos del manejo la enfermedad y rehabilitación,
         como todo lo referente a traslados o movilización del paciente, cambio de posiciones, 
         para de esa manera lograr el mejor resultado posible.
        aplicación de técnicas de kinesiologia y ejercicios respiratorios si lo requiere
        el tratamiento por lo general es de larga data ya que el sistema neuronal es de lenta adaptación,
         con lo cual la terapia puede incluso pasar de meses a años en el proceso por lo mismo 
         se realizan descuento especiales cuando se contratan sobre las 10 sesiones 
      </p>

  </div>
</div>
</div>
<hr>
     <!--este es otra seccion    /-->
     <div class="section white" id="features">

          <div class="row">
              <div class="col s12 m6 l6 center">
                  <img class="responsive-img" src="images/sample-1.jpg">
                </div>

            <div class="col s12 m6 l6">
              <h5 class="grey-text text-darken-3  flow-text">Features</h5>
              <p class="grey-text text-darken-3  flow-text text-justify">
                  la mejor atención de la Región Metropolitana
                  ¿Que es la <strong>kinesiologia respiratoria domicilio</strong> ? Esto es una terapia con ejercicios respiratorios realizados por el kinesiólogo.
                   Se aplican un conjunto de técnicas manuales sobre el tórax, además de <strong>aspiración de secreciones</strong> con el fin de favorecer la Ventilación correcta y el mejoramiento de la Función Pulmonar. 
                   Con esto se logra el tratamiento tanto crónico como agudo del sistema respiratorio como asma bronquitis, neumonía, EPOC(fisiología del EPOC)  
              </p>
              <ul class="start-feature-list">
                <li>Password <a href="https://kioskbrowser.crisp.help/en/article/how-do-i-exit-azhu30/" target="_blank">protected settings</a> &amp; <a href="https://kioskbrowser.crisp.help/en/article/wifi-settings-password-1u310nr/" target="_blank">WiFi settings</a></li>
                <li>Lock your device(s) to a single URL</li>
                <li>Configure <a href="https://kioskbrowser.crisp.help/en/article/toolbar-buttons-and-their-functions-15552rb/" target="_blank">toolbar buttons</a></li>
                <li>Control clearing of <a href="https://kioskbrowser.crisp.help/en/article/clear-cache-webstorage-cookies-and-form-data-1sfpc0m/" target="_blank">cache, cookies, history &amp; web storage</a></li>
                <li>Provide access to additional websites with the <a href="https://kioskbrowser.crisp.help/en/article/bookmarks-bar-1c1982k/" target="_blank">bookmarks bar</a></li>
                <li><a href="https://kioskbrowser.crisp.help/en/article/whitelist-ik8pgt/" target="_blank">Whitelist</a> &amp; <a href="https://kioskbrowser.crisp.help/en/article/blacklist-11uaxnu/" target="_blank">Blacklist</a> feature to control website access</li>
                <li><a href="https://kioskbrowser.crisp.help/en/article/scheduled-sleepwake-19illzv/" target="_blank">Scheduled sleep/wake/app restart</a></li>
                <li><a href="https://kioskbrowser.crisp.help/en/article/pdf-support-7f73zc/" target="_blank">PDF Support</a></li>
                <li>Automatic crash recovery</li>
              </ul>

          </div>
        </div>
      </div>
<hr>

<div class="section white" id="features">
  <div class="row">
      <div class="col s12 m6 l6 center">
          <img class="responsive-img" src="images/sample-1.jpg">
        </div>

    <div class="col s12 m6 l6">
      <h5 class="grey-text text-darken-3  flow-text">Features</h5>
      <p class="grey-text text-darken-3  flow-text text-justify">
        Kinesiología para el Adulto Mayor | domicilio o casas de reposo
        lista de servicios de rehabilitación integral
        kinesiologia respiratoria a domicilio: eso incluye todo lo relevante a esa área incluso ejercicios respiratorios
        kinesiologia en traumatologia y post operados
        kinesiologia en neurologia
        ejercicios terapeuticos para mantener la capacidad fisica e independencia
        Pensando que cada vez la población vive más años y cada día aumenta el número de adultos mayores 
        con diversas complicaciones y dolencias. Nosotros ofrecemos una terapia integral con 
        el equipo de kinesiólogo a domicilio enfocados para el adulto mayor, que no solo mejoraremos 
        su problema principal, sino que abarcamos desde diversos enfoques sus mayores complicaciones. 
        Mejorando sus factores de riesgos cardio-vasculares, con ejercicios localizados en mejorar sus
        capacidades funcionales(capacidad para funcionar de forma independiente), disminuir sus factores
        de riesgos como la diabetes mellitus II, hipertension, sus riesgos de caída, las diversas
        dolencias y molestias físicas que presenten, además de integrándolo funcionalmente a sus
        actividades de la vida diaria y educando a la familia a la mejora física, psíquica y
        emocional de su adulto mayor. Contamos con manejo de pacientes postrados, en sillas de
        ruedas, traslados. se ofrece descuento a grupos de adulto mayores sobre 3 personas
      </p>

  </div>
</div>
</div>
<hr>
<div class="section white" id="features">
        
    <div class="row">		
       <div class="col s12 m6 l6">
        <h5 class="grey-text text-darken-3  flow-text">Features</h5>
        <p class="grey-text text-darken-3  flow-text text-justify">
          Kinesiología Deportiva a domicilio |atencion especial eventos deportivos
          ¿en que se diferencia a la kinesiologia en traumatologia?
          la diferencia esta en que el trabajo de rehabilitacion se enfoca directamente en la función deportiva que genera la lesión con el fin de mejorar tecnica deportiva y reducir los tiempos de recuperación optima Basados en un enfoque de medicina deportiva y biomecánica,además de los diversos factores que no son fácil de identificar por otras instituciones, nuestro tratamiento está enfocado en mejorar todos los aspectos de la lesión, la técnica y el adecuado retorno deportivo, se realiza una evaluación completa, análisis biomecánico y antropométrico además de los factores externos para mejorar el retorno oportuno al deporte, aplicación de tape neuromuscular, técnicas de terapia manual, trabajo muscular excéntrico etc. Enfocado en lesiones tan comunes como runner knee, codo de tenista, desgarros, rodilla de saltador, etc.. Todo esto radica en la importancia en que los deportistas por lo general a pesar de una lesión no dejan su actividad, dificultando mucho los tiempos de recuperación. Con el enfoque actual se busca no dejar la actividad, pero evitando lesionar aún más la estructura en cuestión, siguiendo actividades de compensación en todo el sistema y no solo enfocándose en la lesión misma. Como la adecuada rehabilitación preventiva, o mejorando los componentes inestables que Hayan generado la lesión, como una cadera o rodilla inestable que terminan lesionando el tobillo. Los invitamos a experimentar de una nueva modalidad de rehabilitación netamente personalizada en usted.
          
          servicio de rehabilitacion incluye
          <ul>
            <li>vendaje deportivo kinesiotape</li>
            <li>tecnicas de puncion seca o acupuntura (ambas son tecnicas terapeuticas diferentes)</li>
            <li>atencion en jornadas deportivas (ligas de futbol, maratones, competencias deportivas, etc) </li>

          </ul>
        </p>
    </div>
    <div class="col s12 m6 l6 center">
        <img class="responsive-img" src="images/sample-1.jpg">
      </div>
  </div>
</div>
<hr>

<div class="section white" id="features">
    <div class="row"></div>
        <div class="col s12 m6 l6 center">
            <img class="responsive-img" src="images/sample-1.jpg">
          </div>
      
      <div class="col s12 m6 l6">
        <h2 class="grey-text text-darken-3  flow-text "> Acupuntura</h2>
        <p class=" grey-text text-darken-3  flow-text">
         
          La acupuntura es una técnica de medicina tradicional china que consta de la aplicación de finas agujas en puntos específicos del cuerpo para tratar diversas patologías.
          En una sesión tipo la persona será evaluada según la medicina china y con los datos recopilados se le hará un diagnostico y posteriormente un plan de tratamiento.
          Todo esto radica en la importancia en que los deportistas por lo general a pesar de una lesión no dejan su actividad, dificultando mucho los tiempos de recuperación.
          La duración aproximada de una sesión es de 45 Min. y se realizan entre 1 a 2 veces por semana Además de la aplicación de agujas en una se pueden utilizar ventosas,
          moxibustiòn y/o electroterapia. La Organización mundial de la salud ha publicado un listado de enfermedades en donde la acupuntura puede ayudar, entre ellas están
        </p>
       
 
    </div>
  </div>
</div>
<hr>
<!-- otra seccion-->



<<<<<<< HEAD
          
<%- include('boton'); -%>      
=======
<%- include('boton'); -%>
>>>>>>> develop

<%- include('footer'); -%>