<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>
<%- include('partial/navbar.ejs'); %>
<body>
  <%- include('partial/tagmanager.ejs'); %>
<div class="section container">
    <h1 class="grey-text text-darken-3  flow-text"><%= tiTuloh1%></h1></div>

    <%- include('partial/slideer.ejs'); %>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>

          <div class="row center">
            <h2 class="header col s12 light">sitio web enfocado en servicio de rehabilitacvion y kinesiologia a domicilio</h2>
          </div>
          <div class="row center">
            <a href="" id="download-button" class="btn-large waves-effect waves-light orange">llamar</a>
          </div>
          <br><br>
    
        </div>
      </div>
    
    
      <div class="container">
        <div class="section">
    
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                <h3 class="center">Atencion en la comodidad de su hogar</h3>
    
                <p class="light">se entrega la atencion en la comodidad de su hogar sin las complicaciones de viajes traslados o trafico</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                <h3 class="center">cuento con todo el equipo necesario</h3>
    
                <p class="light">necesitas electroterapia, ultrasonido o aspiracion de secrecion, has llegado al lugar indicado</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                <h3 class="center">agende su hora</h3>
    
                <p class="light">necesitas atencion, contacta conmigo y presiona el boton de llamadas que
                  incluye wassap.
                </p>
              </div>
            </div>
          </div>
    
        </div>
        <br><br>
      </div>
<div class="section container">
      <div class="row center-align">
        <div class="col s12 m10 offset-m1 l9 offset-l">
          <div class="card large">
            <div class="card-image waves-effect waves-block waves-ligh">
              <img class="activator" src="/images/Respiratoria.webp" alt="kinesiologo respiratorio a domicilio">
             <h2><span class="card-title activator grey-text text-darken-4">Kinesiología respiratoria a domicilio niños y adulto mayor</span></h2>
            </div>
            <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">kinesiologia respiratoria<i class="material-icons right">close</i></span>
              <p class="text-align"> la mejor atención de la Región Metropolitana
                  ¿Que es la kinesiologia respiratoria domicilio? Esto es una terapia con ejercicios 
                  respiratorios realizados por el kinesiólogo. Se aplican un conjunto de técnicas manuales 
                  sobre el tórax, además de aspiración de secreciones con el fin de favorecer la Ventilación 
                  correcta y el mejoramiento de la Función Pulmonar. Con esto se logra el tratamiento tanto crónico 
                  como agudo del sistema respiratorio como asma bronquitis, neumonía, EPOC(fisiología del EPOC)
<ul>
  <li>técnicas de kinesioterapia como drenaje bronquial, clapping, presiones sobre el tórax</li>
  <li>aspiración endotraqueal de secreciones con bomba(turbina) de succión</li>
  <li>nebulización</li>
  <li>saturometría de pulso (pulso normal 98 a 96%) y evaluaciones continuas</li>
  <li>profesional con experiencia en servicios de Unidad de cuidado crítico y Coronario</li>
</ul>
precio desde los $25.000 contacto +569 56833633
</p>
            </div>
            <div class="card-action">
                <a href="http://www.kinesishouse.cl/kiensiologo-respiratorio">kinesiologo respiratorio</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row center-align">
        <div class="col s12 m10 offset-m1 l9 offset-l">
          <div class="card large">
            <div class="card-image waves-effect waves-block waves-ligh">
              <img class="activator" src="images/Neurologia_jpg.webp" alt="kinesiologo en neurologia">
              <h2><span class="card-title activator grey-text text-darken-4">Kinesiologia en Rehabilitación Neurológica a domicilio</span></h2>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">kinesiologia neurologica<i class="material-icons right">close</i></span>
              <p>
                ¿A quién va dirigido? aplicaciones de terapia que se incluyen en el servicio, se enfoca a 
                pacientes con todo tipo de alteraciones neurológicas, entre las más comunes están: accidentes 
                cerebro vasculares, traumatismos encéfalo-craneanos y medulares, paraplejías, apoplejías, 
                secuelados de meningitis, etc.), como periféricas (túnel carpiano, neuro-praxias, etc.), 
                parálisis cerebrales en niños, alteración del desarrollo sicomotor etc. la terapia se enfocara 
                en:
                <ul>
                  <li>Psicomotricidad y neurorehabilitación, enfocado en modelos del control motor buscando restablecer el control de la postura</li>
                  <li>El equilibrio y los desplazamientos. Principalmente en mejorar la funcionalidad del paciente con trastornos neurológicos, pasando por todos los aspectos motrices básicos (técnicas de rehabilitación). Esto quiere decir enfocados a que el paciente logre su máxima independencia.</li>
                  <li>mejorar la funcionalidad y control motor del tronco (CORE)</li>
                  <li>Educar a la familia en aspecto básico del manejo la enfermedad y rehabilitación, como todo lo referente a traslados o movilización del paciente, cambio de posiciones, para de esa manera lograr el mejor resultado posible.</li>
                  <li>aplicación de técnicas de kinesiología y ejercicios respiratorios si lo requiere</li>
                </ul>
                El tratamiento por lo general es de larga data ya que el sistema neuronal es de lenta adaptación, 
                con lo cual la terapia puede incluso pasar de meses a años en el proceso por lo mismo se realizan 
                descuento especiales cuando se contratan sobre las 10 sesiones
                </p>
            </div>
            <div class="card-action">
              <a href="#">kinesiologia en neurologia</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row center-align">
        <div class="col s12 m10 offset-m1 l9 offset-l">
          <div class="card large">
            <div class="card-image waves-effect waves-block waves-ligh">
              <img class="activator" src="images/Traumatologia.webp" alt="kinesiologo en traumatologia">
            <h2><span class="card-title activator grey-text text-darken-4">Kinesiólogo a domicilio en Traumatológia</span></h2> 
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">kinesiologia respiratoria<i class="material-icons right">close</i></span>
              <p>
                ¿En qué consiste el tratamiento? El tratamiento kinésico se llevara a cabo en la comodidad de su
                hogar, el profesional incluye todo el tipo de equipamientos necesarios para la correcta 
                aplicación terapéutica equipos de ultrasonido, electro-terapia sensitiva y muscular, vendajes 
                terapéuticos. Similar a los ejercicios respiratorios aplicados en kinesiología respiratoria a 
                domicilio, dentro de la terapia lo más importante en el entrenamiento físico kinésico el cual se encargara
                de resolver el 80% del proceso de rehabilitación. Patologías como lumbagos, hombros rodillas o cuellos lesionados, 
                lesión de ligamentos y tendones, procesos post-operatorios como remplazo protesico de cadera Estas disfunciones se abordan desde distintos métodos de tratamiento:
                <ul>
                  <li>Fisioterapia: equipos de ultrasonido, electroterapia, vendajes deportivo, termoterapia todos con objetivos de modular el tejido lesionado y disminuir el dolor</li>
                  <li>Terapia Manual Ortopédica : técnicas manipulativas articulares y de tejidos blandos para recuperar el dolor, mejorar la mecánica y recuperación de los tejidos</li>
                  <li>Ejercicio Terapéutico: ejercicios de tipo excéntrico, flexibilidad y estabilizaciones</li>
                  <li>medicina china: esto es aplicado a pacientes con dolores de difícil tratamiento, terapia recomendada por la organización mundial de la salud y validada por el ministerio de salud de chile. consiste en la aplicación de agujas en puntos específicos con lo cual se potenciara los efectos analgésicos</li>
                </ul>
                </p>
            </div>
            <div class="card-action">
              <a href="http://www.kinesishouse.cl/kiensiologo-traumatologia">kinesiologia en traumatologia</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row center-align">
        <div class="col s12 m10 offset-m1 l9 offset-l">
          <div class="card large">
            <div class="card-image waves-effect waves-block waves-ligh">
              <img class="activator" src="images/Adulto-Mayor.webp" alt="rehabilitacion en adulto mayor">
             <h2><span class="card-title activator grey-text text-darken-4">Kinesiología para el Adulto Mayor | domicilio o casas de reposo</span></h2> 
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">kinesiologia en adultomayor<i class="material-icons right">close</i></span>
              <p>
                Lista de servicios de rehabilitación integral
                <ul>
                  <li>kinesiología respiratoria a domicilio: eso incluye todo lo relevante a esa área incluso ejercicios respiratorios</li>
                  <li> kinesiología en traumatología y post operados</li>
                  <li>	kinesiología en neurología</li>
                  <li>	ejercicios terapéuticos para mantener la capacidad física e independencia</li>
                </ul>
                Pensando que cada vez la población vive más años y cada 
                día aumenta el número de adultos mayores con diversas complicaciones y dolencias
                Nosotros ofrecemos una terapia integral con el equipo de kinesiólogo a domicilio
                enfocado para el adulto mayor, que no solo mejoraremos su problema principal, sino 
                que abarcamos desde diversos enfoques sus mayores complicaciones. Mejorando sus factores
                de riesgos cardio-vasculares, con ejercicios localizados en mejorar sus capacidades funcionales 
                (capacidad para funcionar de forma independiente), disminuir sus factores de riesgos como 
                la diabetes mellitus II, hipertensión, sus riesgos de caída, las diversas dolencias y molestias
                físicas que presenten, además de integrándolo funcionalmente a sus actividades de la vida diaria 
                y educando a la familia a la mejora física, psíquica y emocional de su adulto mayor. Contamos 
                con manejo de pacientes postrados, en sillas de ruedas, traslados. Se ofrece descuento a grupos
                de adulto mayores sobre 3 personas
              </p>
            </div>
            <div class="card-action">
              <a href="#">adulto mayor</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row center-align ">
        <div class="col s12 m10 offset-m1 l9 offset-l">
          <div class="card large">
            <div class="card-image waves-effect waves-block waves-ligh ">
              <img class="activator" src="images/Deporte.webp" alt="kinesiologia deportiva">
              <h2><span class="card-title activator grey-text text-darken-4">Kinesiología Deportiva a domicilio |atención especial eventos deportivos</span></h2> 
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">kinesiologia deportiva<i class="material-icons right">close</i></span>
              <p>
                ¿en qué se diferencia a la kinesiología en traumatología? 
                la diferencia está en que el trabajo de rehabilitación se enfoca directamente en la 
                función deportiva que genera la lesión con el fin de mejorar técnica deportiva y reducir 
                os tiempos de recuperación optima Basados en un enfoque de medicina deportiva y biomecánica, además de los diversos 
                factores que no son fácil de identificar por otras instituciones, nuestro tratamiento está enfocado en mejorar todos 
                los aspectos de la lesión, la técnica y el adecuado retorno deportivo, se realiza una evaluación completa,
                análisis biomecánico y antropométrico además de los factores externos para mejorar el retorno oportuno al deporte, 
                aplicación de tape neuromuscular, técnicas de terapia manual, trabajo muscular excéntrico etc. Enfocado en lesiones 
                tan comunes como runner knee, codo de tenista, desgarros, rodilla de saltador, etc... Todo esto radica en la importancia 
                en que los deportistas por lo general a pesar de una lesión no dejan su actividad, dificultando mucho los tiempos de recuperación.
                Con el enfoque actual se busca no dejar la actividad, pero evitando lesionar aún más la estructura en cuestión, siguiendo actividades de compensación 
                en todo el sistema y no solo enfocándose en la lesión misma. Como la adecuada rehabilitación preventiva, o mejorando los componentes inestables qu
                Hayan generado la lesión, como una cadera o rodilla inestable que terminan lesionando el tobillo. Los invitamos a experimentar de una nueva modalidad 
                de rehabilitación netamente personalizada en usted.
                <h3>Servicio de rehabilitación incluye</h3>
                <ul>
                  <li>vendaje deportivo kinesiotape</li>
                  <li>técnicas de punción seca o acupuntura (ambas son técnicas terapéuticas diferentes)</li>
                  <li>atención en jornadas deportivas (ligas de futbol, maratones, competencias deportivas, etc.)</li>
                </ul>
             </p>
            </div>
            <div class="card-action">
              <a href="#">kinesiologia deportiva</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row center-align">
        <div class="col s12 m10 offset-m1 l9 offset-l1">
          <div class="card lage">
            <div class="card-image waves-effect waves-block waves-ligh ">
              <img class="activator" src="images/Acupuntura.webp" alt="acupuntura en chile">
             <h2><span class="card-title">Acupuntura a domicilio Región metropolitana</span></h2> 
            </div>
            <div class="card-reveal activator grey-text text-darken-4">
              <span class="card-title grey-text text-darken-4">kinesiologia respiratoria<i class="material-icons right">close</i></span>
              <p>
                ¿De qué trata esta técnica milenaria prestada como servicio? La acupuntura es una técnica de medicina tradicional
                 china que consta de la aplicación de finas agujas en puntos específicos del cuerpo para tratar diversas patologías, 
                 algunas personas dice que esto es de manera refleja actuando sobre el sistema nervioso simpático y para-simpático, 
                 pero la verdad es algo mucho más complejo de explicar, pero en términos más sencillos como todo elemento terapéutico solo se busca el estado de equilibrio del cuerpo. 
                 En una sesión tipo la persona será evaluada según la medicina china y con los datos recopilados se le hará un diagnóstico y posteriormente un plan de tratamiento,
                 el paciente debe comprender que el proceso de enfermedad crónico por lo general es progresivo, así como la vuelta al estado de salud así como en los procesos de rehabilitación 
                 los cambios se irán percibiendo durante cada sesión. La duración de la terapia es aproximada de una sesión es de 45 Min a 1 hr. y se realizan entre 2 a 3 veces por semana 
                 Además de la aplicación de agujas, se pueden utilizar ventosas, moxibustiòn y/o electroterapia. La Organización mundial de la salud 
                 ha publicado un listado de enfermedades en donde la acupuntura puede ayudar, entre ellas están
                </p>
            </div>
            <div class="card-action">
              <a href="#">kinesiologia y acupuntura</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      <%- include('partial/boton.ejs'); %>

      <%- include('partial/footer.ejs'); %>
      </body>
      
      </html>