<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>



  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Atencion kinesica domiciliaria</h5>

            <p class="light">procesos de rehabilitaci&oacuten enfocados en solo en un pacinente a la vez, nada de terapias grupales</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Satifaccion al usuario</h5>

            <p class="light"> modelo de rehabilitaci&oacute;n enfocado en las necesidades del paciente</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">soluciones terapeuticas efectivas</h5>

            <p class="light">kinesioterapia integral incluye una gama de especialidades que van desde neurologia, respiratorio y traumatologia por nombrar algunas</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">fisioterapia deportiva y traumatologica</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/Header/PersonalTraining.jpg" alt="entrenamiento kinesico funcional" class="image-responsive"></div>
  </div>
<!-- contenido y servicios -->

<div class="container">
  <br>
  <h2> servicios de kinesiologia</h2>
  <div class="row section">
    <div class="col l4 m12 s12">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-ligh">
              <img class="activator" src="/images/Respiratoria.webp" alt="kinesiologo respiratorio a domicilio">
             
            </div>
            <div class="card-content">
              <h2><span class="card-title activator grey-text text-darken-4 flow-text">Kinesiolog&iacute;a respiratoria a domicilio | ni&ntilde;os y adulto mayor <i class="material-icons right">more_vert</i></span></h2>
               <p class="text-align">
                 la mejor atenci&oacute;n de la Regi&oacute;n Metropolitana
                  <strong>¿Que es la kinesiolog&iacute;a respiratoria domicilio?</strong>  Esto es una terapia con ejercicios 
                  respiratorios realizados por el <strong>kinesi&oacute;logo</strong> .
               </p>
            </div>
            <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">kinesiolog&iacute;a respiratoria<i class="material-icons right">close</i></span>
              <p class="text-align"> la mejor atenci&oacute;n de la Regi&oacute;n Metropolitana
                  <h3>¿Que es la kinesiolog&iacute;a respiratoria domicilio?</h3>  Esto es una <strong>terapia con ejercicios </strong> 
                  respiratorios realizados por el <strong>kinesiologo</strong> . Se aplican un conjunto de t&eacute;cnicas manuales 
                  sobre el t&oacute;rax, adem&aacute;s de <strong>aspiraci&oacute;n de secreciones</strong>  con el fin de favorecer la Ventilaci&oacute;n 
                  correcta y el mejoramiento de la Funci&oacute;n Pulmonar. Con esto se logra el tratamiento tanto cr&oacute;nico 
                  como agudo del sistema respiratorio como asma bronquitis, neumon&iacute;a, EPOC(fisiolog&iacute;a del EPOC)
<ul>
  <li>t&eacute;cnicas de <strong>kinesioterapia</strong>  como drenaje bronquial, clapping, presiones sobre el t&oacute;rax</li>
  <li><strong>aspiraci&oacute;n endotraqueal de secreciones</strong>  con bomba(turbina) de succi&oacute;n</li>
  <li>nebulizaci&oacute;n</li>
  <li>saturometr&iacute;a de pulso (pulso normal 98 a 96%) y evaluaciones continuas</li>
  <li>profesional con experiencia en servicios de Unidad de cuidado cr&iacute;tico y Coronario</li>
</ul>
la aplicaci&oacute;n terapeutica es diferente en pacientes bebes, ni&ntilde;os y adultos , teniendo variaciones dpendiendo de la cooperaci&oacute;n del paciente
</p>
            </div>
            <div class="card-action">
                <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio">kinesiologo respiratorio</a>
            </div>
        
        


      </div>
    </div>
     <div class="col l4 m12 s12">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-ligh">
              <img class="activator" src="images/Neurologia_jpg.webp" alt="kinesiologo en neurologia">
             
            </div>
            <div class="card-content">
               <h2 class="flow-text"><span class="card-title activator grey-text text-darken-4">Kinesiolog&iacute;a en Rehabilitaci&oacute;n Neurol&oacute;gica a domicilio<i class="material-icons right">more_vert</i></span></h2>
               <p class="text-align">
                ¿A qui&eacute;n va dirigido? aplicaciones de terapia que se incluyen en el servicio,<strong>pacientes con todo tipo de alteraciones neurol&oacute;gicas</strong> se enfoca a 
                , entre las m&aacute;s comunes est&aacute;n: accidentes 
                cerebro vasculares
               </p>

            </div>
            <div class="card-reveal">
              <h2 class="flow-text"><span class="card-title  grey-text text-darken-4">Kinesiolog&iacute;a en Rehabilitaci&oacute;n Neurolo&oacute;gica a domicilio<i class="material-icons right">more_vert</i></span></h2>
              <p>¿A qui&eacute;n va dirigido? aplicaciones de terapia que se incluyen en el servicio,<strong>pacientes con todo tipo de alteraciones neurol&oacute;gicas</strong> se enfoca a 
                , entre las m&acute;s comunes est&aacute;n: accidentes cerebro vasculares traumatismos enc&eacute;falo-craneanos y medulares, parapleji&iacute;as, apoplej&iacute;as, 
                secuelados de meningitis, etc.), como perif&eacute;ricas (t&uacute;nel carpiano, neuro-praxias, etc.), 
                par&aacute;lisis cerebrales en ni&ntilde;os, alteraci&oacute;n del desarrollo sicomotor etc. la terapia se enfocara 
                en:
                <ul>
                  <li>Psicomotricidad y neurorehabilitaci&oacute;n, enfocado en modelos del control motor buscando restablecer el control de la postura</li>
                  <li>El equilibrio y los desplazamientos. Principalmente en mejorar la funcionalidad del paciente con trastornos neurol&oacute;gicos, pasando por todos los aspectos motrices b&acute;sicos (t&eacute;cnicas de rehabilitaci&oacute;n). Esto quiere decir enfocados a que el paciente logre su m&aacute;xima independencia.</li>
                  <li>mejorar la funcionalidad y control motor del tronco (CORE)</li>
                  <li>Educar a la familia en aspecto b&aacute;sico del manejo la enfermedad y <strong>rehabilitaci&oacute;n</strong> , como todo lo referente a traslados o movilizaci&oacute;n del paciente, cambio de posiciones, para de esa manera lograr el mejor resultado posible.</li>
                  <li>aplicaci&oacute;n de t&eacute;cnicas de kinesiolog&iacute;a y <strong>ejercicios respiratorios</strong>  si lo requiere</li>
                </ul>
                El tratamiento por lo general es de larga data ya que el sistema neuronal es de lenta adaptaci&oacute;n, 
                con lo cual la terapia puede incluso pasar de meses a a&ntilde;os en el proceso por lo mismo se realizan 
                descuento especiales cuando se contratan sobre las 10 sesiones
                </p>
            </div>
            <div class="card-action">
              <a href="/kinesiologo-neurologia">kinesiolog&iacute;a en neurol&oacute;gia</a>
            </div>


      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-ligh">
              <img class="activator" src="images/Traumatologia.webp" alt="kinesiologo en traumatologia">
           
            </div>
            <div class="card-content">
               <h2 class="flow-text"><span class="card-title activator grey-text text-darken-4">Kinesi&oacute;logo a domicilio en Traumatol&oacute;gia<i class="material-icons right">more_vert</i></span></h2> 
                <p>
                  ¿En qu&eacute; consiste el tratamiento? <strong>El tratamiento kin&eacute;sico</strong>  se llevara a cabo en la comodidad de su
                hogar, el profesional incluye todo el tipo de equipamientos necesarios para la correcta 
                </p>

            </div>
            <div class="card-reveal">
              <h2 class="flow-text"><span class="card-title grey-text text-darken-4">Kinesi&oacute;logo a domicilio en Traumatol&oacute;gia<i class="material-icons right">close</i></span></h2> 
              <p>
                ¿En qu&eacute; consiste el tratamiento de rehabilitaci&oacute;n? <strong>El tratamiento kin&eacute;sico</strong>  se llevara a cabo en la comodidad de su
                hogar, el profesional incluye todo el tipo de equipamientos necesarios para la correcta 
                aplicaci&oacute;n terap&eacute;utica equipos de <strong>ultrasonido, electro-terapia</strong>  sensitiva y muscular, vendajes 
                terap&eacute;uticos. Similar a los ejercicios respiratorios aplicados en kinesiolog&iacute;a respiratoria a 
                domicilio, dentro de la terapia lo m&aacute;s importante en el entrenamiento f&iacute;sico kin&eacute;sico el cual se encargara
                de resolver el 80% del <strong>proceso de rehabilitaci&oacute;n</strong> . Patolog&iacute;as como lumbagos, hombros rodillas o cuellos lesionados, 
                lesi&oacute;n de ligamentos y tendones, procesos post-operatorios como remplazo protesico de cadera Estas disfunciones se abordan desde distintos m&eacute;todos de tratamiento:
                <ul>
                  <li> <strong>Fisioterapia</strong>: equipos de ultrasonido, electroterapia, vendajes deportivo, termoterapia todos con objetivos de modular el tejido lesionado y disminuir el dolor</li>
                  <li> <strong>Terapia Manual Ortop&eacute;dica</strong>  : t&eacute;cnicas manipulativas articulares y de tejidos blandos para recuperar el dolor, mejorar la mec&aacute;nica y recuperaci&oacute;n de los tejidos</li>
                  <li> <strong>Ejercicio Terap&eacute;utico</strong>  : ejercicios de tipo exc&eacute;ntrico, flexibilidad y estabilizaciones</li>
                  <li> <strong>medicina china</strong> : esto es aplicado a pacientes con dolores de dif&iacute;cil tratamiento, terapia recomendada por la organizaci&oacute;n mundial de la salud y validada por el ministerio de salud de chile. consiste en la aplicaci&oacute;n de agujas en puntos espec&iacute;ficos con lo cual se potenciara los efectos analg&eacute;sicos</li>
                </ul>
                </p>
            </div>
            <div class="card-action">
              <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia">kinesiolog&iacute;a en traumatolog&iacute;a</a>
            </div>
        


      </div>
    </div>
  </div>
  
  
</div>
<div class="container">
  <br>
  
  <div class="row section">
    <div class="col l4 m12 s12">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-ligh">
              <img class="activator" src="images/Adulto-Mayor.webp" alt="rehabilitacion en adulto mayor">
             
            </div>
            <div class="card-content">
              <h2 class="flow-text"><span class="card-title activator grey-text text-darken-4">Kinesiolog&iacute;a para el Adulto Mayor | domicilio o casas de reposo<i class="material-icons right">more_vert</i></span></h2> 
              <p>
                Pensando que cada vez la poblaci&oacute;n vive m&aacute;s a&ntilde;os y cada 
                d&iacute;a aumenta el n&uacute;mero de adultos mayores con diversas complicaciones y dolencias

              </p>
            </div>
            <div class="card-reveal">
              <h2 class="flow-text"><span class="card-title grey-text text-darken-4">kinesiolog&iacute;a en adulto mayor<i class="material-icons right">close</i></span></h2>
              <p>
                 Pensando que cada vez la poblaci&oacute;n vive m&aacute;s a&ntilde;os y cada 
                d&iacute;a aumenta el n&uacute;mero de adultos mayores con diversas complicaciones y dolencias
                Nosotros ofrecemos una terapia integral con el equipo de  <strong>kinesi&oacute;logo a domicilio</strong> 
                enfocado para el <strong>adulto mayor</strong>, que no solo mejoraremos su problema principal, sino 
                que abarcamos desde diversos enfoques sus mayores complicaciones. Mejorando sus factores
                de riesgos cardio-vasculares, con ejercicios localizados en mejorar sus capacidades funcionales 
                (capacidad para funcionar de forma independiente), disminuir sus factores de riesgos como 
                la diabetes mellitus II, hipertensi&oacute;n, sus riesgos de ca&iacute;da, las diversas dolencias y molestias
                f&iacute;sicas que presenten, adem&aacute;s de integr&aacute;ndolo funcionalmente a sus actividades de la vida diaria 
                y educando a la familia a la mejora f&iacute;sica, ps&iacute;quica y emocional de su adulto mayor. Contamos 
                con manejo de <strong>pacientes postrados</strong> , en sillas de ruedas, traslados. Se ofrece descuento a grupos
                de adulto mayores sobre 3 personas
                Lista de servicios de  <strong>rehabilitaci&oacute;n integral</strong> 
                <ul>
                  <li>kinesiolog&iacute;a respiratoria a domicilio: eso incluye todo lo relevante a esa &aacute;rea incluso ejercicios respiratorios</li>
                  <li> kinesiolog&iacute;a en traumatolog&iacute;a y post operados</li>
                  <li>	kinesiolog&iacute;a en neurolog&iacute;a</li>
                  <li>	ejercicios terap&eacute;uticos para mantener la capacidad f&iacute;sica e independencia</li>
                </ul>
               
              </p>
            </div>
            <div class="card-action">
              <a href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor">adulto mayor</a>
            </div>
        
        


      </div>
    </div>
     <div class="col l4 m12 s12">
      <div class="card small">
         <div class="card-image waves-effect waves-block waves-ligh ">
              <img class="activator" src="images/Deporte.webp" alt="kinesiologia deportiva">
             
            </div>

            <div class="card-content">
               <h2 class="flow-text"><span class="card-title activator grey-text text-darken-4">Kinesiolog&iacute;a Deportiva a domicilio |atenci&oacute;n especial eventos deportivos<i class="material-icons right">more_vert</i></span></h2> 
              <p>
                ¿en qu&eacute; se diferencia a la kinesiolog&iacute;a en traumatolog&iacute;a? 
                la diferencia est&aacute; en que el trabajo de rehabilitaci&oacute;n se enfoca directamente en la 
                funci&oacute;n deportiva que genera la lesi&oacute;n con el fin de mejorar t&eacute;cnica deportiva y reducir

              </p>

            </div>
            <div class="card-reveal">
             <h2 class="flow-text"> <span class="card-title grey-text text-darken-4">kinesiolog&iacute;a deportiva<i class="material-icons right">close</i></span></h2>
              <p>
                ¿en qu&eacute; se diferencia a la kinesiolog&iacute;a en traumatolog&iacute;a? 
                la diferencia est&aacute; en que el trabajo de rehabilitaci&oacute;n se enfoca directamente en la 
                funci&oacute;n deportiva que genera la lesi&oacute;n con el fin de mejorar t&eacute;cnica deportiva y reducir 
                los tiempos de recuperaci&oacute;n optima Basados en un enfoque de medicina deportiva y biomec&aacute;nica, adem&aacute;s de los diversos 
                factores que no son f&aacute;cil de identificar por otras instituciones, nuestro tratamiento est&aacute; enfocado en mejorar todos 
                los aspectos de la lesi&oacute;n, la t&eacute;cnica y el adecuado retorno deportivo, se realiza una evaluaci&oacute;n completa,
                an&aacute;lisis biomec&aacute;nico y antropom&eacute;trico adem&aacute;s de los factores externos para mejorar el retorno oportuno al deporte, 
                aplicaci&oacute;n de tape neuromuscular, t&eacute;cnicas de terapia manual, trabajo muscular exc&eacute;ntrico etc. Enfocado en lesiones 
                tan comunes como runner knee, codo de tenista, desgarros, rodilla de saltador, etc... Todo esto radica en la importancia 
                en que los deportistas por lo general a pesar de una lesi&oacute;n no dejan su actividad, dificultando mucho los tiempos de recuperaci&oacute;n.
                Con el enfoque actual se busca no dejar la actividad, pero evitando lesionar a&uacute;n m&aacute;s la estructura en cuesti&oacute;n, siguiendo actividades de compensaci&oacute;n 
                en todo el sistema y no solo enfoc&aacute;ndose en la lesi&oacute;n misma. Como la adecuada rehabilitaci&oacute;n preventiva, o mejorando los componentes inestables qu
                Hayan generado la lesi&oacute;n, como una cadera o rodilla inestable que terminan lesionando el tobillo. Los invitamos a experimentar de una nueva modalidad 
                de rehabilitaci&oacute;n netamente personalizada en usted.
                <h3>Servicio de rehabilitaci&oacute;n incluye</h3>
                <ul>
                  <li>vendaje deportivo kinesiotape</li>
                  <li>t&eacute;cnicas de punci&oacute;n seca o acupuntura (ambas son t&eacute;cnicas terap&eacute;uticas diferentes)</li>
                  <li>atenci&oacute;n en jornadas deportivas (ligas de f&uacute;tbol, maratones, competencias deportivas, etc.)</li>
                </ul>
             </p>
            </div>
            <div class="card-action">
              <a href="http://www.kinesishouse.cl/kinesiologo-deportivo">kinesiolog&iacute;a deportiva</a>
            </div>
        


      </div>
    </div>
    <div class="col l4 m12 s12">
      <div class="card small">
         <div class="card-image waves-effect waves-block waves-ligh ">
              <img class="activator" src="images/Acupuntura.webp" alt="acupuntura en santiago de chile">
             
            </div>

            <div class= "card-content">
               <h2 class="flow-text"><span class="card-title activator grey-text text-darken-4">Acupuntura a domicilio en santiago de chile<i class="material-icons right">more_vert</i></span></h2> 
              <p>
                <h3 class="flow-text">¿De qu&eacute; trata esta t&eacute;cnica milenaria (acupuntura) prestada como servicio?</h3>
                <strong>La acupuntura</strong>  es una t&eacute;cnica de medicina tradicional
                 china que consta de la <strong>aplicaci&oacute;n de finas agujas</strong>
              </p>

            </div>
            <div class="card-reveal">
             <h2 class="flow-text"> <span class="card-title grey-text text-darken-4">Acupuntura en Santiago<i class="material-icons right">close</i></span></h2>
              <p>
                <h3 class="flow-text" >¿De qu&eacute; trata esta t&eacute;cnica milenaria (acupuntura) prestada como servicio?</h3><strong>La acupuntura</strong>  es una t&eacute;cnica de medicina tradicional
         china que consta de la <strong>aplicaci&oacute;n de finas agujas</strong> en puntos espec&iacute;ficos del cuerpo para tratar diversas patolog&iacute;as, 
         algunas personas dice que esto es de manera refleja actuando sobre el sistema nervioso simp&aacute;tico y para-simp&aacute;tico, 
         pero la verdad es algo mucho m&aacute;s complejo de explicar, pero en t&eacute;rminos m&aacute;s sencillos como todo elemento terap&eacute;utico solo se busca el estado de equilibrio del cuerpo. 
         En una sesi&oacute;n tipo la persona ser&aacute; evaluada seg6uacute;n la <strong>medicina china</strong>  y con los datos recopilados se le har&aacute; un diagn&oacute;stico y posteriormente un plan de tratamiento,
         el paciente debe comprender que el proceso de <strong> enfermedad cr&oacute;nico </strong>por lo general es progresivo, as&iacute;como la vuelta al estado de salud as&iacute; como en los procesos de rehabilitaci&oacute;n 
         los cambios se ir&aacute;n percibiendo durante cada sesi&oacute;n. La duraci&oacute;n de la terapia es aproximada de una sesi&oacute;n es de 45 Min a 1 hr. y se realizan entre 2 a 3 veces por semana 
         Adem&aacute;s de <strong>la aplicaci&oacute;n de agujas</strong>, se pueden utilizar ventosas, moxibusti&oacute;n y/o electroterapia. La Organizaci&oacute;n mundial de la salud 
         ha publicado un listado de enfermedades en donde la acupuntura puede ayudar, entre ellas est&aacute;n
             </p>
            </div>
            <div class="card-action">
              <a href="#">kinesiolog&iacute;a y Acupuntura</a>
            </div>
        


      </div>
    </div>
  </div>
  
  
</div>

<!-- contenido y servicios -->

    <hr>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>algunos testimonios de pacientes</h4>
          <p class="left-align light">

          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Rehabilitaci&oacute; Kinesiolog&iacute;a a Domicilio</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/Header/PersonalTraining.jpg" alt="Unsplashed background img 3"></div>
  </div>
      <%- include('partial/precios.ejs'); %>
    
      <%- include('partial/boton.ejs'); %>

      <%- include('partial/footer.ejs'); %>
      </body>
      
      </html>