<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/navbar.ejs'); %>
  <main>
    <section class="header">
        <div class="header__background"></div>
        <div class="header__content">
          <div class="header__text">
            <h1 class="header__title">Kinesiología a Domicilio Recupérate en la Comodidad de tu Hogar</h1>
            <p class="header__subtitle">Rehabilitación Personalizada en tu Casa Cuidamos tu Bienestar</p>
          </div>
          <div class="header__cta">
            <button class="view-more-btn">Llama ahora
                <a href="tel:+56956833633" target="_blank"> fono</a>
            </button>
          </div>
        </div>
      </section>  
      <%- include('partial/servicios.ejs'); %>
      <%- include('partial/blog.ejs'); %>
      <%- include('partial/precios.ejs'); %>
      <%- include('partial/comentarios.ejs'); %>
  </main>

      <%- include('partial/footer.ejs'); %>
      <%- include('partial/boton.ejs'); %>
      </body>
      <script src="../js/action.min.js"></script>      
      </html>
      