<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>

    <div class="container">
      <div class="row">
        <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n  respiratoria infantil</h2>
           <p>
               

Las enfermedades respiratorias agudas en niños son la principal causa de hospitalización en niños y bebes. Con la implementación de los programas IRA, la manipulación oportuna de la kinesiología respiratoria, específicamente en menores de 2 años y bebes, ha contribuido en la disminuir el uso excesivo de antibióticos, que genera resistencia a este a futuro en los pacientes.
<strong>La kinesiología respiratoria infantil</strong>  es indicada por lo general en cuadros obstructivos (síndrome bronquial obstructivo) SBO, que representan el 20% del total de consultas respiratorias niños en la atención primaria de chile.
Los principales microorganismos que generan patología obstructiva o infecciones respiratorias agudas en los niños, son virales. Entre ellos virus sincicial, adenovirus, influenza, sobre todo en los niños menores de 2 años. Ya en mayores de escolar, los agentes infecciosos son principalmente de origen bacteriano, en estos  casos corresponde el uso de antibióticos.
“las sesiones  <strong> kinesiología</strong> que en lo general son indicadas por el médico, estas incluyen principalmente el uso de técnicas manuales y posicionales, con ayudas de medicamentos como aeroles de inhalación o si el caso lo amerita aspiración de secreciones con turbina. Además tienen un fuerte compromiso de educación familiar, de forma que se detecten en el hogar aquellos signos y síntomas de alarma, así como la reducción de conductas de riesgo para el paciente. Se dan recomendaciones en caso de pacientes  con fumadores en la familia, adecuada calefacción esto es evitar el uso de quema de combustible se aleña, carbón o parafina, uso adecuado de inhaladores con aerocámara, modo seguro de toser y lavado de manos frecuente en el cuidador 
Existen virus que complican y obstruyen diversas zonas en el sistema respiratorio, desde nariz y laringe, hasta pulmones, como es el caso de cuadros neumonías  y bronquiales. En cada condición  se evalúa la el pulmón y vía respiratoria en general, de modo que el niño tenga mejores condiciones de ventilación, buen dormir y calidad de reposo y comida.

<h2>Las maniobras manuales del kinesiólogo</h2>
Para la gran mayoría de los padres pueden ser choqueantes ciertas manipulaciones en la sesión de <strong> kinesiología respiratoria</strong>, sobre todo en hijos primerizos, aun así todo están de acuerdo que una vez realizada el paciente presente una gran mejoría. Por lo mismo la estancia de los adultos responsables en la sesión ayuda a que el niño se sienta seguro antes de realizar la terapia de kinesiología para mejorar la función ventilatoria.
Recomendaciones en  patología respiratorias en niños: 
<ul>
    <li>1.Pacientes bebes, consulte al médico en caso de coriza en nariz, dificultad respiratoria o aleteo nasal, silbidos al respirar, rechazo del pecho y llanto excesivo y cambio de coloración de la piel a un tono oscuro. No siempre una patología respiratoria es febril.</li>
    <li>2.La tos es un mecanismo de defensa en ningún caso es algo negativo este facilita eliminar secreciones y elementos extraños de las vías respiratorias. El uso de jarabe es preferible con indicación médica. Cuando la tos no es efectiva es posible la condición de empeoramiento del cuadro respiratorio</li>
    <li>3.Si los familiares presentan patología respiratoria en recomendable que apliquen la tos cubriéndose con antebrazo y procurar un lavado de manos constante.</li>
    <li>4.Es preferible ventilar los espacios cerrados sobre todo en caso de mucha calefacción.</li>
    <li>5.No hay evidencia significativa del uso de ungüentos mentolados en la mejoría de los síntomas.</li>
    <li>6.Es preferible alimentar a los pacientes una hora antes de aplicar la terapia por el <strong>kinesiólogo</strong>  para evitar vómitos y aspiración de este a las vías respiratorias.</li>
    <li>7.	Luego de la <strong>terapia kinésica</strong>  se debe hidratar bastante al infante, ya que éste pierde liquido por la sudoración y esto favorecerá para mantener la adecuada condiciones reológicas de las secreciones, facilitando así la eliminación de éstas.</li>
</ul>


<h2>El rol del llanto durante la kinesioterapia </h2>
Aunque la <strong>terapia kinésica respiratoria</strong>  pareciese excesiva y violenta siendo los padres los más preocupados, esta no genera ni daño interno ni dolor, solo las molestias e incomodidades que percibe el infante durante la sesión. La caja torácica de los niños es muy elástica a esas edades por lo mismo permite mejor excursión en las maniobras para la eliminación de secreciones, esto no genera daño alguno en los niños y a diferencia de los pacientes adultos facilita la remoción de las secreciones el llanto en los niños permite la eliminación de las secreciones de manera más fácil,
Ya que al movilizar más flujos de aire esto facilita la expulsión de secreciones facilitando la técnica.
En casos de que no existan cambios notables se deben actuar con otros protocolos 

<h2>Score de tal</h2>
El score de tal es un esquema terapéutico que valora la condición del paciente y determina que proceso terapéutico obtendrá en cuanto tiempo y como se aplicara, es en cierta medida como un triage modificado para patologías respiratorias en el cual se establece la gravedad de la patología y si es necesario hospitalizar o continuar en el hogar el tratamiento kinesico en caso de un puntaje muy elevado
Valora parámetros como frecuencia respiratoria, saturación, ruidos respiratorios (asociado a sibilancias) nivel de cianosis
El esquema incluye la <strong>terapia kinésica</strong>, bronco dilatación y la implementación de oxigeno suplementario, se esperan cambios en periodos de 2 horas para reevaluar parámetros y la toma de decisiones terapéuticas
<strong>La kinesiología respiratoria infantil </strong>  es adecuada en pacientes con neumonía, SBO (síndrome bronquial obstructivo), bronquitis, asma etc.
Esta terapia desde 1993 fue clave en reducir la mortandad infantil en chile 
Cualquier consulta no dudes en enviarnos un correo electrónico wassap o teléfono.


           </p>
    
    
      </div>

    <div class="container left-align">

      <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
      </div>
    
    </div>
    </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
  </body>
    
 </html>