<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>
<%- include('partial/navbar.ejs'); %>
<body>
  <%- include('partial/tagmanager.ejs'); %>
<div class="section container">
    <h1 class="grey-text text-darken-3  flow-text"><%= tiTuloh1%></h1></div>
     <%- include('partial/slideer.ejs'); %>
    <div class="container">
     <div class="row">
       <div class="col s12 m10 offset-m1 l9 offset-l1">
           <h2 class="flow-text">Kinesiología </h2>
           <p>
            
           <h2>¿Qué es la kinesiología?</h2> 
            Kinesiología roviene del griego “kinesis” que hacer referencia al movimiento y “logos” que es el estudio de algo,
            Es el estudio científico del movimiento humano, con el fin de tratar y mejorar la calidad de vida y salud en las personas, está ligada a áreas específicas como la biomecánica, traumatología, masoterapia, fisiología del ejercicios entre otras. Podría entrar aquí una distinción aparte a mi parecer para diferenciar la fisioterapia de la kinesiología. Me gusta separar el termino como tal sabiendo que en otras regiones es un símil como profesión, para mí la fisioterapia solo se encarga de entregar una terapia con elementos físicos ya sea termoterapia, ultrasonido electroterapia etc. En cambio kinesiólogo es más apropiado para el profesional encargado de realizar un análisis y evaluación profesional del movimiento o patologías afines al sistema musculo esquelético, neural, respiratorio o metabólico. Con ellos luego indicar un tratamiento adecuado.
             Creo que es bueno hacer hincapié en el nombre de kinesiología ya que su actuar y estudio es mucho más profundo y se aleja muchísimo de un uso solo técnico de la materia, siendo un profesional que en otras regiones tiene un actuar tanto en decisiones como evaluación y tratamiento, sin médicos como intermediario (eso se da específicamente en Australia o nueva Zelanda si no me equivoco donde son considerados profesionales de primera consulta, favoreciendo a los pacientes el ahorro de las derivaciones constantes de médicos como intermediario que aumentan los costos de atención) 
            En chile esta profesional tiene una larga historia. Está ligada su nacimiento inicialmente como una rama de la educación física en 1906, para ya ir asentándose más específicamente desde 1912 como terapia física y maso terapia, aproximadamente desde el año 1957 ya se establece como carrera universitaria como tal en chile con planes académicos independiente a educación física  siendo reconocida de manera legal como profesión asociada a la salud. En otras latitudes tomo gran importancia desde los brotes y epidemia de la poliomielitis y su acción en las lesiones traumáticas de las post guerras (mundiales I y II). 
            
            Entonces para las dudas y en modo de resumen
           <h2>¿Qué hace la kinesiología?</h2> 
            Es el profesional que está capacitado para evaluar a nivel físico a una persona, para así llegar a un diagnóstico “funcional” que le permita al mismo una recuperación en lo posible completa y una adecuada recuperación  de las capacidades que en algún momento pudieron estar comprometidas por algún accidente o patología asociada. También tiene un componente biopsicosocial, ya que el kinesiólogo está capacitado para ayudar en la inclusión social y funcional de las personas con alguna discapacidad.
           <h2>¿Qué áreas de estudio tiene  la kinesiología?</h2> 
            Hoy en día el actuar del kinesiólogo es muy amplio puede desenvolverse desde el área deportiva, trabajo en urgencias clínicas, rehabilitación en procesos de quemaduras, traumatología etc.
            Existiendo una lista a modo de resumen de algunas áreas en las cuales existe el trabajo kinésico
            •	kinesiología en traumatología
            •	kinesiología respiratoria
            •	kinesiología en geriatría
            •	kinesiología en neurología
            •	kinesiología deportiva
            •	rehabilitación cardiovascular
            •	rehabilitación metabólica
            •	kinesiología estética
            Aun así esto es una pequeña lista ya que existen muchas sub especializaciones dentro de las mismas, como en áreas de traumatologías existen especialistas de mano o rodilla, en respiratorio existen especialistas en cuidados intensivos, existen kinesiólogas encargadas de la rehabilitación del piso pélvico o solo al área de embarazadas el campo es muy amplio.
           <h2>¿Qué te hacen en una sesión de kinesiología?</h2> 
            Lo ideal es comenzar con la evaluación física, independiente que ya exista un diagnóstico médico, la evaluación kinésica es completamente diferente ya que se trata de pesquisar los estados funcionales del cuerpo, para que se entiendan por ejemplo, se busca evaluar aspecto de flexibilidad y fuerza en algunos grupos musculares determinados, o evaluar rangos articulares para plantar objetivos de tratamiento en traumatología, en área respiratorio se puede evaluar por medio de la auscultación los segmentos pulmonares y donde se Allan las secreciones para poder objetivar los tratamientos.
            Una vez evaluado la idea es proseguir con los elementos terapéuticos. Aquí a mi parecer es crucial destacar que los ejercicios son cruciales y posen mucha más eficacia y evidencia que cualquier alternativa en fisioterapia, estos son la base más fuerte para cualquier tratamiento donde hay mucha publicación que los pueden avalar, obviamente cada tratamiento es súper dependiente de cada operador (kinesiólogo) y bases científicas puedan justificar su tratamiento.
            Esto no quiere decir que en algunas condiciones no se usen elementos de fisioterapia que obviamente pueden ayudar a mejorar los resultados en cuanto al proceso de rehabilitación (cuando lo requieren). Claro está que entra el mismo criterio, bases que justifiquen su aplicación.
            Ahora esto es importante destacar si alguien está en un tratamiento de rehabilitación y su kinesiologo en ningún momento le aplica algún esquema de ejercicios terapéuticos, por favor exíjalo. Ya que la aplicación de elementos de fisioterapia por sí solo no dará una solución a largo plazo (esto pensado en área de traumatología). Por lo mismo la profesión es “kinesiología”
            Movimiento 
           <h2>¿ Quien invento la kinesiología?</h2> 
            Más que un invento esto e sin conjunto de aplicaciones terapéuticas de los más variados orígenes, aquí entran aplicaciones de masajes los cuales existen data desde los egipcios hace 5000 años, técnicas de, Hipócrates con sus tratados asociado a la terapia física asociando al movimiento como agente natural de la salud. De esta misma época data la hidroterapia. 
            En las escuelas chinas o induces también existen larga data con las manipulaciones manuales o masajes
            Todo esto consagrándose y tomando forma ya a mediados del siglo XX sobre todo entre los periodos de guerras mundiales en el cual aumento drásticamente los traumatismos de guerra
            Sumándose dentro del mismo periodo las epidemias de poliomielitis, todo en lo cual fue necesario la creación de un profesional completo e integral que pudiese actuar en todas aquellas necesidades
            Porque elegir kinesiología
            Pues sencillamente porque es la única profesión capacitada para trabajar con personas con patologías asociadas, no es lo mismo que educación física que son preparados para trabajar con personas sanas, ya que un kinesiólogo posee una malla curricular enfocada en procesos de patología y fisiología (entre ellas neuro-fisiologia-fisiopatologia-fisiologia del ejercicio) y estudios específicos en condiciones de traumatología, patologías respiratorias, metabólicas etc.
           
           <h2>¿Como se aplica la kinesiología?</h2>
            
            Pues el enfoque principal de tratamiento tiene muchas veces que ver con ejercicios dirigidos a restaurar la salud. Cada ejercicio en específicos que se tratan de aplicar de manera justificada y esta justificación viene dada por estudios o análisis de investigaciones (papers revisados por cada profesional que aplique cada ejercicio) que plantearan cual es más óptimo para determinadas enfermedades o patologías
            Además de eso existe en algunas condiciones aplicaciones manuales o de fisioterapia para coadyuvar al proceso
           <h2>¿ Cuantos años dura la carrera de kinesiología?</h2>
            La carrera de kinesiología en chile dura aproximadamente 5 años teóricos 
            Abecés puede extenderse uno año más por procesos de tesis de grado
           <h2>Como es la carrera de kinesiología</h2> 
            Pues a experiencia personal es algo muy gratificante el ver la satisfacción de los pacientes en sus procesos curativos, sobre todos aquellas personas que no les daban muchas expectativas, ayudarles  a solucionar sus problemas es el mejor pago
            
             <h2>¿Como se hace para sacar los mocos en kinesiología?</h2>
            Para saber eso revisa la sección de kinesiología respiratoria (aquí)
            <h2>Kinesiología como ciencia</h2>
            Esto es un área que por lo general se desarrolla en universidades, existen muchas investigaciones desde el área de biomecánica (que es el estudio de las condiciones físicas y mecánicas de los tejidos  con movimiento del cuerpo), fisiología del ejercicio, respiratoria, neurología etc. Hay muchísimo para hablar. Si se quiere averiguar más existe una base de datos gratuita scielo.org donde pueden acceder a muchos trabajos de investigación
            Como kinesiólogo mi objetivo es entregar un servicio de buena calidad. Por estándar trato de no colocar un horario ya que me gusta aplicar de todo para ayudar a mis pacientes, como profesional en esta área uno debe hacerse valor por su trabajo por lo mismo este debe ser excelente
            
            <h2>¿Como hacer kinesiología en casa para el proceso de atención en casa como profesional?</h2> llego todo el material necesario para poder entregar el mejor servicio
            Ya sean camillas, equipos de fisioterapia, vendajes si lo requiere o elementos anexos a los ejercicios
            <h2>¿Como hacer kinesiología respiratoria en niños?</h2>
            Para saber más de ese proceso revisar la sección de kinesiología respiratoria infantil
           <h2>¿ Como hacer kinesiología respiratoria en adultos?</h2>
            Para saber más de ese proceso revisar la sección de kinesiología respiratoria adulto
            
            
            <h2>Donde estudiar la kinesiología</h2>
            Pues lo ideal si estas interesad@ en estudiar esta carrera te recomiendo que sea una universidad acreditada
            Cuando ir al kinesiólogo
            Pues cuando se necesite de algún proceso de rehabilitación, por casos de tramas o dolores o incapacidad en la función respiratoria, en fin. Cualquier caso  no dude en llamar a los contacto en este sitio web para darle soluciones reales
            <h2>¿ Quien es el  kinesiólogo que lo atendera en su casa?</h2>
            Paulo silva manita licenciado en kinesiología
            
           </p>
    
    
    
      </div>
      
      <div class="container left-align">

        <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
        </div>
    
       </div>
     </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>