<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/luxacion-rotula" class="breadcrumb">luxacion rotula</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

 

   <div class="container">
     <div class="row">
      <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a  en PATOLOGIA  LUXACIÓN AGUDA DE RÓTULA  </h2>

            <p>
                LUXACIÓN AGUDA DE RÓTULA
La luxación Aguda de Rótula se origina cuando se pierde la relación de la patela con el fémur y la rótula se desencaja de su sitio. Es una lesión que puede ser espontanea o producto de algún traumatismo.
La rótula (patela) es el hueso sesamoideo de mayor tamaño que existe en nuestro cuerpo y que forma parte de la rodilla. En la parte superior de la rótula se inserta el tendón del cuádriceps el que manda fibras que van por delante de ésta para transformarse posteriormente en el tendón patelar, cuya inserción final es en la tibia. Se encuentra en la parte anterior de la rodilla y se articula con la tróquea femoral.
La rótula o patela es la encargada de transmitir la fuerza del muslo (músculos cuádriceps) a la pierna. La superficie de la articulación de la rótula con el fémur, al igual que todas las articulaciones móviles, está cubierta de cartílago articular. La Rótula o patela actúa como polea y también como palanca, permitiendo una mayor eficiencia en el trabajo biomecánico del aparato extensor de la rodilla.

LESIÓN DE LA PATELA
La luxación Aguda patelar produce cuando esta estructura pierde la relación o alineación con el surco intercondileo del fémur saliendo de la zona de movimiento articular normal. Esta lesión puede deberse a traumatismo o alteraciones genéticas en la formación patelar. Por lo general se asocia a veces  hiperlaxitud o a la formación patelar tipo II. Cuando se produce, la rótula luxa y retorna a su zona cuando la persona extiende la rodilla. En deportes en general se debe a trauma directo, siendo por lo general pacientes mujeres las más afectadas
SÍNTOMATOLOGIA
Dolor e impotencia funcional al flexo extensión de la rodilla
A la observación se puede ver la lateralización subcutánea de la patela
Es posible que curse con inflamación en caso de ruptura de estructuras capsulo ligamentosas de la zona

EXÁMENES
Ideal examen de radiografía inicialmente para determinar posición de la fractura, a veces es el mismo paciente que posiciona su patela en el canal cóndilo, en condiciones más graves deber efectuar la maniobra el traumatólogo
Es ideal que además se pudiese evaluar con resonancia magnética en casos de luxaciones recurrentes para determinar el daño a otras estructuras de tejido blando


TRATAMIENTO
El tratamiento en primera instancia será del tipo conservador, iniciando con vendaje ortopédico y kinesiología, si es el caso de luxaciones recurrentes o lesiones en tejidos blandos asociado a la luxación lo ideal es la intervención quirúrgica inicialmente antes para luego dar paso a la intervención del kinesiólogo.
¿EN QUÉ CONSISTE LA INTERVENCIÓN QUIRÚRGICA?
En la intervención quirúrgica se interviene el ligamento patelo femoral buscando centrar la patela y mejorar la estabilidad de la zona para evitar nuevas luxaciones, aunque en casos de paletas con alteraciones en su estructura ósea a nivel genético (patelas tipo I o tipo II) estas tendrán más incidencias en la luxaciones recurrentes
Es ideal prevenir la lesión evitando las actividades que sean de más riesgos de luxación, como deportes de alto impacto o bailes en los cuales los cambios de dirección o giros pueden provocar la luxación de la estructura

TIEMPO ESTIMADO DE REHABILITACIÓN
El periodo de rehabilitación kinésica dependerá en primera instancia del tipo de lesión asociada a la luxación, pudiendo varias hasta los 8 meses
Siendo la primera actividad funcional a las 8 semanas
PRIMERA SEMANA DE KINESIOLOGIA
DISMINUCION DE FATORES INFLAMATORIOS Y DOLOROSOS
•	Ejercicios isométricos del cuádriceps 
•	Ejercicios de extremidad inferior a nivel global evitando la flexión de rodilla
•	Equilibrio unipodal
SEGUNDA SEMANADE REHABILITACION
Se busca mejorar fuerza y flexión progresivamente en la rodilla
•	Flexión de rodilla a tolerancia del dolor
•	Bicicleta con sillín elevado
•	Ejercicios con cargas progresiva
•	Ejercicios de estabilidad mejorando los componentes propioceptivos asociados a la visión y sistema vestibular

CUARTA SEMANA
Aumentar la flexión de rodilla hasta 90°
•	Además de continuar con las rutinas anteriores se buscara mejorar la resistencia en los ejercicios aeróbicos en cadena cinética cerrada además de aumentar progresivamente los trabajo de fuerza
•	Agregar ejercicios tipo sentadilla y estocadas a intensidad leve

Ya establecido un periodo de cicatrización de los tejidos que ocurre alrededor de la semana 6
Se comenzara a realizar un proceso de rehabilitación más progresivo en cuanto a la ganancia de fuerza en la extremidad inferior, ganancia en la propiocepcion y equilibrio
Ganancia en la activación de ejercicios acorde a la actividad como por ejemplo progresivamente ir integrando ejercicios pliometricos, caminatas con ritmos progresivos hasta llegar al trote etc.

            </p>
        </div>
      
      <div class="container left-align">

        <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
        </div>
    
       </div>
     </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>