<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>
<%- include('partial/navbar.ejs'); %>
<body>
  <%- include('partial/tagmanager.ejs'); %>
<div class="section container">
    <h1 class="grey-text text-darken-3  flow-text"><%= tiTuloh1%></h1></div>
     <%- include('partial/slideer.ejs'); %>
    <div class="container">
      <div class="row">
       <div class="col s12 m10 offset-m1 l9 offset-l1">
        
           <p>
              <h2>Kinesiología en rehabilitación neurológica</h2> 
<strong>¿Qué es la neuro- rehabilitación?</strong> 
Es un enfoque de rehabilitación que se encarga de manejar los trastornos motrices, sensitivos y funcionales de las personas con alteraciones en sus componentes del sistema nervioso, ya sea central o periférico (SNC, SNP)
Los  objetivos principales son facilitar y mejorar el desarrollo efectivo y la participación satisfactoria de las actividades básicas e instrumentales de la vida diaria, eso incluye funciones tan simples como cambios de ropa o aseo personal, como desplazamientos en locomoción urbana o trayectos al trabajo, estando siempre presente su ambiente familiar, social, laboral y recreativo, con el fin de promover su plena integración y autonomía dentro de un entorno saludable.
Los pacientes que por lo general entran a este tipo de programas son aquellos que están con secuelas recientes o antiguas de accidentes cerebrovasculares (ACV o AVE), que cursan por lo general con <strong>trastorno de hemiplejia y motricidad</strong>  entre otras cosas.
<strong>Pacientes con parálisis facial</strong>: la cual consiste en alteración de la motricidad de la musculatura de la cara (expresión facial en general)
Pacientes con alteración neurológica degenerativa central o periférica
Entre ellos están pacientes que padecen de guillan barre (link)
Pacientes que están en alguna fase de ELA (<strong>esclerosis lateral amiotrofia</strong> ) (link)
Pacientes con <strong> trastorno asociados al Parkinson</strong> (link)
Pacientes con patología neurológica asociada a traumatismos (cerebral, cerebelar, inflamación de meninges)
También entran a esta categoría todo aquel paciente infantil que producto del desarrollo intrauterino presente patologías de neuro - desarrollo, como parálisis cerebral, trastornos de desarrollo psicomotor, parálisis braquial obstétrica etc.
<h3>¿En qué consiste la terapia en general?</h3>
Por medios de estrategias basadas en ejercicios y movimientos específicos se espera que el paciente logre una mayor independencia de sus patrones motores, reduzca o aumente el tono muscular favorecer el control motor y desplazamientos con o sin ayudas técnicas, reducir en lo posibles los efectos nocivos de la patología neurológica
<h3>¿Cuánto tiempo de rehabilitación se necesita?</h3>
Esto es muy variable por lo general los pacientes de neuro - rehabilitación, necesitan años para lograr una rehabilitación optima y en casos graves se necesitan terapias continúan para siempre. Ya que el sistema neuronal requiere mucho tiempo para adaptarse a los cambios, pensando también en el bolsillo de la familia, dentro de las sesiones de terapia se espera entregar ciertas herramientas a la familia para que puedan ejecutar los ejercicios y desplazamientos que enseñara el terapeuta, para de esa manera poder mantener una estrategia al largo plazo con respecto a la terapia
¿Qué esperanzas hay de recuperación total?
Bueno muchas veces los pacientes se pueden recuperar del todo y con mínimas secuelas después de un año de rehabilitación, pero esto solo es factible dependiendo del daño que pueda existir en el tejido lesionado (área de penumbra en caso de ACV) si el daño es muy severo el enfoque de rehabilitación será netamente de mantención de las condiciones del paciente, como disminuir los efectos del reposo prolongado, evitar la incidencia y prevalencia de patologías respiratorias (link de kine respiratoria) disminuir los efectos de la hipotonías y espasticidad (link que explique esto)
Además se debe esperar que el tratamiento en esta área sea súper multidisciplinario, donde no solo actué un kinesiólogo, también es necesario un fonoaudiólogo, terapeuta ocupacional, médico especialista en neurología, ya que el paciente requiere reeducar multitud de funciones pérdidas o nunca adquiridas por el procesos que conlleva su patología

En resumen la terapia va enfocada a las siguientes personas
Campos de acción
<ul>
    <li>Trastornos vasculares (lesiones provocada por vasos sanguíneos): Accidentes Vasculares Encefálicos (AVE) Isquémicos y Hemorrágicos.</li>
    <li>Infecciones (enfermedades que afecten o contaminen el SN): como la meningitis, la encefalitis, la poliomielitis y los abscesos cerebrales.</li>
    <li>Traumatismos: como las lesiones cerebrales (TEC abiertos y cerrados) y de la médula espinal (esta puede ser trastorno de paraplejia o tetraplejia)</li>
    <li>Trastornos estructurales o neuromusculares: tumores del encéfalo o de la médula espinal o el síndrome de Guillan-Barré.</li>
    <li>Trastornos degenerativos: enfermedad de Parkinson, la esclerosis múltiple, la esclerosis lateral amiotrofia.</li>
</ul>
Trastornos neurológicos en niños:
<ul>
    <li>parálisis cerebral infantil</li>
    <li>desarrollo psicomotor</li>
    <li>parálisis braquial obstétrica</li>
</ul>


 <strong>¿Que herramientas se pueden utilizar en la rehabilitación neurológica?</strong> 
<h3>Hipo terapia</h3> : técnica en la cual se emplean caballos con el fin de modular los trastornos del tono muscular y los efectos posturales en el pacientes con ayuda de la montura de este último en el caballo se producen resultados excelentes en todas aquellas patologías que conlleven alguna limitación del aparato motor o muscular debido a la posición del cuerpo y al movimiento que produce el caballo al galopar
<h3>Motricidad asistida por equipos (lokomat)</h3> :es un equipo robótico de última generación que busca modular los efectos de la marcha en los pacientes con el fin de regular un efecto motor en repuesta de feedback hacia el snc para posibilitar y facilitar una marcha futura, todos esto adaptado a las necesidades particulares de cada paciente. Por lo general este tipo de equipamiento es implementado en grandes centros de rehabilitación  imposibilitando su aplicación en domicilios de pacientes (https://www.sciencedirect.com/science/article/pii/S0716864014700355)
<h3>Balones suizos:</h3> se usan básicamente con el fin de modular las condiciones posturales del paciente y con ello ayudar  a modular las condiciones del tono muscular anómalo (por ejemplo se estima que el revote sobre el balón estimularía los centros de control del tono extensor de la columna por medio de la acción del sistema vestibular)
<h3>Tareas funcionales :</h3> es básicamente re-educar al paciente en sus actividades básicas de la vida diaria, como tomar una cuchara, realizar un aseo personal, escribir, cambiar su posición de cama o sillas, desplazamientos etc.
<h3>Realidad virtual:</h3> aunque aún está en desarrollo, estos elementos se están comenzando a utilizar inicialmente en trastorno del equilibrio y otras áreas como la motricidad más gruesa (como en juegos más deportivos)
<h3>Maniobras manuales:</h3> por medio de técnicas de masajes o movilización activo asistido o movilizaciones pasivas se busca modular y regular la información sensorial de músculos tendones y articulaciones, mejorar la flexibilidad de los tejidos blandos y estimular con diferentes elementos la piel para manejar las respuestas sensitivas del paciente
<h3>Ejercicios kinésicos específicos:</h3> estos dependerán de la evaluación funcional del paciente ya sea su condición de marcha (desplazamientos) equilibrio, falta de fuerza en algunos patrones o grupos musculares etc.
<h3>Técnicas de neuro - rehabilitación de bobath:</h3> Se basa en la capacidad del cerebro para reorganizarse a partir de estímulos sensoriales periféricos, buscando que las partes sanas del cerebro puedan compensar las funciones que fueron realizadas previamente por las regiones dañadas del cerebro. El requisito previo para esto es, sin embargo, un soporte y un estímulo aplicado al paciente por parte del kinesiólogo. El concepto ha alcanzado buenos éxitos en la rehabilitación, particularmente en el caso de los enfermos que sufren paresia en un lado del cuerpo (hemiparesia) después de un accidente vascular.
La persona afectada de una hemiparesia tiende a menudo a descuidar su lado paralizado, y por lo tanto sus limitaciones, para compensar con su lado menos afectado. Estos movimientos llevados a cabo con sólo un lado del cuerpo, sin embargo, ayudan al paciente de una manera básica, puesto que el lado afectado no se da la capacidad de recibir y de trabajar con la nueva información. El cerebro por lo tanto no tiene la oportunidad de reestructurarse. Incluso, debido a los movimientos asimétricos, existe peligro de desarrollar espasmos dolorosos en la zona afectada.
El valor principal del Concepto Bobath es apoyar al lado afectado del cuerpo tanto como sea necesario para adaptar sus movimientos de manera acorde con el lado menos afectado del cuerpo. Es, en definitiva, un modo de equilibrar el cuerpo en cuanto a funcionalidad y movilidad.
Otra de las claves del concepto Bobath es la modificación de los patrones de movimiento anormales que resultan de la propia lesión y facilitar el movimiento para conseguirlo de la manera más funcional, siempre siguiendo los hitos obtenidos en el neurodesarrollo fisiológico humano. (Fuente Wikipedia)


<h2>Técnicas de neuro- rehabilitación de kabat</h2>
El método Kabat o es una técnica de facilitación neuromuscular propioceptiva. 
Dentro de sus objetivos están:
<ul>
    <li>Reforzamiento muscular</li>
    <li>Aumento de la estabilidad</li>
    <li>Aumento de la amplitud articular</li>
    <li>Restablecimiento de la coordinación</li>
    <li>Reentrenamiento del equilibrio</li>
    <li>Relajación muscular</li>
</ul>


<h3>Principios básicos del método kabat</h3>
<strong>Movimientos complejos</strong>:   Los patrones de movimiento utilizados en este método son globales, en masa, similares a los desarrollados en los actos de la vida diaria. El sentido de los mismos es diagonal y espiroidal, en relación con la disposición diagonal y rotatoria de huesos, músculos y articulaciones. Se realizan según 3 dimensiones: Flexión-extensión, abdución-adducción y pronación, supinación; y se organiza alrededor de una articulación principal o pívot. El movimiento se ejecuta desde la mayor amplitud articular, donde las fibras musculares están elongadas al máximo acortamiento del recorrido, aprovechando toda la amplitud del movimiento, y desde la parte más distal del segmento para recibir el mayor número de estímulos propioceptivos.
Patrones cinéticos del método Kabat
Son movimientos integrados que tienen un carácter global y se realizan en diagonal y espiral, es decir, con componentes de rotación, produciendo de forma muy exacta los movimientos que se realizan en las actividades de la vida diaria
En las diagonales (movimientos diagonales realizado con las extremidades), configuradas en forma de “X” existen en cada una de ellas dos patrones antagonistas uno del otro, y constan de flexión o extensión, abducción- aducción, y rotación interna o externa. Con la excepción de los patrones de cabeza, cuello y tronco donde solamente se combinan momentos de flexión o extensión con rotación derecha o izquierda.
Técnicas específicas de facilitación propioceptivas
Con frecuencia estas técnicas se emplean de manera combinada, debiendo ser seleccionadas según el tipo de lesión. Pueden ser de dos tipos: de refuerzo y potenciación, o de relajación o estiramiento:
– Refuerzo y potenciación:
<ul>
    <li>Contracciones repetidas: Se trata de repetir los mismos movimientos o patrón. La resistencia será la máxima que el paciente pueda soportar; se puede añadir el estiramiento y se realiza de dos maneras: por repetición del reflejo de estiramiento o por contracciones alternantes isométricas-isotónicas. En esta última, al final del recorrido isotónico se pide una contracción isométrica. Estas contracciones repetidas no están indicadas en post-operados recientes y los ortopédicos agudos.</li>
    <li>Inversión lenta: El paciente realiza un patrón contra resistencia máxima seguido inmediatamente del patrón antagonista. El cambio debe realizarse con rapidez.</li>
    <li>Inversión lenta y sostén: Lo mismo que el anterior, pero se añade una contracción isométrica al final de cada amplitud de movimiento.</li>
    <li>Estabilización rítmica: Se emplea una fuerte contracción isométrica del patrón agonista, seguido de una contracción isométrica del antagonista.</li>
</ul>

<h3>Relajación o estiramiento</h3>
Estas técnicas facilitan la movilidad. Cómo por ejemplo:
<ul>
    <li>1-Sostener-relajar: Se aplica en pacientes que presentan una</li>
    <li>2-Contraer-relajar: Igual que la precedente, pero se permite el movimiento de rotación, puede hacerse en puntos sucesivos del recorrido.</li>
    <li>3-Inversión lenta, sostén y relajación: El objetivo es estimular al agonista después de relajar el antagonista. El paciente realiza el patrón hasta el límite de la movilidad articular. Seguidamente se provoca una contracción isométrica de los antagonistas, y se mantiene en lo posible 30 segundos. A continuación, relajación progresiva, seguida de contracción isotónica del patrón agonista.</li>
    <li>•	4-Iniciación o técnica rítmica: Está reservada para pacientes que padecen alteraciones extra piramidales, como rigidez o temblor. Tiene el propósito de promover la habilidad para iniciar el movimiento y aumentar la rapidez del mismo. Primero se ejecutarán los patrones de forma pasiva, por tanto, esta técnica estará contraindicada donde no se puedan realizar movilizaciones pasivas.</li>
</ul>
importante limitación de la amplitud articular. No provoca dolor. Se coloca el segmento en la máxima amplitud articular y se pide una contracción isométrica, sin permitir el movimiento. Después se relaja y se intenta ampliar el rango articular.
<h3>Objetivos e Indicaciones del Método Kabat</h3>
Su uso está indicado a diferentes niveles: neuropatías periféricas, patología del sistema nervioso central, traumatología, reumatología, ortopedia, patología cardio-respiratoria, geriatría y medicina deportiva.
En función del tipo de lesión y el efecto deseado, se hará la elección de la técnica a utilizar, teniendo además presente la edad del paciente, el estado físico y psíquico y la tolerancia al esfuerzo.
¿Quieres tener alguna idea de cómo trabajar algo de esto en casa?
Sigue este link (ejercicios  de neuro rehabilitación recomendados para aplicar en casa)

           </p>
    
    
    
      </div>

    <div class="container left-align">

      <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
      </div>
    
    </div>
    </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>