<!DOCTYPE html>
<html lang="es">
    <!DOCTYPE html>
    <html lang="es-CL">
    
      <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#317EFB">
        <!-- meta etiquetas de region especifica del sitio -->
        <meta name="google-site-verification" content="k0ifTL9HEpSv6O2o5-koMb6yDs9HI_Z2hLJRUNrDto8">
        <meta name="geo.region" content="CL-RM">
        <meta name="geo.placename" content="Ñuñoa">
        <meta name="geo.position" content="-33.454122;-70.600673">

        <meta name="ICBM" content="-33.454122;-70.600673">
        <meta name="robots" content=" <%= index%> ">
        <meta name="keywords" content="kinesiologo a domicilio, kinesiologia, kinesiologo, acupuntura, rehabilitacion, respiratorio, traumatologia, neurologia, deportivo, adulto mayor, medicina china">
        <meta name="description" content=" <%= metaDescripcion%> ">
        <link rel="canonical" href=" <%= canonical%> ">
        <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.webp">
        <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.webp"/>
        <!--   metas de redes sociales-->
        <meta property="fb:app_id" content="342670069681285">
        <meta property="og:locale" content="es_CL">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
        <meta property="og:image:type" content="image/webp">
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="300">
        <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
        <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta property="og:url" content="http://www.kinesishouse.cl/">
        <meta property="og:site_name" content="kinesis house">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
        
       
       <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="/public/css/blog.min.css">
       <link rel="stylesheet" href="/public/css/style.min.css">
       <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
       <style>
                /* Define a container with flex display for desktop and flex-direction column for mobile */
    .container {
      display: flex;
      justify-content: space-between; /* Place sections side by side */
      align-items: center; /* Center vertically in desktop view */
      padding-bottom: 20px;
    }
    .lista-1 {
      list-style: none;
      margin: 10px;
    }
    .material-icons {
      padding-right: 10px;
      color: blue;
    }
      
            .feature {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin: 10px;
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                padding: 20px;
                background-color: #fff; /* Cambia el color de fondo según tus preferencias */
            }
        
            .feature img {
                width: 60px; /* Ajusta el tamaño de la imagen según tus preferencias */
            }
            .icon-porte{
             
              font-size: 50px;
              
            }
            .h2-landing{
              font-size: 2.5rem;
              padding-bottom: 40px;
            }
            .p-landing {
              font-size: 1.5rem;
              padding-top: 40px;
            }
            .call-to {
              color: #ffffff;
            }
            @media (max-width: 768px) {
              .container {
                  flex-direction: column; /* Stack sections in mobile view */
              }
          }
          
          
          /* Styling for the left section */
          .section.left {
              flex: 1; /* Occupy available space */
              text-align: center;
              padding: 20px;
          }
          
          /* Styling for the right section */
          .section.right {
              flex: 1; /* Occupy available space */
              text-align: center;
          }
            @media screen and (min-width: 768px) {
                section {
                    display: flex;
                    flex-wrap: wrap;
                }
                .section-contacto {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 40px;
                }
        
                .feature {
                    flex: 0 0 calc(33.33% - 20px);
                }
            }
            .container23 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
             
              background-color: #f4f4f4;
            }
        
            .form-container {
              background-color: #ffffff;
              padding: 20px;
              border-radius: 10px;
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
              width: 80%;
              max-width: 400px;
            }
        
            .input-field {
              margin-bottom: 20px;
            }
        
            label {
              font-weight: bold;
            }
        
            input[type="text"] {
              width: 100%;
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;
            }
        
            input#texto {
              height: 150px;
            }
        
            .btn {
              background-color: #007bff;
              color: #ffffff;
              border: none;
              padding: 10px 20px;
              border-radius: 5px;
              cursor: pointer;
              width: 100%;
            }
        </style>

    <title><%= pageTitle%></title>
        
    <script type="application/ld+json">
        {
            "@context": "http://www.schema.org",
            "@type": "FAQPage",
            "mainEntity": [
                {
                    "@type": "Question",
                    "name": "¿Por qué ofrecen servicios de kinesiología en Ñuñoa?",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "Ñuñoa es una comuna pequeña pero son que buscan el mejor servicio en todo, prestamos el servicio de kinesiologo a domicilio para facilitar su rehabilitación."
                    }
                },
                {
                    "@type": "Question",
                    "name": "¿Dónde se pueden obtener servicios de kinesiología en Ñuñoa?",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "Ofrecemos atención de kinesiología a domicilio en ñuñoa  y en el domicilio de los usuarios. buscamos a toda costa la comodaidad de nuestros pacientes al ir directamente a sus casas a atenderlos."
                    }
                }
            ]
        }
    </script>
</head>
<body>
    <%- include('partial/navbar.ejs'); %>
    <div class="container">
        <div class="section right">
            <h1 class="h1-blog">Kinesiólogo a Domicilio en ñuñoa</h1>
            <p> ¡Bienvenido a nuestra página de <strong>Kinesiología a Domicilio en Ñuñoa</strong>! Nuestro compromiso es brindarte atención especializada de kinesiología en la comuna de Ñuñoa, sectores como plaza Ñuñoa, cercano a avenida grecia y pedro de valdivia</p>
            
            <button class="btn"><a class="call-to" href="tel:+56956833633">Llamar al +56956833633</a></button>
        </div>
        <div class="section left">
            <img class="img-blog" src="../public/images/Deporte.webp" alt="Kinesiólogo a Domicilio en Ñuñoa">
        </div>
    </div>
    <div class="container">
        <div class="section left">
            <img class="img-blog" src="../public/images/Neurologia.webp" alt="Kinesiología a Domicilio en Ñuñoa">
        </div>
        <div class="section right">
            <h2>¿Por qué Elegir Nuestros Servicios de Kinesiología a Domicilio en Ñuñoa?</h2>
            <p>En <a href="http:www.kinesisHouse.cl">KinesisHouse.cl</a>, nos enorgullece ofrecer una experiencia única de <strong>rehabilitación</strong> y bienestar en la comuna de <strong>Ñuñoa</strong>. Nuestro <strong>kinesiólogo</strong> altamente especializado en rehabilitación y terapias se dedica a proporcionar atención personalizada que se adapta a tus necesidades individuales. Al elegirnos, disfrutarás de:</p>
            <ul class="lista-1">
                <li><i class="material-icons">check_circle</i>Comodidad en Tu Hogar: Elimina la necesidad de desplazarte. Nuestros profesionales te <strong>atenderán en la comodidad de tu casa</strong>, brindándote la atención que mereces sin salir de tu entorno.</li>
                <li><i class="material-icons">check_circle</i>Experiencia Profesional: Nuestro equipo de <strong>kinesiólogos con casi 10 años de experiencia</strong> está dedicado a brindar terapias efectivas que promuevan la recuperación y mejora de la movilidad, combinando con <strong>terapias alternativas</strong> para mejorar el resultado de la <strong>kinesiología</strong>.</li>
                <li><i class="material-icons">check_circle</i> Enfoque Personalizado: Reconocemos que cada paciente es único. Diseñaremos un plan de <strong>tratamiento personalizado</strong> que se adapte a tus necesidades y objetivos específicos, asegurando que la atención esté enfocada 100% en ti y tu problema.</li>
            </ul>
        </div>
    </div>
    <section>
        <div class="feature">
            <i class="material-icons icon-porte">local_hospital</i>
            <h2 class="h3-blog">Experiencia de Kinesiología en Tu Hogar</h2>
            <p class="p-blog">Descubre los beneficios de recibir <strong>terapias de kinesiología</strong> en la comodidad de tu hogar en comuna de ñuñoa.</p>
        </div>
        <div class="feature">
            <i class="material-icons icon-porte">person</i>
            <h2 class="h3-blog">Rehabilitación Personalizada</h2>
            <p class="p-blog">Nos comprometemos a brindarte una atención individualizada que se adapte a tus necesidades de <a href="www.kinesishouse.cl">rehabilitación</a> y bienestar.</p>
        </div>
        <div class="feature">
            <i class="material-icons icon-porte">local_pharmacy</i>
            <h2 class="h3-blog">Expertos en Kinesiología en Ñuñoa</h2>
            <p class="p-blog">Somos líderes en <strong>servicios de kinesiología en la comuna de Ñuñoa</strong>. Conoce a nuestro equipo de profesionales altamente capacitados.</p>
        </div>
    </section>
    <section class="section-contacto">
        <h2 class="h2-landing">Contáctanos</h2>
        <div class="container23">
            <form class="s12" action="mailto:kinesishouse@gmail.com" method="post" enctype="text/plain">
                <div class="row card-panel">
                    <div class="input-field col s6">
                        <input type="text" placeholder="Ingresa tu nombre" id="nombre" class="validate" required>
                        <label for="nombre">Nombre:</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" placeholder="Ingresa tu Apellido" id="apellido" class="validate" required>
                        <label for="apellido">Apellido:</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" placeholder="Escribe tu mensaje" id="texto" class="validate" required>
                        <label for="texto">Mensaje:</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" placeholder="Ingresa tu E-mail" id="email" class="validate" required>
                        <label for="email">Email:</label>
                    </div>
                    <button class="btn" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <p class="p-landing">
            Puedes llamarnos o, si prefieres, escribirnos un correo o WhatsApp.
        </p>
    </section>
       <%- include('partial/servicios.ejs'); %>
</main>
<%- include('partial/footer.ejs'); %>
 <%- include('partial/boton.ejs'); %>
 </body>
 <script src="../js/action.min.js"></script>      
 </html>
