<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>

 

   <div class="container">
     <div class="row">
      <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a  en PELLIZCAMIENTO DE CADERA </h2>

            <p>
                PELLIZCAMIENTO DE CADERA
Se ha establecido como el causante principal de artrosis de caderas en deportistas, como lo
 son running futbol artes marciales etc...
DEFINICIÓN
Esta patología  se genera por una mescla de alteraciones en el acetábulo o cabeza del fémur e 
incluso ambas combinadas, generando  un aumento de la superficie de contacto entre ambas superficies 
óseas que provocaran un desgaste de la estructura en el mediano plazo. En la edad juvenil esta patología 
no da síntomas pero con el tiempo y por la sobre actividad de la estructura terminara provocando la sintomatología de un momento a otro.
Dentro del estudio imagenologico existen o radiografía o tomografía estas mostraran alteraciones como el tipo pinzer o el tipo bump,
 la primera es una calcificación del acetábulo y su capsula articular que termina por pinzar la cadera cuando esta está en rango articulares 
 máximos, el bump es un resalte como un solevantamiento que ocurre en el fémur ya sea en la cabeza femoral o el cuello femoral.

 TRATAMIENTO
El tratamiento de kinesiología que se puede aplicar en estos casos inicialmente puede ser conservador aplicando los elementos 
tradicionales de fisioterapia y ejercicios de fortalecimiento o flexibilización si los requiriese
Otra alternativa son ejercicios del tipo mckensy que buscaran por medios de movilizaciones repetitivas adaptar las estructuras
 capsulo ligamentosas que al corto plazo disminuirán la sintomatología
Ahora si esto no suerte el efecto que se espera, se optara por la cirugía que buscara manejar las estructuras afectadas.
LA CIRUJIA
Una buena solución para esta patología es la aplicación de una intervención artroscópica que ira a corregir la alteración anatómica,
 siendo mínimamente invasiva el paciente puede tener buenos resultados retornando con rapidez a su actividad física

.

Retornando a la actividad entre 6 a 8 semanas


            </p>

        </div>
      
      <div class="container left-align">

        <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
        </div>
    
       </div>
     </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>