<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>
<%- include('partial/navbar.ejs'); %>
<body>
  <%- include('partial/tagmanager.ejs'); %>
<div class="section container">
    <h1 class="grey-text text-darken-3  flow-text"><%= tiTuloh1%></h1></div>
     <%- include('partial/slideer.ejs'); %>
    <div class="container">
      <div class="row">
       <div class="col s12 m10 offset-m1 l9 offset-l1">
       
        <p> 
           
<h2>¿Qué es la kinesiología respiratoria?</h2>

Estas son técnicas o procedimientos  manipulativos realizada por un profesional de la kinesiología 
que  tiene por objetivo mejorar la función pulmonar del paciente, facilitando  la eliminación de 
secreciones (moco) de las vías respiratorias, así el paciente puede respirar mejor, se evitan problemas
mayores  (como la neumonía). Estos métodos en chile esto tomo un auge muy importante ya que desde el año 1990 se observó una disminución importante en la mortandad infantil solo al aplicar estos protocolos implementación de programa ira, que son básicamente una serie de reglas y protocolos a seguir que determinarían una buena respuestas a las maniobras terapéuticas implementadas por el kinesiólogo

<h2>¿Cómo es la fisioterapia (kinesiología) respiratoria en que se diferencia de las otras áreas?</h2>

El kinesiólogo se entiende que tiene solo relación con la rehabilitación del sistema musculo 
esquelético, en el área respiratoria toma una gran importancia es los aspecto de sobrevida de 
los pacientes posee manejos no solo con el hecho de eliminar las secreciones, también existen
 enfoques de tratamientos con equipos de ventilación mecánica invasiva y no invasiva,
Existen procesos de reeducación en patologías respiratorias, como fibrosis quísticas.
Procesos de entrenamientos específicos que busquen mejorar los parámetros de saturación vo2 max 
(conceptos más ligados a la fisiología del ejercicio) para mejorar con ellos condiciones de disnea entre otras aquí solo nombro algunas de las principales

<h2>¿Cómo se realiza la terapia respiratoria que maniobras se aplican?</h2>

Son técnicas referentes a manipulaciones nacidas desde los masajes, comentare las más utilizadas según 
la experiencia y la evidencia científica
Entre ellas están las vibropreciones aplicadas principalmente a pacientes bebes y adultos aquí va una
lista de ellas y su aplicación para mejor entendimiento  de los pacientes o familiares 
<h3>El clappins :</h3> Se usan asociadas a la técnica de drenaje postural. La percusión consiste en dar palmadas, 
de una manera rítmica, con las manos huecas. El objetivo que persigue es desalojar mecánicamente las 
secreciones espesas adheridas a las paredes bronquiales.
La vibración consiste en la compresión intermitente de la pared torácica durante la espiración, 
intentando aumentar la velocidad del aire espirado para, de esta manera, desprender las secreciones. Aquí se deben tener mucho cuidado con las aplicaciones, una es por el nivel de osteoporosis y artrosis que puede existir en pacientes adultos mayores y la segunda es que se debe seguir el movimiento estricto  y natural que poseen las costillas el que varía entre la 4° y 5° costilla

<h3>Los drenajes bronquiales :</h3>Es la técnica que mejor se tolera y la preferida para la eliminación de
las secreciones. El objetivo de esta técnica es conseguir que las secreciones drenen por acción 
de la gravedad hacia bronquios mayores, tráquea, (vía aérea principal) hasta conseguir expulsarlas
con la tos.
Para realizar este drenaje postural, es preciso colocar al paciente en la situación más adecuada 
(posiciones decúbito lateral, prono, trendelenburg), según la zona del pulmón que deseemos drenar.
Cada posición debe mantenerse durante 3-5 minutos. Antes de comenzar la técnica, es necesario que 
el paciente sepa toser y respirar de forma profunda y eficaz. No debe realizarse cuando el paciente 
está recién comido (para evitar vómitos).
<h3>ELTGOL :</h3> se refiere a una espiración lenta y prolongada con la glotis abierta, el objetivo es eliminar 
las secreciones que se encuentren en el hemitorax infra lateral acompañados de compresiones torácicas mientras el paciente ejecuta la técnica, esta se considera una maniobra pasiva o activa asistida
<h3>Presión y descompresión :</h3>
 Definición e indicación Consiste en compresiones manuales efectuadas sobre el tórax durante la 
 fase espiratoria con posterior descompresión rápida al inicio de la inspiración, con el objetivo de facilitar una respiración activa y profunda (14). Esta técnica puede ser aplicada en todo tipo de pacientes a lo largo del ciclo vital, recomendándose su uso en aquellos con hipersecreción bronquial, disminución de volúmenes pulmonares e inefectividad de la tos

Ejercicios respiratorios para mejorar las fases de los ciclos inspiratorios y espiratorios, 
con objetivo de que las secreciones se acerquen a la vía aérea superior y favorecer por medio de la tos la eliminación de las secreciones entre ellos tenemos
<ul>
  <li>Respiración con labios fruncidos</li>
  <li>Respiración diafragmática</li>
  <li>Ejercicios de expansión pulmonar</li>
  <li>Ejercicios para toser eficazmente</li>
  <li>Ejercicios con espirometria incentivada</li>
</ul>

<h3>Mejorar las fases de la tos :</h3>
Tos Definición e indicación La tos se encuentra definida dentro de los mecanismos de defensa pulmonar, 
que tiene por función mantener las vías aéreas permeables libres de secreciones u otros elementos. La tos puede ser desencadenada en forma refleja a través de la activación de receptores de irritación vagal multimodales y también en forma voluntaria por el paciente o provocada por un profesional constituyendo una herramienta dentro del arsenal terapéutico destinado a mantener un adecuado drenaje de secreciones.
La tos tiene 4 etapas: 
<h4>Irritativa :</h4> Inicia el reflejo de la tos, al activar los receptores irritativos presentes en el árbol 
bronquial. Esta etapa puede no estar presente.
 <h4>Inspiratoria :</h4> Se realiza una inspiración profunda con glotis abierta hasta capacidad pulmonar total. - Compresiva: Comienza con el cierre de la glotis y continua con la contracción de los músculos espiratorios.
 <h4>Expulsiva :</h4>  se inicia con la apertura de repentina de glotis, lo que permite la expulsión a gran 
 velocidad del volumen de aire inhalado. La efectividad de la tos se puede evaluar mediante la medición de los flujos través de un neumo-tacógrafo o un flujómetro portátil. En sujetos normales su valor normal es generalmente mayor a 500 l/min y valores bajo 160 l/min se consideran inefectivos. La indicación de la tos, como herramienta terapéutica, esta descrita para pacientes con alteración de la fuerza muscular respiratoria, por ejemplo, enfermedades neuromusculares y está recomendado en pacientes con hipersecreción bronquial. Pudiendo ser utilizada desde lactantes pequeños a niños mayores. 
Según cómo se utilice esta herramienta, se describen 4 tipos de tos: 
<h4>Espontánea-Dirigida :</h4>Se realiza la tos sin asistencia manual solicitando verbalmente al 
paciente a que inspire profundamente. Por lo anterior, este tipo de tos sólo puede ser utilizada en pacientes que colaboren. 
<h4>Asistida :</h4>  en forma manual o a través de respiración glosofaríngea o en forma instrumental. 
<h4>Provocada :</h4> Consiste en desencadenar el reflejo tusígeno a través de un estímulo mecánico, 
el cual puede ser provocado por una baja lengua o a través de una compresión directa sobre la 
tráquea extra torácica. Fisiología y bases racionales La tos permite permeabilizar la vía aérea central hasta aproximadamente el nivel de la 5-6ª generación bronquial
Es muy importante recalcar que aunque la tos sea un elemento de preocupación y a veces hasta molesto en el entorno del paciente, este por sí mismo es un elemento natural que no debe evitarse con medicamentos o jarabes especiales ya que permite liberar la vía respiratoria de las secreciones

Medidas básicas para evitar las patologías respiratorias recurrentes en inverno

<ul>
  <li>Cumplir el calendario oficial de vacunación para los niños y adultos mayores, 
      de esa manera los protegemos de muchas enfermedades graves que pueden traer problemas respiratorios</li>
  <li>Lavado frecuente de manos: al llegar a casa, antes y después de manipular alimentos, 
      luego de ir al baño, etc.</li>
  <li>Ventilar los ambientes, por lo menos una vez por día (unos 15-20 minutos es suficiente)</li>
  <li>Evitar ambientes húmedos (baño, cocina) ya que los microorganismos encuentran un medio 
     favorable para su reproducción en los lugares húmedos</li>
</ul>

Es muy importante recalcar esto, las vacunas son útiles, desde su implementación ha generado la disminución de la incidencia  y prevalencia de muchas enfermedades. Prevenir es más efectivo que curar

<h2>¿En qué consiste el servicio entregado?</h2>

El tratamiento o servicio entregado por kinesis house por lo general es en el domicilio del paciente
Como son técnicas derivadas por lo general del masaje lo ideal es usar la cama para realizar las maniobras, 
si llegase a requerir otros elementos de rehabilitación se podrá ejecutar el servicio sentado en silla o sillones, se incluye todo tipo de insumos si lo requiere como guantes, mascarillas, sondas de aspiración y elementos de ayuda mecánica como la turbina de aspiración de secreciones y el nebulizador
En caso de que las condiciones del paciente no sean óptima se informara a la familia el requerimiento o derivación de otros profesionales de la salud, ya sea médicos, enfermeras etc.

Como siempre existen dudas con respecto a los profesos de tratamiento que es normal, no hay ningún problema en que puedan comunicarse personalmente conmigo presionando el botón verde de wassap o el de llamada

Atte. Paulo Silva kinesiólogo

                </p>

       </div>
      </div>
    </div>

    <div>
      
        <a class="waves-effect waves-light btn" href="/">inicio</a>
    
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>