<!DOCTYPE html>
<html lang="es-CL">
  <%- include('heads/head_respi.ejs'); %>
<body>
  <%- include('navbar/navbar.ejs'); %>
  <%- include('botones/menu-flotante.ejs'); %>

<!--header-->
<header>

  <section class="header-main-pic z-depth-2">
      <div class="intro-area">
          <div class="container">
            <h1> <%= tiTuloh1%> </h1>
            <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
          </div>
        </div>
  </section>

  
</header>   
<%- include('breadcrumb/respiratorio.ejs'); %>
<main class="container">
    <section>
        <div class="row">
            <div class="col s12" id="H2_blog">
                <h2 id="H2_blog">Qu&eacute; es la kinesiolog&iacute;a respiratoria?</h2>

            </div>

        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col">
                <p class="p_blog">
                    Estas son t&eacute;cnicas o procedimientos  manipulativos realizada por un <strong>profesional de la <a href="http://www.kinesishouse.cl/" target="_blank">kinesiolog&iacute;a</a></strong> 
                    que  tiene por objetivo mejorar la funci&oacute;n pulmonar del paciente, facilitando  la <strong>eliminaci&oacute;n de 
                    secreciones (moco) de las v&iacute;as respiratorias</strong>, as&iacute; el paciente puede respirar mejor, se evitan problemas
                    mayores  (como la neumo&iacute;a). Estos m&eacute;todos en chile esto tomo un auge muy importante ya que desde el a&ntilde;o 1990 se
                     observ&oacute; una disminuci&oacute;n importante en la mortandad infantil solo al aplicar estos protocolos implementaci&oacute;n 
                     de programa ira, que son b&aacute;sicamente una serie de reglas y protocolos a seguir que determinar&iacute;an una buena 
                     respuestas a las maniobras terap&eacute;uticas implementadas por el <strong>kinesi&oacute;logo</strong> 
                </p>
                <img class="responsive-img" loading="lazy" src="" alt="imagen de kinesiologos">
                <div class="divider"></div> 

                <h2 class="flow-text">¿C&oacute;mo es la fisioterapia (<a href="http://www.kinesishouse.cl/" target="_blank">kinesiolog&iacute;a</a>) respiratoria en que se diferencia de las otras &aacute;reas?</h2>

                <p class="p_blog">
                    El <a href="http://www.kinesishouse.cl/" target="_blank">kinesiologo</a> se entiende que tiene solo relaci&oacute;n con la rehabilitaci&oacute;n del sistema musculo 
                    esquel&eacute;tico, en el&aacute;rea respiratoria toma una gran importancia es los aspecto de sobrevida de 
                    los pacientes posee manejos no solo con el hecho de <strong>eliminar las secreciones</strong> , tambi&eacute;n existen
                     enfoques de tratamientos con equipos de <strong>ventilaci&oacute;n mec&aacute;nica invasiva y no invasiva</strong> ,
                    Existen procesos de reeducaci&oacute;n en <strong>patolog&iacute;as respiratorias</strong> , como fibrosis qu&iacute;sticas.
                    Procesos de entrenamientos espec&iacute;ficos que busquen mejorar los par&aacute;metros de saturaci&oacute;n vo2 max 
                    (conceptos m&aacute;s ligados a la fisiolog&iacute;a del ejercicio) para mejorar con ellos condiciones de disnea entre otras aqu&iacute; solo nombro algunas de las principales
                    
                   
                    <img class="responsive-img" loading="lazy" src="" alt="imagen de lesiones y fracturas">
                    

                </p>
                <div class="divider"></div> 
                <h2 class="flow-text">¿C&oacute;mo se realiza la terapia respiratoria que maniobras se aplican?</h2>

                <p class="p_blog">
                    Son t&eacute;cnicas referentes a manipulaciones nacidas desde <strong>los masajes</strong> , comentare las m&aacute;s utilizadas seg&uacute;n 
                    la experiencia y la evidencia cient&iacute;fica
                    Entre ellas est&aacute;n las vibropreciones aplicadas principalmente a <strong>pacientes bebes y adultos </strong> aqu&iacute; va una
                    lista de ellas y su aplicaci&oacute;n para mejor entendimiento  de los pacientes o familiares 
       
                </p>
                <img class="responsive-img" loading="lazy" src="" alt="rehabilitacion en traumatologia">
                <div class="divider"></div> 


                <h3 class="flow-text">El clappins :</h3> 

                <p class="p_blog">
                    Se usan asociadas a las <strong>t&eacute;cnica de drenaje postural</strong> . La percusi&oacute;n consiste en dar palmadas, 
                    de una manera r&iacute;tmica, con las manos huecas. El objetivo que persigue es desalojar mec&aacute;nicamente las 
                    secreciones espesas adheridas a las paredes bronquiales.
                    La vibraci&oacute;n consiste en la compresi&oacute;n intermitente de la pared tor&aacute;cica durante la espiraci&oacute;n, 
                    intentando aumentar la velocidad del aire espirado para, de esta manera, desprender las secreciones. Aqu&iacute; se deben tener mucho cuidado con las aplicaciones, 
                    una es por el nivel de osteoporosis y artrosis que puede existir en <strong>pacientes adultos mayores</strong>  y la segunda es que se debe seguir el movimiento estricto  y natural que poseen las costillas el que var&iacute;a entre la 4° y 5° costilla
                    
                        
                </p>
                <div class="divider"></div> 

                <h3 class="flow-text">Los drenajes bronquiales :</h3>
                <p class="p_blog">
                    Es la t&eacute;cnica que mejor se tolera y la preferida para la eliminaci&oacute;n de
                    las secreciones. El objetivo de esta t&eacute;cnica es conseguir que las secreciones drenen por acci&oacute;n 
                    de la gravedad hacia bronquios mayores, tr&aacute;quea, (v&iacute;a a&eacute;rea principal) hasta conseguir expulsarlas
                    con la tos.
                    Para realizar este drenaje postural, es preciso colocar al paciente en la situaci&oacute;n m&aacute;s adecuada 
                    (posiciones dec&uacute;bito lateral, prono, trendelenburg), seg&uacute;n la zona del pulm&oacute;n que deseemos drenar.
                    Cada posici&oacute;n debe mantenerse durante 3-5 minutos. Antes de comenzar la t&eacute;cnica, es necesario que 
                    el paciente sepa toser y respirar de forma profunda y eficaz. No debe realizarse cuando el paciente 
                    est&aacute; reci&eacute;n comido (para evitar v&oacute;mitos).
                </p>
                <div class="divider"></div> 

                <h3 class="flow-text">ELTGOL :</h3>
                <p class="p_blog">
                    se refiere a una espiraci&oacute;n lenta y prolongada con la glotis abierta, el objetivo es eliminar 
                    las secreciones que se encuentren en el hemitorax infra lateral acompa&ntilde;ados de compresiones to&aacute;cicas mientras el paciente ejecuta la t&eacute;cnica, esta se considera una maniobra pasiva o activa asistida
                </p>
                <div class="divider"></div> 

                <h3 class="flow-text">Presi&oacute;n y descompresi&oacute;n :</h3>
                <p class="p_blog">
                    Definici&oacute;n e indicaci&oacute;n Consiste en compresiones manuales efectuadas sobre el t&oacute;rax durante la 
                    fase espiratoria con posterior descompresi&oacute;n r&aacute;pida al inicio de la inspiraci&oacute;n, con el objetivo de facilitar una respiraci&oacute;n activa y profunda (14). Esta t&eacute;cnica puede ser aplicada en todo tipo de pacientes a lo largo del ciclo vital,
                    recomend&aacute;ndose su uso en aquellos con hipersecreci&oacute;n bronquial, disminuci&oacute;n de vol&uacute;menes pulmonares e inefectividad de la tos

                    <strong>Ejercicios respiratorios</strong>  para mejorar las fases de los ciclos inspiratorios y espiratorios, 
                    con objetivo de que las secreciones se acerquen a la v&iacute;a a&eacute;rea superior y favorecer por medio de la tos la <strong>eliminaci&oacute;n de las secreciones</strong>  entre ellos tenemos
                    <ul>
                    <li>Respiraci&oacute;n con labios fruncidos</li>
                    <li>Respiraci&oacute;n diafragm&aacute;tica</li>
                    <li>Ejercicios de expansi&oacute;n pulmonar</li>
                    <li>Ejercicios para toser eficazmente</li>
                    <li>Ejercicios con espirometria incentivada</li>
                    </ul>
                </p>
                <div class="divider"></div> 
                <h3 class="flow-text">Mejorar las fases de la tos :</h3>
                <p class="p_bog">
                    Tos Definici&oacute;n e indicaci&oacute;n: La tos se encuentra definida dentro de los mecanismos de defensa pulmonar, 
                    que tiene por funci&oacute;n mantener las v&iacute;as a&eacute;reas permeables libres de secreciones u otros elementos. La tos
                    puede ser desencadenada en forma refleja a trav&eacute;s de la activaci&oacute;n de receptores de irritaci&oacute;n vagal 
                    multimodales y tambi&eacute;n en forma voluntaria por el paciente o provocada por un profesional constituyendo una 
                    herramienta dentro del arsenal <strong>terap&eacute;utico</strong>  destinado a mantener un adecuado <strong>drenaje de secreciones</strong> .
                    La tos tiene 4 etapas: 
                </p>
                <div class="divider"></div> 


                <h4 class="flow-text">Irritativa :</h4> 
                <p class="p_blog">
                    Inicia el reflejo de la tos, al activar los receptores irritativos presentes en el &aacute;rbol 
                    bronquial. Esta etapa puede no estar presente.
                </p> 
                <div class="divider"></div> 

                <h4 class="flow-text">Inspiratoria :</h4> 
                <p class="p_blog">
                    Se realiza una inspiraci&oacute;n profunda con glotis abierta hasta capacidad pulmonar total. 

                </p> 
                <div class="divider"></div> 

                <h4>Compresiva: </h4>
                <p class="p_blog">
                    Comienza con el cierre de la glotis y continua con la <strong>contracci&oacute;n de los m&uacute;sculos espiratorios</strong> .
                    
                </p>
                <div class="divider"></div> 

                <h4 class="flow-text">Expulsiva :</h4> 
                <p class="p_blog">
                    se inicia con la apertura de repentina de glotis, lo que permite la expulsi&oacute;n a gran 
                    velocidad del volumen de aire inhalado. La efectividad de la tos se puede evaluar mediante la medici&oacute;n de los flujos trav&eacute;s de un neumo-tac&oacute;grafo o un fluj&oacute;metro port&aacute;til. En sujetos normales su valor normal es generalmente mayor a 500 l/min y valores bajo 160 l/min se consideran inefectivos. La indicaci&oacute;n de la tos, como herramienta terap&eacute;utica, esta descrita para pacientes con alteraci&oacute;n de la fuerza muscular respiratoria, por ejemplo, enfermedades neuromusculares y est&aacute; recomendado en pacientes con hipersecreci&oacute;n bronquial. Pudiendo ser utilizada desde lactantes peque&ntilde;os a ni&ntilde;os mayores. 
                    Seg&uacute;n c&oacute;mo se utilice esta herramienta, se describen 4 tipos de tos: 
                </p> 
                <div class="divider"></div> 

                <h4 clas flow-text>Espont&aacute;nea-Dirigida :</h4>
                <p class="p_blog">
                    Se realiza la tos sin asistencia manual solicitando verbalmente al 
                    paciente a que inspire profundamente. Por lo anterior, este tipo de tos s&oacute;lo puede ser utilizada en pacientes que colaboren. 
                </p> 
                <div class="divider"></div> 

                <h4 class="flow-text">Asistida :</h4> 
                <p class="p_blog">
                    en forma manual o a trav&eacute;s de respiraci&oacute;n glosofar&iacute;ngea o en forma instrumental.
                </p>  
                <div class="divider"></div> 

                <h4 class="flow-text">Provocada :</h4>
                <p class="p_blog">
                    Consiste en desencadenar el reflejo tus&iacute;geno a trav&eacute;s de un est&iacute;mulo mec&aacute;nico, 
                    el cual puede ser provocado por una baja lengua o a trav&eacute;s de una compresi&oacute; directa sobre la 
                    tr&aacute;quea extra tor&aacute;cica. Fisiolog&iacute;a y bases racionales La tos permite permeabilizar la v&iacute;a a&eacute;rea central hasta aproximadamente el nivel de la 5-6ª generaci&oacute;n bronquial
                    Es muy importante recalcar que aunque la tos sea un elemento de preocupaci&oacute;n y a veces hasta molesto en el entorno del paciente, este por s&iacute; mismo es un elemento natural que no debe evitarse con medicamentos o jarabes especiales ya que permite liberar la v&iacute;a respiratoria de las secreciones

                    Medidas b&aacute;sicas para <strong>evitar las patolo&iacute;as respiratorias</strong>  recurrentes en inverno

                </p> 

                    <ul>
                    <li>Cumplir el calendario oficial de vacunaci&oacute;n para los ni&ntilde;os y adultos mayores, 
                        de esa manera los protegemos de muchas enfermedades graves que pueden traer problemas respiratorios</li>
                    <li>Lavado frecuente de manos: al llegar a casa, antes y despu&eacute;s de manipular alimentos, 
                        luego de ir al ba&ntilde;o, etc.</li>
                    <li>Ventilar los ambientes, por lo menos una vez por d&iacute;a (unos 15-20 minutos es suficiente)</li>
                    <li>Evitar ambientes h&uacute;medos (ba&ntilde;o, cocina) ya que los microorganismos encuentran un medio 
                        favorable para su reproducci&oacute;n en los lugares h&uacute;medos</li>
                    </ul>
                    <p class="p_blog">
                        Es muy importante recalcar esto, las vacunas son &uacute;tiles, desde su implementaci&oacute;n ha generado la disminuci&oacute;n de la incidencia  y prevalencia de muchas enfermedades. Prevenir es m&aacute;s efectivo que curar


                    </p>

            </div>
        </div>
    </section>
   
    <section class="section">
        <div class="row">
            <div class="col ">
                <h2 class="flow-text">¿En qu&eacute; consiste el servicio entregado?</h2>

                <p class="p_blog">
                    El tratamiento o servicio entregado por kinesis house por lo general es en el domicilio del paciente
                    Como son t&eacute;cnicas derivadas por lo general del masaje lo ideal es usar la cama para realizar las maniobras, 
                    si llegase a requerir otros elementos de rehabilitaci&oacute;n se podr&aacute; ejecutar el servicio sentado en silla o sillones, se incluye todo tipo de insumos si lo requiere como guantes, mascarillas, sondas de aspiraci&oacute;n y elementos de ayuda mec&aacute;nica como la turbina de aspiraci&oacute;n de secreciones y el nebulizador
                    En caso de que las condiciones del paciente no sean &oacute;ptima se informara a la familia el requerimiento o derivaci&oacute;n de otros profesionales de la salud, ya sea m&eacute;dicos, enfermeras etc.
                    
                    Como siempre existen dudas con respecto a los profesos de tratamiento que es normal, no hay ning&uacute;n problema en que puedan comunicarse personalmente conmigo presionando el bot&oacute;n verde de wassap o el de llamada
                    
                    Atte. Paulo Silva <a href="http://www.kinesishouse.cl/" target="_blank">kinesiologo</a>
                </p>
                <img class="responsive-img" loading="lazy" src="" alt="herramientas de fisioterapia">

                <div class="divider"></div> 


               

            </div>
        </div>


    </section>
    <section>
        <div class="row">
            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" loading="lazy" src="assets/img/post-ems_lite.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> post title <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">post title <i class="material-icons right">close</i></span>
                        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo dolorum </p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                    </div>
                        
                </div> 

            </article>
            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" loading="lazy" src="assets/img/post-ems_lite.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> post title <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">post title <i class="material-icons right">close</i></span>
                        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo dolorum </p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                    </div>
                        
                </div> 

            </article>
            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" loading="lazy" src="assets/img/post-ems_lite.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> post title <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">post title <i class="material-icons right">close</i></span>
                        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo dolorum </p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                    </div>
                        
                </div> 

            </article>

        </div>
    </section>
    

</main>
<%- include('botones/boton.ejs'); %>
<%- include('footers/footer.ejs'); %>
</body>
</html>