<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>
<%- include('partial/navbar.ejs'); %>
<body>
  <%- include('partial/tagmanager.ejs'); %>
<div class="section container">
    <h1 class="grey-text text-darken-3  flow-text"><%= tiTuloh1%></h1></div>
     <%- include('partial/slideer.ejs'); %>
    <div class="container">
      <div class="row">
       <div class="col s12 m10 offset-m1 l9 offset-l1">
           <h2 class="flow-text">Kinesiología en rehabilitación  traumatológica</h2>
           <p>
               
El Rol del <strong>kinesiólogo en Traumatología y Ortopedia</strong> 
Definición de <a href="http://kinesishouse.cl" target="_blank" >kinesiología</a> 
Kinesiología es la disciplina que se encarga de buscar la mejoría de distintas patologías a trav&eacute;s del movimiento con el propósito de acortar el
período de recuperación y de alcanzar el m&aacute;ximo de las capacidades funcionales de cada persona. Su pr&aacute;ctica profesional se hace indispensable para el
an&aacute;lisis y tratamiento de problemas directamente relacionados con el <strong>sistema músculo esquel&eacute;tico</strong>
<h3>El kinesiólogo</h3>
Rol del <strong>Kinesiólogo en Traumatología</strong> 
-Definición de Traumatología: Especialidad m&eacute;dica que estudia las lesiones de origen traum&aacute;tico en la columna vertebral y las extremidades.
Parte en 1982, creciendo y formando una de las sociedades  m&aacute;s reconocidas de Latinoam&eacute;rica en su especialidad. 
En esta especialidad el kinesiólogo trata patologías y post quirúrgicos orient&aacute;ndose al tratamiento y rehabilitación de pacientes con lesiones musculo-esquel&eacute;ticas.
Aplicando t&eacute;cnicas para controlar el dolor y mejorar el funcionamiento del aparato locomotor.

Trato de lesiones que afectan principalmente a: 
-Huesos (fracturas, epifisiolisis, post operatorios, reemplazos prot&eacute;sicos totales)
-Ligamentos y articulaciones (esguinces, luxaciones, artritis traum&aacute;ticas, rupturas traum&aacute;ticas)
-Músculos y tendones (roturas fibrilares, Hematomas, contusiones, tendinitis, tendinosis)
-Piel (heridas, quemaduras, cicatrices)
<h2 class="flow-text">¿Qu&eacute; es la kinesiología en traumatología?</h2>
Esta es un &aacute;rea encargada de todos los aspectos del sistema músculo esquel&eacute;tico, esto corresponde  a <strong>tratamiento de huesos, músculos, articulación o tendones</strong> . Su &aacute;rea de acción es muy amplia y variada existiendo incluso el &aacute;rea de especialización dentro de esta, como equipos de mano, columna hombro o rodilla entre otras
Actúa en &aacute;rea como <strong>dolor muscular crónico  como el lumbago, tendinopatias o artrosis</strong> , pre o post operados de prótesis total de cadera, rodilla u hombros entre otras cosas
Los objetivos generales  son:
Disminuir el dolor y la incapacidad funcional que genera la patología en cuestión
Mejorar el rendimiento o funcionalidad
Para eso existen una serie de elementos o herramientas a utilizar 

<h2 class="flow-text">¿Qu&eacute; elementos terap&eacute;uticos utiliza el terapeuta? </h2>
Inicialmente se conoce que usa muchos elementos basados en la <strong>fisioterapia</strong> 
Como son los <strong>electro estimuladores </strong> tipo TENs que buscan ejercer un efecto terap&eacute;utico generando analgesia o los EMs que buscan activar o potenciar la acción de la musculatura.
El TENs se basa en un concepto de analgesia basado en la <strong>“teoría de la compuerta”</strong>  ¿q&eacute; esto? Pues se basa en los conceptos neurofisiológicos del dolor en el que se estima que 
el ser humano posee varios tipos de fibras neuromoduladoras de transmisión de información desde el sistema nervioso perif&eacute;rico (SNP) al sistema nervioso central (SNC) las fibras que actúan son 
las tipo C moduladoras del dolor que envían la información neurológica de manera lenta a trav&eacute;s de los axones de la neurona.
La otra fibras son las de tipo B que son llamadas tipo mec&aacute;nica, estas se estiman que viajan a una velocidad mayor que las fibras de tipo C y adem&aacute;s lo mejor de todo lo hace por una misma vía, 
bloqueando a nivel del SNC (medular principalmente) la sensación del dolor.
Ahora existen varios m&eacute;todos de aplicación y modulación el dolor por este m&eacute;todo tanto como para alivio del dolor agudo o crónico.
Pero de manera sencilla por si algún paciente desea adquirir uno estos equipos el dolor agudo se puede modular con frecuencias de 60 Hz en este caso se modulara la acción de la teoría de la compuerta.
Ahora si se aplican frecuencias de 5 Hz se podr&aacute;n modular (teóricamente) la secreciones de mol&eacute;culas de endorfinas que actuaran a nivel del sistema nervioso central con alivio a largo plazo y es ideal
<strong>para patologías crónicas</strong> 
Pasar saber m&aacute;s del dolor siga el siguiente link (dolor y teoría)

<h3 class="flow-text">Electro estimulación muscular EMS: </h3>

En esto lo m&aacute;s famosos y conocidos son las <strong>corrientes rusas</strong> , las cuales se hicieron famosas por los resultados de las olimpiadas de
entre los años 70 y 80, ya que los deportistas rusos tenían el mejor rendimiento, ellos potenciaban su entrenamiento de potencia y fuerza usando corriente,
obviamente modulada  para no generar daño, lo que generaba un aumento mayor de la activación de fibras musculares y conexiones neuromuslares. Bueno la aplicación
terap&eacute;utica para los pacientes con esto es ideal ya que se necesita activar músculos que por procesos inflamatorios, dolorosos o crónicos no est&aacute;n muy activos
Elementos basados en ultrasonido, ayudarían a modular lo que es el dolor, inflamación y manejo de tejido:
<h3>El ultrasonido</h3>
tiene bastante teoría, se indica mucho en varias arias de la fisioterapia, aunque existe la controversia de si en verdad realiza los efectos que propone o no.
Esto es b&aacute;sicamente ondas de tipo mec&aacute;nica imperceptibles ya que son frecuencias muy bajas que estarían modulando las condiciones metabólicas por medio de la acción m&aacute;nica sobre los tejidos
Es usado normalmente en condiciones para bajar elementos inflamatorios ademas de los efectos mecanico que ayudarian a la correcta produccion de colageno tipo I disminuyendo el dolor
Cambiar las condiciones del tejido en cuanto a las estructuras de  col&aacute;geno
Entregar calor profundo (esto depende si la función del ultrasonido en continuo y no puls&aacute;til)
La mayoría de las aplicaciones en fisioterapia son aplicadas con ultrasonido puls&aacute;til ya que por las investigaciones en el tema son lo que entregan mejor resultados,
en comparación con el ultrasonido continuo que posee varios efectos adversos aun asi muchos <a href="http://www.kinesishouse.cl" target="_blank" >kinesiologos </a> actualmente estan rechazando el uso de este elemento por la baja evidencia cientifica de su aplicacion

<h3 class="flow-text">Termoterapia superficial:</h3> las l&aacute;mparas de calor infrarrojo son las protagonistas, su uso esta solo determinado para tratar el dolor por medio de la estimulación de las terminaciones sensitivas de temperatura, actuando de la misma manera que una teoría de la compuerta (Gaete control), por lo que otros efectos sobre el tejido no provocaría
<h3 class="flow-text">Termoterapia profunda:</h3> 
<h3 class="flow-text">Hidroterapia:</h3> aquí se usa el agente del agua como elemento terap&eacute;utico, el m&aacute;s conocido es el turbión que es &aacute;sicamente una pequeña tinaja con agua caliente (45° aproximadamente) que moviliza el agua como un yacusi, el objetivo es que por medio del calor se produzca alivio adem&aacute;s que el movimiento del agua masajearía la zona permitiendo mejor maleabilidad de los tejido para actuar posteriormente con otros elementos terap&eacute;uticos
Hay que destacar dentro de este elemento terap&eacute;utico la hidroterapia que se aplica en piscinas, ya que favorece el ejercicio en pacientes con patología articular disminuyendo la carga de su propio peso (tambi&eacute;n es muy aplicado en neurología) entre otras m&aacute;s aplicaciones
<h3 class="flow-text">Vendaje terap&eacute;utico funcional:</h3>
Aquí existe una variación de t&eacute;cnicas y su uso en diversas arias de la <strong>kinesiología en traumatología</strong> 
El &aacute;rea experta en esto obviamente es en pacientes quemados, que en chile el gran referente es cohaniquen (institución de tratamiento de niños quemados) donde existe un manejo especial del paciente sobre sus cicatrices por medio de vendaje compresivo y el&aacute;stico (link de t&eacute;cnicas de vendaje en quemados)
Otra &aacute;rea que se aplican t&eacute;cnicas de vendaje es deportiva y traumatología:
Aquí entra en uso algo que lleva algunos años y es el vendaje funcional deportivo los kinesiotape
Dentro del circulo existen muchas controversia de si es efectivo o no hace nada (link de t&eacute;cnica de vendaje funcional)
Pero la verdad que la aplicación se basa en medicina basada en la evidencia, en t&eacute;rminos sencillos para que se entienda es… el paciente se siente bien y seguro posterior a la aplicación del vendaje.
Las aplicaciones son variadas ya sea para esquinces, tendinopatias, contracturas musculares. Pueden seguir el siguiente link donde explico a m&aacute;s detalle su uso y aspectos teóricos (link)
<h3 class="flow-text">Manipulación de los tejidos y Masoterapia:</h3>
Esto aunque se menosprecie por otros colegas tiene mucha importancia, se puede modular el dolor con medicamentos o elementos de fisioterapia, pero si no se trata la causa del dolor todo lo dem&aacute;s es en vano. Un ejemplo cl&aacute;sico con las tendinosis (link de significado y procesos de tendinosis) en la cual existe una alteración de la estructura de col&aacute;geno (col&aacute;geno tipo III, el tendón normalmente posee col&aacute;geno tipo I) que cualquier elementos ya sea medicamento o fisioterapia difícilmente modulara
Las t&eacute;cnicas de terapia manual ortop&eacute;dica, osteopatía, quiropraxia y masajes est&aacute;n orientadas a la manipulación de los tejidos y articulaciones para generar los cambios que necesita la estructura sin ellas la kinesiología en traumatología tendría muy pocos efectos

<h3 class="flow-text">Ejercicios terap&eacute;uticos: </h3>
Esto para mi gusto es uno de los principales protagonistas en todos los <strong>procesos de rehabilitación</strong>  y aun así est&aacute; a mi parecer por sobre cualquier t&eacute;cnica o elemento de <strong>fisioterapia.</strong> 
Y ¿porque razón?
Pues existe una cantidad enorme  de evidencia científica que respalda la acción de ciertos ejercicios condicionados para las patologías musculo esquel&eacute;ticas en particular. Por ejemplo el <strong>tratamiento los lumbagos</strong>  y ejercicios enfocados a modular la activación de musculatura multifida (link de tratamiento de lumbago) o el ejercicio exc&eacute;ntrico en procesos de tendinopatias. O como el ejercicio modula los factores metabólicos en patologías como diabetes. Lo bueno de esto es que se educa al paciente a mantener un sistema de auto tratamiento para largo plazo sin tener la dependencia total hacia un terapeuta cosa que lo pacientes agradecen sobre todo por el aspecto económico
En que consiste el  <a href="http://www.kinesishouse.class target="_blank" >servicio de kinesiología</a>
Pues el <strong>profesional asiste al domicilio </strong> con los equipos necesarios como:
<ul>
    <li>Electro estimulador</li>
    <li>Ultrasonido</li>
    <li>l&aacute;mpara infrarroja</li>
    <li>Camilla si lo requiere el paciente</li>
    <li>Se realiza la aplicación de t&eacute;cnicas de terapia manual o masajes</li>
    <li>Se aplican los ejercicios terap&eacute;uticos enfocados en cada patología a tratar</li>
    
</ul>
           </p>
    
    
    
      </div>

    <div class="container left-align">

      <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
      </div>
    
    </div>
    </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>