<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/artroscopia_cadera.ejs'); %>

<body>
<%- include('../navbar/navbar.ejs'); %>

<header>

  <section class="header-main-pic z-depth-2">
      <div class="intro-area">
          <div class="container">
            <h1> <%= tiTuloh1%> </h1>
            <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
          </div>
        </div>
  </section>

  
</header>   
<%- include('../breadcrumb/artroscopia_cadera.ejs'); %>
<main class="container">
    <section>
        <div class="row">
            <div class="col s12" id="H2_blog">
                <h2 id="H2_blog">Kinesiolog&iacute;a en rehabilitaci&oacute;n  ARTROSCOPÍA DE CADERA (AC):</h2>

            </div>

        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col">
                <h2>Artroscopia de la cadera</h2>

                <p class="p_blog">
                  Es la operacion que se realiza aplicando cortes muy chicos alrededor de la cadera y mirando el interior con el uso de una cámara pequeña. También se pueden introducir otros elementos quirurgicos para examinar o tratar la articulación de la cadera.
                  Descripción
                  Durante la operacion, el cirujano utiliza una cámara diminuta “artroscopio” para ver dentro de la cadera.
                <ul>
                    <li>Un artroscopio está fabricado de un cilindro diminuto, una lente y una fuente luminica. Se hace una insicion quirúrgica pequeña para introducirlo en la cadera.</li>
                    <li>El medico observará el interior de la articulación para buscar daño o lesiones.</li>
                    <li>También se pueden introducir otras herramientas quirurgicas a través de uno o dos cortes pequeños adicionales. Esto le facilitara  al cirujano la tecnica, de ser necesario.</li>
                    <li>El medico puede reseccionar tejido extra de hueso que estén sueltos en la articulación de la cadera, o reparar el cartílago u otros tejidos que estén dañados.</li>
                  
                </ul>
      
                  En la mayoría de las ocasiones, se aplicara anestesia raquídea o epidural o anestesia general, para que usted no sienta ninguna molestia. Podría además  estar dormido o recibir un medicamento para ayudarlo a relajarse.
                  
                </p>
                <img class="responsive-img" loading="lazy" src="" alt="imagen de kinesiologos">
                <div class="divider"></div>
                <h3>Por qué se realiza el procedimiento</h3> 
                <p class="p_blog">
                  Las razones habituales para la artroscopia de la cadera:
                  <ul>
                    <li>Extraer pequeños recesos de hueso o cartílago que pueden estar mal posicionados al interior de la articulación de la cadera y causando dolor.</li>
                    <li>Reparar un labrum lesionado (un desgarro en el cartílago que se fija lateral del acetábulo del hueso ilíaco).</li>
                    <li>Síndrome de pinzamiento de la cadera (también llamado pinzamiento femoroacetabular, o FAI). Esta operacion se hace cuando ningún otro tratamiento ha servido para aliviar la molestia.</li>
                    <li>Dolor de la cadera que no cesa y su traumatólogo sospecha un problema que se puede reparar con una artroscopia de cadera. La mayoría de las ocasiones, el cirujano primero aplicara un anestésico en la cadera para ver si el dolor desaparece.</li>
  
              </ul>
              Si usted no presenta estos problemas, la artroscopia de cadera no servirá para tratar su artritis o artrosis  de cadera.
              complicaciones
                </p>

                <div class="divider"></div>
                <h3>las complicaciones  de cualquier anestesia y cirugía son:</h3> 

                    <p class="p_blog">
                      <ul>
                        <li>	Reacciones alérgicas a los anestesicos</li>
                        <li>	Problemas broncopulmonares</li>
                        <li>Problemas de coagulacion</li>
                        <li> Infección</li>
         
                    </ul>
                    </p>   
                    <img class="responsive-img" loading="lazy" src="" alt="imagen de lesiones y fracturas">
                    

                </p>
                <div class="divider"></div> 

                <h3>Otras complicaciones de esta cirugía incluyen:</h3>
                <p class="p_blog">
                  <ul>
                    <li>Sangrado en la articulación de la cadera</li>
                    <li>Daño al cartílago o ligamentos en la cadera</li>
                    <li>Coágulo de sangre </li>
                    <li>Lesión a un vascular o nerual</li>
                    <li> Infección en la articulación </li>
                    <li>Rigidez de la cadera por mal manejo en fisioterapia</li>
                    <li> Adormecimiento y hormigueo en la inginal</li>
    
    
                </ul>
                Antes del procedimiento
                  
           <h3>Durante las 2 semanas antes de la cirugía:</h3> 
           <ul>
               <li> Le pueden indicar que deje de tomar medicamentos que alteren la coagulación de la sangre. Estos incluyen ácido acetilsalicílico (aspirina), ibuprofeno, naproxeno anticoagulantes como warfarina y otros medicamentos.</li>
               <li>Pregúntele a su medico qué farmacos debe tomar aun el día de la cirugía.</li>
               <li>Coméntele a su cirujano si ha estado tomando mucho alcohol, más de 1 o 2 tragos por día.</li>
               <li>Si fuma, es ideal que deje de hacerlo. El tabaco puede retardar la cicatrización de heridas y reparación de huesos.</li>
               <li>A menudo le pedirán  que no coma ni beba nada durante 6 a 12 horas antes del procedimiento.</li>
           </ul>
           
          
           En el día de la cirugía:
             Tome los medicamentos que le indicaron con poca agua.
          <h3>Expectativas (pronóstico)</h3>            
           Después de la cirugía, será necesario que use muletas durante 2 a 6 semanas.
            <ul>
               <li>Durante la primera semana, usted no debe cargar  peso sobre el lado que le operaron.</li>
               <li>Después de la primera semana, le permitirán lentamente cargando peso cada vez más sobre la cadera que le operaron.</li>
           </ul>
          
           El cirujano le dirá cuándo puede retornar sus actividades normales. La mayoría de las personas puede regresar a la actividad normal al cabo de 1 a 2 semanas si pueden sentarse la mayor parte del tiempo.
           A usted lo remitirán a kinesiología para que empiece un programa de rehabilitación.
                
                
                </p>
                <img class="responsive-img" loading="lazy" src="" alt="rehabilitacion en traumatologia">

            </div>
        </div>
    </section>
   
    <section class="section">
        <div class="row">
          <h2>¿CÓMO BAJAR LOS RIESGOS QUIRÚRGICOS?</h2> 

            <div class="col ">
                <p class="p_blog">
                  La AC  ha ido obteniendo un lugar primordial en la ortopedia mundial. Los nuevos hallazgos en el diagnóstico facilitan realizar cirugías menos invasivas con una mejor  y más precoz recuperación.
                  La principal consideración que se debe tener en el diagnóstico de la artroscopía de cadera, es  qué se está interviniendo al paciente. Generalmente la respuesta continúa generada por el permanente dolor. Sin embargo, en ocasiones se ingresa a una cirugía por presentar malformaciones óseas en la cadera, que no producen síntomas. Esta condición debe ser muy bien examinada por el especialista, para no realizar una intervención que perfectamente puede evitarse.
                  Algunos pacientes asintomáticos, luego de pasar por a una cirugía, pueden presentar algún dolor residual, provocado por la intervención de los tejidos y su proceso de cicatrización en la zona de la cadera. Entonces, el dolor post operatorio puede ser tomado como una complicación de la técnica. Las causas de éstas son múltiples y debemos ordenarlas para poder entender mejor las dolencias.
                  La mejor manera  de clasificar un dolor post-operatorio es  en dolor intra articular y extra articular:
                  Dentro de los dolores intra articulares hay una lista de molestias que van desde:
                  <ul>
                      <li>corte mal aplicado o incompleto de la lesión al cuello femoral o cam.</li>
                      <li>extirpacion incompleta de la patologia Pincer o corte muy amplio de la Lesión Pincer o sobre cobertura acetabular.</li>
                      <li>Mala intervención de la Lesion Labral, re-rotura, disposición intra articular de anclas de sutura del labrum.</li>
                      <li>adhesion de la articulación del cuello femoral o tejidos blandos cercanos, como el tendón del psoasiliaco</li>
                      <li>Necrosis avascular de la cabeza femoral</li>
                      <li>Inestabilidad de cadera por demaciada eliminación del tejido de estabilidad capsular</li>
      
                  </ul>                </p>
                <div class="divider"></div>
                <h2>CAUSAS ARTICULARES EXTERNAS QUE PROVOCAN DOLOR:</h2> 
                <p class="p_blog">
                  <ul>
                    <li>La tendinopatía externa: entesitis glútea, psoas-iliaco, isquiotibial.</li>
                    <li>Sinovitis inflamatoria de la capsula articular</li>
                    <li>Adhesión de la cicatriz a planos superficales y profundos</li>
                    <li> lesión nervio pudendo con anestesia en zona genital por excesiva tension Extravasación (salida) del fluido artroscópico a territorio abdominal</li>
                    
                </ul>                </p>
                <div class="divider"></div>
                <h2>NUEVA APLICACION QUIRÚRGICA</h2>            
                <p class="p_blog">
                  La artroscopia de cadera considera en sí mismo una técnica mínima mente invasiva en la cual el paciente solo presentara 3 incisiones en las cuales 1 será la de una pequeña cámara que permitirá al experto ver la intervención y unas dos con las cuales manipulara los instrumentos el éxito dependerán del tipo de paciente (edad sexo y condiciones de estructura lesionada), su lesión (referente a mecanismo de lesión y zona), de su proceso de cicatrización y rehabilitación (obviamente realizada por el kinesiólogo).
                  Esta técnica tiene la facultad de ser mínimamente invasiva con mejores resultados en los procesos de cicatrización, además de mínimas complicación a nivel interarticular con respecto a la extravasación del líquido sinovial.
                      </p>
                <div class="divider"></div>
                <h2>¿CÓMO SE REALIZA LA INTERVENCION ARTROSCOPICA?</h2> 
                <p class="p_blog">

                  En la artroscopia de cadera luego de la anestesia el paciente estará sobre la mesa ortopédica de operación en la cual será sometido a una tracción sobre la cadera, el cual permitirá un espacio intraarticular para la colocación de los instrumentos, para lograr esto se debe aplicar una ventana en la capsula articular. Éste tejido se quitara con un bisturí y shaver artroscópico, este  resecará la mayoría de este. Luego  el paciente es mantenido en tracción por espacio de 2 horas, lo que provocara anestesia postoperatoria en la zona genital. Junto con ello, el flujo del líquido hacia la cadera debe ser alto para poder observar a través de la cámara digital (artroscópico).
                  El corte capsular debe mínimo para no crear inestabilidad futura  en la cadera. Esta cápsula tiene el ligamento ileofemoral anterior, principal estabilizador de la cadera, por ello debe ser conservado, evitando el daño de este  durante la cirugía.
                  CONSIDERACIONES DE LA ARTROSCOPIA
                  Es una aplicación que se va desde afuera hacia adentro con el objetivo de disminuir los efectos de inestabilidad de cadera posterior que si ocurrían con otro tipo de intervenciones. Este proceso no es realizado con tracción, por lo cual no existe riesgo por extravaciacion de sinovial de la artroscopía. Con la intervención acetabular, se visualiza el labrum articular y se procede a estirar levemente la cadera por espacio de 15 a 20 minutos, aquí el medico realiza la eliminación  del pincer acetabular y la reinserción labral,.
                  Las ventajas de esta técnica quirúrgica son muy importantes pues permite una sutura fácil de la zona articular en caso de pacientes hiperlaxos, no genera injuria del nervio pudendo, no hay una mayor extravasación de líquidos, y disminuye un importante tiempo quirúrgico.
                  La resección de las alteraciones femorales o cam se llevan a cabo sin inconvenientes a través de la capsulotomía. Al finalizar de la cirugía se realiza una sutura capsular para permitir un cierre anatómico de la cápsula. Una vez realizada esta técnica, podemos observar que los pacientes tienen menor dolor y mayor sensación de seguridad. Sin embargo, es difícil evaluarla  ya que  que son sensaciones muy subjetivas y solo son evaluables en pacientes que han tenido cirugías en ambas caderas con distintas técnicas pero resulta muy importante la diferencia que notan los pacientes, lo que impulsa a una mayor difusión de esta técnica.
                  Proceso de rehabilitacion
                  <ul>
                      <li>Durante la primera semana, usted no debe cargar  peso sobre el lado que le operaron, pero si se puede aplicar las primeras fases de kinesioterapia.</li>
                      <li>Objetivos: disminuir el dolor e inflamación con elementos como crioterapia, ultrasonido o electroestimulacion sensitiva</li>
                      <li>Movilizaciones pasivo asistidas y activo asistidas para mejorar o mantener rangos articulares</li>
                      <li>Educación de cuidados y marcha con bastones</li>
                      <li>Después de la primera semana, le permitirán lentamente cargando peso cada vez más sobre la cadera que le operaron, se comienza con cargas progresivas y ejercicios kinésicos con cadena cinética cerrada (bicicleta, elíptica, squad, etc.), bandas elásticas, fortalecimiento de eeii todo controlado por el kinesiologo</li>
                      <li>Ya en fases más avanzadas se comenzara con procesos más dinamico e reintergro deportivo o laboral</li>
                  </ul>
                  
                  
                  
                  El cirujano le dirá cuándo puede retornar sus actividades normales. La mayoría de las personas puede regresar a la actividad normal al cabo de 1 a 2 semanas si pueden sentarse la mayor parte del tiempo.
                                  </p>
                <div class="divider"></div>


              
                <img class="responsive-img" loading="lazy" src="" alt="ejercicios terapeuticos">

            </div>
        </div>


    </section>
    <section class="section">
      <div class="container">
        <h2 class="center-align">Categorías de Productos</h2>
        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="https://via.placeholder.com/350x250">
                <span class="card-title">Electroestimulación</span>
              </div>
              <div class="card-content">
                <p>Descubre nuestra amplia selección de productos de electroestimulación para terapia.</p>
              </div>
              <div class="card-action">
                <a class="producto" href="#">Ver productos</a>
              </div>
            </div>
          </div>
          <div class="col s12 m6 ">
            <div class="card">
              <div class="card-image">
                <img src="https://via.placeholder.com/350x250">
                <span class="card-title">Ultrasonido</span>
              </div>
              <div class="card-content">
                <p>Encuentra los mejores productos de ultrasonido para terapia.</p>
              </div>
              <div class="card-action">
                <a class="producto" href="#">Ver productos</a>
              </div>
            </div>
          </div>
          <div class="col s12 m6 offset-m3">
            <div class="card">
              <div class="card-image">
                <img src="https://via.placeholder.com/350x250">
                <span class="card-title">Ejercicios terapéuticos</span>
              </div>
              <div class="card-content">
                <p>Encuentra los mejores productos de ejercicios terapéuticos.</p>
              </div>
              <div class="card-action">
                <a class="producto" href="#">Ver productos</a>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="https://via.placeholder.com/350x250">
                <span class="card-title">Acupuntura</span>
              </div>
              <div class="card-content">
                <p>Encuentra los mejores productos de acupuntura para terapia.</p>
              </div>
              <div class="card-action">
                <a class="producto" href="#">Ver productos</a>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="https://via.placeholder.com/350x250">
                <span class="card-title">Masajes</span>
              </div>
              <div class="card-content">
                <p>Encuentra los mejores productos de ejercicios terapéuticos.</p>
              </div>
              <div class="card-action">
                <a class="producto" href="#">Ver productos</a>
              </div>
            </div>
          </div>
          <div class="col s12 m6 offset-m3">
              <div class="card">
                <div class="card-image">
                  <img src="https://via.placeholder.com/350x250">
                  <span class="card-title">Ejercicios terapéuticos</span>
                </div>
                <div class="card-content">
                  <p>Encuentra los mejores productos de ejercicios terapéuticos.</p>
                </div>
                <div class="card-action">
                  <a class="producto" href="#">Ver productos</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
     

</main>   
    <%- include('../botones/boton.ejs'); %> 
    <%- include('../botones/menu-flotante.ejs'); %> 

    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>