<!DOCTYPE html>
<%- include('../heads/head.ejs'); %>
<body>
  <%- include('../navbar/navbar.ejs'); %>
  <%- include('../botones/menu-flotante.ejs'); %>

<!--header-->
<header>

  <section class="header-main-pic z-depth-2">
      <div class="intro-area">
          <div class="container">
            <h1> <%= tiTuloh1%> </h1>
            <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
          </div>
        </div>
  </section>

  
</header>   
<%- include('../breadcrumb/artrosis-rotuliana.ejs'); %>
<main class="container">
   
    <section class="section">
        <div class="row">
            <div class="col">
                <p class="p_blog">
                  La artrosis rotuliana es la pérdida de cartílago del sector de la patela (rótula) la que al dañarse, no es capaz de soportar presión.
                  Cada vez es más habitual escuchar sobre las dolencias de artrosis que afectan a las personas, mayoritariamente adulta. Esta patología de daño articular, es la más común de las enfermedades articulares y afecta zonas como la región de la espalda baja, rodillas o caderas.
                  <h2>¿QUÉ ES LA ARTROSIS ROTULIANA?</h2>
                  La artrosis rotuliana es el daño de cartílago en la zona paletar (rótula) que al lesionarse, no es capaz de soportar una peso  físico mínima.
                  <h2>¿POR QUÉ SE GENERA LA ARTROSIS ROTULIANA?</h2>
                  La artrosis rotuliana, más que una patología específica, es un síndrome de muchos orígenes, todas referidas a una lesión en la articulación de rodilla, y que es común entre deportistas jóvenes, mujeres y adultos jóvenes.
                  Cada vez es más habitual oír sobre la incidencia de artrosis que afectan a la población, sobre todo al segmento adulto mayor. Esta patología degenerativa articular, es la habitual de las enfermedades articulares y afecta zonas como la región lumbar, rodilla y caderas, entre otras partes.
                  Nos centraremos a exponer  la artrosis patelofemoral, que corresponde a la pérdida de cartílago en la zona de la patela (rótula) la que al dañarse no es capaz de soportar una carga  física mínima, como lo es caminar, por ejemplo.
                  Cabe consignar que la rótula tiene una función esencial en la biomecánica de la rodilla. Ésta aumenta el efecto de torque de fuerza del cuádriceps lo que aumenta en dos o tres veces su efectividad. Sin la patela como ocurre tras la patelectomía, la fuerza del cuádriceps disminuye, las fuerzas compresivas femoro-tibiales aumentan y acrecientan la aparición de cambios degenerativos femorotibiales sobre los cartílagos y hueso subcondral.
                  <h2>TRATAMIENTO de  kinesiología</h2>
                  
                  El tratamiento kinésico se iniciara con un enfoque en la disminución del dolor, mejora de la flexibilidad y fuerza de la extremidad inferior, además de manipulaciones manuales como masajes o movilizaciones artrokinematicas que ayudarían en la ganancia de flexibilidad y movilidad, si los elementos de kinesioterapia no logran efectividad se procederá a la intervención quirúrgica
                   El cirujano solo buscara reparar o reemplazar la estructura dañada en este caso la patela
                  Este tipo de lesión es multifactorial ya que la estructura es propensa a recibir una carga elevada de trabajo y peso siendo afectados principalmente deportista en actividad y edad como adulto joven
                  
                  La artrosis patelofemoral de alta incidencia y prevalencia es muy incapacitante. Numerosos tratamientos han sido propuestos para el tratamiento quirúrgico de esta patología cuando fracasa el tratamiento kinésico de rehabilitación. Se divide en tratamientos quirúrgicos menores (liberación retináculo lateral- eliminación de  osteofito lateral y resección de la faceta lateral) y mayores (osteotomía de la TAT-cultivo de condrocitos- remplazos articulares). 
                  <h2>ARTROSIS PATELOFEMORAL</h2>
                  
                  La artrosis patelofemoral es una patologia caracterizada por dolor, impotencia funcional de la rodilla y alteración o pérdida del cartílago articular, de una o todas las carillas articulares de la rótula y de la tróclea femoral. La gran prevalencia de las lesiones es en la faceta lateral.
                  Se suma también condromalacia rotuliana como la alteración de las propiedades estructurales (proteoglicanos-colágeno-agua) y físicas, con modificación  de las fuerzas de roce y transmisión de presiones del cartílago articular de la patela
                  <h2>Fisiopatología de la artrosis patelofemoral</h2>
                  Los estabilizadores estáticos más importantes de la articulación femoro-patelar son los ligamentos femorales-patelo y patelotibiales. Pero este equilibrio también depende del alineamiento de la EEII, varo-valgo (angulo tibio femoral de la EEII), las variaciones  rotacionales de versión femoral, la relación de la rodilla con la posición de la pelvis y su desarrollo muscular.
                  Lo difícil  del asunto radica en la organización única de estos estabilizadores estáticos ligamentarios y óseos, y factores activos neuromusculares que ayudan a la capacidad funcional y al buen funcionamiento de la articulación patelofemoral. Existe una gran prevalencia de las injurias en la faceta lateral lo que sugiere una relación con los síndromes de mal alienación biomecánica.
                  Condiciones  como rotula alta, displasia de tróclea, un gran ángulo Q y sus complicaciones ligamentarias, atrofia del vasto interno y la contractura del retináculo lateral condicionaran el desarrollo de fuerzas anormales en la articulación, generando en trastornos degenerativos posteriores.
                  Tras condiciones que generan el desarrollo de la artrosis son micro traumas a repetición (mayoritariamente en deportes), macro traumas, aumento peso y actividad y trastornos genéticos del cartílago.
                  Hay seis estructuras anatómicas  responsables del dolor patelofemoral: piel, nervios, retináculo, sinovial, músculo y hueso subcondral.
                  Muchas patologias sistémicas pueden afectarlos, pero en <strong>kinesiología</strong>   las causas más frecuentes de dolor anterior de rodilla son trauma, sobreuso y mala alineación rotuliana.
                  <h2>Evaluación Clínica y Estudios Complementarios</h2>
                  Se encontraran a la evaluación
                  El dolor patelofemoral se intensifica en actividades como subir y bajar escaleras, levantarse de una posición sedente, subir cerros o posición de rodillas.
                  La atrofia muscular de más 2 cm de perímetro comparada contra lateralmente, sinovitis y crepitaciones retropatelares son los signos más claros de alteraciones del cartílago patelofemoral.
                  El aumento del dolor y los crepito en diferentes ángulos de flexión ayudan a la localización de la lesión. En las alteraciones distales se aumenta el dolor en los primeros grados de flexión y en las proximales se hace evidente en máxima flexión.
                  Los estudios preoperatorios incluyen Rx simples frente y perfil en 30° y axial a 45°, radiografía de todo la EEII  para analizar la alineación en el plano frontal y sagital y tomografía computada en diferentes grados de flexión para la valoración de displasia de la tróclea femoral y localización relativa de la rótula con respecto al fémur (subluxación). Con la información obtenida de estos estudios se puede establecer la etiología de la mala alineación.
                  La RMN con secuencia del cartílago es de utilidad para valorar el estado del mismo.
                  <h2>TRATAMIENTO de rehabilitación kinésica (kinesiología)</h2>
                  La rehabilitación  de kinesiología es el tratamiento inicial de elección y en general, el definitivo. Un reducido número de pacientes requieren tratamiento quirúrgico ante el fracaso del mismo por un periodo de 3-6 meses.
                  Este incluye fortalecimiento muscular del vasto interno para favorecer el correcto alineamiento de la patela, flexibilización con técnicas de masajes del retinaculo lateral. Fisioterapia a esto me refiero a electo estimulación ultrasonido, hielo, vendaje terapéutico funcional tipo tape, modificación de actividades, medicación antinflamatoria,  suplementación, etc.
                  Con eso se espera reducir el dolor, flexibilizar y fortalecer la estructura. Además es muy recomendable en entrenamiento distal de musculatura, entre ellos se incluye glúteo medio y gastronemios. Ya que diversos estudios establecen al musculo glúteo medio como un estabilizador dinámico de la rodilla
                  Las alternativas para el manejo quirúrgico de la artrosis patelo femoral aislada son:

                  <ul>
                    <li>masajes terapeuticos</li>
                    <li>kinesiologia derechamente</li>
                    <li>medicinas complementarias, (reiki, acupuntura, control de la dieta entre otros</li>
                  </ul>
                </p>
                <img class="responsive-img" loading="lazy" src="" alt="imagen de kinesiologos">
                <div class="divider"></div> 

               

            </div>
        </div>
    </section>
   
    
    

</main>
<%- include('../botones/boton.ejs'); %>
<%- include('../footers/footer.ejs'); %>
</body>


    
   
 
    
 </html>