<!DOCTYPE html>
<html lang="es-CL" itemscope itemtype="http://schema.org/Article">

<%- include('../heads/artroscopia_cadera.ejs'); %>

<body>
<%- include('../navbar/navbar.ejs'); %>

<header>

  <section class="header-main-pic z-depth-2">
      <div class="intro-area">
          <div class="container">
            <h1> <%= tiTuloh1%> </h1>
            <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
          </div>
        </div>
  </section>

  
</header>   
 <!-- breadcumbs-->
 <nav > 
    <div class="nav-wrapper container">
        <div class="col s12">
          <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor" class="breadcrumb">traumatologia</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/artroscopia-cadera" class="breadcrumb">Columna</a>

        </div>
      </div>
</nav>

<!--fin breadcumbs-->
<main class="container">
  <section>
   <div class="row">
    <div class="col s12" id="H2_blog">
     <h2 id="H2_blog">
         la anatomia de la columna vertebral y como se ve afectadas segun sus características
     </h2>
    </div>
   </div>
  </section>
  <section class="section">
   <div class="row">
    <div class="col">
     <h2>
         columna vertebral y sus condiciones anatomicas vertebrales
     </h2>
     <p class="p_blog">
        La columna vertebral se divide en cinco segmentos: cervical, torácica, lumbar, sacra y coxis. Cada segmento tiene vértebras con morfología diferente, y juntas dan diferentes curvaturas a cada segmento. En la columna cervical hay lordosis, en la torácica hay cifosis, en la lumbar hay lordosis, y en el sacro y el coxis hay cifosis.
        Estas curvas son importantes porque, dentro de los rangos normales, nos permiten un adecuado desempeño en las actividades diarias. Cuando se ven aumentadas, pueden surgir problemas como la escoliosis y la cifoescoliosis. La columna vertebral protege la médula y da estructura anatómica a la jaula torácica que protege a los órganos vitales.
        Algunas lesiones de columna incluyen la hernia de disco, que ocurre cuando el disco intervertebral se desplaza y presiona los nervios cercanos; la escoliosis, que es una curvatura anormal de la columna vertebral; la estenosis espinal, que es un estrechamiento del canal vertebral que comprime los nervios espinales; la fractura vertebral, que puede ser el resultado de una lesión traumática o de una osteoporosis avanzada; y el síndrome de la cola de caballo, que se produce cuando las raíces nerviosas que salen de la médula espinal se comprimen.
        Es importante cuidar nuestra columna vertebral con una buena postura, ejercicio regular y una dieta saludable para prevenir lesiones y mantener una buena salud a largo plazo.

        exiten diferentes patologias que afectan a la columna lumbar las cuales son las siguientes:

     
     </p>
     <section class="section">
        <div class="container">
         <h2 class="center-align">
          otro tipos de dolores lumbares
         </h2>
         <div class="row">
          <div class="col s12 m6">
           <div class="card">
            <div class="card-image">
             <img src="/public/images/traumatologia/dolor-lumbago.webp"/>
             <span class="card-title">
              Lumbago
             </span>
            </div>
            <div class="card-content">
             <p> patologia lumbar sus causas y tipo de tratamiento como abordarlos y otras cosas que te pueden interezar  </p>
            </div>
            <div class="card-action">
             <a class="producto" href="#">
              Ver productos
             </a>
            </div>
           </div>
          </div>
          <div class="col s12 m6">
           <div class="card">
            <div class="card-image">
             <img src="/public/images/traumatologia/cervical.webp"/>
             <span class="card-title">
              Patologia Cervical
             </span>
            </div>
            <div class="card-content">
             <p>
              Patologia Cervical su tratamiento metodos de accion y ejercicicos terapeuticos mas efectivos
             </p>
            </div>
            <div class="card-action">
             <a class="producto" href="#">
              Ver productos
             </a>
            </div>
           </div>
          </div>
          <div class="col s12 m6 offset-m3">
           <div class="card">
            <div class="card-image">
             <img src="/public/images/traumatologia/vertebras-torácicas.webp"/>
             <span class="card-title">
              patologia en la columna dorsal
             </span>
            </div>
            <div class="card-content">
             <p> patologia en columna dorsal ciaticos , colapso de las vertebras por fracturapor estress
             </p>
            </div>
            <div class="card-action">
             <a class="producto" href="#">
              Ver productos
             </a>
            </div>
           </div>
          </div>         
          
         </div>
        </div>
       </section>

     <img alt="imagen de kinesiologos" class="responsive-img" loading="lazy" src="/public/images/traumatologia/cervical.webp"/>
     <div class="divider">
     </div>
     <h3> vertebral cervicales</h3>
     <p class="p_blog">
        Las vértebras cervicales son las siete vértebras superiores de la columna vertebral, situadas en la región del cuello. A continuación, te hablo de las características morfológicas de estas vértebras:

        Las vértebras cervicales son las vértebras más pequeñas de la columna vertebral, pero también son las más móviles debido a su forma particular.
        
        Cada vértebra cervical consta de un cuerpo vertebral, un arco vertebral y siete procesos óseos.
        
        El cuerpo vertebral es el hueso en forma de cilindro que forma la parte anterior de la vértebra. En las vértebras cervicales, el cuerpo vertebral es más pequeño en comparación con las vértebras de otras regiones de la columna vertebral.
        
        El arco vertebral es el hueso en forma de arco que forma la parte posterior de la vértebra y encierra el canal vertebral, que aloja la médula espinal. En las vértebras cervicales, el arco vertebral es más corto y ancho que en las vértebras torácicas y lumbares.
        
        Los procesos óseos son las estructuras que sobresalen de la vértebra. En las vértebras cervicales, hay siete procesos óseos: el proceso espinoso, dos procesos transversos y cuatro procesos articulares. Los procesos transversos de las vértebras cervicales son particularmente largos y delgados y tienen agujeros en la base para permitir el paso de los vasos sanguíneos y nervios.
        
        Las vértebras cervicales también tienen una característica única llamada foramen transversarium. Estos son agujeros que se encuentran en los procesos transversos y permiten el paso de las arterias vertebrales, que son importantes para suministrar sangre al cerebro.
        
        En resumen, las vértebras cervicales tienen una morfología particularmente adaptada para permitir la movilidad del cuello y la protección de las arterias vertebrales que alimentan el cerebro.
     </p>
     <h3>patologias de las vertebras cervicales</h3>
     <p class="p_blog">
        Algunas de las patologías más comunes que pueden afectar a las vértebras cervicales incluyen:

        Hernia de disco cervical: esto ocurre cuando uno de los discos intervertebrales en la columna cervical se desplaza y comprime los nervios cercanos, causando dolor, entumecimiento y debilidad en el cuello, los brazos y las manos.
        
        Espondilosis cervical: esto se refiere a la degeneración de las vértebras y los discos en la columna cervical debido al envejecimiento, lo que puede causar dolor, rigidez y limitación del movimiento.
        
        Estenosis espinal cervical: esto es cuando el canal vertebral en la columna cervical se estrecha y comprime la médula espinal y los nervios, lo que puede causar dolor, debilidad y entumecimiento en el cuello, los brazos y las manos.
        
        Síndrome de latigazo cervical: esto ocurre cuando hay una lesión en la columna cervical debido a un movimiento rápido y repentino del cuello hacia adelante y hacia atrás, como en un accidente automovilístico. Puede causar dolor, rigidez y limitación del movimiento en el cuello, y en algunos casos puede afectar la memoria y la concentración.
        
        Fractura de vértebras cervicales: esto puede ocurrir debido a una lesión traumática o una enfermedad como la osteoporosis. Las fracturas pueden ser muy graves y pueden causar dolor, debilidad y entumecimiento en el cuello, los brazos y las manos, y en algunos casos pueden dañar la médula espinal.
        
        Es importante recordar que cualquier dolor o molestia en la columna cervical debe ser evaluado por un médico para determinar la causa y el tratamiento adecuado.
     </p>
     <div class="divider">
     </div>
     <h3>
         vertebras toraxicas
     </h3>
     <p class="p_blog">
        Las vértebras torácicas, también conocidas como vértebras dorsales, se encuentran en la sección media de la columna vertebral y se articulan con las costillas. Estas vértebras tienen varias características anatómicas que les permiten soportar el peso del tronco y proteger los órganos vitales dentro de la caja torácica. Algunas de las características morfológicas de las vértebras torácicas incluyen:

        Cuerpo vertebral: El cuerpo vertebral es la porción anterior de la vértebra torácica y es más grande que las vértebras cervicales, pero más pequeño que las lumbares. Los cuerpos vertebrales tienen una forma de corazón y están separados por discos intervertebrales.
        
        Arco vertebral: El arco vertebral se extiende desde la parte posterior del cuerpo vertebral y rodea la médula espinal. El arco está formado por dos pedículos y dos láminas.
        
        Apófisis espinosas: La apófisis espinosa es una estructura ósea que se proyecta hacia atrás desde la unión de las dos láminas. Las apófisis espinosas de las vértebras torácicas son largas y se curvan hacia abajo.
        
        Apófisis transversas: Las apófisis transversas se proyectan lateralmente desde los pedículos de la vértebra. Estas estructuras proporcionan un punto de anclaje para los músculos que se unen a la columna vertebral.
        
        Facetas articulares: Las facetas articulares son superficies articulares en la parte superior e inferior de las vértebras torácicas que se articulan con las costillas adyacentes. Estas articulaciones permiten el movimiento de la caja torácica durante la respiración.
        
        En resumen, las vértebras torácicas tienen un cuerpo vertebral en forma de corazón, un arco vertebral formado por dos pedículos y dos láminas, apófisis espinosas largas y curvadas, apófisis transversas y facetas articulares para articular con las costillas adyacentes.

        Al igual que con cualquier parte del cuerpo humano, las vértebras torácicas pueden ser afectadas por diversas patologías. Algunas de las patologías más comunes que afectan a las vértebras torácicas incluyen:

Escoliosis: La escoliosis es una curvatura lateral anormal de la columna vertebral. Puede afectar cualquier parte de la columna vertebral, incluyendo la región torácica. Si la escoliosis se desarrolla en la columna torácica, la curva puede ser más prominente y causar dolor de espalda y problemas respiratorios.

Hernia de disco: La hernia de disco es una afección en la que el disco intervertebral, que se encuentra entre las vértebras, se sale de su posición normal y comprime la médula espinal o las raíces nerviosas. En la columna torácica, las hernias de disco son menos comunes que en la columna cervical y lumbar, pero pueden causar dolor y entumecimiento en la parte superior del cuerpo.

Fracturas vertebrales: Las fracturas vertebrales en la región torácica pueden ocurrir debido a lesiones traumáticas, osteoporosis o enfermedades óseas. Estas fracturas pueden ser dolorosas y pueden afectar la movilidad y la estabilidad de la columna vertebral.

Estenosis espinal: La estenosis espinal es una afección en la que el canal espinal se estrecha y comprime la médula espinal o las raíces nerviosas. Puede ser causada por la degeneración de los discos intervertebrales, la formación de osteofitos o espolones óseos, y puede causar dolor de espalda, debilidad muscular y entumecimiento.

Espondilolistesis: La espondilolistesis es una afección en la que una vértebra se desliza hacia adelante o hacia atrás sobre la vértebra adyacente. Puede ser causada por lesiones traumáticas o por la degeneración de los discos intervertebrales. En la región torácica, la espondilolistesis es menos común que en la columna lumbar, pero puede causar dolor de espalda y afectar la movilidad de la columna vertebral.
     </p>
     <img alt="imagen de lesiones y fracturas" class="responsive-img" loading="lazy" src="/public/images/Traumatologia.webp"/>
     <div class="divider">
     </div>
     <h3> vertebras lumbares  </h3>
     <p class="p_blog">
        Las vértebras lumbares son las cinco vértebras más grandes de la columna vertebral y se encuentran en la parte inferior de la espalda. A continuación, se describen sus principales características y funciones biomecánicas:

        Tamaño y forma: Las vértebras lumbares son las más grandes y más gruesas de la columna vertebral. Tienen una forma cuadrangular con una apófisis espinosa corta y ancha. También tienen una superficie articular amplia para permitir una mayor estabilidad en la columna vertebral.
        
        Curvatura: La columna vertebral lumbar tiene una lordosis fisiológica, lo que significa que se curva hacia adentro. Esta curvatura proporciona una mayor flexibilidad y soporte para el cuerpo, y ayuda a absorber los impactos de las actividades diarias.
        
        Facetas articulares: Las vértebras lumbares tienen facetas articulares que se articulan con las vértebras adyacentes. Estas facetas son más grandes y orientadas en un ángulo diferente que las facetas en las vértebras torácicas, lo que permite una mayor flexibilidad en la columna vertebral lumbar.
        
        Discos intervertebrales: Los discos intervertebrales en la columna vertebral lumbar son más gruesos que en las vértebras torácicas y cervicales. Estos discos actúan como cojines para absorber los impactos y reducir la fricción entre las vértebras.
        
        Función biomecánica: Las vértebras lumbares son responsables de soportar una gran cantidad de peso y tensión debido a su posición en la parte inferior de la espalda. También proporcionan una mayor flexibilidad y movilidad en la columna vertebral. La biomecánica de la columna vertebral lumbar es importante para actividades como caminar, correr, levantar objetos pesados y otras actividades diarias.
        
        las vértebras lumbares son las más grandes y gruesas de la columna vertebral y tienen una forma cuadrangular con una apófisis espinosa corta y ancha. La columna vertebral lumbar tiene una lordosis fisiológica y las vértebras lumbares tienen facetas articulares más grandes y orientadas en un ángulo diferente que las facetas en las vértebras torácicas, lo que permite una mayor flexibilidad en la columna vertebral lumbar. Las vértebras lumbares son responsables de soportar una gran cantidad de peso y tensión, proporcionar una mayor flexibilidad y movilidad en la columna vertebral y son importantes para las actividades diarias como caminar, correr, levantar objetos pesados, entre otras.

        Existen varias condiciones patológicas comunes que pueden afectar los segmentos vertebrales lumbares de la columna vertebral. A continuación se describen algunas de las más habituales:

Hernia de disco: Una hernia de disco ocurre cuando el núcleo del disco intervertebral se desplaza fuera de su lugar normal y comprime las raíces nerviosas cercanas. Esto puede causar dolor en la parte baja de la espalda, las nalgas, las piernas y los pies.

Estenosis espinal: La estenosis espinal es un estrechamiento del canal espinal que puede comprimir las raíces nerviosas cercanas. Esto puede causar dolor de espalda, debilidad en las piernas y entumecimiento o cosquilleo en las piernas y los pies.

Espondilolistesis: La espondilolistesis es un desplazamiento de una vértebra hacia adelante sobre la vértebra adyacente. Esto puede causar dolor de espalda, debilidad en las piernas y una postura anormal.

Fracturas vertebrales: Las fracturas vertebrales pueden ocurrir debido a un traumatismo o una enfermedad como la osteoporosis. Esto puede causar dolor de espalda, debilidad en las piernas y una postura anormal.

Síndrome facetario: El síndrome facetario es un dolor de espalda crónico que puede ser causado por la degeneración de las articulaciones facetarias en las vértebras lumbares. Esto puede causar dolor en la parte baja de la espalda que se irradia a las caderas y las piernas.

Espondilosis lumbar: La espondilosis lumbar es una afección degenerativa de las vértebras lumbares que puede causar dolor de espalda y rigidez. Esto puede ser causado por el envejecimiento, la obesidad o la falta de actividad física.

Síndrome del músculo piriforme: El síndrome del músculo piriforme es una afección en la que el músculo piriforme, ubicado en la parte inferior de la espalda, comprime el nervio ciático. Esto puede causar dolor en la parte baja de la espalda, las nalgas y las piernas.

Las condiciones patológicas más habituales que pueden afectar los segmentos vertebrales lumbares incluyen hernia de disco, estenosis espinal, espondilolistesis, fracturas vertebrales, síndrome facetario, espondilosis lumbar y síndrome del músculo piriforme. Cada una de estas afecciones puede causar dolor de espalda, debilidad en las piernas, una postura anormal u otros síntomas. Es importante buscar atención con un kinesiologo si se experimenta alguno de estos síntomas para obtener un proceso de recuperacion adecuado.
     </p>
     <img alt="rehabilitacion en traumatologia" class="responsive-img" loading="lazy" src="/public/images/traumatologia/dolor-lumbago.webp"/>
    </div>
   </div>
  </section>
  <section class="section">
   <div class="row">
    <h2> sacro - coxis
    </h2>
    <div class="col">
     <p class="p_blog">
        El sacro y el coxis son segmentos óseos ubicados en la base de la columna vertebral, debajo de la columna lumbar. A continuación, se describen las características estructurales del sacro y el coxis, así como algunas de las afecciones patológicas más comunes que pueden afectarlos.

        Sacro:
        
        El sacro es un hueso triangular formado por la fusión de cinco vértebras sacras.
        Tiene una superficie cóncava en la parte posterior que se articula con la superficie convexa del hueso coxal, formando la articulación sacroilíaca.
        El sacro tiene un agujero en cada una de sus cinco vértebras sacras, llamado agujero sacro, que permite el paso de los nervios y los vasos sanguíneos.
        Coxis:
        
        El coxis es un hueso pequeño y curvo que se encuentra en la base del sacro, formado por la fusión de tres a cinco vértebras coccígeas.
        El coxis no tiene una función mecánica significativa y no está diseñado para soportar el peso del cuerpo.
        El coxis tiene una función importante durante el parto, ya que se mueve hacia adelante para permitir que la cabeza del bebé pase por la pelvis.
        Algunas de las afecciones patológicas más comunes que pueden afectar al sacro y el coxis son:
        
        Dolor del coxis: El dolor en el coxis puede ser causado por una lesión, como una caída o un parto difícil. El dolor también puede ser causado por una inflamación o infección de los tejidos que rodean el coxis.
        
        Coccigodinia: La coccigodinia es un dolor crónico en el coxis que puede ser causado por una lesión, una infección o una afección médica subyacente como la artritis.
        
        Disfunción sacroilíaca: La disfunción sacroilíaca es una afección en la que la articulación sacroilíaca no funciona correctamente, lo que puede causar dolor en la parte baja de la espalda y las caderas.
        
        Espondilodiscitis: La espondilodiscitis es una infección en las vértebras y los discos intervertebrales, que puede afectar tanto al sacro como a la columna vertebral lumbar.
        
        Fracturas del sacro o el coxis: Las fracturas en el sacro o el coxis pueden ser causadas por una lesión, como una caída, y pueden causar dolor y limitaciones en la movilidad.
        
        
     </p>
     <div class="divider">
     </div>
     <h2>
     </h2>
     <p class="p_blog">
        ¿Estás sufriendo de dolor de espalda o cualquier otra condición patológica en la columna vertebral? Si es así, entonces es hora de buscar ayuda profesional. La kinesiología y la rehabilitación son dos de las mejores opciones que puedes tener para tratar este tipo de problemas.

        En nuestro grupo como kinesis house de kinesiología y rehabilitación, entendemos cómo la columna vertebral juega un papel crucial en el movimiento y la actividad diaria. Nuestros fisioterapeutas y especialistas en rehabilitación están altamente capacitados para ayudar a cualquier persona que sufra de dolor o limitación en la columna vertebral.
        
        Usamos técnicas avanzadas, como el ultrasonido y la electroestimulación, para ayudar a reducir el dolor y mejorar la función de la columna vertebral. También ofrecemos ejercicios terapéuticos personalizados, adaptados a las necesidades de cada individuo, para ayudar a fortalecer los músculos de la espalda y mejorar la postura.
        
        En nuestra clínica, nos aseguramos de crear un ambiente cómodo y acogedor para que te sientas seguro y relajado durante tus sesiones terapéuticas. Estamos comprometidos a ayudarte a recuperar la salud y la calidad de vida que mereces.
        
        ¡No sufras más! Contáctanos hoy mismo para programar tu cita y dar el primer paso hacia una vida sin dolor de espalda. ¡No esperes más para comenzar a sentirte mejo
     </p>
     <div class="divider">
     </div>
     
     
    
     <img alt="ejercicios terapeuticos" class="responsive-img" loading="lazy" src="/public/images/traumatologia/estiramiento-lumbar.webp"/>
    </div>
   </div>
  </section>
  
 </main> 
    <%- include('../botones/boton.ejs'); %> 
    <%- include('../botones/menu-flotante.ejs'); %> 

    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>