<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <!-- breadcumbs-->
  <nav > 
    <div class="nav-wrapper container">
        <div class="col s12">
          <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/condromalacia-rotuliana" class="breadcrumb">condromalacia</a>

        </div>
      </div>
</nav>

<!--fin breadcumbs-->

 

   <div class="container">
     <div class="row">
      <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a  y  CONDROMALACIA PATELAR v  </h2>

            <p class="p_blog">
              Esta patología es una condición en la cual el cartílago que se encuentra bajo la patela esta reblandecido, a la evaluación tiende a crujir (crepitar) y a veces en doloroso, la posible evolución a futuro es que tienda a generar artrosis en aquella zona.


              La condromalacia en la patela se debe al daño por efecto de aumento de roce  del cartílago o tejido blando que está ubicado en la zona que entra en contacto con los cóndilos de la rodilla. Se provoca mayoritariamente entre quienes realizan deportes como fútbol, basquetbol, ciclismo, tenis y runming. Aunque igual puede provocarlo otras condiciones como mala técnica de entrenamiento alteraciones anatómicas que afectan la biomecánica de la estructura, aumento de peso entre otras.
              La función del cartílago articular en soportar peso como un amortiguador y reducir el efecto de roce este se compone mayoritariamente de agua 90%, además de otros elementos, su condición es especial, por lo mismo no posee capacidad de auto reparación como otras estructuras
            </p>
            <H2>LESIÓN DEL CONDROCITO</H2>
            <p class="p_blog">
            Cuando el roce y las presiones en la estructura de la patela tienden a sobrepasar la capacidad de absorber impacto del cartílago infrapatelar, este comienza a reblandecerse, tiende a ponerse rugoso y a presentar crepitaciones, siendo en ocasiones doloras. Incluye lesionando la estructura por completo y afectando a la zona ósea
            La función principal de la patela es funcionar como un fulcro, esto quiere decir aumenta la fuerza y palanca que puede realizar la rodilla gracias a este elemento siendo más eficiente el esfuerzo, por lo mismo debe manejar muchas condiciones de precio y roce. Su ubicación anatómica está en un surco que se encuentra entre los cóndilos femorales a distal
            Existen condiciones, en que el movimiento de la rótula no es el adecuado, generando condiciones como mal alineación patelar, provocando roces importantes que dañan al cartílago, haciéndolo más delgado e irregular, incluso con surcos y desgarros.
            Esta alteracion deduce en que la rodilla provoca sonidos y chasquidos realizar ciertos movimientos, existe un test clínico sencillos, llamado en que se tómala patela con el pulgar e índice y se arrastra hacia abajo, luego se le pide al paciente que realice una contracción del cuádriceps al efectuar el movimiento se oirá un crepito. Otras condiciones que pueden generar eso es  subir o bajar escaleras, caminar o agacharse en otras condiciones puede generar dolor y limitación a la flexión de la rodilla.
            Esta condición anormal es llamada condromalacia rotuliana y puede afectar a las personas en diversos grados de intensidad.
            Los grupos de riesgos mayoritariamente se centran en deportistas, sobre todo de alto rendimiento, personas con sobre peso y con carga de trabajo en la extremidad de manera excesiva. Condiciones anormal a las rodillas, así como adultos mayores, debido a que sus articulaciones posen un desgaste natural y mayor y  con mayor facilidad tienden  a presentar problemas de artrosis.
            </p>
           <h3>SÍNTOMATOLOGIA</h3>
           <p class="p_blog">
             <ul>
               <li>Los daños y cesaciones pueden variar dependiente del tipo y evolución del daño en el cartílago articular</li>
               <li>Dolor zona  anterior de la rodilla, este puede ser muy intenso y aumenta después de estar sentado durante largos periodos (signo de la butaca de cine), al subir escaleras o al estar de cuclillas.</li>
               <li>dolor en la articulación y percepción de aumento de la cizalla cuando se extiende la pierna.</li>
               <li>En ocasiones se percibe una crepitación en la zona, aún sin apoyarse en el piso. Las condiciones que provoca esta alteración tiende ser alternantes, por lo que los pacientes rechazan la idea de realizar un tratamiento de <strong> kinesiología </strong>que pueda mejorar la condición, dejando todo así esto puede evolucionar  a futuro derechamente a  una artrosis, la cual el daño es mayor y sin vuelta .</li>
               <li>Uso de imágenologia</li>               
             </ul>
             Inicialmente se piden radiografías, aun así esto no dará exactitud en el diagnóstico, es preferible la toma de alguna resonancia para apreciar de mejor manera el tejido blando dañado, aun así en condiciones con los test clínicos de pruebas es suficiente para comenzar con el tratamiento de rehabilitación.

           </p>



          <H2>DIAGNÓSTICO</H2>

          <p class="p_b">
          El diagnostico se llevara a cabo inicialmente por la historia clínica del paciente pasando por algunos test clínicos que pueden confirmar el mecanismo que gatilla la molestia, test funcionales que coadyudaran a confirmar y sobre todo un diagnostico 100% seguro lo indicara la resonancia magnética
          Es común hallar pacientes deportista con sobre entrenamiento o sobre esfuerzo, personas con aumento de peso, o con lesiones traumáticas antiguas, esto al provocar dolor desincentiva a las personas a continuar con esfuerzos sobre la estructura, con lo que comienza un proceso de pérdida de atrofia muscular  y desbalance muscular, alterando la biomecánica de la articulación de la patela con los cóndilos  Esto lleva a aparición de dolor en reposo, por ejemplo al estar sedente. Aparecen crepitos y resaltos en la rodilla. Esto provoca mayor temor a la actividad deportiva en las personas provocando una lesión cíclica en la que el paciente no provocara esfuerzo alguno en esta zona; una de las bases de la rehabilitación kinésica en esta condición es apoyarse con el fortalecimiento  del cuádriceps ya que este al estar activo y en óptimas condiciones en cuanto a términos de eficacia y fuerza actuaría en cierta medida como un amortiguador.
          Además se deben descartar alteraciones biomecánicas de otro tipo, como  problemas a nivel de la cadera o tobillo-pie que estén alterando y favoreciendo la condición de la condromalacia...
          Métodos complementarios de evaluación kinésica incluirán estudio de marcha, fuerza y flexibilidad que mejoraran el elemento de una hipótesis diagnostica.
          </p>
          <img class="responsive-img" loading="lazy" src="" alt="imagen de kinesiologos">
          <div class="divider"></div> 


          <H2>TRATAMIENTO</H2>
          <p class="p_blog">
            Las medidas terapéuticas que se aplicaran en esta condición son 
            Electro estimulación; inicialmente sensitiva para reducir los efectos del dolor, luego se puede aplicar con enfoque de estimular la musculatura para reducir los efectos de la atrofia y comenzar de esa manera a ser más efectiva la posterior fase de fortalecimiento del cuádriceps
            Ultrasonido. Se aplicara con objetivo de recudir el dolor principalmente y efectos inflamatorios
            Termoterapia: esta puede aplicarse de manera alterna en frio o calor, básicamente para modular la condición de gate control y modulación del dolor por los receptores de temperatura
            Vendaje tape: en general este será un coadyudante, los pacientes refieren buena respuesta a la aplicación de vendaje deportivos como el tipo tape elástico
            Masajes: el objetivo es netamente mejorar las condiciones de flexibilidad de los tejidos colindante principalmente cuádriceps, tendón rotuliano
            Flexibilidad: principalmente de todos los componentes de la extremidad inferior esto incluye inicialmente cuádriceps y isquiotibiales, gastronemios en general, banda iliotibial, y psoas iliaco
            Fortalecimiento: aquí a mi parecer entra el eje principal de tratamiento de <strong>kinesiología</strong>  al corto plazo se encara al cuádriceps, isquiotibiales gastronemios y glúteo medio, tanto en condiciones isométricas inicialmente para progresar a dinámicas

            Cuando estas medidas no son suficientes el medico ya optaría con aplicaciones quirúrgicas que van desde la infiltración tradicional o plaquetaria o incluso a la cirugía
            </p>
          <H2>¿QUÉ PUEDE GENERAR CONDROMALACIA?</H2> 
             <p class="p_blog">
            Ya sabemos que la condición es generada por una alteración en las condiciones del cartílago infra rotuliano está más blando y propenso a ruptura con poca capacidad de absorber impactos, pero además es provocada por las siguientes condiciones:
            •	Traumatismo directo, como por ejemplo caída sobre la rodilla, impacto accidental contra una estructura o a causa de accidentes en vehículo.
            •	Desgaste por sobreuso, principalmente al realizar acciones deportivas que sobre exijan a la articulación; por lo mismo es importante la dosificación y el cuidado de los factores de riesgos.
            •	Tener una forma de caminar que genere lesiones en la articulacion. Esto se debe principalmente a  alteraciones biomecánicas de  la extremidad que puede ser originadas desde el pie (ej.: pie plano o pie bot), desde la cadera (como aumento del angulo de varo o valgo en la zona coxo-femoral), como el uso de calzado con tacones altos; por ello se considera que el grupo femenino están más propensas a la lesión que los hombres.
            •	 los sujetos que a priori han sufrido una luxación o fractura en la rodilla tienen más probabilidades de presentar esta patología.
            </p>
            <img class="responsive-img" loading="lazy" src="" alt="imagen de kinesiologos">
            <div class="divider"></div> 

            <H2>REHABILITACIÓN  EN KINÉSIOLOGIA </H2>
            <p class="p_blog">
            La primera herramienta teerapeutica será reducir o disminuir los factores de riesgo que provocan la lesión, esto es actividades deportivas, subir o bajar escaleras, control del peso, favorecer el reposo inicialmente.
            </p>
            <H2>PRIMERA ETAPA</H2>
            <p class="p_blog">
            Aplicación tradicional de elementos de  <strong>fisioterapia</strong> 
            Crioterapia, electro estimulación, ultrasonido entre los elementos básicos, además de ejercicios que favorezcan la flexibilización y fortalecimiento isométricos de la musculatura. Si el dolor es muy invalidante se favorecerá el entrenamiento muscular de zonas distales como glúteo medio y gastronemios.
            </p>
            <h2>SEGUNDA ETAPA</h2>
            <p class="p_blog">
              Se continuara con los ejercicios isométricos sobre todo en zona de cuádriceps evitando ángulos de flexión de rodilla que aumenten el grado de precio de la rótula con el fémur (por lo general evitar ángulos mayores a 90° de flexión de rodilla), se puede y es ideal los ejercicios en cadena cinética cerrada, ya que se puede trabajar más funcionalmente la extremidad y muchos músculos a la vez.
              Un ejercicios ideal es apoyar la espalda a la pared y bajar levente la flexión de rodilla, ideal 60°, en esa posición con la espalda apoyada en la pared uno asemeja una postura como si estuviese en una silla invisible, esto trabajara la musculatura concéntricamente en cuádriceps, isquiotibiales y glútea principalmente
              Seguir con los ejercicios de flexibilidad, principalmente cuádriceps, isquiotibiales, gatronemios, banda iliotibial, flexor de cadera. Aunque parezca paradójico si se debe fortalecer el cuádriceps pero además al alongarlo reducimos los efecto de excesiva presión que puede ejercer el tendón rotuliano contra la rótula, es mucho más ideal una musculatura flexible y fuerte que solo fuerte, esto reduce al largo plazo la posibilidad de futuras lesiones de todo tipo.
              Es ideal además reentrenar el mecanismo dinámico de la rodilla, principalmente mejorar la condición de apoyo unipodal durante el ciclo de la marcha, en esa fase puede ocurrir un efecto en que la pierna rote hacia adentro por debilidad de los estabilizadores de la cadera. Por lo mismo es importantísimo el fortalecimiento del musculo glúteo medio tanto en aspecto de fuerza como en su función dinámica en la marcha o carrera.
            </p>
            <img class="responsive-img" loading="lazy" src="" alt="imagen de kinesiologos">
            <div class="divider"></div> 

            <h2>REINTEGRO A LA ACTIVIDAD DEPORTIVA </h2>
            <p class="p_blog">
              El retorno lo ideal es realizarlo progresivamente aunque siempre dependerá del tipo o gravedad de la lesión y si se asocia a otros factores como la edad, peso y experiencias previa en actividades deportivas.
              La rehabilitación con el <strong>kinesiólogo </strong> mejorara en gran medida los tiempos de retorno a la actividad física, es ideal lograr evaluaciones periódicas de la condición con el profesional para no caer en recidivas.
              Aunque existen pautas para el retorno a la actividad física siempre lo más adecuado es respetar los tiempos fisiológicos de recuperación del cuerpo, el paciente puede si o si realizar actividad física sobre todo si está ligado al deporte, de esta forma no perderá progresos en su entrenamiento, las actividades más recomendadas son bicicleta estática ojalas sin carga, elíptica, natación.
              Analizar los factores de riesgos extrínsecos como superficie de entrenamiento, calzado o alteraciones en la biomecánica esto es falta de fuerza flexibilidad etc.

              También se pueden aplicar vendaje funcional como el tape <strong>kinésico</strong>  el cual presenta muy buena respuesta por parte de los pacientes en términos de sentirse más seguros y reducción de la sintomatología, además con este elemento se puede educar al paciente en su implementación para mantenerlo como una estrategia en casos de recidivas.
              Aunque existen en el mercado productos como la glucosamisa o las recetas de colágeno suplementario indicadas por algunos médicos, la verdad es que no existe evidencia en que el cartílago se regenere hablando ya en términos de histología este tejido no tiene capacidad de regeneración, por lo mismo la mejor estrategia a largo plazo será el fortalecimiento y flexibilización para evitar que siga progresando a una artrosis derechamente.
              En algunos casos es recomendable cambiar el deporte que pudiese generar el daño, aunque parezca contradictorio, el deporte genera mucha patología musculo esquelética, no pasa lo mismo con la actividad física que sutilmente parecieran lo mismo pero no lo son.
              Ya en caso que los elementos conservadores de <strong>terapia</strong>  no den resultados se podría optar por la cirugía, aunque es preferible evitar esta opción por los bajos resultados de éxito (recordar que el cartílago no se regenera).
            </p>
            <h2>RECOMENDACIONES</h2>
            <p class="p_blog">
              <ul>
                <li>Evitar la flexión excesiva y repetitiva de la extremidad</li>
                <li>Evitar ejercicios tipo estep (subir y bajar una plataforma)</li>
                <li>Reducir factores de riesgo; peso, técnica deportiva, deporte en sí mismo etc.</li>
              </ul>
            </p>

                
            </p>
      </div>
      <img class="responsive-img" loading="lazy" src="" alt="imagen de kinesiologos">
      <div class="divider"></div> 

     </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>  
    <%- include('../botones/menu-flotante.ejs'); %>     
    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>