<html lang="es-CL">

<%- include('../heads/fractura-metacarpianos.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
  <!-- breadcumbs-->
  <nav > 
    <div class="nav-wrapper container">
        <div class="col s12">
          <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/fractura-metacarpianos" class="breadcrumb">fractura metacarpianos</a>

        </div>
      </div>
</nav>

<!--fin breadcumbs-->
 
<main class="container">
  <div class="row">
   <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
    <article>
     <h2 class="flow-text">
      Kinesiolog&iacute;a  en  FRACTURA METACARPIANOS
     </h2>
     <p class="p_blog">
      Lesi&oacute;n com&uacute;n en deportes de contacto como artes marciales o boxeo, en la cual se lesiona la prolongaci&oacute;n que antecede a los dedos (metacarpianos).
     </p>

     <h3>DEFINICI&Oacute;N</h3> 
     <p class="p_blog">

      Este tipo de lesiones son frecuentes en los deporte de contacto en los que se utilizan las manos para aplicar golpes, los metacarpiano tienen una estructura at&oacute;mica similar a los dedos, &oacute;sea ep&iacute;fisis y di&aacute;fisis. Las personas que sufren este tipo de lesi&oacute;n por lo general son a consecuencia despu&eacute;s de haber propinado un golpe en la mayor&iacute;a  existen otras condiciones en que la lesi&oacute;n es afectada por ca&iacute;das o accidentes, aunque los deportes de contacto como las artes marciales son habituales este tipo de lesiones tambi&eacute;n existen casos en deportes colectivo con  bal&oacute;n como basquetbol voleibol entre otros
     </p>
      <h3>S&Iacute;NTOMATOLOGIA</h3>
      <p class="p_blo">

      El s&iacute;ntoma principal ser&aacute; el dolor y aumento de volumen  adem&aacute;s de la impotencia funcional de la mano
      Para no tener dudas sobre el tipo de lesi&oacute;n lo mejor es confirmar con la radiograf&iacute;a que evidenciara el tipo de lesi&oacute;n en cuesti&oacute;n.
      </p>
      <h3>TRATAMIENTO</h3>
      <p class="p_blog">

      Si no existe desplazamiento de los fragmentos el tratamiento ser&aacute; conservador y solo se aplicar&aacute; en primera instancia yeso (inmovilizaci&oacute;n)
      En otras condiciones en que la lesi&oacute;n posee mayor desplazamiento se aplicaran osteos&iacute;ntesis para estabilizar la fractura.
      </p>

      <h3>KINESIOLOGIA</h3>
      
      <p class="p_bl">
      LA TERAPIA E KINEISOLOGIA SERA APLICADA CON EL OBJETIVO DE DISMINUIR LOS FACTORES TIPICOS OCURRIDOS EN LA FRACTURA QUE SRAN INFLAMACION DOLOR E IMPOTENCIA FUNCIONAL
      SE APLICARAN LOS PROTOCOLOS HABITUALES RE REHABILITACION
      QUE INCLUYEN FISIOTERAPIA, ESTO ES ELECTROESTIMULACION, ULTRASONIDO, HIELO, ETC.
      ADEMAS DE LAS MOVILIZACION ARTICULARES Y DE TEJIDOS BLANDOS QUE BUSCARAN LA MAYOR FUNCIONALIDAD DE LA ESTRUCTURAL
     </p>
    </article>
   </div>
  </div>
 </main>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>     
    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>