<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>


<body>
  <%- include('../partial/navbar2.ejs'); %>

    <header class="header-blog">
        <h1 class="h1-blog"><%= tiTuloh1%> </h1>
    </header>
    <main class="main-blog">   
  <!-- breadcumbs-->
  <nav > 
    <div class="nav-wrapper container">
        <div class="col s12">
          <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/fractura-metacarpianos" class="breadcrumb">fractura metacarpianos</a>

        </div>
      </div>
</nav>

<!--fin breadcumbs-->
<img class="img-blog" src="/public/images/traumatologia/fractura-metacarpianos.webp" alt="tratamiento fractura metacarpianos recuperacion">

 
  <div class="">
   <div class="">
    <article>
     <h2 class="h2-blog">
      Kinesiolog&iacute;a  en  FRACTURA METACARPIANOS
     </h2>
     <p class="p-blog">
      Lesi&oacute;n com&uacute;n en deportes de contacto como artes marciales o boxeo, en la cual se lesiona la prolongaci&oacute;n que antecede a los dedos (metacarpianos).
     </p>

     <h3 class="h3-blog">DEFINICI&Oacute;N</h3> 
     <p class="p-blog">

      Este tipo de lesiones son frecuentes en los deporte de contacto en los que se utilizan las manos para aplicar golpes, los metacarpiano tienen una estructura at&oacute;mica similar a los dedos, &oacute;sea ep&iacute;fisis y di&aacute;fisis. Las personas que sufren este tipo de lesi&oacute;n por lo general son a consecuencia despu&eacute;s de haber propinado un golpe en la mayor&iacute;a  existen otras condiciones en que la lesi&oacute;n es afectada por ca&iacute;das o accidentes, aunque los deportes de contacto como las artes marciales son habituales este tipo de lesiones tambi&eacute;n existen casos en deportes colectivo con  bal&oacute;n como basquetbol voleibol entre otros
     </p>
     <img class="img-blog" src="/public/images/traumatologia/fractura-metacarpianos1.webp" alt="tratamiento fractura metacarpianos recuperacion">
     <h3 class="h3-blog">S&Iacute;NTOMATOLOGIA</h3>
      <p class="p-blog">

      El s&iacute;ntoma principal ser&aacute; el dolor y aumento de volumen  adem&aacute;s de la impotencia funcional de la mano
      Para no tener dudas sobre el tipo de lesi&oacute;n lo mejor es confirmar con la radiograf&iacute;a que evidenciara el tipo de lesi&oacute;n en cuesti&oacute;n.
      </p>
      <h3 class="h3-blog">TRATAMIENTO</h3>
      <p class="p-blog">

      Si no existe desplazamiento de los fragmentos el tratamiento ser&aacute; conservador y solo se aplicar&aacute; en primera instancia yeso (inmovilizaci&oacute;n)
      En otras condiciones en que la lesi&oacute;n posee mayor desplazamiento se aplicaran osteos&iacute;ntesis para estabilizar la fractura.
      </p>

      <h3 class="h3-blog">KINESIOLOGIA</h3>
      <img class="img-blog" src="/public/images/traumatologia/fractura-metacarpianos2.webp" alt="tratamiento fractura metacarpianos recuperacion">

      
      <p class="p-blog">
      LA TERAPIA E KINEISOLOGIA SERA APLICADA CON EL OBJETIVO DE DISMINUIR LOS FACTORES TIPICOS OCURRIDOS EN LA FRACTURA QUE SRAN INFLAMACION DOLOR E IMPOTENCIA FUNCIONAL
      SE APLICARAN LOS PROTOCOLOS HABITUALES RE REHABILITACION
      QUE INCLUYEN FISIOTERAPIA, ESTO ES ELECTROESTIMULACION, ULTRASONIDO, HIELO, ETC.
      ADEMAS DE LAS MOVILIZACION ARTICULARES Y DE TEJIDOS BLANDOS QUE BUSCARAN LA MAYOR FUNCIONALIDAD DE LA ESTRUCTURAL
     </p>
    </article>
   </div>
  </div>
</main>
   
<%- include('../partial/footer2.ejs'); %>
<%- include('../partial/boton2.ejs'); %>
</body>
<script src="../js/action.min.js"></script>      
</html>