<html lang="es-CL">

<%- include('../heads/luxacion-rotula.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/luxacion-rotula" class="breadcrumb">luxacion rotula</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

 
  <main class="container">
    <div class="row">
     <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
      <article>
       <h2 class="flow-text">
        Kinesiolog&iacute;a  en PATOLOGIA  LUXACI&Oacute;N AGUDA DE R&Oacute;TULA
       </h2>
       <h3>
        LUXACI&Oacute;N AGUDA DE R&Oacute;TULA
       </h3>
       <p class="p_blog">
        La luxaci&oacute;n Aguda de R&oacute;tula se origina cuando se pierde la relaci&oacute;n de la patela con el f&eacute;mur y la r&oacute;tula se desencaja de su sitio. Es una lesi&oacute;n que puede ser espontanea o producto de alg&uacute;n traumatismo.
       La r&oacute;tula (patela) es el hueso sesamoideo de mayor tama&ntilde;o que existe en nuestro cuerpo y que forma parte de la rodilla. En la parte superior de la r&oacute;tula se inserta el tend&oacute;n del cu&aacute;driceps el que manda fibras que van por delante de &eacute;sta para transformarse posteriormente en el tend&oacute;n patelar, cuya inserci&oacute;n final es en la tibia. Se encuentra en la parte anterior de la rodilla y se articula con la tr&oacute;quea femoral.
       La r&oacute;tula o patela es la encargada de transmitir la fuerza del muslo (m&uacute;sculos cu&aacute;driceps) a la pierna. La superficie de la articulaci&oacute;n de la r&oacute;tula con el f&eacute;mur, al igual que todas las articulaciones m&oacute;viles, est&aacute; cubierta de cart&iacute;lago articular. La R&oacute;tula o patela act&uacute;a como polea y tambi&eacute;n como palanca, permitiendo una mayor eficiencia en el trabajo biomec&aacute;nico del aparato extensor de la rodilla.
       </p>
       <h2>
        LESI&Oacute;N DE LA PATELA
       </h2>
       <p class="p_blog">
        La luxaci&oacute;n Aguda patelar produce cuando esta estructura pierde la relaci&oacute;n o alineaci&oacute;n con el surco intercondileo del f&eacute;mur saliendo de la zona de movimiento articular normal. Esta lesi&oacute;n puede deberse a traumatismo o alteraciones gen&eacute;ticas en la formaci&oacute;n patelar. Por lo general se asocia a veces  hiperlaxitud o a la formaci&oacute;n patelar tipo II. Cuando se produce, la r&oacute;tula luxa y retorna a su zona cuando la persona extiende la rodilla. En deportes en general se debe a trauma directo, siendo por lo general pacientes mujeres las m&aacute;s afectadas
       </p>
       <h3>
        S&Iacute;NTOMATOLOGIA
       </h3>
       <p class="p_blog">
        Dolor e impotencia funcional al flexo extensi&oacute;n de la rodilla
       A la observaci&oacute;n se puede ver la lateralizaci&oacute;n subcut&aacute;nea de la patela
       Es posible que curse con inflamaci&oacute;n en caso de ruptura de estructuras capsulo ligamentosas de la zona
       </p>
       <h4>
        EXÁMENES
       </h4>
       <p class="p_blog">
        Ideal examen de radiograf&iacute;a inicialmente para determinar posici&oacute;n de la fractura, a veces es el mismo paciente que posiciona su patela en el canal c&oacute;ndilo, en condiciones m&aacute;s graves deber efectuar la maniobra el traumat&oacute;logo
       Es ideal que adem&aacute;s se pudiese evaluar con resonancia magn&eacute;tica en casos de luxaciones recurrentes para determinar el da&ntilde;o a otras estructuras de tejido blando
       </p>
       <h3>
        TRATAMIENTO
       </h3>
       <p class="p_blog">
        El tratamiento en primera instancia ser&aacute; del tipo conservador, iniciando con vendaje ortop&eacute;dico y kinesiolog&iacute;a, si es el caso de luxaciones recurrentes o lesiones en tejidos blandos asociado a la luxaci&oacute;n lo ideal es la intervenci&oacute;n quir&uacute;rgica inicialmente antes para luego dar paso a la intervenci&oacute;n del kinesi&oacute;logo.
       </p>
       <h4>
        ¿EN QUÉ CONSISTE LA INTERVENCIÓN QUIRÚRGICA?
       </h4>
       <p class="p_blog">
        En la intervenci&oacute;n quir&uacute;rgica se interviene el ligamento patelo femoral buscando centrar la patela y mejorar la estabilidad de la zona para evitar nuevas luxaciones, aunque en casos de paletas con alteraciones en su estructura &oacute;sea a nivel gen&eacute;tico (patelas tipo I o tipo II) estas tendr&aacute;n m&aacute;s incidencias en la luxaciones recurrentes
       Es ideal prevenir la lesi&oacute;n evitando las actividades que sean de m&aacute;s riesgos de luxaci&oacute;n, como deportes de alto impacto o bailes en los cuales los cambios de direcci&oacute;n o giros pueden provocar la luxaci&oacute;n de la estructura
       </p>
       <h2>
        TIEMPO ESTIMADO DE REHABILITACI&Oacute;N EN LA LESION DE LA PATELA
       </h2>
       <p class="p_blog">
        El periodo de rehabilitaci&oacute;n kin&eacute;sica depender&aacute; en primera instancia del tipo de lesi&oacute;n asociada a la luxaci&oacute;n, pudiendo varias hasta los 8 meses
       Siendo la primera actividad funcional a las 8 semanas
       </p>
       <h3>
        PRIMERA SEMANA DE KINESIOLOGIA DISMINUCION DE FATORES INFLAMATORIOS Y DOLOROSOS
       </h3>
       <p class="p_blog">
        Ejercicios isom&eacute;tricos del cu&aacute;driceps 
 Ejercicios de extremidad inferior a nivel global evitando la flexi&oacute;n de rodilla
 Equilibrio unipodal
       </p>
       <h3>
        SEGUNDA SEMANADE REHABILITACION
       </h3>
       <p class="p_blog">
        Se busca mejorar fuerza y flexi&oacute;n progresivamente en la rodilla
       
 Flexi&oacute;n de rodilla a tolerancia del dolor
   Bicicleta con sill&iacute;n elevado
   Ejercicios con cargas progresiva
 Ejercicios de estabilidad mejorando los componentes propioceptivos asociados a la visi&oacute;n y sistema vestibular
       </p>
       <h3>
        CUARTA SEMANA
       </h3>
       <p class="p_bl">
        Aumentar la flexi&oacute;n de rodilla hasta 90°
       
 Adem&aacute;s de continuar con las rutinas anteriores se buscara mejorar la resistencia en los ejercicios aer&oacute;bicos en cadena cin&eacute;tica cerrada adem&aacute;s de aumentar progresivamente los trabajo de fuerza
 Agregar ejercicios tipo sentadilla y estocadas a intensidad leve
 
     
       Ya establecido un periodo de cicatrizaci&oacute;n de los tejidos que ocurre alrededor de la semana 6
       Se comenzara a realizar un proceso de rehabilitaci&oacute;n m&aacute;s progresivo en cuanto a la ganancia de fuerza en la extremidad inferior, ganancia en la propiocepcion y equilibrio
       Ganancia en la activaci&oacute;n de ejercicios acorde a la actividad como por ejemplo progresivamente ir integrando ejercicios pliometricos, caminatas con ritmos progresivos hasta llegar al trote etc.
       </p>
      </article>
     </div>
    </div>
   </main>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      

    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>