<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"><%= tiTuloh1%> </h1>
    </header>   
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/ossgodd-later" class="breadcrumb">ossgodd-later</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

 
  <main class="main-blog">
    <div class="row">
     <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
      <article>
       <h2 class="flow-text">
        Kinesiolog&iacute;a  en PATOLOGIA DE OSGOOD-SCHLATTER
       </h2>
       <p class="p_blog">
        Osgood-Schlatter es una alteraci&oacute;n en el n&uacute;cleo de crecimiento donde se inserta el tend&oacute;n rotuliano, es com&uacute;n en ni&ntilde;os y adolescentes.
       </p>

       <img class="img-blog" src="/public/images/traumatologia/ossgoodlatter.webp" alt="kinesiologia en ossgodlatter">

       <h3>
        POR QU&Eacute; SE PRODUCE EL OSGOOD-SCHLATTER
       </h3>
       <p class="p_blog">
        Es una lesi&oacute;n que es provocada por el sobre uso de la estructura, por lo general el ni&ntilde;o o adolecente realiza muchas actividades en la que est&aacute; impl&iacute;cita la actividad del salto, esto empieza a provocar una alteraci&oacute;n en la zona del que ser&aacute; la futura tuberosidad tibial, recordar que los ni&ntilde;os y j&oacute;venes tienen n&uacute;cleo de crecimiento &oacute;seo, entonces estas estructuras comenzaran en procesos inflamatorios que adem&aacute;s provocaran dolor en el paciente.
          La falta de una buena flexibilizaci&oacute;n tambi&eacute;n es un motivo que da&ntilde;ara la estructura, la incidencia de la lesi&oacute;n se da por lo general en pacientes varones.
       </p>
       <h3>
        S&Iacute;NTOMAS
       </h3>
       <p class="p_blog">
        El s&iacute;ntoma principal es el dolor en la zona anterior de la rodilla, el paciente por lo general adolecente, referir&aacute; que durante la actividad deportiva el dolor le limita su actividad, adem&aacute;s del dolor se puede referir inflamaci&oacute;n en la zona, en algunas ocasiones por el examen radiogr&aacute;fico se puede observar un leve desplazamiento del n&uacute;cleo de crecimiento &oacute;seo de la tuberosidad tibial.
       </p>
       <img class="img-blog" src="/public/images/traumatologia/ossgoodlatter1.webp" alt="kinesiologia en ossgodlatter">

       <h3>
        ¿EVALUACION M&Eacute;DICA?
       </h3>
       <p class="p_blog">
        Si bien la Enfermedad de Osgood-Schlatter no es una enfermedad grave, es conveniente consultar al inicio de las molestias para descartar otras patolog&iacute;as como meniscopat&iacute;a, infecciones o tumores, entre otras, y evitar un reposo deportivo prolongado.
          La enfermedad de Osgood-Schlatter no se asocia a fiebre, decaimiento, baja de peso, enrojecimiento ni derrame articular, por lo tanto, frente a cualquiera de estos s&iacute;ntomas debe consultar inmediatamente.
       </p>
       <img class="img-blog" src="/public/images/traumatologia/ossgoodlatter2.webp" alt="kinesiologia en la reina ossgodlatter">

       <h3>
        DIAGN&Oacute;STICO MEDICO
       </h3>
       <p class="p_blog">
        Un diagn&oacute;stico m&aacute;s preciso solo necesitara del uso de la radiograf&iacute;a tradicional (lateral y anteroposterior) para analizar la rodilla lesionada y evidenciar otras posibles lesiones, adem&aacute;s es buena la toma de alguna ecograf&iacute;a de tejidos blandos para poder descartar otro tipo de lesiones asociado a tendinopatias (tendinopatia rotuliana).
       </p>
       <img class="img-blog" src="/public/images/traumatologia/ossgoodlatter3.webp" alt="kinesiologia en peñalolen ossgodlatter">

      </article>
     </div>
    </div>
  </main>
  <%- include('../partial/footer.ejs'); %>
  <%- include('../partial/boton.ejs'); %>
  </body>
  <script src="../js/action.min.js"></script>      
  </html>
