<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/ossgodd-later" class="breadcrumb">ossgodd-later</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

 

   <main class="container">
     <div class="row">
      <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
      <article>
        <h2 class="flow-text">Kinesiolog&iacute;a  en PATOLOGIA DE OSGOOD-SCHLATTER  </h2>

        <p class="p_blog">
            
            Osgood-Schlatter es una alteración en el núcleo de crecimiento donde se inserta el tendón rotuliano, es común en niños y adolescentes.
        </p>
          <h3>POR QUÉ SE PRODUCE EL OSGOOD-SCHLATTER</h3>  
          <p class="p_blog">
            Es una lesión que es provocada por el sobre uso de la estructura, por lo general el niño o adolecente realiza muchas actividades en la que está implícita la actividad del salto, esto empieza a provocar una alteración en la zona del que será la futura tuberosidad tibial, recordar que los niños y jóvenes tienen núcleo de crecimiento óseo, entonces estas estructuras comenzaran en procesos inflamatorios que además provocaran dolor en el paciente.
            La falta de una buena flexibilización también es un motivo que dañara la estructura, la incidencia de la lesión se da por lo general en pacientes varones.
          </p>
           <h3>SÍNTOMAS</h3> 
           <p class="p_blog">
            El síntoma principal es el dolor en la zona anterior de la rodilla, el paciente por lo general adolecente, referirá que durante la actividad deportiva el dolor le limita su actividad, además del dolor se puede referir inflamación en la zona, en algunas ocasiones por el examen radiográfico se puede observar un leve desplazamiento del núcleo de crecimiento óseo de la tuberosidad tibial.
           </p>

           <h3> ¿EVALUACION MÉDICA?</h3>
           <p class="p_blog">
            Si bien la Enfermedad de Osgood-Schlatter no es una enfermedad grave, es conveniente consultar al inicio de las molestias para descartar otras patologías como meniscopatía, infecciones o tumores, entre otras, y evitar un reposo deportivo prolongado.
            La enfermedad de Osgood-Schlatter no se asocia a fiebre, decaimiento, baja de peso, enrojecimiento ni derrame articular, por lo tanto, frente a cualquiera de estos síntomas debe consultar inmediatamente.
           </p>
            <h3>DIAGNÓSTICO MEDICO</h3> 
            <p class="p_blog">
            Un diagnóstico más preciso solo necesitara del uso de la radiografía tradicional (lateral y anteroposterior) para analizar la rodilla lesionada y evidenciar otras posibles lesiones, además es buena la toma de alguna ecografía de tejidos blandos para poder descartar otro tipo de lesiones asociado a tendinopatias (tendinopatia rotuliana).

        </p>    
      </article>   
      </div>
      
      
     </div>
    </main>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      

    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>