<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/pinzamiento-cadera" class="breadcrumb">pinzamiento cadera</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->
 

   <main class="container">
     <div class="row">
      <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
      <article>
        <h2 class="flow-text">Kinesiolog&iacute;a  en PELLIZCAMIENTO DE CADERA </h2>

            <p class="p_blog">
                Se ha establecido como el causante principal de artrosis de caderas en deportistas, como lo
                son running futbol artes marciales etc...
            </p>

            <h3>DEFINICIÓN</h3> 
            <p class="p_blog">
                Esta patología  se genera por una mescla de alteraciones en el acetábulo o cabeza del fémur e 
                incluso ambas combinadas, generando  un aumento de la superficie de contacto entre ambas superficies 
                óseas que provocaran un desgaste de la estructura en el mediano plazo. En la edad juvenil esta patología 
                no da síntomas pero con el tiempo y por la sobre actividad de la estructura terminara provocando la sintomatología de un momento a otro.
                Dentro del estudio imagenologico existen o radiografía o tomografía estas mostraran alteraciones como el tipo pinzer o el tipo bump,
                la primera es una calcificación del acetábulo y su capsula articular que termina por pinzar la cadera cuando esta está en rango articulares 
                máximos, el bump es un resalte como un solevantamiento que ocurre en el fémur ya sea en la cabeza femoral o el cuello femoral.
            </p>
               <h3>TRATAMIENTO</h3> 
              <p class="p_blog"> 
                El tratamiento de kinesiología que se puede aplicar en estos casos inicialmente puede ser conservador aplicando los elementos 
                tradicionales de fisioterapia y ejercicios de fortalecimiento o flexibilización si los requiriese
                Otra alternativa son ejercicios del tipo mckensy que buscaran por medios de movilizaciones repetitivas adaptar las estructuras
                capsulo ligamentosas que al corto plazo disminuirán la sintomatología
                Ahora si esto no suerte el efecto que se espera, se optara por la cirugía que buscara manejar las estructuras afectadas.
              </p>
                <h3> LA CIRUJIA</h3>
               <p class="p_blog"> 
                Una buena solución para esta patología es la aplicación de una intervención artroscópica que ira a corregir la alteración anatómica,
                siendo mínimamente invasiva el paciente puede tener buenos resultados retornando con rapidez a su actividad física

                .

                Retornando a la actividad entre 6 a 8 semanas


            </p>
      </article>     

      </div>
      
     
     </div>
    </main>
   
    <%- include('../botones/boton.ejs'); %>     
    <%- include('../botones/menu-flotante.ejs'); %>      
 

    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>