<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2 class="h2-blog">¿Que es el vendaje sindactilia y que funcionalidadcumple?</h2>
        <img class="img-blog" src="/public/images/vendaje/vendaje imbricado.webp" alt="vendaje imbricado">
        <p class="p-blog">
            La siguiente técnica de vendaje imbricado o también conocida como vendaje sindactilia, trata de emular a la condicion patologica sindactilia, esta lo que busca es pegar ambos dedos o falanges para poder así ayudar en el proceso de recuperación de la lesión y ademas favorecer la movilidad con la ayuda de la otra falange a la cual se aplica. ira enfocada a lesiones del tipo leve principalmente aplicada a los dedos ya sea de manos o pies (existirá una pequeña variación en mano), la idea es poder contener los procesos edematosos que se presentaran en las falanges, provocadas por lesiones como esguinces interfalangicos, lesiones tendinosas o pequeñas fracturas. se usara como guía la mayoría de las veces el dedo que esta continuo, con el objetivo que este permita ciertos grados de movilidad del dedo lesionado, para facilitar su proceso de recuperación
        </p>
        <h3 class="h3-blog">Vendaje imbricado de los dedos</h3>
        <p class="p-blog">
            Este se utiliza en casos de lesión en las partes blandas de las falanges 2º a 5º de las manos, ya que la primera falange, tipo de articulación y funcionalidad no puede inmovilizarse por este método (considerando solamente los dedos de las manos). El principio de esta técnica de vendaje es el de proporcionar soporte estable al dedo lesionado utilizando la estructura del dedo sano continuo. Se colocará una pieza de gasa entre el dedo lesionado y el adyacente para evitar ulceraciones por contacto prolongado. Con los dedos en extensión se colocará dos bandas de esparadrapo estrechas que los unan a nivel de las primeras y las segundas falanges. es ideal tener libre la articulación interfalángica para poder permitir el movimiento y la funcionalidad.
        </p>
        <img class="img-blog" src="/public/images/vendaje/vendaje-sindactilia.webp" alt="vendaje sindactilia">
        <h3 class="h3-blog">¿cuando es ideal utilizar esta técnica de vendaje?</h3>
        <p class="p-blog">
            En los casos de esguinces interfalángicos, fracturas o contusiones provocadas por juegos de balón (balonmano, voleibol, baloncesto), la técnica original esta descrita con elementos de vendaje tipo gasa, aunque en la actualidad puede adaptarse ese mismo concepto con los vendajes tipo kinesiotape, leucolast o coban los cuales son adhesivos según el modelo pueden o no ser elásticos, por preferencia en lesiones tendinosas ideal preferir estos elementos de vendaje elásticos para disminuir los tiempos de recuperación y se es fracturas quizás aplicar un elemento de vendaje mas rígido.

            se deben considerar los tiempos de recuperación en el cual estarán implicados la utilización de los vendajes, por lo general las lesiones de los dedos con esguinces toman un tiempo de recuperación de entre 4 a 6 semanas
        </p>
        <h2 class="h2-blog">Técnica de vendaje imbricado </h2>
        <img src="/public/images/vendaje/sindactiliapie.webp" alt="sindactilia pie vendaje">
        <p class="p-blog">
            <ul>
                <li>Colocar el trozo de gasa entre los dedos que vamos a unir.</li>
                <li>Colocar las tiras de esparadrapo uniendo el dedo afectado y el sano que tenga más cerca, dejando libres las articulaciones interfalángicas.</li>
                <li>Durante su colocación debemos mantener los dedos ligeramente flexionados.</li>
            </ul>
        </p>
        
        <img class="" src="/public/images/vendaje/sindactilia-mano.webp" alt="vendaje sindactilia mano">
    </main>
    <%- include('../partial2/footer2.ejs'); %>
    <%- include('../partial2/boton2.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>

