<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    
    <main class="main-blog">
        <h2>Título del Artículo 1</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            el vendaje terapéutico es el mejor método y con mínimos efectos adversos cuando estas con alguna dolencia o lesión, si tu intención es saber e informarte cual es lo mas indicado para comprar este es tu lugar, por lo general se pueden usar elementos como cintas o tiras de tela, con el sentido de dar un proceso terapéutico en el cual se buscara la reparación de la lesión a tratar.

            existen muchas formas en las cuales se puede usar un vendaje terapéutico con el objetivo de curar lesiones o heridas aquí podrás ver una lista complete de las diversas formas y modelos de vendaje terapéutico en diferente tipo de lesiones como como podemos usar muchos elementos diferentes que hay en el mercado para lograr los mismos objetivos.
        </p>
        <h3>vendaje terapéutico de tobillo</h3>
        <p>
            Este tipo de vendaje terapéutico de tobillo por lo general va enfocado a lesiones de tipo esguinces, como lesión de los ligamentos peroneo astragalino, en la cual ,se buscara estabilizar el tobillo con elementos como vendas de tela o adhesivas, existen diversas técnicas de vendaje , en la cual se buscara aplicar estabilidad a ligamentos de rodilla lesionado, o en lesiones tendineas o circulatorias. puede revisar aquí para saber mas sobre este tipo de lesiones.
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>vendaje circular</h3>
        <p>
            técnica básica de vendaje en la cual nos da el unto de partida y termino cuando se necesita aplicar procedimiento de vendajes con telas de algondon.

            ¿para que sirve el vendaje circular?

            En aspectos iniciales se usa como idicación para fijar los extremos iniciales y finales en una técnica de vendaje con elementos de tela, lo bueno y fácil de esta técnica de vendaje es que puede aplicarse en cualquier parte del cuerpo y es la base de inicio y final de cualquier técnica compleja

            procedimiento : básicamente es fijar elementos de tela y realizar un circulo perimetralmente a la zona como por ejemplo un brazo, luego el procedimiento estará buscando solo anclar o agregar otro elementos como gasa, siempre dependerá del tipo de lesión para saber que aplicar, pero básicamente es el objetivo de comenzar un esquema de vendaje.
        </p>
        <h2>vendaje terapéutico de rodilla</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            la rodilla es un elemento difícil de tratar ya que pose una característica de ser una articulación con muchos elementos diferentes, como ligamentos cruzados laterales, meniscos y tendones grandes, lo que ocasionara diversos problemas en al zona , ya sea una artrosis o una lesión de tejidos blandos, entra y revisa que tipo de vendajes se pueden aplicar en esta zona y como son los procesos de vendaje y reparación revisa aquí para mayor información
        </p>
        <h3>vendaje terapéutico de hombro</h3>
        <p>
            el hombro es otra de las estructuras complejas a tratar con técnica de vendaje terapéutico principalmente por que existen tantas estructuras capsulares y ligamentosas que en el tiempo se desarrollaron diversas formas y técnicas de como tratar esta articulación, veremos formas de vendaje para lesiones de luxación acromion clavicular, lesiones musculo tendinosas o otras técnicas de vendajes asociadas a procesos pre o post operatorio, así como también correcciones posturales , para mas información haz click aquí.
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
        <h3>vendaje terapéutico de muñeca y mano           </h3>
        <p>
            en la lesión de muñeca como formas de vendaje encontramos procesos en lesiones como tendinosas, neurológicas como síndrome de túnel carpiano o lesiones de fracturas de pequeño calibre, cada uno de los objetivo dependerá de cada lesión revisa que elementos son los mas efectivos para esta zona anatómica.
        </p>
        <h3>vendaje terapéutico de cabeza</h3>
        <p>
            la cabeza comprende toda la zona desde la mandíbula hasta el cuero cabelludo, las técnicas empleadas aquí dependerán como en todos los casos del tipo de lesión, una de las mas conocidas es la técnica de barton la cual estabilizara la mandíbula lesionada, entre esas tenemos otras que podrían interesarte, solo debe entrar para averiguar que elementos se usan y cuales son los mas adecuados.
        </p>
        <h3>vendaje israeli</h3>
        <p>
            este es un modelo de vendaje aplicado especialmente para primeros auxilios, ya a la venta para el mercado y desarrollado inicialmente por el ejercicisto isrraeli es empleado en proceoss de primeros auxilios como metodo de cuagulacion en heridas que sangran mucho, es ideal para la cabeza u otras zonas que pudiesen requerir un vendaje dond ese necesitepara la sangre
        </p>
        <h3>vendaje terapéutico en problema de ulceras varicosas</h3>
        <p>
            las ulceras varicosas son una consecuencia de lesiones en la piel provocado por las varices, en muchas ocasiones son de difícil curación sobre todo en casos de diabetes mellitus, por lo mismo ademas de una técnica de vendaje como tal se debe tener un correcto cuidado de la herida para no sufrir complicaciones, ven y averigua como aplicar un correcto vendaje a esta lesión y que elementos son necesario tener para ejecutarlo correctamente
        </p>
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>

