<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2 class="h2-blog">Título del Artículo 1</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p class="p-blog">
            el vendaje kinesiotape en codo es muy facil de aplicar, su objetivo esta determinado inicialmente para lesiones tendineas como tendinopatias o esguinces en la zona lesionada, lo bueno de este vendaje que al ir adherido, no se limita la funcionalidad del codo, por lo cual la persona que padece la lesión puede seguir en ejecución de sus actividades ya sean estas deportivas o laborales. el objetivo del vendaje ira a crear estabilización, reducir edema y dolor y dar seguridad en los movimientos siendo estos controlados por el ktape
        </p>
        <h3 class="h3-blog">Como aplicar la Técnica de vendaje neuromuscular codo</h3>
        <p class="p-blog">
            lo ideal de aplicar esta técnica es saber que queremos tratar, si es relajar la musculatura es ideal una aplicación muscular la cual se aplicara primeramente en sentido longitudinal ( en sentido de las fibras del musculo)

            las tecnica de vendaje para el codo son variadas, aqui podemos aplicar en patologías como codo de tenista o epicondilitis, ideal
        </p>
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3 class="h3-blog">¿Que lesiones se puede tratar en el codo?</h3>
        <p class="p-blog">
            las lesiones mas comunes a poder tratar son epicondilitis o codo de tenista, muy común en deportistas amateur de tenis o personas que trabajan con herramientas de construcción, epitrocleitis o codo de golfista, similar a la lesión anterior pero aqui va en la zona medial del codo, otro tipo de aplicación es en esguinces de codo que son raras pero aun así, es muy fácil aplicar un vendaje adhesivo ktape para lograr estabilizar una lesión de ese tipo y reducir inestabilidades o edemas
        </p>
        <h2 class="h2-blog">¿que efectos provoca el vendaje?</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p class="p-blog"> 
            esta Técnica de vendaje neuromuscular en el codo ayudara a reducir los edemas, favorecerá a crear mayor seguridad en las personas lesionadas quitando el dolor, dando seguridad a los movimientos y lo mejor que reducirá los tiempos de recuperación
        </p>
       
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
    </main>
    <%- include('../partial/footer2.ejs'); %>
    <%- include('../partial/boton2.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>

