<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header>
        <h1> <%= tiTuloh1%> </h1>    
    </header>
    <main>
        <h2>Título del Artículo 1</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            Aquí sabrás que tipo de técnica aplicar en vendaje terapéutico de tobillo podrás utilizar en lesiones de tobillo, para que sea mas especifico nos enfocaremos en esta sección inicialmente en esguinces y todo lo que debes saber en lesiones de esta zona.
            Entendamos en primera instancia en que consiste un esguince de tobillo, pues es básicamente la ruptura por lo general de los ligamentos estabilizadores laterales de la articulación peronoe-astragalina esta ruptura puede ir a convertirse en un esguinces que van de los grados 1, 2 o 3 (existe el mismo tipo de lesión pero en ligamentos mediales).

            Cuando ocurre este tipo de lesiones el objetivo del vendaje terapéutico de tobillo sera dar estabilización a la zona lesionada, comprimir para evitar el edema, elevar la extremidad para evitar aumento de volumen en el edema previo y facilitar la aplicación de hielo, para eso es ideal manejar ciertas técnicas de vendaje, las cuales, si son bien aplicadas nos ayudaran a disminuir los tiempo de recuperación de la lesión y volver a ser lo mas funcional posible dentro de la lesión.

            el primer método de vendaje sera :
        </p>
        <h3>vendaje terapéutico de tobillo con tiras de genero</h3>
        <p>
            el objetivo del vendaje terapéutico aquí descrito sera lograr dar estabilización del tobillo lesionado, pensaremos que sera una lesión en los ligamentos laterales, así que con estas tiras de trapo que en le mercado actual las tiras vienen en formatos elástico basado con algodón.

            se podra aplicar un vendaje en ocho para dar estabilización en el tobillo
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>técnica de vendaje terapéutico en ocho para tobillo</h3>
        <p>
            el primer anclaje del vendaje ira en la zona superior del tobillo luego de eso se dejara caer la venda a la zona plantar posterior para luego subir por la zona lateral dando tensión en sentido de la eversión del tobillo para estabilizar la lesión, aquí ira a aplicar la técnica de vendaje en ocho al girar la venda por delante de la zona astragalina (pliegue del tobillo) y rotarla por la zona superior para repetir los primeros pasos. con esto se buscara dar la estabilización y compresión de la lesión.


        </p>
        <h2>vendaje adhesivo funcional de tobillo</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            aquí en este tipo de aplicación tenemos dos funciones o elementos que pueden ser relativamente mas modernas en su utilización, como son los vendajes funcionales de tobillo rígidos y elásticos.
        </p>
        <h3>técnica adhesivo no elástico de tobillo tipo leucoplast rígido</h3>
        <p>
            en los modelos rígidos de vendaje funcional para tobillo tenemos en los formato leucotape o leucoplast, en la cual se cortaran varias tiras con al objetivo de llevar un ancla adhesiva desde la zona medial y estabilizar el tobillo en eversión hacia la zona lateral, lo que buscara este tipo de vendaje sera limitar el movimiento del tobillo para favorecer la reparación del tejido lesionado, muchas veces esta técnica esta desarrollada para favorecer los procesos de reparación de tejido al intentar juntar los extremos de la lesión ligamentaria, sin tener que afectar en tanta medida la movilidad de la zona lesionada como la técnica anterior con tiras de genero
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
        <h3>elementos necesarios para vendaje funcional rígido de tobillo</h3>
        <p>
            un rollo de leucotape, tijeras luego cortar varias tiras con la cual se ira a buscar estabilizacion de la zona lesionada

            en esta técnica de vendaje en ocasiones se puede aplicar un pre-vendaje para evitar dañar íel algo mas sensibles, ya que el adhesivo de leucotape es muy fuerte y en ocasiones podría dañar la primera capa de tejido

            pasoas del vendaje;

            primero se buscara llevar el pie en eversion anclando ela tira adhesiva desde la zona medial apasando por la zona plantar y estabilizando y adheriendo a toda la zona lateral alcanzando la zona figular las proximal, luego se repetira el proceso buscando realizar ccomo un avbanico ccon los vendaje , este a diferencia de otros modelos dejara el pie algo ridiogo y limitado de movimiento, ademas de realizar el efecto de compresion en la zona
        </p>
        <h3>técnica adhesivo elástico de tobillo tipo kinesiotape</h3>
        <p>esta técnica de vendaje es un poco a mi parecer una evolución de la anterior ya que si bien busca estabilizar y generar compresión su formato estructural es mas elástico que el anterior, esto da un elemento extra en evitar limitar la movilidad y funcionalidad el tobillo , por lo mismo la atrofia muscular que en condiciones como escayola de yeso o vendajes muy rígidos provocan sera menor y en esa misma base los tiempos de recuperación tenderán a ser mas cortos ya que la movilidad del tobillo en rango algo mas limitados favorecerá a la reparación del ligamento.

        </p>
        <h3>elementos y pasos necesarios para vendaje funcional de tobillo</h3>
        <p>
            basicamente necesitaras un rollo de vendaje kinesiotape tijeras y las intrucciones que te dare aqui mismo

            primero mediras con el rollo mismo el largo que necesitaras, por lo general unos 10 centrimetros son suficientes
            
            cortaras unos 4 a 5 tiras de 10 centimetros, redondenado sus puntas
            
            anclaras el vendaje desde la zona medial y lo pasaras por la zona plantar, para dirigirlo a la zona del esguince, ya en la zona de la lesión aplicaras una tensión máxima al vendaje para lograr el efecto estabilizador, reemplazando en parte la función estabilizadora del tejido lesionado (en este ejemplo sera el ligamento peroneo astragalino). repetirás ese proceso 2 a 3 veces con las otras tiras, luego aplicaras un vendaje transversal a los otros para dar estabilización en ese plano.
            
            las ventajas de este tipo de vendaje es que contendrá el edema , ayudara al drenaje linfático de la zona lesionada y estabilizara el tobillo.
        </p>
        <h3>tobilleras para lesiones de tobillo ¿remplazara un vendaje?</h3>
        <p>
            aquí este tipo de elementos esta diseñado para las personas que no buscan tratamientos tan técnicos y puedan manejar por si solos lesiones crónicas o simplemente proteger su tobillo.

            pueden ser elementos de tobilleras blandas o rígidas, estas ultimas en el mercado están a la venda de diferentes formatos.
        </p>
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>

