<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2 class="h2-blog">¿En que fecha comenzó esta novedosa tendencia de vendaje terapéutico kinesiotape?</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p class="p-blog">
            El Kinesiotape o vendaje neuromuscular  comenzó ver la luz en la década de los 70 desarrollado por el doctor  Kenzo Kase en cual fue el precursor de una técnica de vendaje super fácil de aplicar ademas de la utilidad terapéutica que tiene. La idea inicial del kinesiotape es que sea una cinta adhesiva que se adapte a los contornos tendino-musculares y articulares que permitan movilidad a la vez de estabilidad sin perder la funcionalidad del paciente.
        </p>
        <h3 class="h3-blog">¿que efectos produce el vendaje terapéutico kinesiotape?</h3>
        <p class="p-blog">
            El vendaje terapéutico kinesiotape facilita la estabilidad y contención de la musculatura y sistemas articulares sin limitar el rango de articular de movimiento a diferencia de otras técnicas de vendaje mas clásicas, esto se debe a que el vendaje permite un estímulo propioceptivo (estos son sensaciones neurológicas sobre el tejido), reduciendo el dolor y mejorando el drenaje de los edemas debido al levantamiento que genera el drenaje sobre la piel los efectos generales son:
            <ul>
                <li>disminuye el edema</li>
                <li>reduce el dolor</li>
                <li>estabiliza las zonas lesionadas</li>
                <li>dar seguridad al paciente permitiendo además posiciones y movimientos fisiológicos</li>
            </ul>
        </p>
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3 class="h3-blog">¿como esta fabricado el kinesiotape?</h3>
        <p class="p-blog">
            El vendaje terapéutico kinesiotape posee un porcentaje alto de algodón 96% siendo lo demás poliuretano. la zona de adherencia posee un elemento adhesivo hipoalargenico (ojo el aplicar siempre es recomendable quitar el vendaje en caso de comezón), aun así esto puede varias ya que dependiendo de la tensión que le de al vendaje (esto dependerá de la técnica de vendado) podría generar alguna reacción alérgica, flictemas (heridas como ampollas en la piel), enrojecimiento etc. El vendaje ajunto al adhesivo pose una formación de ondas que permitirán mejor manejo del sudor y la transpiración, en esquema longitudinal posee mucha elasticidad similar a la piel en cambio en su tensión transversal el vendaje es rígido.

            Es permeable al agua y es de fácil secado, por lo mismo no se estropearía en el baño diario o en actividades acuáticas, el vendaje tiene una duración de entre 3 a 5 días en personas con poca movilidad (estos se pueden considerar adultos mayores o personas muy sedentarias) aun así esto es variable para deportistas de alto rendimiento a los cuales un vendaje de alta gama de este tipo puede durar solo la actividad deportiva.


        </p>
        <h2 class="h2-blog">¿A que se deben los colores en le kinesiotape?.</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p class="p-blog">
            recordemos que el vendaje fue desarrollado inicialmente por un japones culturalmente en oriente se realizan muchas de las terapias asociados a los aspectos culturales entonces el creador se baso en los efectos de la cromo-terapia (terapia asociada a los colores como elementos activadores e inhibidores) aplicando un color cálido en casos de necesidad de activación o color de tono mas frió (azul) para inhibición a pesar de que no existe mucha evidencia se establece que por tales efectos placebo existen paciente que pueden responder a los efectos de los colores del vendaje. Aun así en la actualidad se venden de diversos colores y diseños.
        </p>
        <h3 class="h3-blog">Técnicas de colocacion del Kinesiotape</h3>
        <p>
            existen 6 formas básicas de aplicación cada una con objetivos diferentes.
        </p>
        <h3 class="h3-blog">Corrección articular mecánica</h3>
        <p>
            el objetivo es limitar el movimiento patológico que provoca lesiones o dolor (esguinces, desgarros), tratando de dar estabilización con técnicas similar a las clásicas como vendaje en ocho solo que de maneras mas fáciles por los elementos adhesivos del vendaje.
        </p>
        <h3 class="h3-blog">pre tensión de la fascia</h3>
        <p class="p-blog">
            Las mayorías de las estructuras del cuerpo están cubiertas de fascia , este tejido lo pueden reconocer por que es el que envuelve a las mayoría de las estructuras del cuerpo, como músculos, órganos neuronas etc. el pre-tensado favorecerá a activar este elemento y en el objetivo también la musculatura para facilitar ciertas acciones motorices.
        </p>
        <h3 class="h3-blog">Corrección del espacio</h3>
        <p class="p-blog">
            Alivia el dolor favoreciendo el aumento del espacio intersticial de la dermis, esto como en el caso anterior liberara las estructuras que estén lesionadas evitando alguna alteración en los procesos de cicatrización anómala que limitarían a futuro la movilidad.
        </p>
        <h3 class="h3-blog"> Terapia a ligamentos o tendones</h3>
        <p class="p-blog">
            Disminuye la tensión o favorece la estabilización dependiendo de la técnica de vendaje, por ejemplo en una técnica de estabilización de esguince de tobillo el vendaje buscara con una tensión del 100% dar estabilidad pero sin imitar el movimiento del tobillo ademas de no abultar la estructura anatómica como lo hacen otro tipos de vendajes no adhesivos, esto ayuda en gran medida a reducir los tiempos de recuperación.
        </p>
        <h3 class="h3-blog">estabilización y corrección</h3>
        <p class="p-blog"> 
            disminuye los eventos de hiper-extensión patológica como pueden ser los casos de pacientes con hiper-laxitus, la idea es poder limitar los rangos de movimientos para poder con el tiempo dar movimientos y rango s articulares fisiológicos.
        </p>
        <h3 class="h3-blog">drenaje circulatorio</h3>
        <p class="p-blog"> 
            facilita y disminuye la presión en los tejidos aumentando el drenaje linfático y sanguíneo, aquí se aplica una técnica en forma de malla o red con lo cual favorecerá a disminuir la tensión intersticial de la dermis favoreciendo el drenaje de la linfa
        </p>
        <h3 class="h3-blog">tipos y formas de aplicación del Kinesiotape</h3>
        <p class="p-blog">Existen hasta ocho formas de colocar el Kinesiotape en función de la zona y los resultados que queremos obtener con el tratamiento. existen formatos pre cortados donde se puede aplicar con total facilidad el vendaje y en otros formatos donde con unas simples tijeras se pueden dar formas para aplicaciones mas libres
            <ul>
                <li>forma en “I”: Es el tipo de forma es la más común, y es adecuado para localizar la tensión del vendaje en una zona específica como siguiendo el recorrido de los músculos y tendones a nivel longitudinal, es muy sencillo de aplicar si se conoce la anatomía .</li>
                <li>forma en “I” con 3 cortes centrales: similar a la anterior con 3 cortes centrales favorecerá el drenaje del sistema linfático, se puede colocar en forma de espiral a nivel de la extremidad o como una malla que abarque la mayor cantidad de área posible para favorecer el drenaje del edema, ideal para moretones o edemas               
                </li>
                <li>forma en “Y”:permite cambiar la tensión del vendaje en diferentes ángulos de movimiento. permite abarcar mayor área, favoreciendo mayor drenaje y analgesia, esto es ideal si se quiere seguir el contorno muscular como el deltoides que tiene una forma en V.</li>
                <li>forma en “X”: permite abarcar mayor área se enfoca en regular las tensiones musculares para favorecer la estabilidad y alivio del dolor, ideal en zonas articulares o tendinosas en las cuales se busca estabilizar los movimientos articulares sin limitar en gran medida las zona articulares de movimiento como por ejemplo aplicar un vendaje en X en los tendones laterales de codo o rodilla.</li>
                <li>forma de flor: técnica utilizada para puntos dolorosos se aplican vendajes en máxima tensión buscando levantar el tejido para liberar espacio, muy útil en puntos dolorosos como triger point zona dolorosas como lumbagos localizados o en cicatrices ya formadas pero adheridas que se necesitan liberar</li>
                <li>Corte en abanico: Este tipo de corte es bastante utilizado para cubrir completamente una articulación, ya que permite distribuir el estímulo hacia diferentes direcciones.</li>
            </ul>
        </p>

        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
        <h2 class="h2-blog">¿Cómo aplicar el vendaje de Kinesiotape?</h2>
        <p class="p-blog">
            Aunque la persona mas indicada para aplicarlo debe ser un profesional este tipo de vendeja no es exclusivo del personal sanitario, actualmente el diseño es enfocado para que cada usuario pueda aplicarlo por si mismo con algunas mínimas instrucciones.

            tanto así que la venta de estos están diseñadas en la actualidad con muchos manuales de auto aplicación lo cual favorecería en la recuperación de los pacientes al poder aplicarse un auto tratamiento.

            se puede ocupar el Kinesiotape en en todo tipo de lesiones tanto musculo esqueléticas , tendinosas, ligamentosas, de dolor o drenaje linfático

            una correcta aplicación del tape, la extremidad o zona a tratar debe estar en posición estirada. el vendaje se pegara a la piel con el segmento ya estirado provocando una leve tensión sobre el tejido subcutáneo, cuando disminuyamos el estiramiento, la banda provocara ondas sobre el tejido que estimularan los receptres asi de manera mecanica provocaran tanto el drenaje como el alivio al dolor

            la correcta aplicación del vendaje implica que ninguno de los extremos debe aplicase tensión ya que serán las bases donde se estabilizara el vendaje en cambio las zonas centrales pueden tener la tensión según el objetivo del terapeuta

            consideraciones al tener en cuenta en la aplicacion:
            <ul>
                <li>evitar tener mucho pelo, ideal afeitar si ocurre este caso, ya que el vendaje no se adaptara bien al tejido y si fuese el caso de quitarlo dolerá muchísimo</li>
                <li>evitar aplicar el tape sobre superficies con heridas no tratadas (como abrasiones, cortes etc)</li>
                <li>evitar aplicar el vendaje con productos como cremas ya que le adhesivo perderá la eficacia</li>
                <li>evitar remplazar tratamientos de rehabilitación por el uso del vendaje, recordar que este elemento es solo coadyuvante y no un tratamiento completo</li>
               
            </ul>
            quieres saber como aplicar puedes ver los consejos mas abajo
        </p>
    </main>
    <%- include('../partial/footer2.ejs'); %>
    <%- include('../partial/boton2.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>

