<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head2.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2 class="h2-blog">Título del Artículo 1</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p class="p-blog">
            el dolor lumbar es una complicación muy habitual en la población se establece por estadística que alrrededor del 80 % con la Técnica de vendaje neuromuscular en columna de la población por sobre los 30 años padecera este tipo de patologia al menos 1 vez en la vida, se puede presentar por problemas de hernias discales , alteraciones facetarias (articualcion de la columna) desgarros etc.

            En las técnicas de vendaje de kinesiotaping permitirán ayudar en parte dentro de las gama de vendaje y sus diversas técnica , permitiendo en parte modular el dolor, ya que el kinesiotaping reducirá la tensión muscular o modulara el dolor dependiendo de la técnica a aplicar existen diversos formas para ayudar a comenzar en parte las molestias presentadas en lumbago, obviamente es ideal que se pueda realizar algún procesos terapéutico previo ya sea con fisioterapia o masaje. el vendaje en este caso vendrá a ser un elemento coadyuvante en el proceso terapéutico inicial


        <h3 class="h3-blog">¿como aplicar el kinesiotape para reducir el dolor lumbar?</h3>
        <p class="p-blog">
            existen diversos modos para aplicar el Técnica de vendaje neuromuscular en columna

        </p>
        <ul>
            <li>vendaje en «I» los cuales irán dirigidos e nivel paravertebral para disminuir la tensión en los músculos</li>
            <li>vendaje en forma de asterisco o flor , este ira a aplicarse directamente en las zonas dolorosas permitiendo que el tejido se eleve y modulando la sensación del dolor, se atribuye a esta técnica un efecto similar al gate control en electroestimulacion, ya que la elevación del tejido permita una mayor sensación mecánica que favorecerá bloquear el dolor</li>
            <li>aplicación de manera transversal: aquí la aplicación ira a cubrir zonas como entre cada articulación sacro iliac</li>
            <li>aplicaciones en conjunto en las cuales se puede mezclar todas las técnicas anteriores</li>
            
        </ul>
        <p class="p-blog">
            lo ideal como recomendación es que el paciente no tenga ningún elemento como cremas o aceites sobre su piel, (incluyendo pelo o el vendaje no pegara en ninguna condición fallando la técnica
            se debe evitar también confiar plenamente en que solo con el vendaje se disminuirá el dolor, esto debe ser aplicado si o si posterior a alguna intervención terapéutica para que pueda mantener los efectos con ayuda del vendaje, posterior a ellos se puede aplicar la técnica como tal

            en cuanto a las marcas de vendaje tape que sugiero, pueden ser cualquier desde la gama media, por la calidad del vendaje y precio, es ideal que puedan aplicar este vendaje con la ayuda de alguien mas , existen otras formas de poder aplicar vendaje tape solo pero esto al estar ubicado en la zona dorsal sera imposible que quede perfecto

        </p>
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3 class="h3-blog">Técnica de vendaje neuromuscular columna otras sugerencias</h3>
        <p class="p-blog">
            otra de las sugerencias es ideal que al aplicar la técnica de vendaje el tronco del paciente este el flexión, una de las mejores y mas cómodas maneras de poder aplicar es llevarlo a una posición de reverencia tipo musulmán en la cual el tronco alcanzara una flexión ideal para aplicar el vendaje o sino se puede aplicar en posición sentado llevar el abdomen hacia las piernas y poder así aplicar el vendaje
        </p>
        
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
    </main>
    <%- include('../partial/footer2.ejs'); %>
    <%- include('../partial/boton2.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>
