<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header>
        <h1> <%= tiTuloh1%> </h1>    
    </header>
    <main>
        <h2>Título del Artículo 1</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            Este tipo de vendaje terapéutico moderno trata de cubrir problemas que los vendajes más tradicionales no logran suplir pueden ser del tipo tecnológicos en los cuales se incluyen ciertas propiedades físicas como entregar calor, frió y algún estimulo eléctrico que genera un alivio en las patologías sobre todo crónicas que prestan los pacientes sobre todo aquellas personas de mayor edad en la cuales sus patologías son de más difícil resolución
        </p>
        <h3>¿Porque vendaje moderno o tecnológico?</h3>
        <p>
            Por una parte este tipo de vendaje se basa en el estímulo físico y es ideal en primera instancia saber qué tipo de patología presenta la persona para poder decidir qué tipo de elemento utilizar

            por ejemplo es ideal es un proceso de patología inflamatoria como una artritis o tendinitis poder usar un elemento que entregue frió, la crioterapia por una parte ayudara de manera analgésica sobre la zona, existen elementos de vendajes que te pueden entregar frió, calor o sensaciones de electroestimulación que van integrado con el dispositivo que favorecerá a las sensaciones de alivio dolorosa además que favorecerá la vasoconstricción sobre los elementos inflamados lo cual disminuirá el edema
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>¿cuales son los mejores Vendaje terapéutico moderno con elementos tecnológicos agregados?</h3>
        <p>
            Aliquam erat volutpat. Phasellus id mauris elit. Pellentesque at scelerisque elit, nec venenatis odio.
            Mauris eu lectus eget mauris euismod mattis. Vestibulum facilisis scelerisque consectetur.
        </p>
        <ul>
            <li>vendaje moderno con elementos de leucotape para mejorar y acortar los tiempos de reparación de los tejidos</li>
            <li>vendaje tipo kinesiotape de fácil aplicación para recuperaciones mas rápidas de lesiones en tejido blando</li>
            <li>modelo de vendaje de fácil aplicación sin necesidad de aprender técnicas complejas</li>
        </ul>
        <h2>¿cuando utilizar un vendaje moderno?</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            En procesos patológicos no inflamatorios en este caso como la artrosis (a diferencia de la artritis esta no es inflamatoria en primera instancia ya que solo se ven sometidos mecanismos dolorosos asociado al desgaste del cartílago articular provocando dolor en la zona del hueso y terminales nerviosa que están bajo el cartílago dañado). En este caso de patologías es ideal utilizar elementos de termo terapia de calor o electroestimulación ambos por medio de las terminales nerviosas terminaran inhibiendo el dolor a nivel central por efectos de una modulación llamada teoría de la compuerta, esto básicamente se refiere a que las terminales nerviosas asociadas al dolor, llamadas fibras tipo «C», emiten la información de manera más lenta que las terminales nerviosa. Estas perciben las sensaciones térmicas y mecánicas (fibras tipo B) estas fibras neuronales del tipo B provocaran un bloqueo al dolor mejorando la percepción de este.
        </p>
        <h3>vendajes modernos para corregir postura</h3>
        <p>
            Existen modelos de vendajes que cumplen funciones de correctores de posturas o coadyuvante en la estabilización de segmentos para trabajar en evitar lesiones de cualquier tipo.  Entre los correctores posturales están las típicas fajas, aunque ya le han instaurado elementos como masajeadores , electro estilmulación calor y frió, que buscaran evitar lesiones lumbares sobre todo en el manejo de carga o pesos
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
        <h3>vendajes líquidos</h3>
        <p>
            Como elemento moderno en vendajes esta también los vendajes líquidos para hemostasia estos están basado en el cialocrilato que es básicamente un pegamento que buscara unir segmentos de abrasión o
            heridas abiertas sin suturas y sin riegos de infección
            ¿Qué es el vendaje líquido?
            Es un Vendaje terapéutico moderno adhesivo cutáneo para heridas menores como pueden ser llagas, raspaduras o cortes los cuales ya varias marcas venden de manera comercial a público. Esto es un químico que busca al aplicarlo crear una capa polímero que se adhiere al tejido. Dando protección a la lesión ya que permite cerrado rápido sin suturas mantiene la humedad y movilidad de la lesión además que desinfecta.

            Ya en el uso profesional quirúrgico ya sea médico o veterinario se utiliza el elemento llamado cianoacrilato especial para cortes profundos o heridas quirúrgicas, su capacidad de sutura llega a ser increíble ya que se observa como las suturas van pegándose como un imán,la ventajas son que se evitan las suturas o grapas, se eliminan el riesgos de infecciones es rápido etc.

            con algún elemento extra que potencie sus efectos curativos como puede ser  alcohol antisépticos o anestésicos local, siendo esto otro plus en el elemento

            El mejor uso de este elemento es que puede ser de fácil aplicación lo cual es ideal como elemento de primeros auxilios, ya sea en excursiones, deportes o en combate
        </p>
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
</body>
    <script src="../js/action.min.js"></script>      
</html>