<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2 class="h2-blog"> ¿Cuándo utilizar el vendaje de jones?</h2>
        <img class="img-blog" src="/public/images/vendaje/vendaje-jones.webp" alt="vendaje de jones">
        <p class="p-blog">
            En condiciones traumáticas que pueden provocar edema de la extremidad lesionada lo que conducirá a la disminución ya sea en la movilización y funcionalidad además de generar dolor, sean manejado de diversas maneras los métodos de control del edema. El vendaje terapéutico de Jones es una técnica fácil y barata además de sencilla que entrega alivio importante a las personas con edema severo provocado por fracturas en las extremidades, esta técnica de vendaje es un refuerzo externo para extremidades en procesos pre y post quirúrgicos, laceraciones graves y en otros traumatismos de los miembros; con el vendaje se logra reducir el dolor e inmoviliza la zona lesionada reduciendo el edema al mantener el gradiente de presión y dando seguridad al evitar posibles lesiones posteriores.
        </p>
        <h3 class="h3-blog">beneficios del vendaje de jones</h3>
        <p class="p-blog">
            En comparativa a otros vendajes acolchonados, el de Jones facilita mayor estabilidad ya sea ósea como de tejidos blandos, la presión homogénea y la absorción defluidos en tejidos (antiedema). Este tipo de vendaje no remplazara en ningún motivo la técnica quirúrgica. para la aplicación es necesario una buena técnica de aplicación y cambio del vendaje cuando sea necesario ya que al tener la primera cubierta blanda acumulara muchos fluidos que podrían ser focos de infecciones
            Es importante conocer las indicaciones precisas así como las contraindicaciones del vendaje de Jones.
        </p>
        <img class="img-blog" src="/public/images/vendaje/vendaje-jone1.webp" alt="como hacer vendaje de jones">
        <h3 class="h3-blog">Material y equipo requerido para la aplicación del vendaje</h3>
        <p class="p-blog">
            <ul>
                <li>Paquete de algodón plisado</li>
                <li>Vendas elásticas de 10 cm ó 3 vendas de 15 cm</li>
                <li>Tela adhesiva</li>

            </ul>
            primeros pasos:
            <ul>
                <li> aplicar una gasa o compresa antiadherente sobre la lesión o incisión en caso de existir y se mantiene en su lugar con un apósito acolchado.</li>
                <li>colocar una gran capa de algodón manteniendo su posición con una venda elástica</li>
                <li>Esta ultima fase debe repetirse tres veces, como mínimo y las veces necesarias para lograr el grado de compresión necesario para la lesión</li>
                <li>Aplicar una venda autoadherente para reforzar el vendaje y terminarlo.</li>
            </ul>
        </p>
        <h2 class="h2-blog">¿Como aplicar el vendaje de Jones?</h2>
        <img class="img-blog" src="/public/images/vendaje/Vendaje-jones3.webp" alt="que es el vendaje de jones">
        <p class="p-blog">
            las capas se deben aplicar de manera uniformes y con firmeza, extendiéndose 15 centímetros por sobre y distal de la articulación y debe poseer aproximadamente 5 centímetros de grosor.
            La capa de algodón gruesa brinda compresión suave a los tejidos blandos e inmoviliza fracturas sin provocar afección vascular. Es un vendaje útil para lograr una inmovilización distal al codo o a la rodilla, suele utilizarse en casos de inmovilización a corto plazo.

            La técnica vendajes de Robert Jones, y sus modificaciones, son el mejor protocolo de vendaje temporal para las fracturas con edema y/o riesgo de síndrome compartimental de extremidades, ya que facilita una presión uniforme que reduce el edema

            A pesar de parecer grande y voluminoso, es efectivo para disminuir y evitar el edema provocado por un traumatismo o un procedimiento quirúrgico. Además, tiende a evitar traumatismos provocados por el desplazamiento de fragmentos óseos contra los tejidos blandos.

            el mínimo problema que puede ocasionar esta técnica de vendaje es que el material a utilizar puede mantener mucha humedad , este material debe cambiarse constantemente y existe el riesgo de que puede provocar infecciones en caso de que no se atienda con los cuidados remendados.
        </p>
       
        <img class="img-blog" src="/public/images/vendaje/vendajedejones.webp" alt="vendaje de jhones">
    </main>
    <%- include('../partial/footer2.ejs'); %>
    <%- include('../partial/boton2.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>

