<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header>
        <h1> <%= tiTuloh1%> </h1>    
    </header>
    <main>
        <h2>Título del Artículo 1</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            Aquí aprenderás a aplicar vendaje neuromuscular para drenaje linfático El sistema linfático es una red de canales muy sensible a los cambios de presión que puedan influenciarlo, además que en conjunto al sistema venoso esta encargado de todo el retorno de líquidos que son extravasados a la zona intersticial para retornarlo a las zonas linfáticas como ganglios que están en alas zonas de pliegue de grandes articulaciones o a la gran cisterna linfática. mas adelante te explico como aplicar una correcta técnica de vendaje neuromuscular para drenaje linfático
        </p>
        <h3>¿como funciona el sistema linfático en el drenaje?</h3>
        <p>
            Este sistema linfático es un elemento muy importante de nuestro cuerpo además de estar encargado del flujo de líquidos y desechos metabólicos también influye en los procesos defensivos, en procesos en los cuales existe extravaciación de los vasos venosos o arteriales este sistema es el encargado de recoger todos los elementos asociados al plasma (especialmente liquido) y este sistema se encargara de evitar la perdida de liquido filtrara elementos de desechos metabólicos favorecerá a la condición inmunológica junto con el timo etc.

            existen condiciones en las cuales este sistema de drenaje se ve afectado provocando un colapso de su sistema, se estima que este sistema tiende a colapsar en procesos de presión en los cuales pueden ser infecciosos, de saturación o bloqueos, lo que provocara como consecuencia una hinchazón de la zona afectada y alteraciones como infecciones locales , condiciones habituales en las cuales puede ocurrir una lesión de este tipo son agenesia, resecciones ganglionares (comúnmente en tratamientos de cáncer), aumento de la linfa por consecuencias de un trauma físico como fracturas o quemaduras, alteraciones cardiacas o renales.
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>función del vendaje neuromuscular en el drenaje linfático</h3>
        <p>
            El vendaje neuromuscular del tipo kinesiotaping siendo el conocido como taping favorecerá a mejorar el drenaje linfático con muy buenos resultados, lo cual te permititra disminuir los diámetros de edemas en casi 1 cm. diario en el diámetro, solo con la técnica de vendaje que te explicare, ya que la función del vendaje es disminuir las zonas de presión provocados por el edema
        </p>
        <h2>¿que marca de kinesiotape es mejor para drenaje linfático?</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            Es ideal que la marca de kinesiotape que se use tenga las condiciones elásticas con lo cual fueron confeccionados estos vendajes ya que originalmente estos tienen una cierta calidad en cuando a su grosor y elasticidad, por lo mismo en ciertas ocasiones la técnica no funcionara si la calidad de vendaje es mas baja, el objetivo del vendaje es crear una malla de 4 tiras con lo cual estas dirigirán el drenaje a las zonas de los ganglios linfáticos por ejemplo en casos de drenaje de EESS el vendaje ira dirigido a pliegue anterior de codo y axilas donde están los ganglios linfáticos que favorecerán el drenaje, obviamente la técnica se vera mucho mas favorecida cuando el paciente previamente se le pueda aplicar alguna técnica de drenaje linfático manual o mecánico.

            La zona adhesiva del Kinesio Tape presenta ondulaciones en forma de «S» que provocaran una ligera separación de la piel del tejido subcutáneo, favoreciendo los flujos sanguíneo y linfático y disminuyendo la presión instersticial, todo esto mejorara el drenaje linfatico disminuyendo el edema mientras el vendaje este en optimas condiciones
        </p>
        <h3>¿En que condiciones se puede aplicar este tipo de vendaje kinesiotape para drenaje?</h3>
        <p>
            las condiciones en las cuales se puede aplicar esta técnica de kinesiotape son como aumento del edema en extremidades como pacientes post masectomias, edemas por lesiones traumaticas o post quirurgicas
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
        <h3>beneficios de la aplicación de estos taping</h3>
        <ul>
            <li>facilita el retorno venoso en edemas de EEII (evitar en condiciones cardiacas, renales o similares)</li>
            <li>intervenciones post quirúrgicas en las cuales presentan muchos procesos edematosos</li>
            <li>tratamiento en linfedema post mastectomía.</li>
            <li>drenaje linfático post tratamiento estéticos como la ultra cavitación</li>
        </ul>
            <p>
                evitar aplicar en condiciones de infecciones a la piel como celulitis, heridas abiertas, alteraciones dermatológicas
            </p>
        <h3>modo de aplicación </h3>
        <p>
            el vendaje por lo general viene un una presentación de 5cmx 5 mt en algunas ocasiones el vendaje viene pre cortado, pero por lo general no es así que lo ideal es cortar dentro del mismo vendaje tiras en total 4 y estas no deben desprenderse de la guincha principal, estas tiras irán colocadas en espiral envolviendo la extremidad afectada, dirigiendo el anclaje del vendaje a las zonas donde se encuentran los ganglios linfáticos como son pliegues articulares.

            esto permitirá el drenaje de la lesión afectada siendo mas usada en problemas de edemas post tratamiento de cáncer de pecho, aun así se puede utilizar en todo tipo de edemas
        </p>
        <h3>lesiones comunes de la técnica de drenaje linfático</h3>
        <ul>
            <li>drenaje linfático de tobillo</li>
            <li>drenaje linfático de pierna y rodilla</li>
            <li>drenaje linfático de brazo y extremidad superior</li>
        </ul>
        <p>
            se debe saber que todo técnica de drenaje aplicada con vendaje sera mucho mas efectiva si antes se aplica una correcta
        </p>
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>
