<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2>Título del Artículo 1</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            Este es una variable a la inmobilización con vendaje de velpeau o aveces mal escrito como valpeau para miembro superiores, específicamente para lesiones acromion claviculares aunque en la actualidad existen muchas variable para vendar e inmovilizar este tipo de lesiones, no esta demás saber esta técnica en casos que los recursos o medios o sean adecuados, ya que con una simple venda elástica puede ejecutarse
        </p>
        <h3>vendaje velpeau</h3>
        <p>
            Es un vendaje de velpeau que inmoviliza de manera total la cintura escapular. Las indicaciones más frecuentes son: Fractura de escápula, Luxación humeral, Fractura del cuello humeral sin desplazamiento, Esguince acromio-clavicular (grado I), Subluxación acromio-clavicular (grado II) y Algunas fracturas de húmero, hay que destacar que todo tipo de lesión debe ser evaluada por el profesional competente en este caso ideal un traumatólogo, aun así esta técnica de vendaje es enseñada netamente para estudio.
            <ul>
                <li>fase 1: Coloque una almohadilla de algodón en la zona axilar del lado lesionado envuelta con una gasa.</li>
                <li>fase 2: Sobre el tórax se hace un vendaje espiral ascendente imbricado, que se continúa en el hombro sano, pasa por la zona axilar lesionada, tratando de mantener la almohadilla en su lugar.</li>
                <li>fase 3: se debe colocar el brazo con la lesión en aducción máxima, el codo flexionado sobre el tórax y la mano del mismo lado debe ir a tocar la clavícula del lado sano</li>
                <li>fase 4: Con el vendaje que viene del hombro sano y al nivel de la muñeca del brazo del sitio lesionado, se hace un vendaje circular horizontal alrededor de la zona torácica que incluye al brazo lesionado y antebrazo; llega a la axila sana, pasa oblicuamente de la espalda a la región supraclavicular del lado lesionado muy próximo al cuello y baja hasta el borde externo del codo del sitio lesionado, lo bordea por debajo y pasa por anterior del tórax con ligera oblicuidad y se direcciona otra vez a la espalda terminándolo con una circular horizontal que estabiliza la vuelta vertical.</li>
            </ul>
            El objetivo de esta técnica de vendaje es ser utilizada como un tipo de cabestrillo para dar soporte y estabilización a la lesión del hombro, este tipo de inmovilización debe ser tratada con cuidado ya que un mal manejo puede provocar a futuro una lesión llamada hombro congelado, en la cual el brazo perderá la capacidad de movilizarse de manera normal, sobre todo en la elevación por sobre la cabeza
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>el vendade desault</h3>
        <p>
            Esta técnica de vendaje es mas sencilla y menos aparatosa que la anterior , ya que permite menos inmovilización del antebrazo permitiendo mayor funcionalidad y movimientos lo que a la larga facilitara la recuperación su objetivo solamente ira en buscar mejor soporte al peso del brazo permitiendo cierta movilidad en la mano
        </p>
        
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
</body>
    <script src="../js/action.min.js"></script>      
</html>
