<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2>Título del Artículo 1</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            La técnica de vendaje neuromuscular en mano puede variar dependiendo del tipo de lesión a tratar
            Estas pueden ser tendinitis de quervein, tendinitis en patologías de musculatura flexora y extensora o simple patología de tendones de dedos, lo bueno de este vendaje es que puede cortarse y adaptarse con facilidad a las estructuras anatómicas de la mano, siendo estas muy pequeñas con otro tipo de elementos de contención puede ser un poco mas dificultoso
        </p>
        <h3>técnica de vendaje neuromuscular en tendinitis de Dequervein</h3>
        <p>
            en patología de vendaje de quervein lo primero que debe aplicarse en la estructura es una flexión de la articulación luego se debe aplicar el vendaje en la falange del pulgar, luego en la zona dolorosa donde se encuentran los tendones extensor y abductor del pulgar se debe aplicar tensión al 100% del vendaje para poder con la acción de este disminuir la tensión que tienen los tendones y con ellos el dolor, luego para terminar el vendaje se puede colocar sobre la misma zona en la cual se le aplico una tensión del 100% una venda ktape pero en sentido transversal también con un 100% de tensión.

            con esto disminuira el dolor y los procesos tensiles
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>técnica de vendaje neuromuscular en tendones de muñeca</h3>
        <p>
            ahora en patología de los vendaje aplicado a tendones de la zona medial o lateral e la muñeca o en patologías de los tendones flexores y extensores de la misma zona de sebe aplicar se pueden utilizar uno o dos vendajes de 30 cm. la idea es aplicar en la zona palmar o dorsal en dirección proximal para disminuir las tensiones en la zona de lesión y favorecer la resolución del edema
        </p>
        <h2>aplicación técnica de vendaje neuromuscular en dedos</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            la aplicación aqui es sencilla básicamente se usaran en procesos en los cuales las falanges pasen por patologías del tipo tendinitis lo primero que se debe hacer es cortar el vendaje según el tamaño de la zona a tratar, es ideal que la falange no quede rígida con el vendaje ya que el primer objetivo es uno estabilizar la zona lesionada pero sin disminuir su funcionalidad eso sera lo principal que favorecerá a disminuir los tiempos de recuperación, el hecho de no perder la movilidad de la zona lesionada, se debe estabilizar primero la zona articular con una tensión transveral o cruzada a un 100% de tensión, luego se colocaran dos bandas en la longitud de la falange tanto por la cara dorsal como ventral

            no hay que olvidar que la aplicación terapéutica de estos tipo de vendaje no remplazaran por nada el proceso de rehabilitación sino que es un complemento a los procesos de terapia
        </p>
       
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
    </main>

    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>
