<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2 class="h2-blog">gorro hipocratico</h2>
        <img class="img-blog" src="/public/images/vendaje/capelina-vandaje.webp" alt="vendaje capelina">
        <p class="p-blog">
            El vendaje terapéutico de capellina gorro hipocrático este tipo de vendaje es utilizados en casos de traumatismo craneales o heridas mas complicadas en la cabeza como cortadas o quemaduras se aplican vueltas recurrentes
        </p>
        <h3 class="h3-blog">método de vendaje de capelina</h3>
        <p class="p-blog">
            se comenzara a realizar un anclaje para estabilizar la venda con una dos vueltas , una mano sostendrá la venda mientras la otra la ira aplicando, junto con ejecutar cierto nivel de presión sobre la zona a tratar. la zona indicada será la zona frontal superior a las orejas. al finalizar la segunda vuelta , el vendaje se posicionara en la zona occipital. la protuberancia occipital será el punto anatómico de referencia mas indicado para comenzar con el vendaje de capelina, este punto evitara que se desprenda el vendaje , luego aplicaremos un dobles sobre el vendaje de 45°. se repetirá este movimiento por 3 ocasiones yendo de delante a atrás y de atrás a adelante. se comenzara el vendaje desde una zona distal a la lesión con idea de ir cubriendo la zona con apósitos.

            Al terminar vamos a ejecutar un vendaje circular nuevamente de muchas vueltas, fijando las zonas distales de las vueltas recurrentes. El material sobrante que cubre la parte de la oreja y los ojos los podemos doblarlo hacia adentro, para generar mas presión y fijar la estructura como un gorro fijando el vendaje al finalizar solo con cinta adhesiva para no provoca molestias por exceso de presión sobre el paciente.

            Materiales: Venda elástica de 5 cm. Venda acolchada en caso de traumatismos craneales y apósitos para heridas. Cinta adhesiva o esparadrapo.
        </p>
       
        <img class="img-blog" src="/public/images/vendaje/capelina-vendaje1.webp" alt="vendaje capelina aplicacion">
    </main>
    <%- include('../partial/footer.2ejs'); %>
    <%- include('../partial/boton.2ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>

