<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2 class="h2-blog">¿para que sirve el vendaje en 8?</h2>
        <img class="img-blog" src="/public/images/vendaje/vendaje-en-8-mano.webp" alt="vendaje en 8 en mano">
        <p class="p-blog">
            esta técnica de vendaje terapéutico en 8 es conocida en otras ocasiones como técnica tortuga es utilizada para poder tratar articulaciones sin que estas puedan perder su funcionalidad, la idea es pasar de venda arriba y abajo dejando libre el centro de la articulación , con objetivo que esta no pierda movilidad o funcionalidad también sirve en la aplicaciones y fijaciones de apósitos como son los casos de post operados o en curaciones mas especificas
        </p>
        <h3 class="h3-blog">¿como hacer el vendaje en ocho?</h3>
        <p class="p-blog">
            es bastante sencillo , lo que se debe hacer en manera inicial es realizar una vuelta con el vendaje sobre la zona próxima a tratar para fijar el vendaje, luego se realiza vueltas ascendentes y descendentes alrededor de la articulación y como su nombre lo indica realizando una figura del 8, claramente que dependiendo de la zona a tratar o articulación las tensiones del vendaje deberán ir enfocadas a estabilizar la zona lesionada
        </p>
        <img class="img-blog" src="/public/images/vendaje/vendaje-en-8-rodilla.webp" alt="vendaje en 8 en rodilla">
        <h3 class="h3-blog">como hacer un vendaje en 8 en clavicula</h3>
        <p class="p-blog">
            este tipo de vendaje terapéutico en ocho esta indicado en condiciones por las cuales se ha fracturado la clavícula o en condiciones por las cuales se busca corregir alguna alteración postural como lo es la antepulsión de hombros asociada a condiciones de hipercifosis torácica

            la técnica buscara anclar en cada hombro un extremo y realizar la figura del 8 en la zona interescapular para lograr estabilizar la zona con ambos hombros
        </p>
        <h2 class="h2-blog">¿como hacer vendaje en 8 en tobillo?</h2>
        <img class="img-blog" src="/public/images/vendaje/vendaje-en-8-tobillo.webp" alt="vendaje en 8 tobillo">
        <p class="p-blog">
            tecnica de vendaje habitual en condiciones de esguinces de tobillo , como m

            el vendaje en 8 para la clavícula va enfocado por lo general a lesiones cómo fractura de clavícula para procesos de corrección postural, ya sea en condiciones de hipercifosis para contener de esa manera la lesión, recordar que esta no es la única forma d e vendar este tipo de lesión en la actualidad se puede aplicar de muchas maneras un tratamiento de vendaje como lo son los vendajes kinesiotape los cuales permiten mayor movilidad y contención además de ser mas fáciles de aplicar, o la aplicación de uso de férulas de contención de este tipo de , lesiones , aunque para las mejores opciones puede ser esta técnica o el vendaje con vendas adhesivas
        </p>
        <h3 class="h3-blog">¿como hacer vendaje en 8 en rodilla o codo?</h3>
        <p>
            enfocado en lesiones ligamentarias como esguinces o tendinopatias el vendaje terapéutico en 8 buscara lograr una estabilización y compresión de la zona lesionada para evitar las condiciones edematosas de la lesión, los anclajes del vendajes irán localizados en las zonas distales y proximales a la articulación, dejando un espacio libre siendo el olecranon en el codo y la articulación rotuliana en rodilla
        </p>
        <img class="img-blog" src="/public/images/vendaje/vendaje-en-8-tobillo.jpeg" alt="Imagen del subtítulo 3">
        <h3 class="h3-blog">como hacer vendaje en ocho en muñeca</h3>
        <p class="p-blog">
            este vendaje en ocho esta indicado en condiciones en las que el paciente presente lesiones en los metacarpianos, tendones o ligamentos de la muñeca el objetivo principal siempre será limitar las zonas de movimiento (rango articular), comprimir el edema y favorecer el retorno venoso o linfático
        </p>
        <h3 class="h3-blog">bonus de vendaje en mano </h3>
        <p class="p-blog">
            el vendaje terapéutico en 8 que se utiliza en boxeo tiene como objetivo evitar las lesiones o fracturas que son habituales ( por lo general siembre son los últimos metacarpianos 4 y 5) la idea del vendaje que sigue principios similares al vendaje en 8 en mano es dar estabilidad y evitar zonas de hipermovilidad que se puedan lesiones al dar los golpes
        </p>
    </main>

    <%- include('../partial/footer2.ejs'); %>
    <%- include('../partial/boton2.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>
