<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2 class="h2-blog">corregir luxacion de mandibula con vendaje de barton</h2>
        <img class="img-blog" src="/public/images/vendaje/vendaje-barton.webp" alt="vendaje de barton">
        <p class="p-blog">
            Este tipo de <strong>vendaje terapéutico de barton</strong> se utilizan en los proceso de luxación mandibular
            Este vendaje en 8 se envuelve alrededor de la mandibular para proporcionar estabilidad en la articulación ya que puede usarse en procesos tanto agudos como crónicos de luxación mandibular, en primeros casos de patología de luxación mandibular lo primero que debe ejecutarse es la reducción de esta luxación, por lo general las personas que sufren estos problemas quedan con la boca literalmente abierta sin poder cerrarla, en los primeros eventos sufridos los pacientes van al traumatólogo para atender este problema , luego con el tiempo ellos mismo tienden a manejar la reducción de la luxación, en estos casos el vendaje terapéutico de Bartón ayudara a mejorar su condición, es ideal luego tener <a href="http:www,kinesishouse.cl">rehabilitacion</a>
        </p>
        <h3 class="h3-blog">Vendaje terapéutico de Bartón en luxación aguda</h3>
        <p class="p-blog">
            En casos agudos evita que el proceso de luxación vuelva a ocurrir por los procesos inflamatorios a posteriori de la luxación la cual provocara edema inflamación dolor y en algunas ocasiones enrojecimiento
        </p>
        <img class="img-blog" src="/public/images/vendaje/vendaje-barton1.webp" alt="vendaje de marton mandibula">
        <h3 class="h3-blog">Vendaje de Bartón en pacientes crónicos</h3>
        <p class="p-blog">
            Existen condiciones en pacientes que de manera crónica padecen de luxaciones recurrentes sobre todo al bostezar, en estas condiciones se debe ayudar y educar al paciente para evitar el evento , aun así el vendaje terapéutico de Bartón ayudara a estabilizar mas la capsula articular y ligamentos estabilizadores de la articulación temporo-mandibular, también es recomendable en casos de fracturas faciales en las cuales se busque limitar la movilidad del maxilar inferior
        </p>
        <h2 class="h2-blog">Tecnica de vendaje de barton</h2>
        <img class="img-blog" src="/public/images/vendaje/vendaje-barton2.webp" alt="barton vendaje mandibular">
        <p class="p-blog">
            El objetivo del <strong>vendaje terapéutico de barton</strong> sera buscar un cierre mandibular ademas de la limitación del movimiento de esta inicialmente fue desarrollado para fracturas mandibulares provocando fuerzas posteriores con el

            primero buscaremos anclar el vendaje a nivel del mentón y la zona occipital baja para dar estabilidad antero-posterior

            segundo paso sera dar estabilidad vertical se diseccionara la venda hacia las zonas fronto-parietales, así se llevara el vendaje a inferior para ejecutar la tensión hacia superior
        </p>
       
        <img class="img-blog" src="/public/images/vendaje/vendajebarton3.webp" alt="varton vendaje">
    </main>
    <%- include('../partial/footer2.ejs'); %>
    <%- include('../partial/boton2.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>

