<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2>Título del Artículo 1</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            el hombro es una de las estructuras anatómicas mas complejas dentro del cuerpo humano por ellos las Técnica de vendaje neuromuscular hombro también pueden ser muy diversas, con una biomecanica de movimiento singular que la condicionan como una estructura que puede generar diversos tipos de lesiones, entre ellos los mas comunes son, tendinitis de supraespinoso, bursistis, hombro congelado, luxaciones y fracturas
        </p>
        <h3>técnica de vendaje neuromuscular para estabilizar el hombro</h3>
        <p>
            el vendaje neuromuscular para estabilizar el hombro ira con un proceso de tensión mayor de lo normal la aplicación sera similar como en las lesiones tendineas, con el objetivo de buscar estabilizar el hombro, existen muchas variables y forma de hacerlo una habitual es aplicar el punto inicial de aplicación en la inserción distal del deltoide con dirección hacia el musculo trapecio, unas dos cintas irán en sentido y dirección de las fibras anteriores y posteriores del deltoide, para luego aplicar uno transversal a la articulación acromion clavicular.
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>tendinitis de hombro</h3>
        <p>
            la tendinitis de hombro es una de las patologías mas comunes en las personas , desde el ámbito deportivo como profesional, la técnica de vendaje sera con objetivo de reducir la tensión muscular en el hombro y a remplazar en parte la función del tendón lesionado , por lo mismo la tensión de la venda adhesiva ira en sentido desde la inserción del deltoide hasta el trapecio y desde la zona del hueso coracoide hasta la zona posterior de hombro, la idea del vendaje sera tratar re remplazar la función de percha del brazo (la cual la cumple el musculo supraespinoso) con eso se descargara el tendón lesionado para lograr la recuperación
        </p>
        <h2>bursitis de hombro y vendaje kinesiotape</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            las aplicaciones para este tipo de lesión son ideales crear objetivos para disminuir los efectos inflamatorios, por lo mismo es muy optimo aplicar técnicas de vendaje kinesiotape de drenaje para disminuir los efectos inflamatorios de la patología.

            como en las técnicas de drenaje aqui la aplicación sera similar pero en un espacio de menor tamaño, se cortaran dentro de las tiras unas dos a tres tiras de tamaño pequeño, a cada tira se les cortaran 4 segmentos en las zonas internas las cuales se aplicaran cruzadas en la zona del hombro para lograr el efecto de drenaje y bajar los elementos inflamatorios
        </p>
        <h3>recomendaciones finales sobre el vendaje funcional de hombro</h3>
        <p>
            es muy importante que las persona sepan que esta tecnica de vendaje es una super buena herramienta en la resoluciones de la lesiones de hombro, pero no lo es todo, deben saber que esto solo es complementario a cualquier proceso de rehabilitación o recuperación, como unidad coadyudante es super efectiva pero no sera jamas un tratamiento definitivo.
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>