<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2>¿como hacer un correcto vendaje en hombro?</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            la articulación del hombro es una estructura muy compleja que pose 6 grados de movilidad en las cual están inmersas muchas articulación y tendones entre otras estructuras las cuales le permiten el movimiento, para saber como lograr un adecuado vendaje en el hombro, primero debemos saber a que lesión vamos a ejecutar un correcto vendaje terapéutico en hombro

            entre las lesiones comunes que tenemos están, fracturas, tendinitis, luxaciones. entre otras cada una se manejara con un apoyo leve o complejo de vendaje (obviamente con un tratamiento que lo complemente)
        </p>
        <h3>inmovilizar</h3>
        <p>
            los procesos para inmovilizar con un vendaje terapéutico en hombro por lo general son mínimos y estos están determinados por lesiones como fracturas o luxaciones , en las cuales se debe permitir un proceso de reparación de los tejidos dañados, para ello preferiremos los vendajes terapéuticos como el tipo velpeau y desault los cuales irán indicados para la inmovilización de lesiones de hombro como luxaciones y fracturas, incluyen estructuras desde l humero hasta la escapula, existen otras técnicas como delpeche o gilgrish también para lesiones como la anteriores pero con mayor facilidad para acceder a la zona lesionada, ideal para fracturas operadas que requieran curaciones
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>funcional</h3>
        <p>
            un vendaje funcional de hombro ira determinado en casos por lo general de lesiones en tejido blando, como tendinopatias, como lesión del manguito rotador o inflamación de la burza, lo que se buscara en este tipo de vendaje es disminuir dolor, inflamación y no limitar la funcionalidad del hombro
        </p>
        <h2>vendaje en hombro con ventilacion | vendaje en ocho para hombro</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            el vendaje en hombro con forma de 8 sera muy utilizado en lesiones en la cual se busque estabilizar la zona de la cabeza humeral y el acromion, tambien se puede aplicar con vendas elasticas largas como forma para realizar una retropulsion de los hombros y corregir la postura
        </p>
        <h3>vendaje para hombro doloroso</h3>
        <h3>hombreras de soporte</h3>
        <h3>corrector postural de hombro</h3>
      
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
    </main>

    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
</body>
    <script src="../js/action.min.js"></script>      
</html>