<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header>
        <h1> <%= tiTuloh1%> </h1>    
    </header>
    <main>
        <h2>Título del Artículo 1</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            Lo importante de aprender el vendaje para boxeo es que te ayudara a mejorar tu técnica de golpe y te evitara posibles lesiones

            El fundamento del vendaje es proteger la herramienta más importante de un boxeador, sus manos, estas tienen un conjunto de articulaciones formadas entre huesos carpianos, metacarpianos y falanges, es muy común en traumatologia escuchar de la fractura del tercer y cuarto metacarpiano en este tipo de deportes los cuales pueden fracturarse fácilmente por la constante de los golpes repetitivos. Las vendas sirven para endurecer las manos y darle apoyo a las muñecas, dedos, nudillos y todo en un conjunto

            la idea del vendaje es mantener toda la mano en una condición de estabilidad para evitar que cada golpe que se ejecuta no genere una lesión sobre algunas de las articulaciones o huesos que pueden que no queden en una condición firme

            el vendaje de la mano te dará firmesa , estabilidad sobre tus huesos y articulaciones y prevendría esquinces y fracturas.

            Mucha gente piensa incorrectamente que las vendas son para amortiguar o darle un colchón extra o protección a los nudillos. un correcto vendaje en boxeo permitirá una mano solida y firme cuando se cierra el puño


        </p>
        <h3>¿que vendaje se usa para boxeo?</h3>
        <p>
            por lo general se usan vendas super largas ideal de 4,5 metros ideal que sean vendas semielasticas o en su defecto elásticas, pero por ningún motivo vendas rígidas
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>¿como realizar un buen vendaje en boxeo?</h3>
        <p>
            las formas la dejaermos clara en la sigueinte lista
            <ol>
                <li>lo primero es fijar el pulgar, por lo mismo pasaremos el esparadrapo por detrás del pulgar, para que la venda se apreté cuando empuñes tu mano</li>
                <li>fijaremos el vendaje 3 veces alrededor de la muñeca, la tensión de la venda en la muñeca dependerá de todas maneras de cada luchador, algunos prefieren tener mas sueltos para los upper cut</li>
                <li>la tercera fase pasaremos 3 veces la venda alrededor de la mano son preocuparnos inicialmente por los nudillos, la idea es fijar la estructura de los metacarpianos</li>
                <li>luego pasaremos la venda realizando 3 «x » alrededor de los dedos, esto permite separar los nudillos a la vez de darle apoyo para evitar que colapsen durante la lucha, aqui la base es buscar el vendaje en 8 entre menique y pulgar, luego anular luego dedo indice así permitirá que los dedos queden separados y ademas permite empuñar</li>
                <li>asegurar el pulgar para evitar que quede volando y te lo vallas a fracturar con algún golpe</li>
                
            </ol>


        </p>
        <h2>¿cual es la manera correcta de vendar la mano en boxeo?</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            el vendaje para boxeo tiene una serie de beneficios que puedes aprovechar, primero proteje mucho los nudillos, ya que si lo piensas fríamente es la zona que recibe mas impacto antes que cualquier otra estructura por lo mismo su protección te evitara muchas lesiones,

            en segundo lugares muy bueno para darle estabilización a tu muñeca, un correcto vendaje evitara que tu muñeca tambalee lateralmente en cada golpe y eso evitara lesiones como esguinces, este vendaje preventivo también te evitara lesiones sobre el dedo pulgar, ya que lo estabilizara junto con la mano entregando mayor seguridad en cada golpe, ademas , en las tiras al ser de algodón te permitirán absorber el sudor con ello evitara la proliferaciones de hongos ya sea en el ajuste o entre tus dedos,, ademas que el vendaje evitara el roce interno que puede existir dentro del guante , un movimiento y roce constante generara quemaduras por fricción que en si no son nada graves pero si son muy muy molestas
        </p>
        <h3>¿cuales son los tipos de vendaje?</h3>
        <p>
            el mercado ofrece muchos tipos de vendaje para boxeo esta disciplina, están los habituales elásticos que se pueden comprar en cualquier comercio deportivo o farmacia, y están los mas profesionalizados con marcar incluidas, que te pueden entregar algún tipo especial de acolchado

            existen las de algodón vienen en formato de rollo
        </p>
        <h4>vendaje de tipo algodón en formato rollo</h4>
        <p>este es la clásica venda elástica la cual puedes encontraren cualquier farmacia o tienda deportiva , lo bueno de esta es que su costo es económico y fácil de reemplazar</p>
        <h4>venda de boxeo semi elastica</h4>
        <p>aqui ya empiezan a jugar marcas como everlast o venum, las cuales te pueden presentar modelos de diversos colores o diseños para su compra</p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
        <h4>vendas de boxeo elasticas</h4>
        <p>esta ya es utilizada mas por los profesionales, que buscan mayor seguridad ya que posen mayor cantidad de horas de entrenamiento durante la semana, no son rígidas como se piensa pero es fácil tensar demaciado y dañar la mano así que ojo con la aplicación de esta</p>
        <h4>vendas de boxeo tipo guante</h4>
        <p>ahora si eres principiante y no te quieres complicar la vida con una técnica de vendaje para boxeo, lo que mejor se te puede optar es a utilizar un vendaje ya armado con acolchado para los nudillos, aunque dudo de su eficacia en la comparativa de la técnica estudiada</p>
        <h4>vendaje para boxeo básico en 8</h4>
        <p>este tipo de vendaje esta indicado para principiantes que puedan tener una manera fácil de lograr proteger la mano de todo tipo de lesiones y ademas poder dar cierta firmeza al puño, la técnica es sencillamente una forma de vendaje en 8 sobre la mano y muñeca con la cual ademas se debe buscar proteger los dedos</p>
        <h3>vendaje para boxeo formato anillo</h3>
        <p>
            Esta técnica de vendaje se inspira en las formas del vendaje de boxeo profesional. se aplican tres bandas inter-digitales de los dedos, que facilitaran e individualizaran la aportación dinámica de cada nudillo en los golpes y evitar la lesión de las bandas sagitales. Esta patología es comúnmente conocida como el nudillo del boxeador. este tipo de técnica se orientara en la dirección natural de los tendones de los dedos lo que permitirá darle un plus en su funcionalidad
        </p>
        <h3>Vendaje de boxeo tipo acolchado protector</h3>
        <p>
            Este tipo de técnica en boxeo lo que permita al igual que la técnica anterior es darle otro extra a la protección de los nudillos , ya que la vendara con una forma mas acolchada que dará mayor protección y seguridad para el boxeador
            Este vendaje está altamente recomendado para competidores y boxeadores que entrenan frecuentemente.

            La ventaja fundamental de estos dos últimos vendajes, es que incorporan los principios más avanzados del vendaje profesional. No obstante, no requieren ni el tiempo, ni la experiencia comúnmente necesaria para realizar un vendaje profesional ya que este vendaje se pude aplicar solo de manera fácil y rápida
        </p>
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>
