<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2 class="h2-blog">la real importancia de un correcto vendaje en las curaciones de heridas</h2>
        <img class="img-blog" src="/public/images/vendaje/vendaje-curaciones.webp" alt="vendaje en curaciones">
        <p class="p-blog">
            El tratamiento del vendaje terapéutico en curaciones de heridas en si es una acción que necesariamente debe llevarse a cabo por un profesional cualificado, aquí veremos una serie de elementos que se utilizan ya que es importante educar a la población de porque se usa uno u otro elementos ademas que objetivo busca cubrir cada vendaje y que precios se manejan en el mercado de estas herramientas

            Los vendajes o apósitos se pueden agrupar en once tipos
        </p>
        <h3 class="h3-blog">Apositos hidrocoloides</h3>
        <p class="p-blog">
            <ul>
                <li>tipo vendaje : Hydrocoloide vendaje</li>
                <li>frecuencia de uso: Max ,7 Dias aprox.</li>
                <li>tipo de condiciones : superficial, mínimo ,moderado</li>
                <li>usos: para profesional sanitario</li>
                
            </ul>
        </p>
        <img class="img-blog" src="/public/images/vendaje/vendaje-curaciones1.webp" alt="tipos de vandajes en curaciones">
        <h3 class="h3-blog">Características</h3>
        <p class="p-blog">
            Son elementos creados para la curación de heridas agudas o crónicas, con base de una matriz adhesiva al lecho de la herida y a la piel colindante a la lesión. formados por una mezcla de materiales con con cierta función de absorción limitada, su compuesto primario es Carboximetilcelulosa Sódica, aunque otros modelos pueden tener pectinas y gelatinas, estos últimos elementos son los responsables de dar el olor y color.

            Aunque a la venta se dispone de una gran variedad de apósitos hidrocoloides que pudiesen ser similares,pueden existir diferencias entre las marcas en la capacidad de manejar los fluidos de la herida.
        </p>
        <h2 class="h2-blog">¿Cuando comenzaron a fabricar estos elementos de curación de heridas?</h2>
        <img class="img-blog" src="/public/images/vendaje/vendaje-curaciones2.webp" alt="curaciones con vendajes">
        <p class="p-blog">
            Los primeros elementos hidrocoliodes fueron desarrollados en la década de los 80 con el objetivo de tratar heridas crónicas o de lesiones cutáneas su idea era la curación de heridas ne un ambiente húmedo.

            Los primeros vendajes en crearse fueron los apósitos hidrocoloides en forma de placa, con ciertas capacidades de flexibilidad y adaptación a las superficies de las heridas.siendo un objetivo principal del hidrocoloide generar un ambiente húmedo que permita crear intercambio gaseoso dentro de la lesión.
            
            ya en los últimos años se han producido avances y se ha mejorado en las condiciones del vendaje para adaptarse a la zona a tratar y ciertos elementos químicos que mejoran la cicatrización de la herida
            
            en la actualizad muchos lo consideran un elemento de curación de heridas ya antiguo ya que existen una gama de materiales modernos que pueden superar los efectos de este elementos
            
            aun así no esta demás conocerlo ya que en términos de costo puede que sea conveniente en caso que no se pueda optar por otros elementos mas caros hoy en día se dispone de una mayor gama de elementos para el tratamiento y curaciones de heridas como elementos con espumas de poliuretano, matriz de silicona, fibras extra-absorbentes, etc…
        </p>
        <h3 class="h3-blog">Beneficios de los Apósitos Hidrocoloides:</h3>
        <p class="p-blog">
          <ul>
              <li>favorece el desbridamiento delas heridas</li>
              <li>permite el aislamiento y sellado de la herida con respecto al exterior</li>
              <li>forma un gel en el lecho de la herid el cual permite tener un control sobre el exudado</li>
              <li>disminuye el dolor sobre las heridas al mantener la zona humectada</li>
              <li>mantiene un ambiente húmedo que favorece la cicatrización</li>
              <li>mantiene una temperatura constante</li>
          </ul>
        </p>
        <img class="img-blog" src="/public/images/vendaje/vendajecuraciones3.webp" alt="curaciones con hidrocoloide">
        <h3 class="h3-blog"> ¿Qué características debe tener un hidrocoloide en placa? | Diseño del hidrocoloide</h3>
        <p class="p-blog">
            dentro del diseño del hidrocoliode se debe estimar el grosor , la superficie externa a tratar el aspecto transparente con cuadricula o superficie lisa la forma de la terminación de sus bordes, si tiene o no facilidad en la aplicación del aposito, etc.


        </p>
        <h3 class="h3-blog">Composición del hidrocoloide</h3>
        <p class="p-blog">
            Es ideal que el elemento este completamente libre de pectina y otros derivados de animales o gelatina. ya que varios profesionales y paciente consideran que la formación de un elementos lechoso es asociativo a infección o mal pronostico, pero lo que no manejan es que forma parte del hidrocoloide en al manejo de las heridas.
        </p>
        <h3 class="h3-blog">forma del vendaje hidrocoliode</h3>
        <p class="p-blog">
            se deben tener mucho cuidado en las características del diseño en los apósitos de este tipo ya que puede tener una relación directa con las variedades que poseen cada superficie anatómica d apoyo y en consecuencia generar fricciones que pudiesen lesionar el tejido en aspectos que no esperamos .

            este tipo de apósitos poseen una capa externa de evaluación la cual es transparente , lo que beneficia en gran medida para la evaluación de los tejidos sin la necesidad de levantar o remover el apósito lo que permite y facilita la evaluación constante de las heridas. la superficie de contacto del vendaje debe ser y esta diseñada de manera las para evitar los roces y componentes de fricción que pudiesen favorecer a la prevalencia y lenta evolución de las heridas por lo mismo al ser superficie lisa esta reduce el roce o la fricción transmitidos a la piel
            hay que tener sumo cuidado y preferir un apósito con bordes finos para evitar que se enrolle,se enganche o lisa y llanamente se termine desprendiendo o adhiriendo a otras superficies
        </p>
        <h3 class="h3-blog">tipos de apósitos hidrocoloides</h3>
        <p class="p-blog">
            Existen tipos de apósitos hidrocoloides en placa :

            Características:
            <ul>
                <li>la superficie exterior rugosa</li>
                <li>característica de pegarse a la superficie</li>
                <li>favorece los procesos de cicatrizaciones difíciles</li>
                <li>bordes de filo biselado lo cual permitirá una facilidad en la capacidad de fijarse</li>
            </ul>
        </p>
        <h3 class="h3-blog">dificultades de este apósito en placa</h3>
        <ul>
            <li>dificultad en su retirada</li>
            <li>placa gelatinosa se termina desarmando</li>
            <li>problema al adherirse en sus guantes el aposito.</li>
        </ul>
        <p class="p-blog">
            Este mismo borde biselado permitiría en el momento de retirada a no dañar el tejido en reparación siendo un plus

            es ideal que en el diseño posea un sistema de aplicación de 3 lengüetas esto facilitaría a los profesionales su fácil aplicación sin que se pegue el material a los guantes cuando se retira la lámina protectora durante su colocación.

            Es ideal contar con apósitos hidrocoloides diseñados para áreas anatómicas específicas (por ejemplo, el caderas, codos, sacro talones , etc.)
        </p>

        <h3 class="h3-blog">apósitos interactivos</h3>
        <p class="p-blog">
            El objetivo de este tipo es de cobertura es mantener un ambiente fisiológico húmedo en la herida o lesión lo que permitirá estimular ciertas enzimas catalíticas que facilitan la autolisis y condicionan que el desbridamiento tenga lugar sin dolor. No se adhieren a la herida

            se describen 3 tipos:

            <h4> Tull</h4>
            <p class="p-blog">
                Es una gasa ancha uniforme que son impregnada con elementos parafinicos que permiten un exudado de las herida , facilitan la lubricación y mantienen la humedad de los tenidos , algunos ademas poseen elementos anti-microbianos como clorhexidina y ácido fucidico, o centella asiática las cuales permites la nueva formación de tejido conectivo
            </p>
            indicaciones
            <ul>
                <li>heridas o ulceras del tipo 2 y 3 cubiertas de tejido granulatorio</li>
                <li>quemaduras tipo A de pequeña intencional</li>
                <li>injertos</li>
                <li>procedimientos reconstructivos</li>
                <li>circuncisión</li>
            </ul>
            ¿done utilizar elementos antimicrobianos?
            <ul>
                <li> áreas menores con riesgo de infección, con muy poco exudado.</li>
                <li> Pié diabético grado I, II y III, sin infección.</li>
                <li> Herida dehiscente chica.</li>
            </ul>


        </p>
        <h3 class="h3-blog">Espuma hidrofílica</h3>
        <p class="p-blog">
            ESPUMA HIDROFÍLICA :

            Es un tipo de apósito que no se adhiere al tejido (no se pega), a base de poliuretano osea su función es atraer el agua se utilizan para absorber fluidos de moderado a abundante volumen

            Se encuentran disponibles en: láminas y cojincillos.
            <p class="p-blog">
                LÁMINAS:

                Son de diferente espesor y superficie. Según su estructura pueden ser unilaminares, bilaminares, trilaminares o tetralaminares.


            </p>
            <ul>
                <li>Unilaminar: esta hecho de una espuma de poliuretano hidrofílica.</li>
                <li>Bilaminar: posee una película de poliuretano externa y una espuma de gel de poliuretano hidrofílica que la cual entra en contacto con la lesión y actúa absorbiendo el fluido.</li>
                <li>Trilaminar: Su capa interna va en contacto con la herida, formada por una red de poliuretano con diseño de celdilla macro o microscópicas, una central de poliuretano hidrofílico y una película externa de poliuretano.</li>
                <li>Tetralaminar: mantiene contacto con la lesión una almohadilla central de poliuretano que tiene en su interior una capa de gasa no tejida, alrededor presenta una capa adhesiva de gel de poliuretano y una capa exterior de poliuretano permeable al vapor de agua e impermeable al agua.</li>
                
            </ul>
            <p class="p-blog">COJINCILLOS : 
                Son usados en lesiones que poseen características de cavidades. Se presentan en diferentes formas y tamaños. Están formados de partículas de espuma de poliuretano selladas dentro de una capa de igual material , pero perforada
            </p>
            <h4>Indicaciones de uso:</h4>
            <ul>
                <li>Heridas, quemaduras, pié diabético con exudado de moderado a abundante</li>
                <li>Absorción de exudado alrededor de drenajes</li>
                <li>Heridas exudativas infectadas. </li>
            </ul>
        </p>
        <h3 class="h3-blog">Apósitos transparentes adhesivos y no adhesivos.</h3>
        <h4> ADHESIVOS:</h4>
        <ul>
            <li>El mecanismo de acción consiste en mantener un ambiente fisiológico húmedo en la herida al dejar pasar el vapor de agua, permitiendo la oxigenación e impidiendo el paso de agua, bacterias y virus.</li>
            <li>La transparencia del apósito permite la inspección visual de la herida. Por su mecanismo de acción favorece la cicatrización y el normal funcionamiento de la piel, ayuda a controlar infecciones.</li>
            <li>Es dúctil, se amolda fácilmente a la superficie y pliegues, no requiere apósito secundario y permite que el paciente se moje (baño o ducha) sin comprometer el sitio protegido.</li>

        </ul>
        <h4>Indicaciones de uso:</h4>
        <ul>
            <li> Quemaduras tipo A.</li>
            <li> Zonas donantes y receptoras de injerto.</li>
            <li> Debridamiento autolítico.</li>
            <li>Incisiones quirúrgicas.</li>
            <li> Heridas tipo 1 y 2 con escaso exudado.</li>
            <li>  Apósito secundario.</li>
            <li> Protección contra roce y fricción.</li>
            <li>Protección de catéter central o periférico.</li>
        </ul>
        <h3 class="h3-blog">apositos alginatos</h3>
        <p class="p-blog">
            Los apósitos de alginato están formados por un polisacárido natural derivado de la sal de calcio del ácido algínico (proveniente de las algas marinas), además posee iones de sodio y calcio en distintas proporciones. Al entrar en contacto con el exudado de la herida rico en iones de sodio se produce un intercambio: el alginato absorbe iones de sodio y libera iones de calcio al medio. Esto forma un gel que mantiene un ambiente húmedo fisiológico en la herida. La presencia de iones calcio en el medio favorece la acción hemostática en la herida.

            Estos apósitos son ideales para el manejo de las heridas o úlceras con moderado a abundante exudado por su gran capacidad de absorción.
        </p>
        <h4>complicaciones de uso</h4>
        <ul>
            <li>No se puede utilizar en heridas con nulo o escaso exudado ni en cavidades pequeñas por su capacidad de expansión</li>
            <li>Necesita un apósito secundario</li>
        </ul>
        <h3 class="h3-blog">apositos hidrogeles</h3>
        <p class="p-blog">
            Este apósito está formado por un gel amorfo no adherente o por una macroestructura tridimensional fija en forma de lámina. Ambos poseen polímeros espesantes y humectantes con un mayor contenido de agua que condicionaran un estado húmedo fisiológico sobre el lecho de la herida.

            La composcicion hidratante y viscosa es una excelente opción para apoyar el debridamiento autolítico, como cuidado paliativo en el manejo del dolor y para facilitar la granulación, la epitelización y la hidratación de la piel.

            La combinación básica de los hidrogeles es agua, polímeros humectantes y agentes absorbentes.

            Existen en dos formas de las más conocidas:
            <ul>
                <li>Gel amorfo</li>
                <li>Láminas</li>
            </ul>
        </p>
        <h4>indicaciones de uso</h4>
        <ul>
            <li> Debridante autolítico en cualquier tipo de heridas o úlceras, pié diabético o quemaduras.</li>
            <li> Heridas o úlceras tipo 1, 2, 3 y 4 limpias o infectadas.</li>
            <li> Quemaduras tipo A.</li>
            <li>Heridas traumáticas, abrasiones o laceraciones.</li>
            <li> Zonas donantes de injerto.</li>
            <li> Lesiones cancerosas.</li>
            <li> Dermatitis por radiación.</li>
            <li> Pié diabético grado I a V.</li>
            <li> Heridas profundas con leve exudación.</li>
            <li> Relleno de cavidades.</li>
        </ul>
        <h3 class="h3-blog">apósitos de colágeno</h3>
        <p class="p-blog">
            herramienta médica a base de colágeno equino, en tipo de placas esponjosas, que se pueden adaptar fácilmente a las heridas El colágeno es conocido por estimular la reparación tisular, acelerando los procesos cicatrizantes

            Suprasorb C forma un gel cuando entra en contacto con el exudado de la herida, absorbiendo de forma rápida y efectiva los factores que inhiben la curación, por ejemplo, el exudado de la misma; además, proporciona hemostasia física en la herida.

            En cada fase del proceso de curación, Suprasorb C brinda equilibrio a la herida. Se une a los factores que inhiben la cicatrización tales como proteasas, radicales y citoquinas, y protege los factores de crecimiento que permiten que la herida sane. Esto estimula la migración de fibroblastos para la formación de tejido de granulación y promueve la regeneración de las células epidérmicas.

            El efecto de tres fases de Suprasorb C proporciona un tratamiento confiable: en la fase de exudación, mediante la limpieza de la herida; en la fase de granulación,  por medio de la estimulación de tejido de granulación;  y en la fase de epitelización, acelerando la reepitelización.
        </p>

        <h3 class="h3-blog">apósitos espumas</h3>
        <p class="p-blog">
            Los apósitos de espuma están diseñados para absorber el líquido (exudado) que proviene de algunas heridas de las úlceras por presión y para mantener un ambiente húmedo. Se deseaba determinar la forma en que los apósitos de espuma afectaron la cicatrización de la úlcera por presión y las tasas de recurrencia
        </p>
    </main>
    <%- include('../partial/footer2.ejs'); %>
    <%- include('../partial/boton2.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>
