<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2>Título del Artículo 1</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            el vendaje gilchrist o delpeche es un tratamiento de vendaje terapéutico para lesiones que pueden ser similares, la variación dependerá básicamente de que objetivos se esperan con uno u otro paciente, en la siguiente técnica de vendaje se buscara principalmente que exista una mayor libertad en ciertos movimientos que permitirían mejor aseo de la lesión en casos de fracturas o un mejor procesos en la rehabilitación posterior
        </p>
        <h3>¿Para que tipo de lesiones esta diseñado el vendaje de Gilchrist?</h3>
        <p>
           <ul>
               <li>esguinces</li>
               <li>fracturas</li>
               <li>lesiones tendineas como manguito rotador</li>
               <li>luxación de hombro</li>
           </ul>
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>¿que paciente son idóneos para el vendaje gilchrist?</h3>
        <p>
            En esta técnica de vendaje es ideal incluir a pacientes que necesiten procesos de limpieza o curaciones de heridas, ya que la zona del hombro por lo general quedara mas descubierta para ese tipo de procedimientos
            Este es un cabestrillo mas moderno con banda de sujeción de la cintura escapular

            Inmovilización postraumatica o posoperatoria del hombro y brazo realizada mediante vendaje tubular con almohadillado de algodón en zonas de mayor apoyo o roce. Posee carácter inmovilizador en todos los planos de movimiento. No debe ser retirado, ni conviene que se moje. Indicado en lesiones de la articulación del hombro que requieran reposo moderado. Su colocación precisa una técnica compleja inmovilización una de sus funciones principales es poder controlar las funciones de rotación del hombro lesionado en los procesos de rehabilitacion,
        </p>
        <h2>pasos para vendar en metodo gilchrist</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            La aplicación de vendaje tubular en la zona de antebrazo y brazo dejando libre el hombro el mismo vendaje se abrirá y funcionada como una venda tipo liga que ira a pasar posterior al cuello para luego amarrar en proceso de tensión a nivel de la misma muñeca del paciente

            modelos comerciales en venta de vendaje de gilchrist
            
            En la actualidad el mercado trata de facilitar las cosas con los métodos de vendaje por lo mismo existen en venta elementos que buscan facilitar el método de vendaje, aunque en si la técnica es muy fácil y sencilla, existen modelos que facilitan mas el proceso ademas de entregar algún confort extra
        </p>
      
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
    </main>

    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>