<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2>Título del Artículo 1</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p class="p-blog">
            Esta técnica es llamada también preso terapia en quemaduras

            El vendaje terapéutico su tratamiento en quemaduras es una terapia compresiva se utiliza en forma extendida como tratamiento no invasivo de las cicatrices patológicas (tanto hipertróficas como queloídeas) y como medida profiláctica en lesiones que demoran entre 12 y 16 días en sanar, cuando presentan la triada: eritema prurito, textura.
            
            Si no se cumple lo anterior, se sugiere que el paciente sea re-evaluado
            transcurrido 1 mes de evolución para confirmar diagnóstico y resolver la necesidad o no
            de tratamiento compresivo.
            
            
            La presión ejercida a través de vendas elásticas o trajes compresivos puede variar entre
            20 y 40 mmHg dependiendo de la profundidad de los tejidos sobre los que se quiera
            actuar , pero se recomienda que en el caso de manejo de secuelas de quemaduras y
            cicatrices oscile entre los 20 y 25 mmHg acercándose a los 24 mmHg que es la presión
            de cierre de los capilares superficiales de la piel. La respuesta a esta presión, sin
            embargo, se relaciona con la zona anatómica sometida a preso terapia.
            
            
            La presión generada por los diferentes elementos compresivos, se transmite desde la piel
            hacia la subdermis.
        </p>
        <h3 class="h3-blog">Cómo actúa la Presoterapia :</h3>
        <p class="p-blog">
            La Cicatriz Hipertrófica responde a fuerzas mecánicas siempre que se encuentre todavía
            en su período de evolución activo; las fuerzas externas hacen que las fibras colágenas
            que están desordenadas en espiral o nódulos se vean obligadas a reorientarse conforme
            a la dirección impuesta por las fuerzas, que es la que corresponde a una cicatriz normal.
            Este cambio es progresivo y paulatino, definitivo sí y sólo si se cumple con las normas del
            tratamiento. Además, puede ser preventivo si se aplica desde el comienzo del proceso
            patológico de cicatrización.


            Numerosos estudios señalan los cambios a nivel histológico del tejido cicatrizal sometido
            a presión. Sin embargo, el mecanismo exacto de cómo la presión influye en la maduración
            y remodelación de la cicatriz hipertrófica aún no se conoce con total certeza.


            Podemos reconocer, sin embargo, cambios sobre el nivel de inflamación, disminución del
            grosor de la epidermis y menor cantidad de vasos sanguíneos en relación a cicatrices no
            tratadas, los que se encuentran más cercanos a la dermis profunda, característica de piel
            sana.
            Se genera una disminución del número de miofibroblastos, por lo tanto disminuye la
            tendencia de las cicatrices hipertróficas a la contractura cicatrizal.


            Sobre la matriz extracelular genera una reorganización de sus componentes.
            Específicamente a nivel del colágeno reduce su producción al disminuir el aporte de
            oxigeno, se obtienen fibras de menor grosor con una disposición más paralela a la
            superficie de la piel en relación a lo encontrado en cicatrices no tratadas.


            En áreas cicatriciales tratadas con preso terapia se observa presencia de elementos
            elásticos en la dermis superficial y profunda.
            En suma, los cambio obtenidos generan una aceleración de la maduración cicatricial
            disminuyendo las posibilidades de generar “ contracturas “ y cirugías reparadoras. La
            disminución y reorganización del colágeno en conjunto con la disminución de los
            miofibroblastos explican los cambios en las características mecánicas de la cicatriz
            producto de la presoterapia.


            Otros efectos descritos en la literatura, asocian a la terapia compresiva con el control del
            prurito y del dolor asociado a las cicatrices hipetróficas, debido a que disminuye la
            inflamación y el metabolismo del tejido.

            Mención especial merece lo concerniente al uso de láminas de gel de silicona o polímeros
            de diversas características pues no caen en la denominación de presoterapia sino más
            bien de coadyuvante de ella, ya que por sus características físicas y uso oclusivo generan
            cambios en la fisiología del tejido de secuela debido a que se colocan en relación directa
            con la zona de tratamiento.

            Su efecto sería consecuencia de su transformación en una pseudoepidermis, lo que otorgaría humedad al tejido contactado y generaría en él cambios fisiológicos, activando factores de crecimiento remodeladores, que impedirían o frenarían la manifestación de cicatrices defectuosas. Por lo tanto, la cicatriz se suaviza, reduce, aplana, aclara y se hace flexible.


            Respecto de su aplicación, debería ser de elección en el caso de cicatrices recientes y
            durante los primeros 6 meses de evolución de una cicatriz.

            Se debe usar por no menos de 12 hrs diarias continuas. Sus efectos adversos
            corresponden a las dermatitis de contacto, que la mayoría de las veces está relacionada
            con la falta de higiene tanto del material como de la zona corporal en tratamiento.
        </p>
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>vendaje en espiga</h3>
        <p class="p-blog">
            Este es otro tipo de vendaje terapéutico en quemaduras se usa para miembros inferiores y superiores. Se aplica similar que espiral, salvo que vamos retrocediendo con la venda, de manera, que las vueltas que se van superponiendo se crucen. Tiene función compresiva y favorece el retorno venoso. Además en las zonas articulares permite la movilidad sin perder funcionalidad
        </p>
        <h2 class="h2-blog">vendaje en espiral o circular</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p class="p-blog">
            es aplicado en extremidades con idea de aplicar compresion se aplica en direccion hacia el cuerpo la presion debe no ser excesiva y en cada venda debe existir 2/3 de separacion entre cada uno


        </p>
        <h3 class="h3-blog" >consideraciones iniciales antes de aplicar la tecnica de presoterapia</h3>
        <p class="p-blog">
            Edad del paciente: pacientes lactantes presentan menor tolerancia a lycras demasiado
            rígidas, mayor presencia de reacciones dérmicas a la tela sintética entre otras. Nuestra
            experiencia nos hace preferir lycras algodonadas o con un porcentaje alto de algodón, al
            igual que en pacientes con antecedentes alérgicos previos.


            Características de Cicatriz: cicatrices activas planas requerirán de elementos elásticos
            compresivos; cicatrices hipertróficas con un alto componente fibroso y cicatrices
            queloideas hacen necesaria la incorporación de refuerzos o insertos bajo los elementos
            elásticos.


            Localización: secuelas ubicadas en zonas especiales o articulares podrán requerir
            elementos ortésicos de posicionamiento. Cicatrices localizadas en cuello y cara
            incorporarán a los sistemas elásticos elementos rígidos o semirígidos
        </p>
        <img class="h3-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
        <h3>Elementos Compresivos de presoterapia</h3>
        <p class="p-blog">

            Existen distintos materiales que nos permiten realizar la terapia compresiva y obtener
            cambios histológicos a nivel cicatricial a fin de mejorar las características de la secuela.
            Según sus características elásticas y capacidad de deformación y adaptación los hemos
            divido en tres categorías, elementos blandos, semirrígidos y rígidos

            elementos elásticos blandos
            <ul>
                <li>Prendas hechas a medida: estas permiten a portar un buen ajuste. Podemos definir características específicas e individuales dependiendo de cada paciente y la ubicación de la secuela. Da la posibilidad de realizar ajustes y correcciones en la medida que sea necesario. Prendas e insertos se deberían confeccionar en un taller de prendas a la medida del paciente</li>
                <li>Tubulares elasticados: Otorga la posibilidad de compresión en tórax y extremidades, limitada por la presentación en tallas, no se ajustan exactamente a las características de todos los pacientes</li>
                <li>Vendas elásticas: Permite la compresión prácticamente en cualquier ubicación, sin embargo requiere una supervisión constante y la destreza necesaria para la adecuada instalación a fin de otorgar una presión adecuada.</li>
                <li>Coban: Venda elástica adhesiva, que dadas sus características de escaso grosor es un elemento importante para la compresión en mano y dedos.</li>
            </ul>
            <p class="p-blog">elementos semirigidos</p>
            <ul>
                <li>Neopreno: Permite una buena adaptación y otorga una adecuada compresión en zonas articulares como cuello y árese flexión dada por la flexibilidad y firmeza del material
                </li>
                <li>Termoplástico: Especialmente utilizado para la confección elementos compresivos en cara. Puede sufrir deformaciones por cambios ambientales temperatura que requerirán ajustes</li>
                <li>Goma Flex: Utilizada a modo de inserto, otorga una mayor presión de manera localizada.</li>
                <li>Sueleta: Utilizado por su buena adaptación y tolerancia en el paciente.</li>
            </ul>
            elementos rigidos:
            <ul>
                <li>Yeso: Específicamente orientado a la terapia compresiva en base a yesos seriados en mano. Permite realizar compresión y al mismo tiempo posicionar el segmento y / o elongar el tejido cicatrizal</li>
                <li>acrilico: Utilizado en la compresión de cara, otorga compresión con una menor carga estética para el paciente al ser un elemento transparente, permite un aseo habitual, es poco deformable frente a cambios ambientales de temperatura.</li>
            </ul>
            Para obtener óptimos resultados con la terapia compresiva, se indica la utilización de los elementos compresivos 23 horas al día y durante 18 a 24 meses que corresponde al tiempo de evolución hasta alcanzar la maduración de los tejidos de secuela. Es importante mantener una rutina diaria de aseo, cuidados de la piel y lubricación de las cicatrices. Se deben mantener los cuidados de las prendas, ajustar o reponer en caso necesario.


        </p>
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>
