<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2 class="h2-blog">¿De que me sirve la aplicación de un vendaje compresivo</h2>
        <img class="img-blog" src="/public/images/vendaje/vendaje-compresivo.webp" alt="vendaje compresivo utilidades">
        <p class="p-blog">
            El objetivo del vendaje compresivo esta basado en generar cierta presión sobre los tejido es similar al vendaje elástico pero cumple objetivos diferentes principalmente por el tipo de presión y material que puede utilizar, su uso esta aplicado ciertos grupos de pacientes, principalmente que requieran controlar condiciones como edemas, lesiones como del tipo quemaduras, o incluso condiciones de cicatrización patológicas como son las hipertroficas o queloides
        </p>
        <h3 class="h3-blog">tipos de vendajes compresivos en patologías vendaje compresivo en quemados</h3>
        <p class="p-blog">
            el objetivo aqui es evitar las los procesos patologicos que ocurren en llos pacientes quemados , principalmente las cicatrices patologicas del tipo queloide o hipertroficas

            existen diferentes técnicas de vendaje compresivo para este tipo de casos en la cual se busca cubrir la mayor parte del cuerpo dañada incluyendo cierto cuidado en las articulaciones, aquí el cuidado se basar en que el vendaje no limite los movimientos articulares ya que si no fuese el caso el tejido cicatrizara de tal manera que el usuario vería afectada su movilidad por restricciones provocada por la cicatrización

            se manejan ciertas técnicas de vendaje especial en ellos en los cuales están principalmente el vendaje en espiral y vendaje en forma de zig-zag en la cual usaran material de vendaje del tipo rollo de genero elástico existen para este caso el uso de vendajes rígidos, vendajes elásticos y usos de vendajes del tipo Cobán,el vendaje cobán o tipo muselina es similar en forma al kinesiotape solo que tiene la funcionalidad que al aplicarlo buscara generar mayor presión hacia la dermis del tejido dañado, lo que lo vuelve un elemento ideal en lesiones de quemaduras de pequeñas articulaciones como las falanges,
        </p>
        <img class="img-blog" src="/public/images/vendaje/vendaje-compresivo1.webp" alt="vendaje compresivo en esguinces">
        <h3 class="h3-blog">vendaje compresivo en esguinces</h3>
        <p class="p-blog">
            Aquí nace desde una técnica terapéutico básico en traumatología llamado PRICE la cual es una abreviatura es para recordar el tratamiento de esguinces cada letra significa presión, reducción hielo (ice) compresión y elevación, manejando esos principios se puede manejar de buena manera esguinces del grado I y II, por lo general los del grado III requerirán cirugía aunque inicialmente se podrá manejar de la misma manera es ideal que sea manejado por un cirujano en este ultimo caso. el objetivo general sera buscar estabilizar la lesión comprimir los edemas que provocara, reducir los eventos de hipermovilidad y con ello mejorar los procesos de cicatrización

            para este tipo de elementos se puede utilizar vendaje elástico normal vendaje neuro-muscular con técnica rígida o vendaje adhesivo rígido como leucotape, el cual es ideal pues han demostrado mejores resultados los vendajes adhesivos del tipo leucotape y vendajes adhesivos neuro-muscular tipo kinesiotape, ya que solo limitarían selectiva-mente los rangos de movimiento que provocarían la lesión evitando los procesos de atrofia muscular y acelerando los procesos de recuperación al controlar selectivamente la tensión que puede aplicarse sobre el tejido lesionado
        </p>
        <h2 class="h2-blog">Vendajes compresivos en úlceras venosas</h2>
        <img class="img.blog" src="/public/images/vendaje/vendaje-compresivo2.webp" alt="vendaje compresivo para ulceras">
        <p class="p-blog">
            es uno de los mejores métodos de tratamiento para este tipo de patologías ya que permite contener la lesión y favorecer el correcto retorno venoso ademas de adherir apósitos en casos de lesión abiertas

            La terapia con vendaje compresivo posee gran efectividad en la recuperación de ulceras venosas mejora la calidad de vida la sensación del dolor favoreciendo en general de las actividades básicas de la vivida diaria en los pacientes afectados por este mal .
        </p>
        <h3 class="h3-blog">vendaje compresivo en procesos de cirugía</h3>
        <p class="p-blog">
            En este caso es ideal, principalmente en cirugías como el tipo de liposucción en la cual el cirujano aplicara en ciertas zonas corporales una lesión sobre el tejido graso aspirándolo, que segundaríamente provocara procesos inflamatorios que deben controlarse con drenaje linfático o con vendaje compresivo, este procesos se puede manejar tanto con vendajes como con elementos de del tipo faja compresiva corporal

            También es usado idealmente en cirugías de las extremidades inferiores, en las cuales por efectos de la gravedad tanto de la operación como de los efectos de la gravedad misma se provocan edemas completos en la extremidad operada, la cual es fácil manejar con una técnica de vendaje compresivo, se puede utilizar vendajes tipo elástico, media elástica compresiva o vendaje tubular elástico compresivo para favorecer el retorno venoso y linfático
        </p>
        <img class="img-blog" src="/public/images/vendaje/vendaje-compresivo3.webp" alt="vendajes compresivos en cirugias">
        <h3 class="h3-blog">los mejores vendajes y elementos compresivos del mercado para comprar ¿cuanta presión debo aplicar al vendaje?</h3>
        <p class="p-blog">
            el grado y momentos de compresión de cada vendaje sera determinado primariamente por la características física y elásticas del vendaje, las dimensiones y zona del segmento corporal donde se aplica, el tipo de actividad, deporte o patología en caso de utilizar vendaje de tela elástico se estima que al menos al terminar le vendaje el usuario pueda introducir dos dedos. en caso contrario entraríamos en riegos de disminuir la irrigacion sanguinea y provocar en el peor de los casos un síndrome de volkmann

            Los vendajes compresivos, en aplicación de emergencias se usan en lesiones tendinosas, como primeros auxilios, herida de partes blandas abiertas o cerradas, aun asi el objetivo de la compresion en primeros auxilios se basa en coprimir las hemorragia usando gasas esteriles
        </p>
        <h3 class="h3-blog">Los mejores elementos para realizar vendajes compresivos</h3>
        <p class="p-blog">
            Se deben utilizar materiales que sean comprimibles como suelen ser de algodón sintético, celulosa o vendas de esponja y otro material que produzca compresión, como venda de gasa, venda de crepé, auto cohesivas o elásticas adhesivas.

            El tipo de vendaje dependerá de la estructura a tratar en eso variara el tamaño de ancho largo o topi de material a utilizar .
        </p>
        <p class="p-blog">
            Modo de colocación

            el modo de colocación dependerá de la zona anatómica a tratar y del tipo de patológicas ademas considerar que cada tipo de vendaje pose características diferentes entonces con unos seras mas fácil ciertas estructuras y con otros no , por ejemplo vendajes adhesivos serian ideales en zonas pequeñas como dedos o falanges o zonas de difícil manejos como la cara

            ahora el rollo de vendaje sera ideal en zonas anatomicas mas grandes como extemidades

            para ello se deben aprender como va el vendaje en cada zona.

            La compresión debe hacerse desde la zona distal a la proximal. El número de capas dependerá de la compresión necesaria y del material utilizado.

            similar al rollo de vendaje elástico de poliester en caso de rollo se debe anclar la zona dndo un par de vueltas alrededor para sujetarlo con la presión del mismo vendaje, luego se debe aplicar el vendaje con técnica compresiva según el objetivo el cual puede ser en espiral, en ocho etc.


        </p>
    </main>
    <%- include('../partial/footer2.ejs'); %>
    <%- include('../partial/boton2.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>
