<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog"> <%= tiTuloh1%> </h1>    
    </header>
    <main class="main-blog">
        <h2>¿como vendar tu rodilla?</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            para saber como podemos vendar la rodilla primero debemos saber que tipo de lesión tenemos, para ello una vez determinado podemos elegir que tipo de elemento o venda podemos aplicar, existen muchas formas y materiales para poder aplicar un correcto vendaje terapéutico en rodilla según que tipo de lesión tengamos, por lo mismo veremos algunos tipo de lesiones mas generales y que elementos son los mas adecuados para realizar un correcto vendaje
        </p>
        <h3>vendaje terapéutico de rodilla</h3>
        <p>
            entre los elementos que podemos utilizar están las clásicas vendas de tiras diseñadas en algunos con elástico, estas se pueden reutilizar, son ideales para contener edemas por esguinces de rodilla, artritis reumatoide la cual es muy inflamatoria, y en caso de proceso de quemaduras.

            la técnica adecuada para poder realizar un vendaje en esta zona sera vendaje en espiral o un vendaje en 8 para no limitar la movilidad en flexión de la rodilla

            existen otros elementos como rodilleras terapéuticas que están en el mercado de diferentes diseños, según necesidades de estabilización de la rotula, estabilización de ligamentos laterales, están los diseños que se pueden programar los ángulos de flexo extencion, entre varios modelos mas, lo principal es que el precio del producto depende mucho de su calidad asi que ne lo posible no escatimar costos.

            el otro método de aplicación es los vendajes funcionales los cuales se pueden aplicar con la técnica de kinesiotape, este método da mucha mayor libertad en cuando al tratamiento de diferentes formas o lesiones, ya que el vendaje es adhesivo, la aplicación es sencilla, existen cientos de tutoriales en Internet como aplicar, lo bueno que tiene es que puede dar estabilidad , favorece el drenaje de edemas, no limita la movilidad y el paciente se siente seguro con su uso


        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>dolor de rodilla y mejores técnicas de vendaje</h3>
        <p>
            dentro de las patologias que podemos tratar ocn vendaje asociado al dolor de rodilla, están:
        </p>
        <h3>ossgod laeter</h3>
        <p>
            es común en jóvenes en desarrollo, y provoca una inflamación en la inserción del tendón del cuadricep, técnica o elementos de venda mas optimo para esta lesión esta la aplicación con tensión sobre la zona en cuestión, con kinesiotape, o la aplicación de brace de rodilla para disminuir la tensión sobre el tendón rotuliano
        </p>
        <h3>menisco</h3>
        <p>la lesión de menisco en rodilla es complicada,al ser un elemento anatómico tan profundo por lo general en los procesos de desgarro de menisco lo ideal es la operación, en caso que aun no se pueda acceder a ella, lo ideal es controlar la carga de peso y mantener controlado el edema provocado por la lesión del menisco, para ello es ideal algún vendaje terapéutico en rodilla que pueda generar compresión como un vendaje en espiral, ideal que la tensión sea de mas a distal y menos a proximal, también funciona bastante bien una técnica de vendaje en espiral, o puede aplicarse técnica estabilizadoras o de drenaje con kinesiotape

        </p>
        <h2>prótesis de rodilla</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            para los procesos de prótesis de rodilla es ideal poder tener anticipadamente una correcta formación de muñón, esto se logra con un adecuado vendaje compresivo para amputados
        </p>
        <h3>rodilla inflamada</h3>
        <p>
            los procesos inflamatorios de rodilla pueden ser diversos , estos van desde esguinces, tendinitis, lesión de ligamentos cruzados, todos ellos tenderán a hinchar la articulación, para ello lo ideal es generar un proceso de vendaje compresivo, para disminuir el edema inicial, luego como técnica básica en terapia se tiende a elevar la extremidad y aplicar hielo
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>
