<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/fibrosis-quistica" class="breadcrumb">fibrosis quistica</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          
            <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n evaluacion con fonendoscopio</h2>
            <p class="p_blog">
                La fonendoscopia es una t&eacute;cnica fundamental en la evaluaci&oacute;n cl&iacute;nica de los pacientes, en particular en el examen de los ruidos respiratorios asociados a patologia respiratoria. En una persona sana, la auscultaci&oacute;n pulmonar normal revela sonidos respiratorios suaves y regulares, sin presencia de ruidos anormales.
          
                          El estetoscopio es un instrumento que permite una auscultaci&oacute;n precisa y detallada de los sonidos respiratorios, y se utiliza para evaluar tanto los ruidos inspiratorios como los espiratorios. El m&eacute;dico o el kinesi&oacute;logo, al realizar una auscultaci&oacute;n con estetoscopio, presta atenci&oacute;n a la presencia de ruidos respiratorios anormales, como sibilancias, crepitantes o roncus.
          
          
                          Los sonidos respiratorios normales se dividen en dos tipos: los sonidos traqueales y los sonidos bronquiales. Los sonidos traqueales son altos y ruidosos, y se escuchan en la parte superior del t&oacute;rax, cerca de la tr&aacute;quea. Los sonidos bronquiales son menos intensos que los traqueales y se escuchan en la parte inferior del t&oacute;rax, en las regiones pulmonares.
          
                          Sin embargo, en el caso de enfermedades pulmonares, los sonidos respiratorios pueden ser anormales y ser utilizados como herramienta diagn&oacute;stica. Por ejemplo, las sibilancias son ruidos agudos y silbantes que se producen cuando el aire fluye a trav&eacute;s de las v&iacute;as respiratorias estrechadas, como en el caso del asma. Los crepitantes, por otro lado, son ruidos finos y crujientes que se producen cuando los alv&eacute;olos se abren y se cierran, como en el caso de la neumon&iacute;a.
          
                          Otro ruido respiratorio patol&oacute;gico es el roncus, que se produce cuando las v&iacute;as respiratorias se estrechan y producen un sonido ronco o grave. Este tipo de ruido respiratorio se puede escuchar en pacientes con enfermedades pulmonares obstructivas como la enfermedad pulmonar obstructiva cr&oacute;nica (EPOC).
               </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/auscultacion1.webp" alt="kinesiologo auscultando paciente anciano">

            <p class="p_blog">
                Los ruidos respiratorios son causados por el flujo de aire a trav&eacute;s de las v&iacute;as a&eacute;reas, lo que produce vibraciones que percibimos como sonidos. Estas vibraciones se originan en zonas donde la velocidad del aire es mayor y donde las condiciones geom&eacute;tricas dificultan un flujo laminar, como la laringe y las bifurcaciones de los bronquios mayores. En las v&iacute;as a&eacute;reas perif&eacute;ricas, la velocidad del aire disminuye r&aacute;pidamente debido al aumento del &aacute;rea de secci&oacute;n, lo que resulta en un flujo laminar cerca de los alveolos donde no hay turbulencias ni ruidos respiratorios.
          
                      Diferentes estudios han demostrado que los ruidos respiratorios se originan principalmente en los bronquios mayores, especialmente los lobulares y segmentarios, y se transmiten a trav&eacute;s de las v&iacute;as a&eacute;reas hacia la boca y la periferia. El an&aacute;lisis de los ruidos registrados en la boca muestra una amplia variedad de frecuencias, mientras que los obtenidos en la pared tor&aacute;cica son principalmente de baja frecuencia, con menos de 500 Hz. Las v&iacute;as a&eacute;reas normales act&uacute;an como un filtro que s&oacute;lo permite la transmisi&oacute;n de frecuencias bajas, lo que tiene importantes implicaciones semiol&oacute;gicas.
               </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/vias-respiratorias.webp" alt="vias respiratorias">

            <h3>
                ruidos normales a la auscultacion
               </h3>
               <p class="p_blog">
                Los hechos mencionados ayudan a entender los sonidos normales que se escuchan al auscultar los pulmones:
                      Cuando se ausculta la tr&aacute;quea, se escucha un sonido alto y de alta frecuencia conocido como ruido traqueal, que se produce en toda la inspiraci&oacute;n y la espiraci&oacute;n, con una pausa neta entre las dos fases que se produce cuando el flujo disminuye y cae a cero.
          
                      En cambio, en &aacute;reas perif&eacute;ricas como la cara lateral de la base del t&oacute;rax, se percibe un sonido de baja frecuencia e intensidad llamado murmullo pulmonar debido a la filtraci&oacute;n del ruido. Normalmente se escucha en toda la inspiraci&oacute;n y en la espiraci&oacute;n, pero la intensidad del sonido cae significativamente durante la segunda mitad de la espiraci&oacute;n. Adem&aacute;s, se cree que el sonido se transmite con m&aacute;s dificultad durante la espiraci&oacute;n, ya que viaja en direcci&oacute;n contraria al flujo de aire.
          
                      En las zonas paravertebrales y paraesternales, el ruido es intermedio en t&eacute;rminos de intensidad y frecuencia, y su duraci&oacute;n es similar al ruido traqueal. Este sonido se llama ruido traqueobronquial.
               </p>
               <h3>
                transmisi&oacute;n de la voz
               </h3>
               <p class="p_blog">
                La voz humana es producida por el timbre de cada vocal, que est&aacute; compuesto por combinaciones &uacute;nicas de frecuencias para cada una. Sin embargo, cuando se ausculta la voz en la superficie del t&oacute;rax, las diferentes vocales no pueden ser reconocidas debido a que las altas frecuencias son filtradas por el tejido pulmonar. Esto hace que al pedirle a una persona que pronuncie ciertas palabras, como "treinta y tres", la auscultaci&oacute;n de la superficie del t&oacute;rax s&oacute;lo permita distinguir ruido y no las palabras en s&iacute;. Esta limitaci&oacute;n es com&uacute;n en individuos sanos.
               </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/.webp" alt="pulmones y calidad de voz">

            <h2>
                alteraciones de los ruidos respiratorios en condiciones patol&oacute;gicas
               </h2>
               <p class="p_blog">
                Las descripciones anteriores de los ruidos respiratorios pueden cambiar cuando hay alteraciones en el tejido pulmonar que afectan la transmisi&oacute;n del sonido.
                      
          
                      Disminuci&oacute;n de la generaci&oacute;n: Cuando hay una reducci&oacute;n del flujo a&eacute;reo debido a cualquier mecanismo, como una disminuci&oacute;n del comando ventilatorio u obstrucci&oacute;n de las v&iacute;as a&eacute;reas, se observa una disminuci&oacute;n del murmullo pulmonar.
               </p>
               <img alt="kinesiologo auscultando neumonia" class="responsive-img" loading="lazy" src="/public/images/respiratorio/respiratorio3.webp"/>
               <br/>
               <h3>
                Disminuci&oacute;n de la transmisi&oacute;n del sonido en auscultaci&oacute;n:
               </h3>
               <p class="p_blog">
                Si el espacio pleural est&aacute; lleno de l&iacute;quido (derrame pleural) o aire (neumot&oacute;rax), la transmisi&oacute;n de los ruidos y la voz disminuyen e incluso pueden desaparecer por completo. Esto tambi&eacute;n puede ocurrir en casos de enfisema pulmonar, en los cuales la transmisi&oacute;n es menor debido al aumento del contenido de aire en los espacios &aacute;ereos distales. Los grandes tumores pulmonares o pleurales tambi&eacute;n pueden disminuir la transmisi&oacute;n. En los casos de atelectasia pulmonar con v&iacute;as a&eacute;reas colapsadas o rellenas de secreciones, el pulm&oacute;n condensado sin una v&iacute;a a&eacute;rea permeable no transmite bien los ruidos, lo que es similar a un tumor. En pacientes muy obesos, la transmisi&oacute;n de los ruidos se dificulta por el grosor de las paredes. Lo mismo ocurre en la zona mamaria cuando las gl&aacute;ndulas son muy voluminosas.
               </p>
               <img alt="kinesiologo auscultando" class="responsive-img" loading="lazy" src="/public/images/respiratorio/pleura-liquido.webp"/>
               <h3>
                aumento de la transmisi&oacute;n del sonido
               </h3>
               <p class="p_blog">
               </p>
               Cuando el tejido pulmonar está condensado por el relleno de los alveolos y los bronquios permanecen permeables, la densidad aumentada facilita la transmisión del sonido a la superficie del tórax. Esto permite auscultar en la superficie del tórax un ruido similar al traquebronquial o incluso al traqueal, en lugares donde normalmente solo debería haber un murmullo pulmonar. Además, en estos casos, se produce una facilitación de la transmisión de la voz, lo que permite distinguir claramente las palabras habladas con la voz normal (broncofonía) o la voz susurrada (pectoriloquia áfona). En los límites superiores de los derrames, es posible escuchar una voz con tono caprino (egofonía), probablemente debido a la combinación de la condensación por atelectasia pasiva con el derrame.
               <h2>
                ruidos alterados adventicios en auscultacion pulmonar
               </h2>
               <p class="p_blog">
                Los ruidos  adventicios pueden ser producidos por tejido pulmonar o pleura anormales, aunque en algunas ocasiones tambi&eacute;n pueden escucharse en individuos sanos, como veremos a continuaci&oacute;n.
          
                      Uno de los ruidos m&aacute;s comunes son las crepitaciones , que son ruidos discontinuos, cortos, numerosos y de baja intensidad que se asemejan al sonido que se produce al frotar el pelo entre los dedos cerca de una oreja. Generalmente ocurren durante la inspiraci&oacute;n y se producen cuando existen condiciones que favorecen el colapso de las peque&ntilde;as v&iacute;as a&eacute;reas.
                      En zonas con obstrucci&oacute;n completa de las v&iacute;as a&eacute;reas, la presi&oacute;n negativa del territorio alveolar distal a la obstrucci&oacute;n aumenta exageradamente durante la inspiraci&oacute;n. A medida que se produce la inspiraci&oacute;n, finalmente se produce una apertura de las v&iacute;as a&eacute;reas, lo que causa una brusca entrada de aire que hace vibrar el tejido pulmonar, produciendo un sonido similar al que se escucha cuando se golpea un bote con las velas.

            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/crepitacion-pulmonar.webp" alt="kinesiologo auscultando">

            <h3>Las crepitaciones</h3> 
            <p class="p_blog">pueden ser observadas en enfermedades que causan exudado o transudado en pulm&oacute;n y v&iacute;as a&eacute;reas, as&iacute; como en enfermedades con obstrucci&oacute;n bronquial por diferentes mecanismos. Tambi&eacute;n se pueden observar en las bases pulmonares de personas sanas mayores, donde la p&eacute;rdida de elasticidad del pulm&oacute;n disminuye la tracci&oacute;n el&aacute;stica radial de las v&iacute;as a&eacute;reas, lo que causa su colapso en las zonas m&aacute;s bajas, especialmente si la persona permanece en reposo sin hacer inspiraciones profundas que las distiendan.
            </p>
           <h3>Ruidos pleurales.</h3>
           <p class="p_blog">  Se producen por el frote de las superficies pleurales inflamadas y cubiertas de exudado, y se asemejan al sonido producido por frotar dos cueros. En las zonas con derrame pleural, este ruido no se observa, ya que las pleuras est&aacute;n separadas por el l&iacute;quido.
            Sibilancias y roncus . Estos son ruidos continuos, generalmente m&uacute;ltiples, de alta frecuencia en el caso de las sibilancias y de baja frecuencia en el caso de los roncus. Se producen debido a la obstrucci&oacute;n de las v&iacute;as a&eacute;reas, que causa vibraciones en la pared de &eacute;stas. Estos ruidos son m&aacute;s intensos cuando la obstrucci&oacute;n es mayor, lo que los hace m&aacute;s audibles en posici&oacute;n dec&uacute;bito, donde la tracci&oacute;n radial sobre las v&iacute;as a&eacute;reas disminuye.
           </p>
           <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/niño-sibilancia.webp" alt="kinesiologo auscultando sibilancia">

            <h3> Respiración ruidosa.</h3>    
            <p class="p_blog">
                En condiciones normales, es dif&iacute;cil escuchar los ruidos respiratorios durante la respiraci&oacute;n tranquila. Sin embargo, en pacientes con obstrucci&oacute;n bronquial, la intensidad de estos ruidos aumenta y se vuelven m&aacute;s audibles.

                Cornaje.  Este ruido se produce por la obstrucci&oacute;n de las v&iacute;as a&eacute;reas superiores, como la laringe o la tr&aacute;quea. A menudo se asemeja a la voz humana y tiene una frecuencia m&aacute;s alta.

            <h2>tecnica de auscultacion pulmonar</h2>       
            <p class="p_blog"> 

                La t&eacute;cnica de auscultaci&oacute;n pulmonar se ha desarrollado a lo largo del tiempo y hoy en d&iacute;a se utiliza principalmente el estetoscopio o fonendoscopio. Este instrumento consta de una campana y una membrana, que permiten escuchar mejor los sonidos de baja y alta frecuencia, respectivamente. En la auscultaci&oacute;n pulmonar, sin embargo, no es necesario utilizar la campana y se puede auscultar con el lado de la membrana.

                Antes de comenzar la auscultaci&oacute;n, se debe pedir al paciente que respire profundamente, como si suspirara, lo que se puede demostrar al paciente. Es importante que el paciente respire por la boca para facilitar la maniobra. Se debe tener en cuenta que la hiperventilaci&oacute;n puede causar alcalosis respiratoria aguda, por lo que se debe advertir al paciente que informe si presenta mareos o parestesias, para interrumpir moment&aacute;neamente el examen.
    
                La auscultaci&oacute;n debe ser met&oacute;dica y cubrir la parte posterior, anterior y lateral del t&oacute;rax, incluyendo el hueco axilar. Se recomienda auscultar lugares hom&oacute;logos de ambos lados para detectar lesiones unilaterales. La auscultaci&oacute;n de la zona cubierta por la esc&aacute;pula y sus m&uacute;sculos puede ser m&aacute;s dif&iacute;cil, pero se puede mejorar pidiendo al paciente que cruce los brazos por delante del cuerpo, juntando los codos, lo que desplaza las esc&aacute;pulas y aumenta la zona auscultable.
    
                En los varones, es importante tener cuidado de no confundir el ruido del vello tor&aacute;cico con otros ruidos agregados. Para disminuir estos artefactos, se puede humedecer el vello o auscultar por encima de una camisa o camiseta delgada. Nunca se debe auscultar a trav&eacute;s de ropa m&aacute;s gruesa.
                
    
  
    
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/auscultacion-tecnica.webp" alt="kinesiologo auscultando con tecnica precisa">

            <h2>Tipos y modelos de estetoscopio</h2>
            <p class="p_blog">
          
                Existen varios modelos de fonendoscopios, cada uno con sus propias caracter&iacute;sticas y beneficios. Aqu&iacute; hay una lista de los modelos m&aacute;s comunes:
            </p>


            <h3>Fonendoscopio ac&uacute;stico:</h3> 
            <p class="p_blog">
                es el modelo m&aacute;s com&uacute;n y asequible. Utiliza una campana y una membrana para escuchar los sonidos del cuerpo. La campana se utiliza para sonidos de baja frecuencia y la membrana para sonidos de alta frecuencia.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-tradicional.webp" alt="fonendoscopio tradicional">

            <h3>Fonendoscopio electr&oacute;nico:</h3>  
            <p class="p_blog">
                es un modelo m&aacute;s avanzado que utiliza tecnolog&iacute;a de amplificaci&oacute;n de sonido para mejorar la calidad de los sonidos. Puede tener ajustes de volumen y filtros para mejorar la audici&oacute;n.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-electronico.webp" alt="estetoscopio electronico">

            <h3>Fonendoscopio de grabaci&oacute;n:</h3> 
            <p class="p_blog">
                este modelo permite grabar los sonidos para su posterior an&aacute;lisis y evaluaci&oacute;n. Es &uacute;til en investigaciones y estudios cl&iacute;nicos.
            
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-grabacion.webp" alt="fonendoscopio para gravar sonidos">
            <h3>Fonendoscopio de doble cabeza:</h3>   
            <p class="p_blog">
                este modelo tiene una campana en un extremo y una membrana en el otro. Permite al m&eacute;dico escuchar sonidos de baja y alta frecuencia con un solo dispositivo.            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-doble-cabeza.webp" alt="estetoscopio doble cabeza">
            <h3>pedi&aacute;trico:  </h3>  
            <p class="p_blog"> es un modelo dise&ntilde;ado espec&iacute;ficamente para la auscultaci&oacute;n en pacientes pedi&aacute;tricos. Tiene una campana y membrana m&aacute;s peque&ntilde;as y ajustes de sonido espec&iacute;ficos para la auscultaci&oacute;n en ni&ntilde;os.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-pediatrico.webp" alt="fonendoscopio pediatrico">
            <h3> Fonendoscopio fetal:</h3>  
            <p class="p_blog">
                Este modelo est&aacute; dise&ntilde;ado para auscultar los sonidos del coraz&oacute;n fetal durante el embarazo.               </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-fetal.webp" alt="kinesiologo auscultando">
            <h3>Fonendoscopio cardiol&oacute;gico:</h3>  
            <p class="p_blog">
                Un fonendoscopio card&iacute;aco, tambi&eacute;n conocido como estetoscopio card&iacute;aco, est&aacute; dise&ntilde;ado espec&iacute;ficamente para la auscultaci&oacute;n de sonidos card&iacute;acos. Este tipo de fonendoscopio tiene dos lados: uno para auscultar sonidos de baja frecuencia y otro para sonidos de alta frecuencia.
            

                El lado para sonidos de baja frecuencia tiene una campana grande que se coloca en el pecho del paciente para escuchar sonidos como el S1 y S2, los dos principales sonidos del coraz&oacute;n. El lado para sonidos de alta frecuencia tiene una membrana peque&ntilde;a que se utiliza para auscultar sonidos m&aacute;s agudos como los soplos y chasquidos.
                
    
                Los fonendoscopios card&iacute;acos tambi&eacute;n pueden tener caracter&iacute;sticas adicionales como la posibilidad de ajustar la presi&oacute;n de la campana y la membrana, lo que permite una mejor adaptaci&oacute;n a la anatom&iacute;a del paciente. Adem&aacute;s, algunos modelos cuentan con filtros que eliminan el ruido ambiente y mejoran la calidad de los sonidos card&iacute;acos auscultados.
                
  
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-cardio.webp" alt="kinesiologo auscultando en cardiorehabilitacion">

            <h2>Lista de las mejores marcas de fonendoscopio</h2>
            <p class="p_blog">
  
                L
    
                Algunas de las mejores marcas de fonendoscopios seg&uacute;n la opini&oacute;n de muchos profesionales de la salud son:            </p>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/littmann-logo_bw1.webp" alt="3M Littmann">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/Welch-Allyn.webp" alt="Welch Allyn">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/ADC.webp" alt="ADC">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/MDF-Instruments.webp" alt="MDF Instruments">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/Prestige-Medical.webp" alt="Prestige Medical">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/Riester.webp" alt=" Riester">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/ultrascope.webp" alt=" Ultrascope>
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/Omron.webp" alt="Omron">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/American-Diagnostic-Corporation.webp" alt="American Diagnostic Corporation">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/Heine.webp" alt=" Heine">
                </a>
            </div>

          
            
          
           
           
            
            
           
            Es importante destacar que la elecci&oacute;n de un fonendoscopio depender&aacute; de las necesidades y preferencias individuales de cada profesional de la salud.

             <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/auscultacion.webp" alt="kinesiologo auscultando">


                
                
        </article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>