<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/fibrosis-quistica" class="breadcrumb">fibrosis quistica</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          
            <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n evaluacion con fonendoscopio</h2>
            <p class="p_blog">
                La fonendoscopia es una técnica fundamental en la evaluación clínica de los pacientes, en particular en el examen de los ruidos respiratorios asociados a patologia respiratoria. En una persona sana, la auscultación pulmonar normal revela sonidos respiratorios suaves y regulares, sin presencia de ruidos anormales.

                El estetoscopio es un instrumento que permite una auscultación precisa y detallada de los sonidos respiratorios, y se utiliza para evaluar tanto los ruidos inspiratorios como los espiratorios. El médico o el kinesiólogo, al realizar una auscultación con estetoscopio, presta atención a la presencia de ruidos respiratorios anormales, como sibilancias, crepitantes o roncus.


                Los sonidos respiratorios normales se dividen en dos tipos: los sonidos traqueales y los sonidos bronquiales. Los sonidos traqueales son altos y ruidosos, y se escuchan en la parte superior del tórax, cerca de la tráquea. Los sonidos bronquiales son menos intensos que los traqueales y se escuchan en la parte inferior del tórax, en las regiones pulmonares.

                Sin embargo, en el caso de enfermedades pulmonares, los sonidos respiratorios pueden ser anormales y ser utilizados como herramienta diagnóstica. Por ejemplo, las sibilancias son ruidos agudos y silbantes que se producen cuando el aire fluye a través de las vías respiratorias estrechadas, como en el caso del asma. Los crepitantes, por otro lado, son ruidos finos y crujientes que se producen cuando los alvéolos se abren y se cierran, como en el caso de la neumonía.

                Otro ruido respiratorio patológico es el roncus, que se produce cuando las vías respiratorias se estrechan y producen un sonido ronco o grave. Este tipo de ruido respiratorio se puede escuchar en pacientes con enfermedades pulmonares obstructivas como la enfermedad pulmonar obstructiva crónica (EPOC).



            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/auscultacion1.webp" alt="kinesiologo auscultando paciente anciano">

            <h2> Ruidos respiratorios normales</h2>
            <p class="p_blog">
            Los ruidos respiratorios son causados por el flujo de aire a través de las vías aéreas, lo que produce vibraciones que percibimos como sonidos. Estas vibraciones se originan en zonas donde la velocidad del aire es mayor y donde las condiciones geométricas dificultan un flujo laminar, como la laringe y las bifurcaciones de los bronquios mayores. En las vías aéreas periféricas, la velocidad del aire disminuye rápidamente debido al aumento del área de sección, lo que resulta en un flujo laminar cerca de los alveolos donde no hay turbulencias ni ruidos respiratorios.

            Diferentes estudios han demostrado que los ruidos respiratorios se originan principalmente en los bronquios mayores, especialmente los lobulares y segmentarios, y se transmiten a través de las vías aéreas hacia la boca y la periferia. El análisis de los ruidos registrados en la boca muestra una amplia variedad de frecuencias, mientras que los obtenidos en la pared torácica son principalmente de baja frecuencia, con menos de 500 Hz. Las vías aéreas normales actúan como un filtro que sólo permite la transmisión de frecuencias bajas, lo que tiene importantes implicaciones semiológicas.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/vias-respiratorias.webp" alt="vias respiratorias">

             <h3>ruidos normales a la auscultacion</h3>
            <p class="p_blog">

            Los hechos mencionados ayudan a entender los sonidos normales que se escuchan al auscultar los pulmones:
            Cuando se ausculta la tráquea, se escucha un sonido alto y de alta frecuencia conocido como ruido traqueal, que se produce en toda la inspiración y la espiración, con una pausa neta entre las dos fases que se produce cuando el flujo disminuye y cae a cero.

            En cambio, en áreas periféricas como la cara lateral de la base del tórax, se percibe un sonido de baja frecuencia e intensidad llamado murmullo pulmonar debido a la filtración del ruido. Normalmente se escucha en toda la inspiración y en la espiración, pero la intensidad del sonido cae significativamente durante la segunda mitad de la espiración. Además, se cree que el sonido se transmite con más dificultad durante la espiración, ya que viaja en dirección contraria al flujo de aire.

            En las zonas paravertebrales y paraesternales, el ruido es intermedio en términos de intensidad y frecuencia, y su duración es similar al ruido traqueal. Este sonido se llama ruido traqueobronquial.
            </p>

            <h3>transmisión de la voz</h3>
            <p class="p_blog">
            La voz humana es producida por el timbre de cada vocal, que está compuesto por combinaciones únicas de frecuencias para cada una. Sin embargo, cuando se ausculta la voz en la superficie del tórax, las diferentes vocales no pueden ser reconocidas debido a que las altas frecuencias son filtradas por el tejido pulmonar. Esto hace que al pedirle a una persona que pronuncie ciertas palabras, como "treinta y tres", la auscultación de la superficie del tórax sólo permita distinguir ruido y no las palabras en sí. Esta limitación es común en individuos sanos.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/respiratorio1.webp" alt="pulmones y calidad de voz">

            <h2>alteraciones de los ruidos respiratorios en condiciones patológicas</h2>
            <p class="p_blog">

            Las descripciones anteriores de los ruidos respiratorios pueden cambiar cuando hay alteraciones en el tejido pulmonar que afectan la transmisión del sonido.
            <br>

            Disminución de la generación: Cuando hay una reducción del flujo aéreo debido a cualquier mecanismo, como una disminución del comando ventilatorio u obstrucción de las vías aéreas, se observa una disminución del murmullo pulmonar.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/respiratorio3.webp" alt="kinesiologo auscultando neumonia">
            <br>
            <h3>Disminución de la transmisión del sonido en auscultación: </h3>
            <p class="p_blog">

            Si el espacio pleural está lleno de líquido (derrame pleural) o aire (neumotórax), la transmisión de los ruidos y la voz disminuyen e incluso pueden desaparecer por completo. Esto también puede ocurrir en casos de enfisema pulmonar, en los cuales la transmisión es menor debido al aumento del contenido de aire en los espacios áereos distales. Los grandes tumores pulmonares o pleurales también pueden disminuir la transmisión. En los casos de atelectasia pulmonar con vías aéreas colapsadas o rellenas de secreciones, el pulmón condensado sin una vía aérea permeable no transmite bien los ruidos, lo que es similar a un tumor. En pacientes muy obesos, la transmisión de los ruidos se dificulta por el grosor de las paredes. Lo mismo ocurre en la zona mamaria cuando las glándulas son muy voluminosas.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/pleura-liquido.webp" alt="kinesiologo auscultando">

            <h3>aumento de la transmisión del sonido </h3>
            <p class="p_blog"></p>
            Cuando el tejido pulmonar está condensado por el relleno de los alveolos y los bronquios permanecen permeables, la densidad aumentada facilita la transmisión del sonido a la superficie del tórax. Esto permite auscultar en la superficie del tórax un ruido similar al traquebronquial o incluso al traqueal, en lugares donde normalmente solo debería haber un murmullo pulmonar. Además, en estos casos, se produce una facilitación de la transmisión de la voz, lo que permite distinguir claramente las palabras habladas con la voz normal (broncofonía) o la voz susurrada (pectoriloquia áfona). En los límites superiores de los derrames, es posible escuchar una voz con tono caprino (egofonía), probablemente debido a la combinación de la condensación por atelectasia pasiva con el derrame.
            </p>

            <h2>ruidos alterados adventicios en auscultacion pulmonar</h2>        
            <p class="p_blog">
            Los ruidos  adventicios pueden ser producidos por tejido pulmonar o pleura anormales, aunque en algunas ocasiones también pueden escucharse en individuos sanos, como veremos a continuación.

            Uno de los ruidos más comunes son las <strong>crepitaciones</strong> , que son ruidos discontinuos, cortos, numerosos y de baja intensidad que se asemejan al sonido que se produce al frotar el pelo entre los dedos cerca de una oreja. Generalmente ocurren durante la inspiración y se producen cuando existen condiciones que favorecen el colapso de las pequeñas vías aéreas.
            En zonas con obstrucción completa de las vías aéreas, la presión negativa del territorio alveolar distal a la obstrucción aumenta exageradamente durante la inspiración. A medida que se produce la inspiración, finalmente se produce una apertura de las vías aéreas, lo que causa una brusca entrada de aire que hace vibrar el tejido pulmonar, produciendo un sonido similar al que se escucha cuando se golpea un bote con las velas.

            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/crepitacion-pulmonar.webp" alt="kinesiologo auscultando">

            <h3>Las crepitaciones</h3> 
            <p class="p_blog">pueden ser observadas en enfermedades que causan exudado o transudado en pulmón y vías aéreas, así como en enfermedades con obstrucción bronquial por diferentes mecanismos. También se pueden observar en las bases pulmonares de personas sanas mayores, donde la pérdida de elasticidad del pulmón disminuye la tracción elástica radial de las vías aéreas, lo que causa su colapso en las zonas más bajas, especialmente si la persona permanece en reposo sin hacer inspiraciones profundas que las distiendan.
            </p>
           <h3>Ruidos pleurales.</h3>
           <p class="p_blog">  Se producen por el frote de las superficies pleurales inflamadas y cubiertas de exudado, y se asemejan al sonido producido por frotar dos cueros. En las zonas con derrame pleural, este ruido no se observa, ya que las pleuras están separadas por el líquido.
           <strong>Sibilancias y roncus</strong> . Estos son ruidos continuos, generalmente múltiples, de alta frecuencia en el caso de las sibilancias y de baja frecuencia en el caso de los roncus. Se producen debido a la obstrucción de las vías aéreas, que causa vibraciones en la pared de éstas. Estos ruidos son más intensos cuando la obstrucción es mayor, lo que los hace más audibles en posición decúbito, donde la tracción radial sobre las vías aéreas disminuye.
           </p>
           <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/niño-sibilancia.webp" alt="kinesiologo auscultando sibilancia">

            <h3> Respiración ruidosa.</h3>    
            <p class="p_blog">
            En condiciones normales, es difícil escuchar los ruidos respiratorios durante la respiración tranquila. Sin embargo, en pacientes con obstrucción bronquial, la intensidad de estos ruidos aumenta y se vuelven más audibles.

            <strong>Cornaje.</strong>  Este ruido se produce por la obstrucción de las vías aéreas superiores, como la laringe o la tráquea. A menudo se asemeja a la voz humana y tiene una frecuencia más alta.

            <h2>tecnica de auscultacion pulmonar</h2>       
            <p class="p_blog"> 

            La técnica de auscultación pulmonar se ha desarrollado a lo largo del tiempo y hoy en día se utiliza principalmente el estetoscopio o fonendoscopio. Este instrumento consta de una campana y una membrana, que permiten escuchar mejor los sonidos de baja y alta frecuencia, respectivamente. En la auscultación pulmonar, sin embargo, no es necesario utilizar la campana y se puede auscultar con el lado de la membrana.

            Antes de comenzar la auscultación, se debe pedir al paciente que respire profundamente, como si suspirara, lo que se puede demostrar al paciente. Es importante que el paciente respire por la boca para facilitar la maniobra. Se debe tener en cuenta que la hiperventilación puede causar alcalosis respiratoria aguda, por lo que se debe advertir al paciente que informe si presenta mareos o parestesias, para interrumpir momentáneamente el examen.

            La auscultación debe ser metódica y cubrir la parte posterior, anterior y lateral del tórax, incluyendo el hueco axilar. Se recomienda auscultar lugares homólogos de ambos lados para detectar lesiones unilaterales. La auscultación de la zona cubierta por la escápula y sus músculos puede ser más difícil, pero se puede mejorar pidiendo al paciente que cruce los brazos por delante del cuerpo, juntando los codos, lo que desplaza las escápulas y aumenta la zona auscultable.

            En los varones, es importante tener cuidado de no confundir el ruido del vello torácico con otros ruidos agregados. Para disminuir estos artefactos, se puede humedecer el vello o auscultar por encima de una camisa o camiseta delgada. Nunca se debe auscultar a través de ropa más gruesa.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/auscultacion-tecnica.webp" alt="kinesiologo auscultando con tecnica precisa">

            <h2>Tipos y modelos de estetoscopio</h2>
            <p class="p_blog">
            Existen varios modelos de fonendoscopios, cada uno con sus propias características y beneficios. Aquí hay una lista de los modelos más comunes:
            </p>


            <h3>Fonendoscopio acústico:</h3> 
            <p class="p_blog">es el modelo más común y asequible. Utiliza una campana y una membrana para escuchar los sonidos del cuerpo. La campana se utiliza para sonidos de baja frecuencia y la membrana para sonidos de alta frecuencia.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-tradicional.webp" alt="fonendoscopio tradicional">

            <h3>Fonendoscopio electrónico:</h3>  
            <p class="p_blog">
            es un modelo más avanzado que utiliza tecnología de amplificación de sonido para mejorar la calidad de los sonidos. Puede tener ajustes de volumen y filtros para mejorar la audición.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-electronico.webp" alt="estetoscopio electronico">

            <h3>Fonendoscopio de grabación:</h3> 
            <p class="p_blog">
            este modelo permite grabar los sonidos para su posterior análisis y evaluación. Es útil en investigaciones y estudios clínicos.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-grabacion.webp" alt="fonendoscopio para gravar sonidos">
            <h3>Fonendoscopio de doble cabeza:</h3>   
            <p class="p_blog">
            este modelo tiene una campana en un extremo y una membrana en el otro. Permite al médico escuchar sonidos de baja y alta frecuencia con un solo dispositivo.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-doble-cabeza.webp" alt="estetoscopio doble cabeza">
            <h3>Fonendoscopio pediátrico: </h3>  
            <p class="p_blog"> es un modelo diseñado específicamente para la auscultación en pacientes pediátricos. Tiene una campana y membrana más pequeñas y ajustes de sonido específicos para la auscultación en niños.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-pediatrico.webp" alt="fonendoscopio pediatrico">
            <h3> Fonendoscopio fetal:</h3>  
            <p class="p_blog">
            Este modelo está diseñado para auscultar los sonidos del corazón fetal durante el embarazo.   
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-fetal.webp" alt="kinesiologo auscultando">
            <h3>Fonendoscopio cardiológico:</h3>  
            <p class="p_blog">
            Un fonendoscopio cardíaco, también conocido como estetoscopio cardíaco, está diseñado específicamente para la auscultación de sonidos cardíacos. Este tipo de fonendoscopio tiene dos lados: uno para auscultar sonidos de baja frecuencia y otro para sonidos de alta frecuencia.
            <br>

            El lado para sonidos de baja frecuencia tiene una campana grande que se coloca en el pecho del paciente para escuchar sonidos como el S1 y S2, los dos principales sonidos del corazón. El lado para sonidos de alta frecuencia tiene una membrana pequeña que se utiliza para auscultar sonidos más agudos como los soplos y chasquidos.
            <br>

            Los fonendoscopios cardíacos también pueden tener características adicionales como la posibilidad de ajustar la presión de la campana y la membrana, lo que permite una mejor adaptación a la anatomía del paciente. Además, algunos modelos cuentan con filtros que eliminan el ruido ambiente y mejoran la calidad de los sonidos cardíacos auscultados.
            </p>
            <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fonendoscopio-cardio.webp" alt="kinesiologo auscultando en cardiorehabilitacion">

            <h2>Lista de las mejores marcas de fonendoscopio</h2>
            <p class="p_blog">
            Algunas de las mejores marcas de fonendoscopios según la opinión de muchos profesionales de la salud son:
            </p>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/littmann-logo_bw1.webp" alt="3M Littmann">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/Welch-Allyn.webp" alt="Welch Allyn">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/ADC.webp" alt="ADC">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/MDF-Instruments.webp" alt="MDF Instruments">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/Prestige-Medical.webp" alt="Prestige Medical">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/Riester.webp" alt=" Riester">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/ultrascope.webp" alt=" Ultrascope>
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/Omron.webp" alt="Omron">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/American-Diagnostic-Corporation.webp" alt="American Diagnostic Corporation">
                </a>
            </div>
            <div class="brand-container">
                <a href="#" target="_blank">
                    <img src="/public/images/respiratorio/logo/Heine.webp" alt=" Heine">
                </a>
            </div>

          
            
          
           
           
            
            
           
            Es importante destacar que la elección de un fonendoscopio dependerá de las necesidades y preferencias individuales de cada profesional de la salud.

             <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/auscultacion.webp" alt="kinesiologo auscultando">


                
                
        </article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>