<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/fibrosis-quistica" class="breadcrumb">fibrosis quistica</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          
            <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n respiratoria patolog&iacute;a Neumonía</h2>
            <p class="p_blog">
                La neumonía es una infección pulmonar aguda que puede ser causada por diferentes tipos de microorganismos, como bacterias, virus y hongos. Los síntomas incluyen fiebre, tos con moco, dificultad para respirar, dolor en el pecho, fatiga y debilidad. La neumonía puede ser una enfermedad grave, especialmente en niños pequeños, ancianos y personas con sistemas inmunológicos debilitados (ya sean pacientes con cancer o VIH). Es importante que cualquier persona que experimente síntomas de neumonía busque atención médica de inmediato para recibir tratamiento adecuado y prevenir complicaciones graves.

            </p>

                <h2>Causas principales de neumonía:</h2>
                
                <p class="p_blog">La neumonía puede ser causada por diferentes tipos de microorganismos, pero las causas principales son las bacterias y los virus. Las bacterias que con mayor frecuencia causan neumonía son Streptococcus pneumoniae, Haemophilus influenzae y Staphylococcus aureus. Los virus que pueden causar neumonía incluyen el virus de la influenza, el virus sincitial respiratorio, el adenovirus y el virus de la parainfluenza. La neumonía también puede ser causada por hongos, especialmente en personas con sistemas inmunológicos debilitados, como pacientes con VIH/SIDA, pacientes con cáncer o personas que reciben tratamiento con corticosteroides.
                </p>
                
                <h2>Sintomatología de la neumonía:</h2>
                <p class="p_blog">
                La neumonía puede tener diferentes síntomas, pero los síntomas más comunes incluyen:
                <ul>
                    <li>Fiebre</li>
                    <li>Tos con moco</li>
                    <li>Dificultad para respirar</li>
                    <li>Dolor en el pecho</li>
                    <li>Fatiga y debilidad</li>
                </ul>           
                              
                
                
                En los niños pequeños y en los ancianos, los síntomas pueden ser menos específicos y pueden incluir confusión, somnolencia y falta de apetito.
                </p>
                
                <h2>Diagnóstico de la neumonía:</h2>
                <p class="p_blog">
                    El diagnóstico de la neumonía se basa en los síntomas clínicos y en los resultados de los exámenes de diagnóstico. Los exámenes clínicos pueden incluir la auscultación del pecho con un estetoscopio para detectar sonidos respiratorios anormales. Los exámenes de diagnóstico pueden incluir radiografías de tórax, tomografías computarizadas (TC) y análisis de sangre para detectar la presencia de bacterias o virus en la sangre. Además, los médicos pueden realizar pruebas de laboratorio para analizar muestras de esputo y detectar la presencia de bacterias o virus.
                </p>
                
                
                <h2>Tratamiento de la neumonía:</h2>
                <p class="p_blog">
                
                El tratamiento de la neumonía depende de la causa subyacente de la infección. Si la neumonía es causada por una bacteria, se puede tratar con antibióticos. Si la neumonía es causada por un virus, no hay un tratamiento específico y los médicos pueden prescribir medicamentos antivirales para aliviar los síntomas. En algunos casos, los pacientes pueden necesitar hospitalización y recibir tratamiento intravenoso con antibióticos o antivirales.
                
                Además del tratamiento farmacológico, se pueden recomendar otros tratamientos para aliviar los síntomas de la neumonía. Los pacientes pueden necesitar tomar medicamentos para reducir la fiebre y y la sintomatologia general
                </p>    

                
                <h2>Diagnóstico de la neumonía laboratorio e imagen:</h2>
                <p class="p_blog">

                El diagnóstico de la neumonía generalmente se realiza a través de la historia clínica y un examen físico completo. Se pueden realizar pruebas de laboratorio, como análisis de sangre y cultivos de esputo, para identificar el tipo de infección y el agente causante de la neumonía. También se pueden realizar pruebas de imagen, como radiografías de tórax o tomografías computarizadas (TC), para evaluar la gravedad y la extensión de la infección.
                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/radiografia-torax.webp" alt="radiografia de torax en neumonia">

                <h2>Tratamiento de la neumonía:</h2>
                <p class="p_blog">
                el kinesiólogo desempeña un papel importante en la rehabilitación pulmonar y en la prevención de complicaciones respiratorias. A continuación, te detallo algunos aspectos clave del tratamiento de la neumonía y cómo el kinesiólogo puede ayudar:
          

                El tratamiento de la neumonía depende de la causa subyacente de la infección. Si la neumonía es bacteriana, se tratará con antibióticos. Los antibióticos se administran generalmente por vía oral o intravenosa, según la gravedad de la infección. Si la neumonía es viral, se pueden administrar.
                </p>


               <h3>Oxigenoterapia:</h3> 
               <p class="p_blog"> En algunos casos, la neumonía puede provocar una disminución en los niveles de oxígeno en sangre. El kinesiólogo puede colaborar en la administración de oxígeno a través de diferentes dispositivos como cánulas nasales o mascarillas.
               </p>
               <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/oxigeno-terapia.webp" alt="oxigeno terapia">

               <h3>Ejercicios respiratorios:</h3>  
               <p class="p_blog">
                    El kinesiólogo puede diseñar y supervisar programas de ejercicios respiratorios que incluyan técnicas de respiración profunda, tos efectiva y expansión pulmonar, para ayudar a mejorar la función respiratoria y disminuir la posibilidad de complicaciones.
               </p>


                <h3>Movilización temprana:</h3>
                <p class="p_blog">
                 El kinesiólogo puede promover la movilización temprana del paciente para prevenir la pérdida de fuerza muscular y disminuir el riesgo de complicaciones relacionadas con la inmovilidad.
                </p>

                <h3>Asistencia ventilatoria: </h3>
                <p class="p_blog">
                    En casos graves, la neumonía puede requerir ventilación mecánica, un procedimiento que involucra la utilización de un respirador. El kinesiólogo puede colaborar en la administración de la ventilación mecánica y en la prevención de complicaciones asociadas a la misma.
                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/ventilacion-mecanica.webp" alt="ventilacion mecanica">

                <h3>aspiracion de secreciones: </h3>
                <p class="p_blog">
                La aspiración de secreciones es una técnica utilizada para eliminar la mucosidad o secreciones que se acumulan en las vías respiratorias de un paciente con neumonía. Esta técnica es especialmente importante en pacientes que tienen dificultad para eliminar las secreciones de forma natural debido a su enfermedad.

                La aspiración se realiza mediante la inserción de un tubo de succión a través de la nariz o la boca del paciente hasta el nivel de las vías respiratorias. El kinesiólogo, en colaboración con el equipo médico, puede utilizar diferentes técnicas de aspiración de secreciones en función de la edad del paciente y de la gravedad de la neumonía.

                La técnica de aspiración puede ser incómoda para el paciente, pero es fundamental para prevenir la acumulación de secreciones que podrían empeorar la función respiratoria y favorecer la proliferación de microorganismos que pueden causar infecciones secundarias.

                Es importante que la aspiración de secreciones sea realizada por personal capacitado y en un entorno adecuado para prevenir complicaciones como la aspiración accidental de alimentos o líquidos, traumatismos en las vías respiratorias o infecciones secundarias.

                En resumen, la aspiración de secreciones es una técnica importante en el tratamiento de la neumonía que puede ayudar a mejorar la función respiratoria y prevenir complicaciones. El kinesiólogo desempeña un papel fundamental en el tratamiento de la neumonía, colaborando en la rehabilitación pulmonar y en la prevención de complicaciones respiratorias puede colaborar en la aplicación de esta técnica de aspiración y en la prevención de complicaciones asociadas a la misma.


                </p>

                <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/aspiracion-secreciones.webp" alt="aspiracion de secreciones con turbina">

                <h2>vacunacion preventiva contra la influencia en Chile</h2>
                <p class="p_blog">
                    El proceso de vacunación contra la influenza en Chile es una campaña anual que busca prevenir la enfermedad y reducir su impacto en la población. La vacunación se realiza generalmente entre marzo y mayo, antes del invierno, que es cuando la enfermedad se propaga con mayor facilidad.

                    En Chile, la vacuna contra la influenza es gratuita y está dirigida a grupos prioritarios, que incluyen a niños y niñas entre 6 meses y 5 años, adultos mayores de 65 años, mujeres embarazadas y personas con ciertas condiciones de salud crónicas, como enfermedades respiratorias o cardiovasculares.

                    El proceso de vacunación se realiza a través de diferentes puntos de vacunación, como centros de salud, hospitales y establecimientos educacionales, entre otros. Además, en algunas ocasiones, se realizan campañas de vacunación masiva en lugares públicos, como plazas y estaciones de metro.

                    En el contexto de la pandemia de COVID-19, el proceso de vacunación contra la influenza en Chile ha incluido medidas de seguridad sanitaria, como el uso de mascarillas, la higiene de manos y la distancia física entre las personas.

                    La vacuna es gratuita para la población en riesgo y se realiza a través de diferentes puntos de vacunación como centros vacunatorios y Cesfam con medidas de seguridad sanitaria adicionales en el contexto de la pandemia de COVID-19.
                </p>

                
                
                <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fibrosis-quistica.webp" alt="kinesiologo y Neumonia">


                
                
        </article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>