<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/vrs" class="breadcrumb">VRS</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          
            <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n respiratoria patolog&iacute;a EPOC</h2>
            <p class="p_blog">
                El virus respiratorio sincicial (VRS) es una infecci&oacute;n viral com&uacute;n que afecta principalmente a los ni&ntilde;os peque&ntilde;os y beb&eacute;s. En Chile, el VRS es una de las principales causas de enfermedades respiratorias en la poblaci&oacute;n infantil y se presenta con mayor frecuencia durante los meses de invierno.

                El VRS es una enfermedad contagiosa que se transmite a trav&eacute;s de la saliva, las secreciones nasales y la tos de una persona infectada. Los s&iacute;ntomas del VRS pueden variar desde una simple infecci&oacute;n de las v&iacute;as respiratorias superiores hasta una infecci&oacute;n m&aacute;s grave de las v&iacute;as respiratorias inferiores, como la bronquiolitis y la neumon&iacute;a.
                
                La bronquiolitis es una inflamaci&oacute;n de los bronquiolos, los tubos m&aacute;s peque&ntilde;os dentro de los pulmones, que puede causar dificultad para respirar y sibilancias. La neumon&iacute;a, por otro lado, es una infecci&oacute;n de los pulmones que puede causar fiebre alta, tos y dificultad para respirar.
                
                El tratamiento del VRS depende de la gravedad de la infecci&oacute;n y puede incluir el uso de medicamentos antivirales y terapias de soporte respiratorio, como la oxigenoterapia. La kinesiolog&iacute;a es una disciplina m&eacute;dica que tambi&eacute;n puede ser &uacute;til en el tratamiento de la bronquiolitis y la neumon&iacute;a causadas por el VRS.
                
                La kinesiolog&iacute;a respiratoria se enfoca en el diagn&oacute;stico y tratamiento de las disfunciones respiratorias, como la obstrucci&oacute;n de las v&iacute;as respiratorias y la debilidad muscular. En el caso del VRS, la kinesiolog&iacute;a respiratoria puede ser &uacute;til para mejorar la respiraci&oacute;n del paciente y reducir los s&iacute;ntomas de la enfermedad.
                
                Los kinesi&oacute;logos pueden utilizar t&eacute;cnicas de fisioterapia respiratoria, como la vibraci&oacute;n y la percusi&oacute;n, para ayudar a eliminar las secreciones acumuladas en los pulmones y las v&iacute;as respiratorias. Tambi&eacute;n pueden ense&ntilde;ar ejercicios de respiraci&oacute;n y t&eacute;cnicas de relajaci&oacute;n para mejorar la capacidad pulmonar y reducir la dificultad para respirar.
                
                En resumen, el virus respiratorio sincicial es una infecci&oacute;n com&uacute;n en Chile que afecta principalmente a los ni&ntilde;os peque&ntilde;os y beb&eacute;s durante los meses de invierno. La bronquiolitis y la neumon&iacute;a son dos de las complicaciones m&aacute;s graves de esta enfermedad. El tratamiento del VRS puede incluir el uso de medicamentos antivirales y terapias de soporte respiratorio, como la kinesiolog&iacute;a respiratoria, que puede mejorar la respiraci&oacute;n del paciente y reducir los s&iacute;ntomas de la enfermedad.   
            </p>
                
                <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/virusvrs.webp" alt="hkinesiologo en EPOC">


                
                
        </article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>