<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/fibrosis-quistica" class="breadcrumb">fibrosis quistica</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          
            <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n patologias al cerebelo</h2>
            <p class="p_blog">
                El cerebelo es una estructura cerebral encargada de regular y coordinar los movimientos y el equilibrio corporal. Cuando esta estructura sufre una lesión o enfermedad, se pueden presentar una serie de patologías que afectan la calidad de vida del paciente, como la ataxia, la disartria, la dismetría, la disdiadococinesia y la nistagmus.

                La ataxia se define como la dificultad para coordinar los movimientos voluntarios, lo que puede llevar a un andar inestable y torpe. La disartria es una alteración del habla, que se caracteriza por la dificultad para articular las palabras con claridad y fluidez. La dismetría, por otro lado, es la incapacidad de calcular de manera precisa la distancia o amplitud de los movimientos. La disdiadococinesia se refiere a la dificultad para realizar movimientos rápidos y alternantes, como en el caso de tocar el piano o hacer malabarismos. Finalmente, el nistagmus es un movimiento involuntario y rítmico de los ojos.
                
                La rehabilitación del kinesiólogo en estas patologías es fundamental para mejorar la calidad de vida del paciente, y se pueden emplear diversas técnicas de neurorehabilitación para lograr una recuperación óptima. A continuación, se presentan algunas de las técnicas más comunes:
                
                Ejercicios de equilibrio y coordinación: se pueden realizar ejercicios específicos para mejorar el equilibrio y la coordinación, como el equilibrio sobre una pierna, caminar sobre diferentes superficies o realizar movimientos coordinados con los brazos y las piernas.
                
                Terapia ocupacional: la terapia ocupacional se centra en mejorar las habilidades motoras finas y las actividades de la vida diaria, como la escritura, el uso de utensilios de cocina o la realización de tareas domésticas. Se pueden utilizar dispositivos de asistencia, como los adaptadores para lápices o las tablas de cortar con agarre.
                
                Estimulación sensorial: se pueden emplear técnicas de estimulación sensorial, como la vibración o la estimulación eléctrica, para mejorar la sensibilidad y la percepción sensorial del paciente.
                
                Ejercicios de coordinación ojo-mano: la coordinación ojo-mano es fundamental para realizar muchas tareas cotidianas, como la escritura o el manejo de utensilios. Se pueden realizar ejercicios específicos para mejorar la coordinación ojo-mano, como el uso de juegos de mesa o la práctica de deportes de precisión, como el golf.
                
                Terapia del habla: la terapia del habla se centra en mejorar la capacidad de comunicación del paciente, incluyendo la pronunciación, la articulación y la fluidez del habla. Se pueden emplear ejercicios de respiración, vocalización y pronunciación, así como el uso de dispositivos de asistencia, como las prótesis de voz.
                
                Neurofeedback: el neurofeedback es una técnica que utiliza la retroalimentación visual o auditiva para ayudar al paciente a mejorar la actividad cerebral. Se pueden emplear diferentes tipos de neurofeedback para mejorar la coordinación, la atención y la memoria.

                Terapia cognitiva: la terapia cognitiva se centra en mejorar las habilidades cognitivas del paciente, como la atención, la memoria, el razonamiento y la resolución de problemas. Se pueden utilizar técnicas de entrenamiento cognitivo, como la memorización, la solución de puzzles o la realización de tareas específicas para mejorar estas habilidades.

                En general, la rehabilitación del kinesiólogo en patologías del cerebelo se centra en mejorar la coordinación, el equilibrio, la sensibilidad y la capacidad de comunicación del paciente. Se pueden emplear una variedad de técnicas de neurorehabilitación para lograr una recuperación óptima, y es importante personalizar el tratamiento a las necesidades individuales de cada paciente. La rehabilitación del cerebelo puede ser un proceso prolongado y requiere un enfoque multidisciplinario para garantizar el mejor resultado posible para el paciente.
              

            </p>
                
                <img class="responsive-img" loading="lazy" src="/public/images/neurologia/cerebelo.webp" alt="kinesiologo en patologias al cerebelo">


                
                
        </article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>