<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/fibrosis-quistica" class="breadcrumb">fibrosis quistica</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          
            <h2 class="flow-text">kinesiolgia en rehabilitacion de Guillain-Barre</h2>
            <p class="p_blog">
                La patología de Guillain-Barre es una enfermedad neurológica rara y en algunas ocasiones grave que afecta a las personas de todas las edades. Esta enfermedad autoinmunitaria afecta al sistema nervioso periférico, y puede resultar en una parálisis temporal o permanente.

                Para quienes buscan tratamiento, los kinesiólogos y la kinesiología son una opción necesaria y efectiva en el camino de la recuperación. La kinesiología es el estudio del movimiento humano, y los kinesiólogos son profesionales que utilizan técnicas terapéuticas basadas en el movimiento para tratar lesiones y enfermedades neurológicas como esta.

                En el caso de la patología de Guillain-Barre, los kinesiólogos pueden ser una parte vital del equipo de atención médica. La rehabilitación es una parte importante del proceso de recuperación, y los kinesiólogos pueden ayudar a los pacientes a recuperar la fuerza muscular, mejorar la coordinación y la movilidad, y reducir el dolor ademas de mejorar la funcionalidad.

                Además, muchos kinesiólogos ofrecen terapia de atención domiciliaria para pacientes que tienen dificultades para salir de casa o que necesitan atención a largo plazo. La terapia de atención domiciliaria puede ser una opción ideal para pacientes con Guillain-Barre, ya que puede proporcionar atención personalizada y adaptada a las necesidades individuales del paciente.
               
            </p>    

                <h2>¿Qu&eacute; problemas provoca el guilliam Barre ?</h2>
            <p class="p_blog">
                Esta es una enfermedad autoinmunitaria que puede causar debilidad muscular y, en algunos casos, parálisis temporal o permanente. Por lo general el progresiva primero comenzado con cierto hormigueo distal en dedos ya sea en manos o pies, para luego progresar a generar paralisis parciales o totales , la gravedad se acentua cuando la paralisis comienza a afectar a la musculatura respiratoria la cual en ocasiones los pacientes tienden a ser intubados para darles soporte respiratorio
            </p>
            <h2> que funcion cumples los kinesiologos en esta patologia neurologica</h2>

            <p class="p_blog">

                Los kinesiólogos son profesionales que se especializan en el estudio del movimiento humano y utilizan técnicas terapéuticas basadas en el movimiento para tratar las complicaciones de esta enfermedad, ya sea las dificultades al movimiento y las complicaciones respiratorias. En el caso de la patología de Guillain-Barre, los kinesiólogos pueden ser una parte integral del equipo de atención médica y pueden desempeñar un papel importante en la recuperación del paciente.

                La patología de Guillain-Barre puede tener una amplia gama de síntomas y la gravedad de la enfermedad puede variar de persona a persona. Algunos pacientes pueden experimentar síntomas leves, como debilidad muscular o entumecimiento, mientras que otros pueden experimentar parálisis completa. En algunos casos, la enfermedad puede ser potencialmente mortal si no se trata adecuadamente.

                La kinesiología  en la rehabilitación de los pacientes con Guillain-Barre se enfoca en la recuperación de la fuerza muscular, la coordinación y la movilidad. Los kinesiólogos pueden utilizar ejercicios específicos para fortalecer los músculos y mejorar la capacidad de movimiento del paciente. Además, los kinesiólogos pueden trabajar en estiramientos y ejercicios de movilidad para mejorar la flexibilidad y prevenir la rigidez muscular.
            </p>

            <p class="p_blog">

                En los casos más graves de Guillain-Barre, los pacientes pueden requerir un proceso de recuperación a largo plazo. En estos casos, la terapia de atención domiciliaria puede ser una opción útil. Los kinesiólogos pueden proporcionar terapia personalizada en el hogar del paciente, lo que puede ayudar a mejorar la calidad de vida y la recuperación del paciente siendo incluso una opcion de comodidad para los pacientes que desean evitar traslados y esperas largas de atencion, prefiriendo una atencion mas personalizada.

                En general, la patología de Guillain-Barre puede ser una enfermedad grave y debilitante, pero el tratamiento adecuado y la atención especializada pueden ayudar en el proceso de recuperación. los kinesiologos son fundamentales para la completa recuperación de los pacientes. Si bien el proceso de recuperación puede ser largo y desafiante, la atención adecuada y la orientación profesional pueden hacer una gran diferencia en el resultado final.
            </p>

            
              
                
                <img class="responsive-img" loading="lazy" src="/public/images/neurologia/guillian-barre.webp" alt="kinesiologo en guilliam barre">


                
                
        </article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>