<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/fibrosis-quistica" class="breadcrumb">fibrosis quistica</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          <h2 class="flow-text">
           kinesiolgia en rehabilitacion de Guillain-Barre
          </h2>
          <p class="p_blog">
             La patolog&iacute;a de Guillain-Barre es una enfermedad neurol&oacute;gica rara y en algunas ocasiones grave que afecta a las personas de todas las edades. Esta enfermedad autoinmunitaria afecta al sistema nervioso perif&eacute;rico, y puede resultar en una par&aacute;lisis temporal o permanente.
     
                   Para quienes buscan tratamiento, los kinesi&oacute;logos y la kinesiolog&iacute;a son una opci&oacute;n necesaria y efectiva en el camino de la recuperaci&oacute;n. La kinesiolog&iacute;a es el estudio del movimiento humano, y los kinesi&oacute;logos son profesionales que utilizan t&eacute;cnicas terap&eacute;uticas basadas en el movimiento para tratar lesiones y enfermedades neurol&oacute;gicas como esta.
     
                   En el caso de la patolog&iacute;a de Guillain-Barre, los kinesi&oacute;logos pueden ser una parte vital del equipo de atenci&oacute;n m&eacute;dica. La rehabilitaci&oacute;n es una parte importante del proceso de recuperaci&oacute;n, y los kinesi&oacute;logos pueden ayudar a los pacientes a recuperar la fuerza muscular, mejorar la coordinaci&oacute;n y la movilidad, y reducir el dolor ademas de mejorar la funcionalidad.
     
                   Adem&aacute;s, muchos kinesi&oacute;logos ofrecen terapia de atenci&oacute;n domiciliaria para pacientes que tienen dificultades para salir de casa o que necesitan atenci&oacute;n a largo plazo. La terapia de atenci&oacute;n domiciliaria puede ser una opci&oacute;n ideal para pacientes con Guillain-Barre, ya que puede proporcionar atenci&oacute;n personalizada y adaptada a las necesidades individuales del paciente.
          </p>
          <h2>
           ¿Qu&eacute; problemas provoca el guilliam Barre ?
          </h2>
          <p class="p_blog">
           Esta es una enfermedad autoinmunitaria que puede causar debilidad muscular y, en algunos casos, par&aacute;lisis temporal o permanente. Por lo general el progresiva primero comenzado con cierto hormigueo distal en dedos ya sea en manos o pies, para luego progresar a generar paralisis parciales o totales , la gravedad se acentua cuando la paralisis comienza a afectar a la musculatura respiratoria la cual en ocasiones los pacientes tienden a ser intubados para darles soporte respiratorio
          </p>
          <h2>
           que funcion cumples los kinesiologos en esta patologia neurologica
          </h2>
          <p class="p_blog">
           Los kinesi&oacute;logos son profesionales que se especializan en el estudio del movimiento humano y utilizan t&eacute;cnicas terap&eacute;uticas basadas en el movimiento para tratar las complicaciones de esta enfermedad, ya sea las dificultades al movimiento y las complicaciones respiratorias. En el caso de la patolog&iacute;a de Guillain-Barre, los kinesi&oacute;logos pueden ser una parte integral del equipo de atenci&oacute;n m&eacute;dica y pueden desempe&ntilde;ar un papel importante en la recuperaci&oacute;n del paciente.
     
                   La patolog&iacute;a de Guillain-Barre puede tener una amplia gama de s&iacute;ntomas y la gravedad de la enfermedad puede variar de persona a persona. Algunos pacientes pueden experimentar s&iacute;ntomas leves, como debilidad muscular o entumecimiento, mientras que otros pueden experimentar par&aacute;lisis completa. En algunos casos, la enfermedad puede ser potencialmente mortal si no se trata adecuadamente.
     
                   La kinesiolog&iacute;a  en la rehabilitaci&oacute;n de los pacientes con Guillain-Barre se enfoca en la recuperaci&oacute;n de la fuerza muscular, la coordinaci&oacute;n y la movilidad. Los kinesi&oacute;logos pueden utilizar ejercicios espec&iacute;ficos para fortalecer los m&uacute;sculos y mejorar la capacidad de movimiento del paciente. Adem&aacute;s, los kinesi&oacute;logos pueden trabajar en estiramientos y ejercicios de movilidad para mejorar la flexibilidad y prevenir la rigidez muscular.
          </p>
          <p class="p_blog">
           En los casos m&aacute;s graves de Guillain-Barre, los pacientes pueden requerir un proceso de recuperaci&oacute;n a largo plazo. En estos casos, la terapia de atenci&oacute;n domiciliaria puede ser una opci&oacute;n &uacute;til. Los kinesi&oacute;logos pueden proporcionar terapia personalizada en el hogar del paciente, lo que puede ayudar a mejorar la calidad de vida y la recuperaci&oacute;n del paciente siendo incluso una opcion de comodidad para los pacientes que desean evitar traslados y esperas largas de atencion, prefiriendo una atencion mas personalizada.
     
                   En general, la patolog&iacute;a de Guillain-Barre puede ser una enfermedad grave y debilitante, pero el tratamiento adecuado y la atenci&oacute;n especializada pueden ayudar en el proceso de recuperaci&oacute;n. los kinesiologos son fundamentales para la completa recuperaci&oacute;n de los pacientes. Si bien el proceso de recuperaci&oacute;n puede ser largo y desafiante, la atenci&oacute;n adecuada y la orientaci&oacute;n profesional pueden hacer una gran diferencia en el resultado final.
          </p>
          <img alt="kinesiologo en guilliam barre" class="responsive-img" loading="lazy" src="/public/images/neurologia/guillian-barre.webp"/>
         </article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>