<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>
<div class="section container"></div>
   
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>