<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>
  <!-- breadcumbs-->
  <nav > 
    <div class="nav-wrapper container">
        <div class="col s12">
          <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/fractura-cadera" class="breadcrumb">fractura cadera</a>

        </div>
      </div>
</nav>

<!--fin breadcumbs-->

 

   <div class="container">
     <div class="row">
      <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a  en FRACTURA DE CADERA </h2>
           <p>
               LA FRACTURA DE CADERA

La fractura de cadera es una lesión común en adultos mayores esta por lo común ocurre en el cuello del fémur aunque dependiendo del tipo de lesión puede esta  ser completa o incompleta de ello dependerá el tipo de intervención quirúrgica que tendrá a futuro

FRACTURA DE CADERA: DEFINICIÓN
Esta  lesión que por lo general ocurre en la zona del cuello del fémur, por lo general las pacientes que sufren esta lesión son mujeres en la mayoría de edad post menopausia, donde por las condiciones hormonales, se produce mayor aumento en las condiciones de osteopenia (osteoporosis), l evento siempre ocurre con una caída, donde la fractura puede ser total o parcial ya que de eso dependerá  a futuro la intervención quirúrgica si esta será reemplazo protésico total o parcial.
¿QUÉ LA PRODUCE?
Una de las causa principales de esta lesión es el proceso de osteoporosis u osteopenia, las mujeres por lo general se ven más afectadas por las condiciones hormonales y las descalcificaciones que pudieron verse afectada en los periodos gestacionales y de amamantar. Además se ven inmersos otros factores como perdidas de equilibrio o alteraciones en los procesos, este evento por lo general se deber a caídas dentro o fuera del hogar
En pacientes más jóvenes ocurre por lo general por eventos traumáticos de  alto impacto  como motociclismo, lesiones en automóvil o caídas de altura.

SÍNTOMATOLOGIA DE LA FRACTURA DE CADERA
•	el dolor e impotencia funcional
•	dolor referido tanto a la zona de la cadera como de la rodilla.
•	Acortamiento de la extremidad afectada con rotación externa del pie

DIAGNÓSTICO
El diagnóstico definitivo es el radiográfico que por sencillo que parezca es suficiente para confirmar la fractura.
¿CÓMO INTERVENIR EN LA FRACTURA DE CADERA?
La cirugía buscara si es el caso reemplazar por completo la estructura dañada sino solo será intervenida de manera parcial, con el objetivo de restablecer el mecanismo funcional de la cadera que es soporte y movilidad.
Prótesis total o parcial: de esta dependerá si la fractura es completa o se ve comprometida la irrigación de la cabeza femoral, aunque es una intervención más grande, el proceso de recuperación  es más rápido, ya que al día siguiente de la intervención los pacientes comienzan su proceso de rehabilitación con la caminata
Osteosíntesis: en esta una de las más usada es el clavo gama que es una estructura que atraviesa el trocánter mayor insertándose en la cabeza del fémur, con anclajes en la diáfisis del fémur
Aquí el inicio del proceso de rehabilitación tiende a demorarse un poco más solo por el hecho que el entrenamiento de la marcha se deber posponer unas 4 semanas, aun así no es una intervención tan grande como la anterior y el paciente de mayor edad la tolera mejor.
Hay casos en los los pacientes no son candidatos para cirugía, ya sea por la edad o por factores asociados a toras patologías o porque no resistirán el proceso e la anestesia.
Una vez terminada el proceso de la cirugía el paciente estará en óptimas condiciones para ingresar al programa de rehabilitación kinésica, en la cual los principales objetivos será lograr la marcha (caminata) u obviamente la actividad funcional completa de las personas intervenidas, en lo posible sin ayudas técnicas (bastón). La recuperación será por lo ideal entre un periodo de 3 a  5 meses dependiendo de la edad y condiciones físicas previas

¿CÓMO EVITAR LA FRACTURA DE CADERA?
Inicialmente es evitar los factores de riesgo más habitual, en adulto mayor por lo general es por perdida de equilibrio habitualmente en el hogar o desplazándose en otras zonas no habituales, en esto influye muchos factores como la presbicia, hipertensión o alteración en la propiocepcion, para ellos es recomendable cuidar de estos factores como el uso adecuado de los anteojos, control con el otorrino y actividad física habitual.
Es importante la dieta, y evitar los procesos naturales de osteopenia con una dieta rica en calcio para evitar las perdidas (el musculo necesita de calcio para su contracción, a falta de este lo tomara del metabolismo de los hueso)

           </p>
           
        </div>
      
      <div class="container left-align">

        <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
        </div>
    
       </div>
     </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>